<!--right side-->
<div class="right_side camp_wrap">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
      <span>Create Campaigns</span>
    </p>
  </div>
  <div class="w-75 pull-left bg_white bRadius10 mR20 p30">
    <h2 class="main_heading text-18 text-left color_666 noM wt400 pB50">Launch a Campaign</h2>
    <div class="camp_steps">
      <ul class="camp_steps_progressbar">
        <li class="active">Basic Details</li>
        <li class="active">Choose Platform</li>
        <li>Final Step</li>
      </ul>
    </div>
    <div class="mB50" [ngStyle]="{'display':show_div_selected_platform ? 'block' : 'none' }">
      <h2 class="color_4e4e4e text-16 wt600 noM mT30 mB30">Selected Platforms</h2>
      <div class="w-20 bRadius5 pull-left mL15 mR15 mB30 platform_detail" *ngIf= "twitterMicro != ''">
        <div class="select_micro">
          <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
          <p class="twitter_color">
            Micro
            <span>{{ twitterMicro?.number_influencer }} KOL</span>
          </p>
        </div>
        <div class="edit_delete_btns">
          <div [ngClass]="(campaignDeatilData?.status === '3') ? 'w-100 pull-left':'w-50 pull-left'">
            <a [routerLink]="['/campaign/micro/twitter/',campaignId]"><i class="fa fa-pencil-alt"></i></a>
          </div>
          <div class="w-50 pull-left" *ngIf = "campaignDeatilData?.status !== '3'">
            <a  (click)="platformDelete(twitterMicro._id, 'twitter', 'micro')"><i class="fa fa-trash-alt"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="w-20 bRadius5 pull-left mL15 mR15 mB30 platform_detail" *ngIf= "twitterPremimum != ''">
        <div class="select_micro">
          <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
          <p class="twitter_color">
            Premium
            <span>{{ twitterPremimum?.number_influencer }} KOL</span>
          </p>
        </div>
        <div class="edit_delete_btns">
          <div [ngClass]="(campaignDeatilData?.status === '3') ? 'w-100 pull-left':'w-50 pull-left'">
            <a [routerLink]="['/campaign/premium/twitter/',campaignId]"><i class="fa fa-pencil-alt"></i></a>
          </div>
          <div class="w-50 pull-left" *ngIf = "campaignDeatilData?.status !== '3'">
            <a (click)="platformDelete(twitterPremimum._id, 'twitter', 'premium')"><i class="fa fa-trash-alt"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="w-20 bRadius5 pull-left mL15 mR15 mB30 platform_detail" *ngIf= "facebookMicro != ''">
        <div class="select_micro">
          <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
          <p class="facebook_color">
            Micro
            <span>{{ facebookMicro?.number_influencer }} KOL</span>
          </p>
        </div>
        <div class="edit_delete_btns">
          <div [ngClass]="(campaignDeatilData?.status === '3') ? 'w-100 pull-left':'w-50 pull-left'">
            <a [routerLink]="['/campaign/micro/facebook/',campaignId]"><i class="fa fa-pencil-alt"></i></a>
          </div>
          <div class="w-50 pull-left" *ngIf = "campaignDeatilData?.status !== '3'">
            <a (click)="platformDelete(facebookMicro._id, 'twitter', 'micro')"><i class="fa fa-trash-alt"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="w-20 bRadius5 pull-left mL15 mR15 mB30 platform_detail" *ngIf= "facebookPremimum != ''">
        <div class="select_micro">
          <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
          <p class="facebook_color">
            Premium
            <span>{{ facebookPremimum?.number_influencer }} KOL</span>
          </p>
        </div>
        <div class="edit_delete_btns">
          <div [ngClass]="(campaignDeatilData?.status === '3') ? 'w-100 pull-left':'w-50 pull-left'">
            <a [routerLink]="['/campaign/premium/facebook/',campaignId]"><i class="fa fa-pencil-alt"></i></a>
          </div>
          <div class="w-50 pull-left" *ngIf = "campaignDeatilData?.status !== '3'">
            <a (click)="platformDelete(facebookPremimum._id, 'twitter', 'premium')"><i class="fa fa-trash-alt"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="w-20 bRadius5 pull-left mL15 mR15 mB30 platform_detail" *ngIf= "instagramMicro != ''">
        <div class="select_micro">
          <span class="instagram_bg_color"><i class="fab fa-instagram"></i></span>
          <p class="instagram_color">
            Micro
            <span>{{ instagramMicro?.number_influencer }} KOL</span>
          </p>
        </div>
        <div class="edit_delete_btns">
          <div [ngClass]="(campaignDeatilData?.status === '3') ? 'w-100 pull-left':'w-50 pull-left'">
            <a [routerLink]="['/campaign/micro/instagram/',campaignId]"><i class="fa fa-pencil-alt"></i></a>
          </div>
          <div class="w-50 pull-left" *ngIf = "campaignDeatilData?.status !== '3'">
            <a (click)="platformDelete(instagramMicro._id, 'twitter', 'micro')"><i class="fa fa-trash-alt"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="w-20 bRadius5 pull-left mL15 mR15 mB30 platform_detail" *ngIf= "instagramPremimum != ''">
        <div class="select_micro">
          <span class="instagram_bg_color"><i class="fab fa-instagram"></i></span>
          <p class="instagram_color">
            Premium
            <span>{{ instagramPremimum?.number_influencer }} KOL</span>
          </p>
        </div>
        <div class="edit_delete_btns">
          <div [ngClass]="(campaignDeatilData?.status === '3') ? 'w-100 pull-left':'w-50 pull-left'">
            <a [routerLink]="['/campaign/premium/instagram/',campaignId]"><i class="fa fa-pencil-alt"></i></a>
          </div>
          <div class="w-50 pull-left" *ngIf = "campaignDeatilData?.status !== '3'">
            <a (click)="platformDelete(instagramPremimum._id, 'twitter', 'premium')"><i class="fa fa-trash-alt"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="w-20 bRadius5 pull-left mL15 mR15 mB30 platform_detail" *ngIf= "youtubeMicro != ''">
        <div class="select_micro">
          <span class="youtube_bg_color"><i class="fab fa-youtube"></i></span>
          <p class="youtube_color">
            Micro
            <span>{{ youtubeMicro?.number_influencer }} KOL</span>
          </p>
        </div>
        <div class="edit_delete_btns">
          <div [ngClass]="(campaignDeatilData?.status === '3') ? 'w-100 pull-left':'w-50 pull-left'">
            <a [routerLink]="['/campaign/micro/youtube/',campaignId]"><i class="fa fa-pencil-alt"></i></a>
          </div>
          <div class="w-50 pull-left" *ngIf = "campaignDeatilData?.status !== '3'">
            <a (click)="platformDelete(youtubeMicro._id, 'twitter', 'micro')"><i class="fa fa-trash-alt"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="w-20 bRadius5 pull-left mL15 mR15 mB30 platform_detail" *ngIf= "youtubePremimum != ''">
        <div class="select_micro">
          <span class="youtube_bg_color"><i class="fab fa-youtube"></i></span>
          <p class="youtube_color">
            Premium
            <span>{{ youtubePremimum?.number_influencer }} KOL</span>
          </p>
        </div>
        <div class="edit_delete_btns">
          <div [ngClass]="(campaignDeatilData?.status === '3') ? 'w-100 pull-left':'w-50 pull-left'">
            <a [routerLink]="['/campaign/premium/youtube/',campaignId]"><i class="fa fa-pencil-alt"></i></a>
          </div>
          <div class="w-50 pull-left" *ngIf = "campaignDeatilData?.status !== '3'">
            <a (click)="platformDelete(youtubePremimum._id, 'twitter', 'premium')"><i class="fa fa-trash-alt"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="showDemoDataOnLoad" class="platform_btn" style="margin:0">
      <h2 class="color_4e4e4e text-16 text-left wt600 noM mT30 mB20">More Platforms</h2>
      <div [ngStyle]="{'display':show_div_platform ? 'block' : 'none' }">
        <div class="w-300 pull-left twitter_bg_color mB30">
          <div class="plat_name"><i class="fab fa-twitter"></i></div>
          <div class="plat_micro">
            <div [routerLink]="['/campaign/micro/twitter/',campaignId]">
              <i class="material-icons text-16 mR5" *ngIf= "twitterMicro != ''">check</i>Micro
            </div>
            <b class="disabled_platform" *ngIf= "twitterMicro != ''"></b>
          </div>
          <div class="plat_premium">
            <div [routerLink]="['/campaign/premium/twitter/',campaignId]">
              <i class="material-icons text-16 mR5" *ngIf= "twitterPremimum != ''">check</i>Premium
            </div>
            <b class="disabled_platform" *ngIf= "twitterPremimum != ''"></b>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-300 pull-right facebook_bg_color mB30" >
          <div class="plat_name"><i class="fab fa-facebook-f"></i></div>
          <div class="plat_micro">
            <div [routerLink]="['/campaign/micro/facebook/',campaignId]">
              <i class="material-icons text-16 mR5" *ngIf= "facebookMicro != ''">check</i> Micro
            </div>
            <b class="disabled_platform" *ngIf= "facebookMicro != ''"></b>
          </div>
          <div class="plat_premium">
            <div [routerLink]="['/campaign/premium/facebook/',campaignId]">
            <i class="material-icons text-16 mR5" *ngIf= "facebookPremimum != ''">check</i>Premium
            </div>
            <b class="disabled_platform" *ngIf= "facebookPremimum != ''"></b>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="w-300 pull-left instagram_bg_color">
          <div class="plat_name"><i class="fab fa-instagram"></i></div>
          <div class="plat_micro">
            <div  [routerLink]="['/campaign/micro/instagram/',campaignId]">
              <i class="material-icons text-16 mR5" *ngIf= "instagramMicro != ''">check</i>Micro
            </div>
            <b class="disabled_platform" *ngIf= "instagramMicro != ''"></b>
          </div>
          <div class="plat_premium">
            <div [routerLink]="['/campaign/premium/instagram/',campaignId]">
              <i class="material-icons text-16 mR5" *ngIf= "instagramPremimum != ''">check</i>Premium
            </div>
            <b class="disabled_platform" *ngIf= "instagramPremimum != ''"></b>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-300 pull-right youtube_bg_color">
          <div class="plat_name"><i class="fab fa-youtube"></i></div>
          <div class="plat_micro">
            <div [routerLink]="['/campaign/micro/youtube/',campaignId]">
              <i class="material-icons text-16 mR5" *ngIf= "youtubeMicro != ''">check</i>Micro
            </div>
            <b class="disabled_platform" *ngIf= "youtubeMicro != ''"></b>
          </div>
          <div class="plat_premium">
            <div [routerLink]="['/campaign/premium/youtube/',campaignId]">
              <i class="material-icons text-16 mR5" *ngIf= "youtubePremimum != ''">check</i>Premium
            </div>
            <b class="disabled_platform" *ngIf= "youtubePremimum != ''"></b>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class=" w-300 pull-left twitter_bg_color mB30" [ngStyle]="{'display':show_div_platform ? 'none' : 'block' }">
        <div class="plat_name"><i class="fab fa-twitter"></i></div>
        <div class="plat_micro">
          <div [routerLink]="['/campaign/micro/twitter/',campaignId]">
            <i class="material-icons text-16 mR5" *ngIf= "twitterMicro != ''">check</i>Micro
          </div>
          <b class="disabled_platform" *ngIf= "twitterMicro != ''"></b>
        </div>
        <div class="plat_premium">
          <div [routerLink]="['/campaign/premium/twitter/',campaignId]">
            <i class="material-icons text-16 mR5" *ngIf= "twitterPremimum != ''">check</i>Premium
          </div>
          <b class="disabled_platform" *ngIf= "twitterPremimum != ''"></b>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!--Skeleton of forms Code-->
    <app-skeleton
      [skeletonLoader] = "showDemoDataOnLoad"
    >
    </app-skeleton>
    <!--Skeleton of forms Code-->
    <div class="w-100 mT30 mB50" *ngIf="this.campaignPlatformDeatilData && this.campaignPlatformDeatilData.length > 0">
      <p class="color_4e4e4e text-16">Note: Add more platforms / categories or click on 'Continue' to move ahead
      </p>
    </div>
    <div class="w-100 mT50 mB50 camp_step_two_btns"  *ngIf = "campaignDeatilData?.status !== '3'">
      <div class="w-40 pull-left text-left">
        <div class="btn_sec mR20">
          <div class="btn_sec_inside" (click)="discardSubmit()"><i class="fa fa-trash-alt text-15 mR10"></i> Discard</div>
        </div>
        <div class="btn_sec" [routerLink]="['/campaign/create', campaignId]">
          <div class="btn_sec_inside"><i class="material-icons text-20 mR10">keyboard_backspace</i>Step 1
          </div>
        </div>
      </div>
      <div class="w-60 pull-right text-right">
        <div class="btn_sec mR20">
          <div class="btn_sec_inside" (click)="saveDraft()"><i class="material-icons text-20 mR10">save</i> Save Draft</div>
        </div>
        <div class="btn_primary" *ngIf="this.campaignPlatformDeatilData && this.campaignPlatformDeatilData.length > 0">
          <div (click)="saveSubmit()" >Continue <i class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="w-100 mT50 mB50"  *ngIf = "campaignDeatilData?.status === '3'">
      <div class="w-60 pull-right text-right">
        <div class="btn_primary">
          <div (click)="saveLiveSubmit()" >Save <i class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="w-23 pull-left bg_white bRadius10" style="height: 600px"></div>
  <div class="clearfix"></div>
</div>
<!--right side-->
<!-- Active Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_confirmation_model ? 'block' : 'none' }">
  <div class="bg_close_layer" (click)="confirmationClose()"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="confirmationClose()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <form>
        <div class="modal_header">
          <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
        </div>
        <div class="modal_content">
          <p class="text-16 wt500 color_666 text-left mB30">Activating the advertiser will:</p>
          <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Deactivated brand panel access of the advertiser</p>
          <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Unable to assign future campaigns, boards & tracks to the advertiser</p>
          <div class="w-100 mT40">
            <div class="w-40 pull-left text-left">
              <div class="btn_sec">
                <div (click)="confirmationClose()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
              </div>
            </div>
            <div class="w-60 pull-right text-right">
              <div class="btn_primary">
                <div (click)="platformDeleteConfirmation()"><i class="material-icons text-20 mR10">ac_unit</i> Yes
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Active Modal-->