<!--right side-->
<!-- <div class="right_side">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
      <span>{{ pageTitle }} Campaigns</span>
    </p>
  </div>
  <div class="bg_white p20 campaign-active-view">
    <div class="w-100">
      <div class="w-100 text-left mB30">
        <div class="manage_adv_search display-inline-block">
          <h2>{{ pageTitle }} Campaigns</h2>
          <p class="color_666 text-14 wt300 mT10">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="position-relative mT30 mB20 text-right">
        <div class="display-inline-block position-relative list_search">
          <i 
            (click)="refreshAllFilter()"
            class="material-icons display-inline-block text-26 color_4e4e4e cursor-pointer mR10">
            refresh
          </i>
          <div class="manage_adv_search_input text-left">
            <input 
              [(ngModel)]="searchKeywordValue" 
              (keydown)="onChangeSearchInput($event)" 
              placeholder="Search {{ pageTitle }} Campaigns..." 
              type="text" >
            <i 
              *ngIf="!searchKeywordValue" 
              class="material-icons cursor-pointer text-26" 
              style="color: #d5d5d5;">
              search
            </i>
            <i 
              *ngIf="searchKeywordValue" 
              (click)="clearCrosValue()" 
              class="material-icons cursor-pointer">
              close
            </i>
          </div>
        </div>
      </div>
      <div class="list_header">
        <div class="w-10 pull-left">Brand</div>
        <div class="w-30 pull-left">Campaign Name</div>
        <div class="w-20 pull-left">
          <button 
            mat-button 
            [matMenuTriggerFor]="duration">
            <span class="desktop_show">
              Duration 
              <i class="material-icons">arrow_drop_down</i>
            </span>
          </button>
          <mat-menu #duration="matMenu">
            <button mat-menu-item>All</button>
            <button 
              mat-menu-item>
              <span class="color_yellow">
                <i class="material-icons text-12 mR5">brightness_1</i> 
                Scheduled
              </span>
            </button>
            <button mat-menu-item><span class="color_green"><i class="material-icons text-12 mR5">brightness_1</i> Live</span></button>
            <button mat-menu-item><span class="color_red"><i class="material-icons text-12 mR5">brightness_1</i> Ended</span></button>
            <button mat-menu-item><span class="color_organe"><i class="material-icons text-12 mR5">brightness_1</i> Paused</span></button>
          </mat-menu>
        </div>
        <div class="w-15 pull-left">
          <button 
            mat-button 
            [matMenuTriggerFor]="social">
            <span class="desktop_show">
              Social 
              <i class="material-icons">arrow_drop_down</i>
            </span>
          </button>
          <mat-menu #social="matMenu">
            <button mat-menu-item>All</button>
            <button mat-menu-item><i class="fab fa-facebook-f facebook_color text-16 mR5"></i> Facebook</button>
            <button mat-menu-item><i class="fab fa-twitter twitter_color text-16 mR5"></i> Twitter</button>
            <button mat-menu-item><i class="fab fa-instagram instagram_color text-16 mR5"></i> Instagram</button>
            <button mat-menu-item><i class="fab fa-youtube youtube_color text-16 mR5"></i> Youtube</button>
          </mat-menu>
        </div>
        <div class="w-25 pull-left">Action</div>
        <div class="clearfix"></div>
      </div>

      <app-list-item
        [loading]="loading"
        [list]="data.list"
      >
      </app-list-item>
  </div>
</div>
</div> -->
<!--right side-->
<!-- Edit Duration Modal-->
<!-- <div class="eleve_modal_bg" [ngStyle]="{'display': showEndDateModal ? 'block' : 'none' }">
  <div class="bg_close_layer"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b class="modal_close" (click)="discardEditCampaignModal()"><i class="material-icons">clear</i></b>
    <div>
      <div class="modal_header">
        <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Edit Campaign Duration</p>
      </div>
      <div class="modal_content" style="max-height:100%; overflow: inherit;">
        <p class="text-14 wt500 color_666 text-left mT10 mB20">
          Choose a new end date
          <span class="display-block text-12 wt300">(Start date cannot be edited )</span>
        </p>
        <div class="w-100">
          <div class="w-48 pull-left">
            <div class="start_date_box bg-muted">
              {{campaignStartDate}}
            </div>
          </div>
          <div class="w-48 pull-right">
            <div class="edit_date_picker">
              <div class="edit_picker_input">
                <input [(ngModel)]="endDateValue" type="text" ngxDaterangepickerMd [singleDatePicker]="true" [timePicker]="true" [timePickerSeconds]="false" [timePickerIncrement]="1" [timePicker24Hour]="false" placeholder="End Date and Time" [locale]="{format: 'MM/DD/YYYY - HH:mm:ss'}" />
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-100 mT40">
          <div class="w-50 pull-left text-left">
            <div class="btn_sec">
              <div class="btn_sec_inside" (click)="discardEditCampaignModal()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
            </div>
          </div>
          <div class="w-50 pull-right text-right">
            <div class="btn_primary" (click)="updateCampaignEndDate(campaign_id)">
              <div><i class="material-icons text-20 mR10">check</i>Update</div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Edit Duration Modal-->
<!-- Active Modal-->
<!-- <div class="eleve_modal_bg" [ngStyle]="{'display':show_active_model ? 'block' : 'none' }">
  <div class="bg_close_layer" (click)="campaignDiscardClose()"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="campaignDiscardClose()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <form>
        <div class="modal_header">
          <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
        </div>
        <div class="modal_content">
          <p class="text-16 wt500 color_666 text-left mB30">Discarding the campaign will:
          </p>
          <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Trash the drafted campaign.</p>
          <div class="w-100 mT40">
            <div class="w-40 pull-left text-left">
              <div class="btn_sec">
                <div (click)="campaignDiscardClose()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
              </div>
            </div>
            <div class="w-60 pull-right text-right">
              <div class="btn_primary">
                <div (click)="discardSubmit()"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Discard
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->
<!-- Active Modal-->
<!-- STOP CAMPAIGN  Modal-->
<<!-- div class="eleve_modal_bg" [ngStyle]="{'display':showStopCampaignModal ? 'block' : 'none' }">
  <div class="bg_close_layer" (click)="closeStopCampaignModal()"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="closeStopCampaignModal()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <form>
        <div class="modal_header">
          <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
        </div>
        <div class="modal_content">
          <p class="text-16 wt500 color_666 text-left mB30">Stopping the campaign will:
          </p>
          <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> End the Current campaign.</p>
          <div class="w-100 mT40">
            <div class="w-40 pull-left text-left">
              <div class="btn_sec">
                <div (click)="closeStopCampaignModal()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
              </div>
            </div>
            <div class="w-60 pull-right text-right">
              <div class="btn_primary">
                <div (click)="stopCampaign(campaign_id)"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Discard
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->
<!-- Active Modal-->