<div class="right_side" style="padding:80px 10px 0 70px; background-color: #fff;">
    <div class="new_eleve_wrapper">
        <div class="w-100 display-flex mT10">
            <div class="w-70">
                <h1 class="text-24 color_333 wt400">Collaboration Boards</h1>
                <p class="text-16 mT10 color_666">Create a board to put idea together, shortlist influencer, collaborate with them on campaigns.</p>
            </div>
            <div class="w-30 text-right">
                <i class="material-icons display-inline-block mR10 color_666 cursor-pointer">refresh</i>
                <!-- <div class="display-inline-block mR10 bRadius5 color_666" style="border:1px solid #ddd; padding: 7px 10px;"><i class="fa fa-sort-amount-down"></i> Name</div> -->
                <div
                  class="sort_btn">
                  <button style="font-weight: 400;"
                    mat-button [matMenuTriggerFor]="content">
                    Sort by: {{sortLabel}}
                    <i class="fa fa-angle-down text-12"></i>
                  </button>
                  <mat-menu #content="matMenu">
                    <button mat-menu-item (click)="sortList(1, 'Updated')">Updated</button>
                    <button mat-menu-item (click)="sortList(2, 'Created')">Created</button>
                    <button mat-menu-item (click)="sortList(3, 'Name (A-Z)')">Name (A-Z)</button>
                  </mat-menu>
                </div>
                <div class="btn_primary" (click)="createBoard()">
                    <div>Create New</div>
                </div>
            </div>
        </div>
        <!-- <div class="w-100 mT30 create_card_tabs">
            <mat-tab-group>
                <mat-tab label="Active">
                    <div class="coll_empty_card">
                        <i class="material-icons">edit</i>
                        Create a Board to Collaborate
                    </div>
                    <ul class="w-100 mT20 mB40 p10">
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_rework">Rework Requested</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_approved">Approved</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_rework">Rework Requested</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_approved">Approved</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_rework">Rework Requested</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_approved">Approved</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_rework">Rework Requested</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_approved">Approved</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </mat-tab>
                <mat-tab label="Closed">
                    <ul class="w-100 mT20 mB40 p10">
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_rework">Rework Requested</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_approved">Approved</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_rework">Rework Requested</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_approved">Approved</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_rework">Rework Requested</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_approved">Approved</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_rework">Rework Requested</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_approved">Approved</div>
                        </li>
                        <li>
                            <p>Collaboration board name board name board name board name board name ...</p>
                            <div class="w-100">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                </div>
                                <span class="mL10 pT10 color_666 text-14 display-inline-block">Brand Name</span>
                            </div>
                            <div class="display-flex mT10 mB10">
                                <div class="w-35 color_666 text-14">
                                    <i class="material-icons text-20">people</i> 23
                                </div>
                                <div class="w-65 color_666 text-14 text-right">
                                    <i class="material-icons text-20">access_time</i> 12 Aug 13:20
                                </div>
                            </div>
                            <div class="sub_status_btn sub_status_new">New !</div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </mat-tab>
            </mat-tab-group>
        </div> -->
        <div class="w-100 mT30 create_card_tabs">
          <!-- <mat-tab-group  (selectedTabChange)="getBoardByStatus($event.index)"> -->
          <mat-tab-group (selectedTabChange)="getBoardByStatus($event.index)">
            <mat-tab label="Active">
              <ng-template *ngIf="loaders.initLoader; then loader else active_boards">
              </ng-template>
              <ng-template #active_boards>
                <div
                  class="coll_empty_card"
                  [routerLink]="['/collaboration/create']"
                  *ngIf="activeBoards.length === 0 && boards.length === 0 && !loaders.initLoader">
                  <i class="material-icons">edit</i>
                  Create a Board to Collaborate
                </div>
                <div *ngIf="activeBoards.length > 0">
                  <ul class="w-100 mT20 mB40 p10 list-card-wrapper">
                    <li
                      *ngFor="let board of activeBoards"
                      (click)="getToBoard(board.board_id, board.title)">
                      <p class="text-cap">{{board?.title}}</p>
                      <div class="w-100">
                        <div class="user_name_img">
                          <p>{{renderInitials(board.brand_name)}}</p>
                        </div>
                        <span class="mL10 pT10 color_666 text-14 display-inline-block">
                          {{board.brand_name}}
                        </span>
                      </div>
                      <div class="display-flex mT10">
                        <div
                          class="w-35 color_666 text-14"
                          title="{{board.influencers_count !== null ? board.influencers_count : 0}} influencers suggested for the board">
                          <i class="material-icons text-20">people</i>
                          {{board.influencers_count !== null ? board.influencers_count : 0}}
                        </div>
                        <div class="w-65 color_666 text-14 text-right">
                          <i class="material-icons text-20">access_time</i>
                          {{moment(board.created_at).format('Do MMM YYYY')}}
                        </div>
                      </div>
                      <!-- <div class="sub_status_btn sub_status_new">New !</div> -->
                    </li>
                  </ul>
                </div>

                <!-- <div
                  class="mB50 no-next-data"
                  *ngIf="activeBoards.length > 0 && pageDetails.page == pageDetails.pages">
                  <i>Jack, I think we have reached the end of the list.</i>
                </div> -->
                <div class="clearfix"></div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Closed">
              <ng-template *ngIf="loaders.initLoader; then loader else closed_boards">
              </ng-template>
              <ng-template #closed_boards>
                <div *ngIf="closedBoards.length > 0">
                  <ul class="w-100 mT20 mB40 p10 list-card-wrapper">
                    <li *ngFor="let board of closedBoards">
                      <p class="text-cap">{{board.title}}</p>
                      <div class="w-100">
                        <!-- <div class="user_name_img">
                          <img src="assets/images/user.jpg">
                        </div> -->
                        <div class="user_name_img">
                          <p>{{renderInitials(board.brand_name)}}</p>
                        </div>
                        <span class="mL10 pT10 color_666 text-14 display-inline-block">
                          {{board.brand_name}}
                        </span>
                      </div>
                      <div class="display-flex mT10">
                        <div
                          class="w-35 color_666 text-14"
                          title="{{board.influencers_count !== null ? board.influencers_count : 0}} influencers suggested for the board">
                          <i class="material-icons text-20">people</i>
                          {{board.influencers_count !== null ? board.influencers_count : 0}}
                        </div>
                        <div class="w-65 color_666 text-14 text-right">
                          <i class="material-icons text-20">access_time</i>
                          {{moment(board.created_at).format('Do MMM YYYY')}}
                        </div>
                      </div>
                      <!-- <div class="sub_status_btn sub_status_new">New !</div> -->
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
    </div>
</div>

<ng-template #loader>
  <!--loader-skelton-->
  <ul class="w-100 mT20 mB40 p10" *ngIf="loaders.initLoader">
    <li *ngFor="let loader of [0,1,2,3,4,5,6,7,8,9,10,11]">
      <div class="circle-loader"></div>
      <div class="strip-loader"></div>
      <div class="strip-loader"></div>
    </li>
  </ul>
  <!--loader-skelton-->
<ng-template>
