/*Collaboration List*/
.create_card_tabs ul li{ width: 23.5%; margin-right: 2%; margin-bottom: 25px; border-radius: 5px; border:1px solid #ddd; padding: 15px; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); float: left; cursor: pointer;}
.create_card_tabs ul li:nth-child(4n+4){ margin-right: 0px;}
.create_card_tabs ul li p{ font-size: 14px; color: #000; margin-bottom:10px;}
.create_card_tabs .user_name_img{ width:35px; height: 35px;}
.coll_empty_card{  width: 23.5%; margin: 20px 0; border-radius: 5px; border:1px dashed #ddd; padding: 25px; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); text-align: center; font-size: 24px; font-weight: 400; color: #999; cursor: pointer; margin-left: 10px;}
.coll_empty_card i{ display: block; font-size: 36px; margin-bottom: 10px;}
/*Collaboration List*/

@media only screen and (max-width: 1048px){
.create_card_tabs ul li, .coll_empty_card{ width: 31%;}
.create_card_tabs ul li:nth-child(3n+3){ margin-right: 0;}
.create_card_tabs ul li:nth-child(4n+4){ margin-right: 2%;}
.coll_empty_card{ margin:0px 0 20px 2px;}
.create_card_tabs ul.w-100.mT20.mB40{ padding: 0px; margin-top: 0px;}
}
@media only screen and (max-width: 768px){
.create_card_tabs ul li, .coll_empty_card{ width: 49%;}
.create_card_tabs ul li:nth-child(2n+2){ margin-right: 0 !important;}
.create_card_tabs ul li:nth-child(3n+3){ margin-right: 2%;}
.create_card_tabs ul li:nth-child(4n+4){ margin-right: 2%;}
.create_card_tabs .mat-tab-body-wrapper{ padding: 0px;}
.new_eleve_wrapper .w-100.display-flex.mT10{ display: block;}
.new_eleve_wrapper .w-100.display-flex.mT10 .w-70, .new_eleve_wrapper .w-100.display-flex.mT10 .w-30{ width: 100%; margin-bottom: 20px; text-align: left;}
}
@media only screen and (max-width: 600px){
.create_card_tabs ul li{ width: 100%; margin-right: 0;}
.create_card_tabs ul li:nth-child(2n+2), .create_card_tabs ul li:nth-child(3n+3), .create_card_tabs ul li:nth-child(4n+4){ margin-right: 0 !important;}
.coll_empty_card{ width: 100%;}
.coll_empty_card{ margin:0px 0 20px 0px;}
}