<!-- Create Organization modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_modal ? 'block' : 'none' }">
    <form [formGroup]="organsiationForm" (ngSubmit)="onOrganisationFormSubmit(organsiationForm.value)"  #s="ngForm" autocomplete="off">
	<div class="eleve_modal modal_animate_zoom">
		<b class="modal_close" (click)="hideModel()"><i class="material-icons">clear</i></b>
		<!--select Organization-->
		<div [ngStyle]="{'display':show_step1 ? 'block' : 'none' }">
		
				<div class="modal_header">
					<p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create an Organization</p>
				</div>
				<div class="modal_content">
					<p class="color_666 text-14 text-left">An organization must be located to add a new advertiser from a new client</p>
					<p class="color_4e4e4e text-16 wt500 mT40 text-left">Select a client type :</p>
					<div class="select_brand_circle">
                            <input type="radio" class="button" id="agency" value="agency" formControlName="orgtype" (click)="handleChange($event)">
                            <label class="pT30" for="agency">Agency</label>
                            <input type="radio" class="button" id="brnd" formControlName="orgtype" value="brand" (click)="handleChange($event)">
                            <label class="pT25" for="brnd">Direct <br>Brand</label>
                            <div class="clearfix"></div>
                    </div>
                    <div *ngIf="organsiationForm.get('orgtype').invalid"> 
                            organisation Type required. 
                       </div>		
				</div>
			
		</div>
		<!--select Organization-->
		<!--select Brand-->
		<div [ngStyle]="{'display':show_brand ? 'block' : 'none' }">
			
				<div class="modal_header">
					<p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
				</div>
				<div class="modal_content">
					<p class="color_666 text-14 text-left">Have we previously worked with this brand via an <b>agency?</b></p>
					<div class="select_brand_circle">
						<input type="radio" class="button" id="yes" value="yes"  formControlName="brandexists" (click)="handleChangeBrand($event)">
						<label class="pT30" for="yes">Yes</label>
						<input type="radio" class="button" id="no"  value="no" formControlName="brandexists" (click)="handleChangeBrand($event)">
						<label class="pT30" for="no">No</label>
						<div class="clearfix"></div>
					</div>
				</div>
			
		</div>
		<!--select Brand-->
		<!--Brand Yes Condition-->
		<div [ngStyle]="{'display':show_brand_yes ? 'block' : 'none' }">
			
				<div class="modal_header">
					<p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
				</div>
				<div class="modal_content org_input">
					<p class="color_666 text-14 text-left mB10 wt400">Select  Name</p>
					<!-- <input type="text" placeholder="Search & Select" formControlName="organisation_name"> -->
					<ng-select [items]="organisationlist" formControlName="organisation_name"  (change)="onSelectChange()">
					</ng-select>
					<div class="error-message"
					*ngIf="organsiationForm.get('organisation_name').hasError('required') && (organsiationForm.get('organisation_name').dirty || s.submitted)">
						Please enter organisation name.
					</div>
					<p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
					<div  formArrayName="facebook">
						<div class="w-100 mB10" *ngFor="let item of facebookRows.controls; let fbIndex=index" [formGroupName]="fbIndex">
							<div class="w-5 pull-left pT5">
								<div class="facebook_bg_color">
									<i class="fab fa-facebook-f"></i>
									<input type="hidden" formControlName="platform" >
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" formControlName="handle" placeholder="@handle">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="url"  placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'facebook', facebookRows, fbIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addfacebookRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_fb">
							{{error_fb}}
						</div>
					</div>
					<div  formArrayName="instagram">
						<div class="w-100 mB10" *ngFor="let item of instagramRows.controls; let instaIndex=index" [formGroupName]="instaIndex">
							<div class="w-5 pull-left pT5">
								<div class="instagram_bg_color">
									<i class="fab fa-instagram"></i>
									<input type="hidden" formControlName="platform" />
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, instaIndex, 'instagram')">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'instagram', instagramRows, instaIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addinstagramRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_instagram">
							{{error_instagram}}
						</div>
					</div>
					<div  formArrayName="twitter">
						<div class="w-100 mB10" *ngFor="let item of twitterRows.controls; let twtIndex=index" [formGroupName]="twtIndex">
							<div class="w-5 pull-left pT5">
								<div class="twitter_bg_color">
									<i class="fab fa-twitter"></i>
									<input type="hidden" formControlName="platform" />
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle"  formControlName="handle" (blur)="checkValidHandle($event.target.value, twtIndex, 'twitter')">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url"  formControlName="url" (blur)="checkUrl($event.target.value, 'twitter', twitterRows, twtIndex )" >
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer"  (click)="addtwitterRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_twitter">
							{{error_twitter}}
						</div>
					</div>
					<div  formArrayName="blog">
						<div class="w-100 mB10" *ngFor="let item of blogRows.controls; let blogIndex=index" [formGroupName]="blogIndex">
							<div class="w-5 pull-left pT5">
								<div class="blog_bg_color">
									<i class="fab fa-blogger-b"></i>
									<input type="hidden" formControlName="platform" value="blog"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'blog', blogRows, blogIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer"  (click)="addblogRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_blog">
							{{error_blog}}
						</div>
					</div>
					<div  formArrayName="pinterest">
						<div class="w-100 mB10" *ngFor="let item of pinterestRows.controls; let pinIndex=index" [formGroupName]="pinIndex">
							<div class="w-5 pull-left pT5">
								<div class="pinterest_bg_color">
									<i class="fab fa-pinterest-p"></i>
									<input type="hidden" formControlName="platform" value="pinterest"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle" >
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'pinterest',pinterestRows,pinIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addpinterestRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_pinterest">
							{{error_pinterest}}
						</div>
					</div>
					<div  formArrayName="youtube">
						<div class="w-100 mB10" *ngFor="let item of youtubeRows.controls; let youtubeIndex=index" [formGroupName]="youtubeIndex">
							<div class="w-5 pull-left pT5">
								<div class="youtube_bg_color">
									<i class="fab fa-youtube"></i>
									<input type="hidden" formControlName="platform" value="youtube"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle"  formControlName="handle" >
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url"  formControlName="url" (blur)="checkUrl($event.target.value, 'youtube',youtubeRows,youtubeIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addyoutubeRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_pinterest">
							{{error_youtube}}
						</div>
					</div>
					<div  formArrayName="linkedin">
						<div class="w-100 mB10" *ngFor="let item of linkedinRows.controls; let linkIndex=index" [formGroupName]="linkIndex">
							<div class="w-5 pull-left pT5">
								<div class="linkedin_bg_color">
									<i class="fab fa-linkedin-in"></i>
									<input type="hidden" formControlName="platform" value="linkedin"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle" >
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'linkedin',linkedinRows,linkIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addlinkedinRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_linkedin">
							{{error_linkedin}}
						</div>
					</div>
					<div  formArrayName="snapchat">
						<div class="w-100 mB10"  *ngFor="let item of snapchatRows.controls; let snapIndex=index" [formGroupName]="snapIndex">
							<div class="w-5 pull-left pT5">
								<div class="snapchat_bg_color">
									<i class="fab fa-snapchat-ghost"></i>
									<input type="hidden" formControlName="platform" value="snapchat"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'snapchat',snapchatRows,snapIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addsnapchatRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_snapchat">
							{{error_snapchat}}
						</div>
					</div>
					<div class="error-message"
					*ngIf="error_social">
					Must provide atleast one social reference
					</div>
					<div class="w-100 mT40">
						<div class="w-50 pull-left text-left">
							<div class="btn_sec">
								<div class="btn_sec_inside" (click)="cancelForm()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
							</div>
						</div>
						<div class="w-50 pull-right text-right">
							<div class="btn_primary">
								<button><i class="material-icons text-20 mR10">add_circle_outline</i> Create</button>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			
		</div>
		<!---Brand Yes Condition-->
		<!--Brand No Condition-->
		<div [ngStyle]="{'display':show_brand_agency ? 'block' : 'none' }">
			
				<div class="modal_header">
					<p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
				</div>
				<div class="modal_content org_input">
					<p class="color_666 text-14 text-left mB10 wt400">Enter a Name</p>
					<input type="text" placeholder="Name" formControlName="organisation_name">
					<div class="error-message"
					*ngIf="organsiationForm.get('organisation_name').hasError('required') && (organsiationForm.get('organisation_name').dirty || s.submitted)">
						Please enter organisation name.
					</div>
					<p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
					<div  formArrayName="facebook">
						<div class="w-100 mB10" *ngFor="let item of facebookRows.controls; let fbIndex=index" [formGroupName]="fbIndex">
							<div class="w-5 pull-left pT5">
								<div class="facebook_bg_color">
									<i class="fab fa-facebook-f"></i>
									<input type="hidden" formControlName="platform" >
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" formControlName="handle" placeholder="@handle">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="url"  placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'facebook', facebookRows, fbIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addfacebookRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_fb">
							{{error_fb}}
						</div>
					</div>
					<div  formArrayName="instagram">
						<div class="w-100 mB10" *ngFor="let item of instagramRows.controls; let instaIndex=index" [formGroupName]="instaIndex">
							<div class="w-5 pull-left pT5">
								<div class="instagram_bg_color">
									<i class="fab fa-instagram"></i>
									<input type="hidden" formControlName="platform" />
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, instaIndex, 'instagram')">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'instagram', instagramRows, instaIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addinstagramRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_instagram">
							{{error_instagram}}
						</div>
					</div>
					<div  formArrayName="twitter">
						<div class="w-100 mB10" *ngFor="let item of twitterRows.controls; let twtIndex=index" [formGroupName]="twtIndex">
							<div class="w-5 pull-left pT5">
								<div class="twitter_bg_color">
									<i class="fab fa-twitter"></i>
									<input type="hidden" formControlName="platform" />
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle"  formControlName="handle" (blur)="checkValidHandle($event.target.value, twtIndex, 'twitter')">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url"  formControlName="url" (blur)="checkUrl($event.target.value, 'twitter', twitterRows, twtIndex )" >
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer"  (click)="addtwitterRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_twitter">
							{{error_twitter}}
						</div>
					</div>
					<div  formArrayName="blog">
						<div class="w-100 mB10" *ngFor="let item of blogRows.controls; let blogIndex=index" [formGroupName]="blogIndex">
							<div class="w-5 pull-left pT5">
								<div class="blog_bg_color">
									<i class="fab fa-blogger-b"></i>
									<input type="hidden" formControlName="platform" value="blog"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'blog', blogRows, blogIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer"  (click)="addblogRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_blog">
							{{error_blog}}
						</div>
					</div>
					<div  formArrayName="pinterest">
						<div class="w-100 mB10" *ngFor="let item of pinterestRows.controls; let pinIndex=index" [formGroupName]="pinIndex">
							<div class="w-5 pull-left pT5">
								<div class="pinterest_bg_color">
									<i class="fab fa-pinterest-p"></i>
									<input type="hidden" formControlName="platform" value="pinterest"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle" >
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'pinterest',pinterestRows,pinIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addpinterestRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_pinterest">
							{{error_pinterest}}
						</div>
					</div>
					<div  formArrayName="youtube">
						<div class="w-100 mB10" *ngFor="let item of youtubeRows.controls; let youtubeIndex=index" [formGroupName]="youtubeIndex">
							<div class="w-5 pull-left pT5">
								<div class="youtube_bg_color">
									<i class="fab fa-youtube"></i>
									<input type="hidden" formControlName="platform" value="youtube"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle"  formControlName="handle" >
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url"  formControlName="url" (blur)="checkUrl($event.target.value, 'youtube',youtubeRows,youtubeIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addyoutubeRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_pinterest">
							{{error_youtube}}
						</div>
					</div>
					<div  formArrayName="linkedin">
						<div class="w-100 mB10" *ngFor="let item of linkedinRows.controls; let linkIndex=index" [formGroupName]="linkIndex">
							<div class="w-5 pull-left pT5">
								<div class="linkedin_bg_color">
									<i class="fab fa-linkedin-in"></i>
									<input type="hidden" formControlName="platform" value="linkedin"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle" >
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'linkedin',linkedinRows,linkIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addlinkedinRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_linkedin">
							{{error_linkedin}}
						</div>
					</div>
					<div  formArrayName="snapchat">
						<div class="w-100 mB10"  *ngFor="let item of snapchatRows.controls; let snapIndex=index" [formGroupName]="snapIndex">
							<div class="w-5 pull-left pT5">
								<div class="snapchat_bg_color">
									<i class="fab fa-snapchat-ghost"></i>
									<input type="hidden" formControlName="platform" value="snapchat"/>
								</div>
							</div>
							<div class="w-45 pull-left pL15 pR5">
								<input type="text" placeholder="@handle" formControlName="handle">
							</div>
							<div class="w-45 pull-left pL10 pR10">
								<input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'snapchat',snapchatRows,snapIndex)">
							</div>
							<div class="w-5 pull-left pT5">
								<i class="material-icons color_eleve text-30 cursor-pointer" (click)="addsnapchatRows()">add_circle_outline</i>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="error-message"
							*ngIf="error_snapchat">
							{{error_snapchat}}
						</div>
					</div>
					<div class="error-message"
					*ngIf="error_social">
					Must provide atleast one social reference
					</div>
					<div class="w-100 mT40">
						<div class="w-50 pull-left text-left">
							<div class="btn_sec">
								<div class="btn_sec_inside" (click)="cancelForm()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
							</div>
						</div>
						<div class="w-50 pull-right text-right">
							<div class="btn_primary">
								<button><i class="material-icons text-20 mR10">add_circle_outline</i> Create</button>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			
		</div>
		<!---Brand NO Condition-->
		<!--Agency-->
		<!-- <div>
			<form>
				<div class="modal_header">
					<p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a New Agency</p>
				</div>
				<div class="modal_content org_input">
					<p class="color_666 text-14 text-left mB10 wt400">Enter a Name</p>
					<input type="text" placeholder="Name">
					<p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="facebook_bg_color">
								<i class="fab fa-facebook-f"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="instagram_bg_color">
								<i class="fab fa-instagram"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="twitter_bg_color">
								<i class="fab fa-twitter"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="blog_bg_color">
								<i class="fab fa-blogger-b"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="pinterest_bg_color">
								<i class="fab fa-pinterest-p"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="youtube_bg_color">
								<i class="fab fa-youtube"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="linkedin_bg_color">
								<i class="fab fa-linkedin-in"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="snapchat_bg_color">
								<i class="fab fa-snapchat-ghost"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mT40">
						<div class="w-50 pull-left text-left">
							<div class="btn_sec">
								<div class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
							</div>
						</div>
						<div class="w-50 pull-right text-right">
							<div class="btn_primary">
								<div><i class="material-icons text-20 mR10">add_circle_outline</i> Create</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</form>
		</div> -->
		<!---Agency-->
    </div>
    </form>
</div>
<!-- Create Organization modal-->