<!--right side-->
<div class="right_side pL20per">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span routerLink="/advertiser">Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
            <span>Edit Advertiser</span></p>
    </div>
    <div class="w-75 pull-left bg_white bRadius5 mR20">
        <div class="adv_view">
            <div class="adv_view_bg">
                <h2>Edit Advertiser</h2>
                <div class="w-100 pT25">
                    <div class="w-70 pull-left influ_img_box">
                        <div class="adv_name_img">
                            <div class="w-15 pull-left">
                                <div class="user_name_img position-relative">
                                    <img src="{{ imageurl}}">
                                    <!-- <p>PK</p> -->
                                    <div class="image_icon">
                                        <i class="fa fa-camera"></i>
                                        <input type="file" title = "Select New Image" id="file" (change)="onImageChange($event)" accept="image/*">
                                    </div>
                                </div>
                            </div>
                            <div class="w-85 pull-left">
                                <h3 class="color_white text-20 wt600 text-left mB5 text-cap">{{getAdvertiserData?.name}}</h3>
                                <p class="text-14 color_white text-left noM text-cap">Advertiser</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <form class="w-100" [formGroup]="advertiserForm" (ngSubmit)="onSubmitAdvertiserForm(advertiserForm.value)" #f="ngForm">
                <div class="p30" style="padding-top: 20px;">
                    <div class="details_box">
                        <div class="w-47 pull-left">
                            <label class="mB15 text-left">First Name</label>
                            <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'has-error' : !advertiserForm.get('first_name').valid && (f.submitted || advertiserForm.get('first_name').dirty) }" required maxlength="21" autocomplete="off" placeholder="First Name">
                            <div class="error-session-message" *ngIf="advertiserForm.get('first_name').hasError('required') &&  (advertiserForm.get('first_name').dirty || f.submitted)">
                                Please enter First name.
                            </div>
                            <div class="error-session-message" *ngIf="advertiserForm.get('first_name').hasError('minlength') && (advertiserForm.get('first_name').dirty || f.submitted)">
                                First Name is too sort.
                            </div>
                            <div class="error-session-message" *ngIf="advertiserForm.get('first_name').hasError('maxlength') && (advertiserForm.get('first_name').dirty || f.submitted)">
                                First Name is too lengthy.
                            </div>
                        </div>
                        <div class="w-47 pull-right">
                            <label class="mB15 text-left">Last Name</label>
                            <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'has-error' : !advertiserForm.get('last_name').valid && (f.submitted || advertiserForm.get('last_name').dirty) }" placeholder="Last Name" maxlength="21" autocomplete="off">

                            <div class="error-session-message" *ngIf="advertiserForm.get('last_name').hasError('minlength') && (advertiserForm.get('last_name').dirty || f.submitted)">
                                Last Name is too sort.
                            </div>
                            <div class="error-session-message" *ngIf="advertiserForm.get('last_name').hasError('maxlength') && (advertiserForm.get('last_name').dirty || f.submitted)">
                                Last Name is too lengthy.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="w-47 pull-left org_plus">
                            <label class="mB15 text-left">Organization</label>
                            <div class="form-control" [ngClass]="{ 'has-error' : !advertiserForm.get('organisation').valid && (f.submitted || advertiserForm.get('organisation').dirty) }">
                                <div class="w-85 pull-left">
                                    <ng-select [items]="organisationlist" bindValue="id" bindLabel="name" formControlName="organisation" (ngModelChange)="getOrganisationAddressDetail($event)"></ng-select>
                                </div>
                                <div class="w-15 pull-left text-center">
                                    <a (click)="showModel()"><i class="material-icons">add_circle_outline</i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="error-session-message" style="margin-top:5px !important" *ngIf="advertiserForm.get('organisation').hasError('required') && (advertiserForm.get('organisation').dirty || f.submitted)">
                                Please enter organisation.
                            </div>
                        </div>
                        <div class="w-47 pull-right">
                            <label class="mB15 text-left">Designation</label>
                            <input type="text" placeholder="Designation" formControlName="designation" class="form-control" [ngClass]="{ 'has-error' : !advertiserForm.get('designation').valid && (f.submitted || advertiserForm.get('designation').dirty) }" autocomplete="off">
                        </div>
                        <div class="clearfix"></div>
                        <div class="w-47 pull-left">
                            <label class="mB15 text-left">Email</label>
                            <input type="text" placeholder="Email" formControlName="email" autocomplete="off">
                        </div>
                        <!---->
                        <div class="w-47 pull-right">
                            <label class="mB15 text-left">Mobile</label>
                            <div class="w-100 isd_feild">
                                <div class="w-25 pull-left isd_code">
                                    <mat-form-field>
                                        <input matInput [value]="mobile_code" style="border-bottom-right-radius: 0; border-top-right-radius: 0; border-radius: 5px; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;" class="form-control" *ngIf="!showSelect" (click)="showSelectOption()"
                                            placeholder="ISD" />
                                        <mat-select matNativeControl *ngIf="showSelect" formControlName="isd_code" placeholder="ISD" (selectionChange)="onFirstThingSelect($event)" (keydown)="onNoChangeSelect($event)" (openedChange)="openedChange($event)" [ngClass]="{ 'has-error' : !advertiserForm.get('isd_code').valid && (f.submitted || advertiserForm.get('isd_code').dirty) }">
                                            <mat-option *ngFor="let optionlist of isdlist" [value]="optionlist.dial_code">
                                                {{optionlist.dial_code}} - {{optionlist.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="w-75 pull-right">
                                    <input type="text" placeholder="Mobile Number" formControlName="mobile" class="form-control" [ngClass]="{ 'has-error' : !advertiserForm.get('mobile').valid && (f.submitted || advertiserForm.get('mobile').dirty) }" maxlength="14">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="error-session-message" *ngIf="!advertiserForm.get('mobile').hasError('pattern') && advertiserForm.get('mobile').hasError('minlength') && (advertiserForm.get('mobile').dirty || f.submitted)">
                                Mobile is too sort.
                            </div>
                            <div class="error-session-message" *ngIf="!advertiserForm.get('mobile').hasError('pattern') && advertiserForm.get('mobile').hasError('maxlength') && (advertiserForm.get('mobile').dirty || f.submitted)">
                                Mobile is too lengthy.
                            </div>
                            <div class="error-session-message" *ngIf="advertiserForm.get('mobile').hasError('pattern') && (advertiserForm.get('mobile').dirty || f.submitted)">
                                Please enter a valid Mobile Number.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="w-47 pull-left">
                            <label class="mB15 text-left">Account Manager</label>
                            <select formControlName="manager">
                                <option disabled label="Account Manager"></option>
                                <option *ngFor="let optionlist of managelistData" [value]="optionlist.name">{{ optionlist.name }}</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="w-100">
                            <label class="mB15 text-left">Notes</label>
                            <textarea rows="6" placeholder="Notes" formControlName="note"></textarea>
                        </div>
                    </div>
                    <div class="details_box" [ngStyle]="{'display':show_modal_associated_brand ? 'block' : 'none' }">
                        <div class="w-40 pull-left">
                            <label class="mB15 text-left">Associated Brands</label>
                            <ng-select [items]="asscosiativeListData" bindValue="id" bindLabel="name" formControlName="asscosiativeBrand" (ngModelChange)="addBrandFormArray($event)">
                            </ng-select>
                        </div>
                        <div class="w-40 pull-right text-right">
                            <div class="btn_sec mR20">
                                <div (click)="openAssociativeBrandModal()" class="btn_sec_inside">New</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="w-100 text-left asso_search_result mT20">
                            <div class="w-20 pull-left text-center mB20" formArrayName="asscosiativeBrandList" *ngFor="let list of advertiserForm.controls.asscosiativeBrandListValue?.value; let i = index">
                                <div class="user_name_img">
                                    <!-- <img src="assets/images/brand1.png"> -->
                                    <!-- <p>PK</p> -->
                                    <p>{{list[0].toUpperCase()}}</p>
                                    <i class="material-icons" (click)="removeBrandFormArray(i)">close</i>
                                </div>
                                <p class="text-center color_666 text-14">{{list}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="details_box">
                        <div class="display-inline-block mR20">
                            <label class="text-left">Assign a Location</label>
                        </div>
                        <div class="display-inline-block mR20">
                            <div class="error-session-message display-inline-block" *ngIf="advertiserForm.get('bill_address').hasError('required') && (advertiserForm.get('bill_address').dirty || f.submitted)">
                                Please choose address.
                            </div>
                        </div>
                        <mat-radio-group formControlName="bill_address" (ngModelChange)="changeAddressFunction($event)">
                            <div class="w-100 display-flex" style="justify-content: space-between;">
                                <div class="assign_address" *ngFor="let orgAddress of getOrganitionAddressData">
                                    <h2>
                                        <mat-radio-button value="{{orgAddress?._id}}">{{orgAddress?.city}} - {{orgAddress?.country}}</mat-radio-button>
                                    </h2>
                                    <p>{{ orgAddress?.address}}</p>
                                </div>
                            </div>
                            <div class="w-100 mT30">
                                <div class="assign_address" style="width: 100%;">
                                    <h2>
                                        <mat-radio-button value="location">Add New Location</mat-radio-button>
                                    </h2>
                                    <div class="w-100 mT20">
                                        <div class="w-33 pull-left pL10 pR10">
                                                <label class="mB15 text-left">Country</label>
                                            <ng-select [items]="countrylist" formControlName="country" (ngModelChange)="countrySelectChange($event)">
                                            </ng-select>
                                            <div class="error-session-message" *ngIf="advertiserForm.get('country').hasError('required') && (advertiserForm.get('country').dirty || f.submitted)">
                                                Please enter Country.
                                            </div>
                                        </div>
                                        <div class="w-33 pull-left pL10 pR10">
                                                <label class="mB15 text-left">State</label>
                                            <ng-select [items]="statelist" formControlName="state" (ngModelChange)="stateSelectChange($event)">
                                            </ng-select>
                                            <div class="error-session-message" *ngIf="advertiserForm.get('state').hasError('required') && (advertiserForm.get('state').dirty || f.submitted)">
                                                Please enter State.
                                            </div>
                                        </div>
                                        <div class="w-33 pull-right pL10 pR10">
                                                <label class="mB15 text-left">City</label>
                                            <ng-select [items]="citylist" formControlName="city"></ng-select>
                                            <div class="error-session-message" *ngIf="advertiserForm.get('city').hasError('required') && (advertiserForm.get('city').dirty || f.submitted)">
                                                Please enter City.
                                            </div>
                                        </div>
                                        <div class=" clearfix"></div>
                                        <div class="w-100 pL10 pR10 mT20">
                                            <label class="mB15 text-left">Address</label>
                                            <textarea rows="6" formControlName="address" placeholder="Billing Address"></textarea>
                                            <div class="error-session-message" *ngIf="advertiserForm.get('address').hasError('required') && (advertiserForm.get('address').dirty || f.submitted)">
                                                Please enter Address.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-radio-group>
                    </div>
                    <div class="w-100 mT30 mB50">
                        <div class="w-50 pull-left text-left">
                            <div class="btn_sec">
                                <div class="btn_sec_inside" routerLink="/advertiser"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
                            </div>
                        </div>
                        <div class="w-50 pull-right text-right">
                            <div class="btn_primary">
                                <button>Update</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--right side-->


<!-- Create Organization modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_modal ? 'block' : 'none' }">
    <div class="bg_close_layer" (click)="hideModel()"></div>
    <form [formGroup]="organsiationForm" (ngSubmit)="onOrganisationFormSubmit(organsiationForm.value)" #s="ngForm" autocomplete="off">
        <div class="eleve_modal modal_animate_zoom">
            <b class="modal_close" (click)="hideModel()"><i class="material-icons">clear</i></b>
            <!--select Organization-->
            <div [ngStyle]="{'display':show_step1 ? 'block' : 'none' }">
                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create an Organization</p>
                </div>
                <div class="modal_content">
                    <p class="color_666 text-14 text-left">An organization must be located to add a new advertiser from a new client
                    </p>
                    <p class="color_4e4e4e text-16 wt500 mT40 text-left">Select a client type :</p>
                    <div class="select_brand_circle">
                        <label class="pT30" for="agency">Agency</label>
                        <input type="radio" class="button" id="agency" value="agency" formControlName="orgtype" (click)="handleChange($event)">
                        <input type="radio" class="button" id="brnd" formControlName="orgtype" value="brand" (click)="handleChange($event)">
                        <label class="pT25" for="brnd">Direct <br>Brand</label>
                        <div class="clearfix"></div>
                    </div>
                    <div *ngIf="organsiationForm.get('orgtype').invalid">
                        organisation Type required.
                    </div>
                </div>

            </div>
            <!--select Organization-->
            <!--select Brand-->
            <div [ngStyle]="{'display':show_brand ? 'block' : 'none' }">
                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
                </div>
                <div class="modal_content">
                    <p class="color_666 text-14 text-left">Have we previously worked with this brand via an <b>agency?</b></p>
                    <div class="select_brand_circle">
                        <input type="radio" class="button" id="yes" value="yes" formControlName="brandexists" (click)="handleChangeBrand($event)">
                        <label class="pT30" for="yes">Yes</label>
                        <input type="radio" class="button" id="no" value="no" formControlName="brandexists" (click)="handleChangeBrand($event)">
                        <label class="pT30" for="no">No</label>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!--select Brand-->
            <!--Brand Yes Condition-->
            <div [ngStyle]="{'display':show_brand_yes ? 'block' : 'none' }">
                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
                </div>
                <div class="modal_content org_input">
                    <p class="color_666 text-14 text-left mB10 wt400">Select Name</p>
                    <ng-select [items]="organisationlist" class="mB25" formControlName="organisation_name" (change)="onSelectChange()">
                    </ng-select>
                    <div class="error-message" *ngIf="organsiationForm.get('organisation_name').hasError('required') && (organsiationForm.get('organisation_name').dirty || s.submitted)">
                        Please enter organisation name.
                    </div>
                    <p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
                    <div formArrayName="facebook">
                        <div class="w-100 mB10" *ngFor="let item of facebookRows.controls; let fbIndex=index" [formGroupName]="fbIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="facebook_bg_color">
                                    <i class="fab fa-facebook-f"></i>
                                    <input type="hidden" formControlName="platform">
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" formControlName="handle" placeholder="Page Name">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="url" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'facebook', facebookRows, fbIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addfacebookRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_fb">
                            {{error_fb}}
                        </div>
                    </div>
                    <div formArrayName="instagram">
                        <div class="w-100 mB10" *ngFor="let item of instagramRows.controls; let instaIndex=index" [formGroupName]="instaIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="instagram_bg_color">
                                    <i class="fab fa-instagram"></i>
                                    <input type="hidden" formControlName="platform" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, instaIndex, 'instagram')">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'instagram', instagramRows, instaIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addinstagramRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_instagram">
                            {{error_instagram}}
                        </div>
                    </div>
                    <div formArrayName="twitter">
                        <div class="w-100 mB10" *ngFor="let item of twitterRows.controls; let twtIndex=index" [formGroupName]="twtIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="twitter_bg_color">
                                    <i class="fab fa-twitter"></i>
                                    <input type="hidden" formControlName="platform" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, twtIndex, 'twitter')">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'twitter', twitterRows, twtIndex )">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addtwitterRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_twitter">
                            {{error_twitter}}
                        </div>
                    </div>
                    <div formArrayName="youtube">
                        <div class="w-100 mB10" *ngFor="let item of youtubeRows.controls; let youtubeIndex=index" [formGroupName]="youtubeIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="youtube_bg_color">
                                    <i class="fab fa-youtube"></i>
                                    <input type="hidden" formControlName="platform" value="youtube" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Channel Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'youtube',youtubeRows,youtubeIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addyoutubeRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_pinterest">
                            {{error_youtube}}
                        </div>
                    </div>
                    <div formArrayName="blog">
                        <div class="w-100 mB10" *ngFor="let item of blogRows.controls; let blogIndex=index" [formGroupName]="blogIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="blog_bg_color">
                                    <i class="fab fa-blogger-b"></i>
                                    <input type="hidden" formControlName="platform" value="blog" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Blog Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'blog', blogRows, blogIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addblogRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_blog">
                            {{error_blog}}
                        </div>
                    </div>
                    <div formArrayName="linkedin">
                        <div class="w-100 mB10" *ngFor="let item of linkedinRows.controls; let linkIndex=index" [formGroupName]="linkIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="linkedin_bg_color">
                                    <i class="fab fa-linkedin-in"></i>
                                    <input type="hidden" formControlName="platform" value="linkedin" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Page Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'linkedin',linkedinRows,linkIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addlinkedinRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_linkedin">
                            {{error_linkedin}}
                        </div>
                    </div>
                    <!--Tiktok-->
                    <div>
                        <div class="w-100 mB10">
                            <div class="w-5 pull-left pT5">
                                <div class="tiktok_bg_color">
                                    <i class="material-icons text-18">music_note</i>
                                    <input type="hidden" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Tiktok-->
                    <div formArrayName="snapchat">
                        <div class="w-100 mB10" *ngFor="let item of snapchatRows.controls; let snapIndex=index" [formGroupName]="snapIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="snapchat_bg_color">
                                    <i class="fab fa-snapchat-ghost"></i>
                                    <input type="hidden" formControlName="platform" value="snapchat" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'snapchat',snapchatRows,snapIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addsnapchatRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_snapchat">
                            {{error_snapchat}}
                        </div>
                    </div>
                    <div formArrayName="pinterest">
                        <div class="w-100 mB10" *ngFor="let item of pinterestRows.controls; let pinIndex=index" [formGroupName]="pinIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="pinterest_bg_color">
                                    <i class="fab fa-pinterest-p"></i>
                                    <input type="hidden" formControlName="platform" value="pinterest" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'pinterest',pinterestRows,pinIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addpinterestRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_pinterest">
                            {{error_pinterest}}
                        </div>
                    </div>
                    <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_social">
                        Must provide atleast one social reference
                    </div>
                    <div class="w-100 mT40">
                        <div class="w-50 pull-left text-left">
                            <div class="btn_sec">
                                <div class="btn_sec_inside" (click)="cancelForm()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
                                </div>
                            </div>
                        </div>
                        <div class="w-50 pull-right text-right">
                            <div class="btn_primary">
                                <button><i class="material-icons text-20 mR10">add_circle_outline</i> Create</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!---Brand Yes Condition-->
            <!--Brand No Condition-->
            <div [ngStyle]="{'display':show_brand_agency ? 'block' : 'none' }">
                <div class="modal_header">
                    <p *ngIf="organisationTypeValue == 'agency'" class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a new agency</p>
                    <p *ngIf="organisationTypeValue != 'agency'" class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
                </div>
                <div class="modal_content org_input">
                    <p *ngIf="organisationTypeValue == 'agency'" class="color_666 text-14 text-left mB10 wt400">Name</p>
                    <p *ngIf="organisationTypeValue != 'agency'" class="color_666 text-14 text-left mB10 wt400">Enter a Name</p>
                    <input type="text" placeholder="Name" class="mB25" formControlName="organisation_name">
                    <div class="error-message" *ngIf="organsiationForm.get('organisation_name').hasError('required') && (organsiationForm.get('organisation_name').dirty || s.submitted)">
                        Please enter organisation name.
                    </div>
                    <p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
                    <div formArrayName="facebook">
                        <div class="w-100 mB10" *ngFor="let item of facebookRows.controls; let fbIndex=index" [formGroupName]="fbIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="facebook_bg_color">
                                    <i class="fab fa-facebook-f"></i>
                                    <input type="hidden" formControlName="platform">
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" formControlName="handle" placeholder="Page Name">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="url" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'facebook', facebookRows, fbIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addfacebookRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_fb">
                            {{error_fb}}
                        </div>
                    </div>
                    <div formArrayName="instagram">
                        <div class="w-100 mB10" *ngFor="let item of instagramRows.controls; let instaIndex=index" [formGroupName]="instaIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="instagram_bg_color">
                                    <i class="fab fa-instagram"></i>
                                    <input type="hidden" formControlName="platform" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, instaIndex, 'instagram')">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'instagram', instagramRows, instaIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addinstagramRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_instagram">
                            {{error_instagram}}
                        </div>
                    </div>
                    <div formArrayName="twitter">
                        <div class="w-100 mB10" *ngFor="let item of twitterRows.controls; let twtIndex=index" [formGroupName]="twtIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="twitter_bg_color">
                                    <i class="fab fa-twitter"></i>
                                    <input type="hidden" formControlName="platform" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, twtIndex, 'twitter')">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'twitter', twitterRows, twtIndex )">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addtwitterRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_twitter">
                            {{error_twitter}}
                        </div>
                    </div>
                    <div formArrayName="youtube">
                        <div class="w-100 mB10" *ngFor="let item of youtubeRows.controls; let youtubeIndex=index" [formGroupName]="youtubeIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="youtube_bg_color">
                                    <i class="fab fa-youtube"></i>
                                    <input type="hidden" formControlName="platform" value="youtube" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Channel Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'youtube',youtubeRows,youtubeIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addyoutubeRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_pinterest">
                            {{error_youtube}}
                        </div>
                    </div>
                    <div formArrayName="blog">
                        <div class="w-100 mB10" *ngFor="let item of blogRows.controls; let blogIndex=index" [formGroupName]="blogIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="blog_bg_color">
                                    <i class="fab fa-blogger-b"></i>
                                    <input type="hidden" formControlName="platform" value="blog" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Blog Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'blog', blogRows, blogIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addblogRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_blog">
                            {{error_blog}}
                        </div>
                    </div>
                    <div formArrayName="linkedin">
                        <div class="w-100 mB10" *ngFor="let item of linkedinRows.controls; let linkIndex=index" [formGroupName]="linkIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="linkedin_bg_color">
                                    <i class="fab fa-linkedin-in"></i>
                                    <input type="hidden" formControlName="platform" value="linkedin" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Page Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'linkedin',linkedinRows,linkIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addlinkedinRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_linkedin">
                            {{error_linkedin}}
                        </div>
                    </div>
                    <!--Tiktok-->
                    <div>
                        <div class="w-100 mB10">
                            <div class="w-5 pull-left pT5">
                                <div class="tiktok_bg_color">
                                    <i class="material-icons text-18">music_note</i>
                                    <input type="hidden" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Tiktok-->
                    <div formArrayName="snapchat">
                        <div class="w-100 mB10" *ngFor="let item of snapchatRows.controls; let snapIndex=index" [formGroupName]="snapIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="snapchat_bg_color">
                                    <i class="fab fa-snapchat-ghost"></i>
                                    <input type="hidden" formControlName="platform" value="snapchat" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'snapchat',snapchatRows,snapIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addsnapchatRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_snapchat">
                            {{error_snapchat}}
                        </div>
                    </div>
                    <div formArrayName="pinterest">
                        <div class="w-100 mB10" *ngFor="let item of pinterestRows.controls; let pinIndex=index" [formGroupName]="pinIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="pinterest_bg_color">
                                    <i class="fab fa-pinterest-p"></i>
                                    <input type="hidden" formControlName="platform" value="pinterest" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'pinterest',pinterestRows,pinIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addpinterestRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_pinterest">
                            {{error_pinterest}}
                        </div>
                    </div>
                    <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_social">
                        Must provide atleast one social reference
                    </div>
                    <div class="w-100 mT40">
                        <div class="w-50 pull-left text-left">
                            <div class="btn_sec">
                                <div class="btn_sec_inside" (click)="cancelForm()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
                                </div>
                            </div>
                        </div>
                        <div class="w-50 pull-right text-right">
                            <div class="btn_primary">
                                <button><i class="material-icons text-20 mR10">add_circle_outline</i> Create</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!---Brand NO Condition-->
        </div>
    </form>
</div>
<!-- Create Organization modal-->