<!--right side-->
<div class="right_side">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM"><span>Home</span>
      <i class="material-icons mL15 mR15">chevron_right</i>
      <span>{{ pageTitle }} Campaigns</span>
    </p>
  </div>
  <div class="bg_white p20 campaign-active-view">
    <div class="w-100">
      <div class="w-100 text-left mB30">
        <div class="manage_adv_search display-inline-block">
          <h2>{{ pageTitle }} Campaigns</h2>
          <p class="color_666 text-14 wt300 mT10">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="position-relative mT30 mB20 text-right">
        <div class="display-inline-block position-relative list_search">
          <i
            (click)="onClickRefresh()"
            class="material-icons display-inline-block text-26 color_4e4e4e cursor-pointer mR10">
            refresh
          </i>
          <div class="manage_adv_search_input text-left">
            <input
              [(ngModel)]="searchKeywordValue"
              (keyup)="onChangeSearchInput($event)"
              placeholder="Try name or hashtag"
              type="text" >
            <i
              *ngIf="!searchKeywordValue"
              class="material-icons cursor-pointer text-26"
              style="color: #d5d5d5;">
              search
            </i>
            <i
              *ngIf="searchKeywordValue"
              (click)="onClickClearSearch()"
              class="material-icons cursor-pointer">
              close
            </i>
          </div>
        </div>
      </div>
      <div class="list_header">
        <div class="w-10 pull-left">Brand</div>
        <div class="w-30 pull-left">Campaign Name</div>
        <div
          *ngIf="(
            campaignStatus !== '0'
            && campaignStatus !== '6'
          )"
          class="w-20 pull-left">
          <button
            mat-button
            [matMenuTriggerFor]="duration">
            <span>
              {{
                (filters.status == "1" || filters.status == "")
                ? "Duration"
                : getCampaignStatusLabel(filters.status)
              }}
              <i class="material-icons">arrow_drop_down</i>
            </span>
          </button>
          <mat-menu
            #duration="matMenu">
            <button
              (click)="onChangeFilter('1', 'status')"
              mat-menu-item>All
            </button>
            <div
              *ngFor="let duration of getAllCampaignStatuses(); trackBy: trackWithId">
              <button
                *ngIf="duration.status !== '6'"
                (click)="onChangeFilter(duration.status, 'status')"
                mat-menu-item>
                <span [ngClass]="duration.classes">
                  <i class="material-icons text-12 mR5">brightness_1</i>
                  {{ duration.label }}
                </span>
              </button>
            </div>
          </mat-menu>
        </div>
        <div
          *ngIf="!(
            campaignStatus !== '0'
            && campaignStatus !== '6'
          )"
          class="w-20 pull-left">
            Duration
        </div>
        <div>

        </div>
        <div class="w-15 pull-left">
          <button
            mat-button
            [matMenuTriggerFor]="social">
            <span>
              {{
                filters.platform
                ? capitalizeFirstLetter(filters.platform)
                : "Platforms"
              }}
              <i class="material-icons">arrow_drop_down</i>
            </span>
          </button>
          <mat-menu #social="matMenu">
            <button
              (click)="onChangeFilter('', 'platform')"
              mat-menu-item>All
            </button>
            <button
              *ngFor="let platform of getSocialFilters(); trackBy: trackWithId"
              (click)="onChangeFilter(platform.value, 'platform')"
              mat-menu-item>
              <i
                class="fab text-16 mR5"
                [ngClass]="platform.classes">
              </i>
              {{ platform.label }}
            </button>
          </mat-menu>
        </div>
        <div class="w-25 pull-left">Action</div>
        <div class="clearfix"></div>
      </div>

      <app-list-item
        [loading]="loading"
        [list]="data.list"
        [ifFiltersActive]="ifFiltersActive()"
        (onStopCampaign)="onStopCampaign($event)"
        (onDiscardCampaign)="onDiscardCampaign($event)"
        (onEditCampaignEndDate)="onEditCampaignEndDate($event)"
      >
      </app-list-item>
  </div>
</div>
</div>
<!--right side-->

<!-- Edit Duration Modal-->
<div *ngIf="editEndDateModal" class="eleve_modal_bg">
  <div class="bg_close_layer"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b
      (click)="closeEditEndDateModal()"
      class="modal_close">
      <i class="material-icons">clear</i>
    </b>
    <div>
      <div class="modal_header">
        <p
          class="color_666 text-16 text-left wt500">
          <i class="material-icons color_eleve text-30">
            check_circle
          </i> Edit Campaign Duration
        </p>
      </div>
      <div class="modal_content" style="max-height:100%; overflow: inherit;">
        <p class="text-14 wt500 color_666 text-left mT10 mB20">
          Choose a new end date
          <span class="display-block text-12 wt300">(Start date cannot be edited )</span>
        </p>
        <div class="w-100">
          <div class="w-48 pull-left">
            <div class="start_date_box bg-muted">
              {{ selectedCampaign.startDate | date:'MM/dd/yyyy - HH:mm' }}
            </div>
          </div>
          <div class="w-48 pull-right">
            <div class="edit_date_picker">
              <div class="edit_picker_input">
                <input
                  (datesUpdated)="validateCampaignDates(selectedCampaign.startDate, $event)"
                  [(ngModel)]="selectedCampaignEndDate"
                  type="text"
                  ngxDaterangepickerMd
                  [singleDatePicker]="true"
                  [timePicker]="true"
                  [timePickerSeconds]="false"
                  [timePickerIncrement]="1"
                  [timePicker24Hour]="false"
                  [locale]="{format: 'MM/DD/YYYY - HH:mm'}"
                  placeholder="End Date and Time"
                />
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-100 mT40">
          <div class="w-50 pull-left text-left">
            <div class="btn_sec">
              <div
                (click)="closeEditEndDateModal()"
                class="btn_sec_inside" >
                <i class="fa fa-trash-alt text-15 mR10">
                </i>
                Cancel
              </div>
            </div>
          </div>
          <div class="w-50 pull-right text-right">
            <div class="btn_primary" (click)="onConfirmCampaignEndDate()">
              <div><i class="material-icons text-20 mR10">check</i>Update</div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit Duration Modal-->

<!-- STOP CAMPAIGN  Modal-->
<div
  *ngIf="confirmationModalDetails.show"
  class="eleve_modal_bg">
  <div
    (click)="closeConfirmationModal()"
    class="bg_close_layer" >
  </div>
  <div class="eleve_modal modal_animate_zoom">
    <b
      (click)="closeConfirmationModal()"
      class="modal_close">
      <i class="material-icons">clear</i>
    </b>
    <div>
      <form>
        <div class="modal_header">
          <p
            class="color_666 text-16 text-left wt500">
            <i class="material-icons color_eleve text-30">check_circle</i>
            Confirm Action
          </p>
        </div>
        <div class="modal_content">
          <p
            class="text-16 wt500 color_666 text-left mB30">
            {{ confirmationModalDetails.title }}:
          </p>
          <p
            class="text-14 wt500 color_999 text-left mB10">
            <i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i>
            {{ confirmationModalDetails.message }}
          </p>
          <div class="w-100 mT40">
            <div class="w-40 pull-left text-left">
              <div class="btn_sec">
                <div
                  (click)="closeConfirmationModal()"
                  class="btn_sec_inside">
                  <i class="fa fa-trash-alt text-15 mR10"></i> Cancel
                </div>
              </div>
            </div>
            <div class="w-60 pull-right text-right">
              <div class="btn_primary">
                <div
                  (click)="confirmationModalDetails.confirmAction()">
                  <i class="material-icons text-20 mR10">ac_unit</i>
                  Yes, {{ confirmationModalDetails.buttonText }}
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Active Modal-->