<div class="admin_login_bg">
  <div class="admin_logo">
    <a href="#"><img src="assets/images/admin_eleve.png"></a>
  </div>
  <div class="admin_login_form">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmitLoginForm(loginForm.value)"
      #f="ngForm"
      class="w-100" >
    <div class="w-50 pull-left"></div>
    <div class="w-50 pull-right">
      <h2>Admin Login</h2>
      <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    </p>
      <!-- <input type="text" placeholder="Enter Email"> -->
      <div>
        <input
          formControlName="email"
          [ngClass]="
            {
              'has-error' : !loginForm.get('email').valid
                && (
                  f.submitted
                  || loginForm.get('email').dirty
                )
            }
          "
          autocomplete="off"
          type="text"
          placeholder="Email"
          class="form-control" >
        <div *ngIf="
          loginForm.get('email').hasError('required')
            && (
              loginForm.get('email').dirty
              || f.submitted
            )
          " class="error-session-message" >
          Please enter Email ID.
        </div>
        <div *ngIf="
            loginForm.get('email').hasError('pattern')
            && (
              loginForm.get('email').dirty
              || f.submitted
            )
          "
          class="error-session-message" >
          Please enter a valid email.
        </div>
      </div>
      <!-- <input type="text" placeholder="Enter Password"> -->
      <div class="position-relative">
        <input
          formControlName="password"
          [ngClass]="
            {
              'has-error' : !loginForm.get('password').valid
                && (
                  f.submitted
                  || loginForm.get('password').dirty
                )
            }
          "
          autocomplete="off"
          [type]="showEye ? 'text' : 'password'"
          placeholder="password"
          class="form-control"  >
          <div 
            (click)="showPassword()">
            <i
              class="password_eye fa eye-password"
              [ngClass]="showEye ? 'fa-eye-slash' : 'fa-eye'"
              >
            </i>
          </div>
        <div
          *ngIf="
            loginForm.get('password').hasError('required')
            && (
              loginForm.get('password').dirty
              || f.submitted
            )
          "
          class="error-session-message" >
          Please enter Password.
        </div>
      </div>
      <div class="btn_primary w-100 mT10">
        <button [disabled]="loading" type="submit">
          <span *ngIf="!loading">LOGIN</span>
          <img 
            *ngIf="loading"
            style="width: 20px;
              height: 20px;
              vertical-align: middle;
              margin-left: 10px;
            "
            src="assets/images/loading_icon.gif">
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
    </form>
  </div>
</div>