<!-- <div>                
  <a routerLink="/influencer/{{influencer._id}}/detail/" class="full_click_list"></a>
    <div class="w-35 pull-left">
      <div class="w-25 pull-left">
        <div class="user_name_img">
          <img [src]="influencer && influencer.profile_pic ? influencer.profile_pic : 'assets/images/user.jpg'">
        </div>
        <p class="text-12 label-green wt600">{{influencer.percentage}}% Complete</p>
      </div>
      <div class="w-75 pull-right pL20">
        <p class="text-left text-16 color_eleve mB5 wt600">{{influencer.first_name}} {{influencer.last_name}}</p>
        <p class="text-left text-12 color_7f7f7f mB5" style="text-transform: none;"><i class="material-icons color_4e4e4e text-14 mR5">mail</i>{{influencer.email}}</p>
        <p class="text-left text-12 color_7f7f7f mB5"><i class="material-icons color_4e4e4e text-14">phone</i> {{influencer.isd_code}}-{{influencer.mobile}}</p>
        <p class="text-left text-12 color_7f7f7f mB10"><i class="material-icons color_4e4e4e text-14">room</i> {{influencer.city}}, {{influencer.country}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="w-35 pull-left icons_wd">
      <p *ngFor="let facebook of influencer.facebook" class="text-12 color_4e4e4e mB10 wt600"><i class="fab fa-facebook-f facebook_color"></i> <span>{{facebook.name}}</span> - <span>{{facebook.currency}} {{formatCost(facebook.cost)}}</span></p>
      <p *ngFor="let twitter of influencer.twitter" class="text-12 color_4e4e4e mB10 wt600"><i class="fab fa-twitter twitter_color"></i> <span>{{twitter.name}}</span> - <span>{{twitter.currency}} {{formatCost(twitter.cost)}}</span></p>
      <p *ngFor="let instagram of influencer.instagram" class="text-12 color_4e4e4e mB10 wt600"><i class="fab fa-instagram instagram_color"></i> <span>{{instagram?.Elv_social}}</span> - <span>{{instagram.currency}} {{formatCost(instagram.cost)}}</span></p>
      <p *ngFor="let linkedin of influencer.linkedin" class="text-12 color_4e4e4e mB10 wt600"><i class="fab fa-linkedin linkedin_color"></i> <span>{{linkedin.name}}</span> - <span>{{linkedin.currency}} {{formatCost(linkedin.cost)}}</span></p>
      <p *ngFor="let youtube of influencer.youtube" class="text-12 color_4e4e4e mB10 wt600"><i class="fab fa-youtube youtube_color"></i> <span>{{youtube.name}}</span> - <span>{{youtube.currency}} {{formatCost(youtube.cost)}}</span></p>
      <p *ngFor="let blog of influencer.blog" class="text-12 color_4e4e4e mB10 wt600"><i class="fab fa-blogger-b blog_color"></i> <span>{{blog.name}}</span> - <span>{{blog.currency}} {{formatCost(blog.cost)}}</span></p>
      <p *ngFor="let tiktok of influencer.tiktok" class="text-12 color_4e4e4e mB10 wt600"><i class="material-icons text-18 tiktok_color">music_note</i> <span>{{tiktok.name}}</span> - <span>{{tiktok.currency}} {{formatCost(tiktok.cost)}}</span></p>
      <p *ngFor="let snapchat of influencer.snapchat" class="text-12 color_4e4e4e mB10 wt600"><i class="fab fa-snapchat-ghost snapchat_color"></i> <span>{{snapchat.name}}</span> - <span>{{snapchat.currency}} {{formatCost(snapchat.cost)}}</span></p>
    </div>
    <div class="w-15 pull-left influ_list_active_all">
      <div class="active_total">
        <div class="active_total_icon">
          <i class="material-icons" style="color: #ffcc00">ac_unit</i>
        </div>
        <div class="active_total_number">
          <span>10</span>/<span>20</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="active_total">
        <div class="active_total_icon">
          <i class="material-icons" style="color: #2374ce;">ac_unit</i>
        </div>
        <div class="active_total_number">
          <span>15</span>/
          <span>25</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="w-10 pull-left active_drop_btn inactive_drop_btn">
      <div class="">
        <select (change)="openStatusModal($event.target.value, influencer._id)">
          <option [disabled]="true"
          [selected]="true" value="1">Active
          </option>
          <option  value="0">Inactive
          </option>
          <option  value="2">Barred
          </option>
        </select>
      </div>
    </div>
  <div class="clearfix"></div>
</div> -->