<!--right side-->
<div class="right_side pL20per" style="padding-right: 0px;">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
            <span>Influencer</span></p>
    </div>
    <div class="bg_white p20 influ_search" style="width: 75%; float:left">
        <div class="w-100">
            <div class="w-50 pull-left text-left mB30">
                <div class="manage_adv_search display-inline-block">
                    <h2>Registered Influencers</h2>
                </div>
            </div>
            <div class="w-50 pull-right text-right">
                <div routerLink="/influencer/create" class="btn_sec">
                    <div class="btn_sec_inside">Create New</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="position-relative">
            <div class="list_search position-absolute" style="right: 0px;">
                <i class="material-icons display-inline-block text-26 color_4e4e4e cursor-pointer mR10" (click)="updateFilters(null,$event);refresh()">refresh</i>
                <div class="manage_adv_search_input">
                    <input type="text" placeholder="Try location, name, email, genre or social" [ngModel]="filtersObject.keyword" (ngModelChange)="updateFilters('keyword',$event)">
                    <i *ngIf="!filtersObject.keyword.length" class="material-icons cursor-pointer text-26" style="color: #d5d5d5;">search</i>
                    <i *ngIf="filtersObject.keyword.length" (click)="clearSearch()" class="material-icons cursor-pointer">close</i>
                </div>
            </div>
        </div>
        <mat-tab-group (selectedTabChange)="updateFilters('status',$event.index )">
            <mat-tab label="Inactive({{inactiveAmount }})">
                <div *ngIf="influencers">
                    <div class="influ_empty text-center" *ngIf="!influencers.length">
                        <img src="assets/images/influ_empty.jpg">
                        <p class="text-16 text-center wt600 color_333 mT10 mB20">Your query has 0 matching results!</p>
                        <p class="text-16 text-center color_666 mB40">Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms</p>
                    </div>
                    <div *ngIf="influencers.length">
                        <div class="list_header">
                            <div class="w-35 pull-left" (click)="updateFilters('sort', '')">Detail <i class="material-icons cursor-pointer text-20">arrow_drop_down</i></div>
                            <div class="w-15 pull-left">Location</div>
                            <div class="w-25 pull-left">Social-Cost</div>
                            <div class="w-15 pull-left">Active/All</div>
                            <div class="w-10 pull-left">Action</div>
                            <div class="clearfix"></div>
                        </div>
                        <div *ngFor="let influencer of influencers" class="advertiser_list_box influ_list_click">
                            <a routerLink="/influencer/{{influencer._id}}/detail/" class="full_click_list"></a>
                            <div class="w-35 pull-left">
                                <div class="w-25 pull-left">
                                    <div class="user_name_img">
                                        <img *ngIf="influencer && influencer.profile_pic != null && influencer.profile_pic != '' && influencer.profile_pic != undefined" [src]="influencer.profile_pic">
                                        <p *ngIf="influencer.profile_pic == null || influencer.profile_pic == '' || influencer.profile_pic == undefined">{{influencer?.first_name[0]?.toUpperCase()}}{{influencer?.last_name[0]?.toUpperCase()}}</p>
                                        <img *ngIf="influencer.first_name == '' && influencer.profile_pic == ''" [src]="assets/images/user.jpg">
                                    </div>
                                    <p class="text-12 color_eleve wt600">{{influencer.percentage}}% Complete</p>
                                </div>
                                <div class="w-75 pull-right pL15">
                                    <p class="text-left text-16 color_4e4e4e mB5 wt400">{{influencer?.first_name}} {{influencer?.last_name}}</p>
                                    <p class="text-left text-14 color_7f7f7f mB5 display-flex" style="text-transform: none;"><i class="material-icons color_4e4e4e text-18 mR5">mail</i>{{influencer.email}}</p>
                                    <p class="text-left text-14 color_7f7f7f mB5 display-flex"><i class="material-icons color_4e4e4e text-18">phone</i> {{influencer.isd_code}}-{{influencer.mobile}}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="w-15 pull-left pL10">
                                <p class="text-left text-14 color_4e4e4e mB10">{{influencer.city}}</p>
                                <p class="text-left text-14 color_4e4e4e wt500">{{influencer.country}}</p>
                            </div>
                            <div class="w-25 pull-left icons_wd">
                                <p *ngFor="let facebook of influencer.facebook" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-facebook-f facebook_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{facebook.name}}</span> - <span>{{facebook.currency}} {{formatCost(facebook.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let twitter of influencer.twitter" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-twitter twitter_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{twitter.name}}</span> - <span>{{twitter.currency}} {{formatCost(twitter.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let instagram of influencer.instagram" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-instagram instagram_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{instagram?.Elv_social}}</span> - <span>{{instagram.currency}} {{formatCost(instagram.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let linkedin of influencer.linkedin" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-linkedin linkedin_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{linkedin.name}}</span> - <span>{{linkedin.currency}} {{formatCost(linkedin.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let youtube of influencer.youtube" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-youtube youtube_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{youtube.name}}</span> - <span>{{youtube.currency}} {{formatCost(youtube.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let blog of influencer.blog" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-blogger-b blog_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{blog.name}}</span> - <span>{{blog.currency}} {{formatCost(blog.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let tiktok of influencer.tiktok" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="material-icons text-18 tiktok_color">music_note</i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{tiktok.name}}</span> - <span>{{tiktok.currency}} {{formatCost(tiktok.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let snapchat of influencer.snapchat" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-snapchat-ghost snapchat_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{snapchat.name}}</span> - <span>{{snapchat.currency}} {{formatCost(snapchat.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                            <div class="w-15 pull-left influ_list_active_all">
                                <div class="active_total">
                                    <div class="active_total_icon">
                                        <i class="material-icons" style="color: #ffcc00">ac_unit</i>
                                    </div>
                                    <div class="active_total_number">
                                        <span>10</span>/<span>20</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="active_total">
                                    <div class="active_total_icon">
                                        <i class="material-icons" style="color: #2374ce;">ac_unit</i>
                                    </div>
                                    <div class="active_total_number">
                                        <span>15</span>/
                                        <span>25</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="w-10 pull-left active_drop_btn inactive_drop_btn">
                                <!-- <a mat-stroked-button routerLink=".">Edit</a> -->
                                <div class="">
                                    <select (change)="openStatusModal($event.target.value, influencer._id)">
                                      <!-- <option
                                        *ngFor="let status of influencerStatusArray"
                                        [selected]="influencer.status === status.value"
                                        [disabled]="influencer.status === status.value"
                                        value="{{status.value}}">
                                        {{ status.label }}
                                      </option> -->
                        							<option value="1">Active
                        							</option>
                        							<option [disabled]="true"
                        							 [selected]="true" value="0">Inactive
                        							</option>
                        							<option  value="2">Barred
                        							</option>
                        						</select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Active({{activeAmount }})">
                <div *ngIf="influencers">
                    <div class="influ_empty text-center" *ngIf="!influencers.length">
                        <img src="assets/images/influ_empty.jpg">
                        <p class="text-16 text-center wt600 color_333 mT10 mB20">Your query has 0 matching results!</p>
                        <p class="text-16 text-center color_666 mB40">Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms</p>
                    </div>
                    <div *ngIf="influencers.length">
                        <div class="list_header">
                            <div class="w-35 pull-left" (click)="updateFilters('sort', '')">Detail <i class="material-icons cursor-pointer text-20">arrow_drop_down</i></div>
                            <div class="w-15 pull-left">Location</div>
                            <div class="w-25 pull-left">Social-Cost</div>
                            <div class="w-15 pull-left">Active/All</div>
                            <div class="w-10 pull-left">Action</div>
                            <div class="clearfix"></div>
                        </div>
                        <div *ngFor="let influencer of influencers" class="advertiser_list_box influ_list_click">
                            <a routerLink="/influencer/{{influencer._id}}/detail/" class="full_click_list"></a>
                            <div class="w-35 pull-left">
                                <div class="w-25 pull-left">
                                    <div class="user_name_img">
                                        <img *ngIf="influencer && influencer.profile_pic != null && influencer.profile_pic != '' && influencer.profile_pic != undefined" [src]="influencer.profile_pic">
                                        <p *ngIf="influencer.profile_pic == null || influencer.profile_pic == '' || influencer.profile_pic == undefined">{{influencer?.first_name[0]?.toUpperCase()}}{{influencer?.last_name[0]?.toUpperCase()}}</p>
                                        <img *ngIf="influencer.first_name == '' && influencer.profile_pic == ''" [src]="assets/images/user.jpg">
                                    </div>
                                    <p class="text-12 color_eleve wt600">{{influencer.percentage}}% Complete</p>
                                </div>
                                <div class="w-75 pull-right pL20">
                                    <p class="text-left text-16 color_eleve mB5 wt600">{{influencer.first_name}} {{influencer.last_name}}</p>
                                    <p class="text-left text-12 color_7f7f7f mB5" style="text-transform: none;"><i class="material-icons color_4e4e4e text-14 mR5">mail</i>{{influencer.email}}</p>
                                    <p class="text-left text-12 color_7f7f7f mB5"><i class="material-icons color_4e4e4e text-14">phone</i> {{influencer.isd_code}}-{{influencer.mobile}}</p>
                                    <p class="text-left text-12 color_7f7f7f mB10"><i class="material-icons color_4e4e4e text-14">room</i> {{influencer.city}}, {{influencer.country}}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="w-15 pull-left pL10">
                                <p class="text-left text-14 color_4e4e4e mB10">{{influencer.city}}</p>
                                <p class="text-left text-14 color_4e4e4e wt500">{{influencer.country}}</p>
                            </div>
                            <div class="w-25 pull-left icons_wd">
                                <p *ngFor="let facebook of influencer.facebook" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-facebook-f facebook_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{facebook.name}}</span> - <span>{{facebook.currency}} {{formatCost(facebook.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let twitter of influencer.twitter" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-twitter twitter_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{twitter.name}}</span> - <span>{{twitter.currency}} {{formatCost(twitter.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let instagram of influencer.instagram" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-instagram instagram_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{instagram?.Elv_social}}</span> - <span>{{instagram.currency}} {{formatCost(instagram.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let linkedin of influencer.linkedin" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-linkedin linkedin_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{linkedin.name}}</span> - <span>{{linkedin.currency}} {{formatCost(linkedin.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let youtube of influencer.youtube" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-youtube youtube_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{youtube.name}}</span> - <span>{{youtube.currency}} {{formatCost(youtube.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let blog of influencer.blog" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-blogger-b blog_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{blog.name}}</span> - <span>{{blog.currency}} {{formatCost(blog.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let tiktok of influencer.tiktok" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="material-icons text-18 tiktok_color">music_note</i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{tiktok.name}}</span> - <span>{{tiktok.currency}} {{formatCost(tiktok.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let snapchat of influencer.snapchat" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-snapchat-ghost snapchat_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{snapchat.name}}</span> - <span>{{snapchat.currency}} {{formatCost(snapchat.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                            <div class="w-15 pull-left influ_list_active_all">
                                <div class="active_total">
                                    <div class="active_total_icon">
                                        <i class="material-icons" style="color: #ffcc00">ac_unit</i>
                                    </div>
                                    <div class="active_total_number">
                                        <span>10</span>/<span>20</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="active_total">
                                    <div class="active_total_icon">
                                        <i class="material-icons" style="color: #2374ce;">ac_unit</i>
                                    </div>
                                    <div class="active_total_number">
                                        <span>15</span>/
                                        <span>25</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="w-10 pull-left active_drop_btn">
                                <!-- <a mat-stroked-button routerLink=".">Edit</a> -->
                                <div class="">
                                    <select (change)="openStatusModal($event.target.value, influencer._id)">
                                            <option [disabled]="true"
                                            [selected]="true" value="1">Active
                                            </option>
                                            <option  value="0">Inactive
                                            </option>
                                            <option  value="2">Barred
                                            </option>
							        </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Barred({{barredAmount }})">
                <div *ngIf="influencers">
                    <div class="influ_empty text-center" *ngIf="!influencers.length">
                        <img src="assets/images/influ_empty.jpg">
                        <p class="text-16 text-center wt600 color_333 mT10 mB20">Your query has 0 matching results!</p>
                        <p class="text-16 text-center color_666 mB40">Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms</p>
                    </div>
                    <div *ngIf="influencers.length">
                        <div class="list_header">
                            <div class="w-35 pull-left" (click)="updateFilters('sort', '')">Detail <i class="material-icons cursor-pointer text-20">arrow_drop_down</i></div>
                            <div class="w-15 pull-left">Location</div>
                            <div class="w-25 pull-left">Social-Cost</div>
                            <div class="w-15 pull-left">Active/All</div>
                            <div class="w-10 pull-left">Action</div>
                            <div class="clearfix"></div>
                        </div>
                        <div *ngFor="let influencer of influencers" class="advertiser_list_box influ_list_click">
                            <a routerLink="/influencer/{{influencer._id}}/detail/" class="full_click_list"></a>
                            <div class="w-35 pull-left">
                                <div class="w-25 pull-left">
                                    <div class="user_name_img">
                                        <img *ngIf="influencer && influencer.profile_pic != null && influencer.profile_pic != '' && influencer.profile_pic != undefined" [src]="influencer.profile_pic">
                                        <p *ngIf="influencer.profile_pic == null || influencer.profile_pic == '' || influencer.profile_pic == undefined">{{influencer?.first_name[0]?.toUpperCase()}}{{influencer?.last_name[0]?.toUpperCase()}}</p>
                                        <img *ngIf="influencer.first_name == '' && influencer.profile_pic == ''" [src]="assets/images/user.jpg">
                                    </div>
                                    <p class="text-12 color_eleve wt600">{{influencer.percentage}}% Complete</p>
                                </div>
                                <div class="w-75 pull-right pL15">
                                    <p class="text-left text-16 color_4e4e4e mB5 wt400">{{influencer.first_name}} {{influencer.last_name}}</p>
                                    <p class="text-left display-flex text-14 color_7f7f7f mB5" style="text-transform: none;"><i class="material-icons color_4e4e4e text-18 mR5">mail</i>{{influencer.email}}</p>
                                    <p class="text-left display-flex text-14 color_7f7f7f mB5"><i class="material-icons color_4e4e4e text-18">phone</i> {{influencer.isd_code}}-{{influencer.mobile}}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="w-15 pull-left pL10">
                                <p class="text-left text-14 color_4e4e4e mB10">{{influencer.city}}</p>
                                <p class="text-left text-14 color_4e4e4e wt500">{{influencer.country}}</p>
                            </div>
                            <div class="w-25 pull-left icons_wd">
                                <p *ngFor="let facebook of influencer.facebook" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-facebook-f facebook_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{facebook.name}}</span> - <span>{{facebook.currency}} {{formatCost(facebook.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let twitter of influencer.twitter" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-twitter twitter_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{twitter.name}}</span> - <span>{{twitter.currency}} {{formatCost(twitter.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let instagram of influencer.instagram" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-instagram instagram_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{instagram?.Elv_social}}</span> - <span>{{instagram.currency}} {{formatCost(instagram.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let linkedin of influencer.linkedin" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-linkedin linkedin_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{linkedin.name}}</span> - <span>{{linkedin.currency}} {{formatCost(linkedin.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let youtube of influencer.youtube" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-youtube youtube_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{youtube.name}}</span> - <span>{{youtube.currency}} {{formatCost(youtube.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let blog of influencer.blog" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-blogger-b blog_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{blog.name}}</span> - <span>{{blog.currency}} {{formatCost(blog.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let tiktok of influencer.tiktok" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="material-icons text-18 tiktok_color">music_note</i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{tiktok.name}}</span> - <span>{{tiktok.currency}} {{formatCost(tiktok.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p *ngFor="let snapchat of influencer.snapchat" class="text-14 color_4e4e4e mB10">
                                    <span class="pull-left w-10">
                                        <i class="fab fa-snapchat-ghost snapchat_color"></i>
                                    </span>
                                    <span class="pull-left w-90 wt500">
                                        <span>{{snapchat.name}}</span> - <span>{{snapchat.currency}} {{formatCost(snapchat.cost)}}</span>
                                    </span>
                                    <span class="display-block clearfix"></span>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                            <div class="w-15 pull-left influ_list_active_all">
                                <div class="active_total">
                                    <div class="active_total_icon">
                                        <i class="material-icons" style="color: #ffcc00">ac_unit</i>
                                    </div>
                                    <div class="active_total_number">
                                        <span>10</span>/<span>20</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="active_total">
                                    <div class="active_total_icon">
                                        <i class="material-icons" style="color: #2374ce;">ac_unit</i>
                                    </div>
                                    <div class="active_total_number">
                                        <span>15</span>/
                                        <span>25</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="w-10 pull-left active_drop_btn inactive_drop_btn">
                                <!-- <a mat-stroked-button routerLink=".">Edit</a> -->
                                <div class="">
                                    <select (change)="openStatusModal($event.target.value, influencer._id)">
								<option value="1">Active
								</option>
								<option  value="0">Inactive
								</option>
								<option [disabled]="true"
									[selected]="true" value="2">Barred
								</option>
							</select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="influ_list_filter">
        <!-- <div class="text-16 wt400 color_4e4e4e mB20">Filter your search</div> -->
        <!-- <div class="text-16 wt400 color_4e4e4e mB20">Filter your search</div> -->
        <div class="cat_radio pull-left text-left display-inline-block mR10 mB20">
            <div>
                <span class="display-block color_4e4e4e text-14 pB10" style="margin-bottom: 5px;">Category</span>
            </div>
            <div>
                <span>
                    <input type="checkbox" id="celebrity" class="filter" (click)="updateFilters('category', 'Celeb')" name="radio">
                    <label for="celebrity" class="container">Celebrity</label>
                </span>
                <span>
                    <input type="checkbox" id="a" class="filter" (click)="updateFilters('category', 'A')" name="radio">
                    <label for="a" class="container">A</label>
                </span>
                <span>
                    <input type="checkbox" id="b" class="filter" (click)="updateFilters('category', 'B')" name="radio">
                    <label for="b" class="container">B</label>
                </span>
                <span>
                    <input type="checkbox" class="filter" id="c" (click)="updateFilters('category', 'C')" name="radio">
                    <label for="c" class="container">C</label>
                </span>
                <span>
                    <input type="checkbox" id="d" class="filter" name="radio" (click)="updateFilters('category', 'D')">
                    <label for="d" class="container">D</label>
                </span>
            </div>
        </div>
        <div class="cat_radio pull-left text-left display-inline-block mR10 mB20">
            <div>
                <span class="display-block color_4e4e4e text-14 pB10" style="margin-bottom: 5px;">Social</span>
            </div>
            <div>
                <span>
                    <input type="checkbox" id="twitter" class="filter" name="radio" (click)="updateFilters('social', 'twitter')">
                    <label for="twitter" class="container"><i class="fab fa-twitter"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="insta" name="radio" class="filter" (click)="updateFilters('social', 'instagram')">
                    <label for="insta" class="container"><i class="fab fa-instagram"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="facebook" name="radio" class="filter" (click)="updateFilters('social', 'facebook')">
                    <label for="facebook" class="container"><i class="fab fa-facebook-f"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="linkedin" name="radio" class="filter" (click)="updateFilters('social', 'linkedin')">
                    <label for="linkedin" class="container"><i class="fab fa-linkedin"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="youtube" name="radio" class="filter" (click)="updateFilters('social', 'youtube')">
                    <label for="youtube" class="container"><i class="fab fa-youtube"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="blog" name="radio" class="filter" (click)="updateFilters('social', 'blog')">
                    <label for="blog" class="container"><i class="fab fa-blogger-b"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="snapchat" name="radio" class="filter" (click)="updateFilters('social', 'snapchat')">
                    <label for="snapchat" class="container"><i class="fab fa-snapchat-ghost"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="tiktok" name="radio" class="filter" (click)="updateFilters('social', 'tiktok')">
                    <label for="tiktok" class="container"><i class="material-icons text-15">music_note</i></label>
                </span>
            </div>
        </div>
        <div class="cat_radio pull-left text-left display-inline-block mB20">
            <div>
                <span class="display-block color_4e4e4e text-14 pB10" style="margin-bottom: 5px;">Gender</span>
            </div>
            <div>
                <span>
                    <input type="checkbox" id="male" name="radio" class="filter" (click)="updateFilters('gender', 'Male')">
                    <label for="male" class="container"><i class="fa fa-mars text-16 vertical-middle"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="female" name="radio"  class="filter" (click)="updateFilters('gender', 'Female')">
                    <label for="female" class="container"><i class="fa fa-venus text-16 vertical-middle"></i></label>
                </span>
                <span>
                    <input type="checkbox" id="other" name="radio" class="filter" (click)="updateFilters('gender', 'Other')">
                    <label for="other" class="container"><i class="fa fa-transgender text-16 vertical-middle"></i></label>
                </span>
            </div>
        </div>
        <div class="pull-left infu_reach mR10 mB20">
            <div>
                <span class="display-block color_4e4e4e text-14" style="margin-bottom: 5px;">Reach</span>
            </div>
            <div>
                <div class="w-25 pull-left">
                        <input type="text" [(ngModel)]="minValue" placeholder="Min">
                </div>
                <div class="w-50 pull-left pT15 pL10 pR10">
                        <ng5-slider [(value)]="minValue"  [(highValue)]="maxValue" (valueChange)="updateFilters('reachs',$event)" [options]="options"></ng5-slider>
                </div>
                <div class="w-25 pull-left">
                        <input type="text" [(ngModel)]="maxValue" placeholder="Max">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div>
            <div matNativeControl class="form-control" class="w-50 pT20 mR10 isd_code pull-left">
            <ng-select [items]="genreArray" bindValue="name" bindLabel="name" [(ngModel)]="genreValue" placeholder="Search Genre" (change)="updateFilters('genres',$event)">
            </ng-select>
            </div>
            <div (click)="downloadCsv()" class="pull-left pT20 download_excel_infu" matTooltip="Download Excel">
                <i class="fa fa-file-excel color_green"></i>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="eleve_modal_bg" *ngIf="showStatusModal">
  <div class="bg_close_layer" (click)="closeStatusModal()" ></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="closeStatusModal()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <div class="modal_header">
        <p
          class="color_666 text-16 text-left wt500">
          <i class="material-icons color_eleve text-30">
            check_circle
          </i>
        Confirm Action
      </p>
      </div>
      <div class="modal_content">
        <p
          *ngIf="statusToChange === '1'"
          class="text-14 wt500 color_999 text-left mB10">
            <i
              class="material-icons color_999"
              style="font-size:8px;">
              fiber_manual_record
            </i>
            Are you sure you want to Activate Influncer?
        </p>
        <p
          *ngIf="statusToChange === '0'"
          class="text-14 wt500 color_999 text-left mB10">
            <i
              class="material-icons color_999"
              style="font-size:8px;">
              fiber_manual_record
            </i>
            Are you sure you want to Deactivate Influncer?
        </p>
        <p
          *ngIf="statusToChange === '2'"
          class="text-14 wt500 color_999 text-left mB10">
            <i
              class="material-icons color_999"
              style="font-size:8px;">
                fiber_manual_record
            </i>
          Are you sure you want to Barre Influncer?
        </p>
        <div class="w-100 mT40">
          <div class="w-40 pull-left text-left">
            <div (click)="closeStatusModal()" class="btn_sec">
              <div class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
            </div>
          </div>
          <div class="w-60 pull-right text-right">
            <div (click)="changeStatus()" class="btn_primary">
              <div><i class="material-icons text-20 mR10">ac_unit</i> Yes
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--right side-->

<!-- Active Modal-->
<!-- <div class="eleve_modal_bg" *ngIf="showStatusModal" [ngStyle]="{'display':'block'}">
		<div class="bg_close_layer" (click)="adminStatusClose()"></div>
		<div class="eleve_modal modal_animate_zoom">
			<b (click)="adminStatusClose()" class="modal_close"><i class="material-icons">clear</i></b>
			<div>
					<div class="modal_header">
						<p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
					</div>
					<div class="modal_content">
						<p *ngIf="statusActiveInactive == 1" class="text-16 wt500 color_666 text-left mB30">Activating the admin will:
						</p>
						<p *ngIf="statusActiveInactive != 1" class="text-16 wt500 color_666 text-left mB30">Changing the admin status to inactive will result in:</p>


						<p *ngIf="statusActiveInactive == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Activate the access to the admin panel</p>
						<p *ngIf="statusActiveInactive != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Deactivated admin panel access of the admin</p>

						<p *ngIf="statusActiveInactive == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> The admin will be able perform functions and get invited to activities by others
						</p>
						<p *ngIf="statusActiveInactive != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Any future activity will not be assigned to the deactivated admin</p>

						<div class="w-100 mT40">
							<div class="w-50 pull-left text-left">
								<div class="btn_sec">
									<div (click)="adminStatusClose()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
								</div>
							</div>
							<div class="w-50 pull-right text-right">
								<div *ngIf="statusActiveInactive == 1" class="btn_primary">
									<div (click)="adminStatusChange()"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Activate
									</div>
								</div>
								<div *ngIf="statusActiveInactive != 1" class="btn_primary">
									<div (click)="adminStatusChange()"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Deactivate
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
			</div>
		</div>
	</div> -->
<!-- Active Modal-->
