<div  class="right_side pL20per" style="padding-right: 0px;" >
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM">
      <span>Home</span> 
        <i class="material-icons mL15 mR15">
          chevron_right
        </i>
      <span>Influencer</span>
    </p>
  </div>
  <div class="bg_white p20 influ_search" style="width: 79%; float:left">
    <div class="w-100">
      <div class="w-50 pull-left text-left mB30">
        <div class="manage_adv_search display-inline-block">
          <h2>Registered Influencers</h2>
        </div>
      </div>
      <div class="w-50 pull-right text-right create_new_btn">
        <div routerLink="/influencer/create" class="btn_sec">
          <div class="btn_sec_inside">New</div>
        </div>
        <div class="mobile_influ_filter_icon btn_sec" onclick="infu_filter_icon()">
          <div class="btn_sec_inside">
            <i class="fa fa-filter text-16"></i>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="position-relative">
      <div class="list_search position-absolute" style="right: 0px;">
        <i 
          (click)="onClickRefreshFilters({ shouldCallListAgain: true })"
          class="material-icons display-inline-block text-26 color_4e4e4e cursor-pointer mR10" >
          refresh
        </i>
        <div class="manage_adv_search_input">
          <input 
            type="text" 
            placeholder="Try location, name, email, genre or social" 
            [(ngModel)]="searchQuery" 
            (keyup)="updateSearchQuery($event)" >
          <i 
            *ngIf="!searchQuery" 
            class="material-icons cursor-pointer text-26" 
            style="color: #d5d5d5;">
            search
          </i>
          <i 
            *ngIf="searchQuery" 
            (click)="clearSearch({ shouldCallListAgain: true })" 
            class="material-icons cursor-pointer">
            close
          </i>
        </div>
      </div>
    </div>

    <mat-tab-group (selectedTabChange)="onChangeTab($event.index)">
      <mat-tab label="Active">
        <ng-container 
          *ngTemplateOutlet="list_component;context:{influencersType: 'active'}" 
          > 
        </ng-container>
      </mat-tab>
      <mat-tab label="Inactive">
        <ng-container 
          *ngTemplateOutlet="list_component;context:{influencersType: 'inActive'}" 
          > 
        </ng-container>
      </mat-tab>
      <mat-tab label="Barred">
        <ng-container 
          *ngTemplateOutlet="list_component;context:{influencersType: 'barred'}" 
          > 
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <list-filters 
    [generes]="generes"
    [status]="getCurrentStatus()"
    [filters]="filters"
    [loading]="loading"
    [reachOptions]="reachOptions"
    [followersReach]="followersReach"
    [currentPageKey]="getCurrentPageKey()"
    [influencersLength]="getCurrentPageData('total')"
    (onChangeFilters)="updateFilters($event)"
    >
  </list-filters>
  <div class="clearfix"></div>    

  <ng-template #list_component let-influencersType="influencersType">
    <div>
      <div class="list_header">
        <div *ngIf="!loading" class="w-40 pull-left">
          {{ getInfluencersData(influencersType, 'total') }} 
          {{ 
            getInfluencersData(influencersType, 'total') > 1
            ? "Users" : "User" 
          }}
        </div>
        <div *ngIf="loading" class="w-40 pull-left">
          Calculating...
        </div>
        <div class="w-15 pull-left">Location</div>
        <div class="w-35 pull-left">Social - Reach - ER</div>
        <div class="w-10 pull-left">Action</div>
        <div class="clearfix"></div>
      </div>
      <influencers-list-item
        [influencersList]="getInfluencersData(influencersType, 'list')" 
        [loading]="loading"
        [ifFiltersActive]="ifFiltersActive()"
        [currentPageKey]="getCurrentPageKey()"
        (changeInfluencerStatus)="changeInfluencerStatus($event)">    
      </influencers-list-item>
    </div>
  </ng-template>

</div>

<div class="eleve_modal_bg" *ngIf="confirmationModal.show">
  <div class="bg_close_layer" (click)="closeConfirmationModal()" ></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="closeConfirmationModal()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <div class="modal_header">
        <p
          class="color_666 text-16 text-left wt500">
          <i class="material-icons color_eleve text-30">
            check_circle
          </i>
        Confirm Action
      </p>
      </div>
      <div class="modal_content">
        <p class="text-14 wt500 color_999 text-left mB10">
          <i
            class="material-icons color_999"
            style="font-size:8px;">
            fiber_manual_record
          </i>
          {{ confirmationModal.message }}
        </p>
        <div class="w-100 mT40">
          <div class="w-40 pull-left text-left">
            <div (click)="closeConfirmationModal()" class="btn_sec">
              <div class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
            </div>
          </div>
          <div class="w-60 pull-right text-right">
            <div (click)="onClickConfirmChangeStatus()" class="btn_primary">
              <div><i class="material-icons text-20 mR10">ac_unit</i> Yes
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>