<!--right side-->
<div class="right_side" style="display: block;">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM">
      <span>Home</span> 
      <i class="material-icons mL15 mR15">chevron_right
      </i>
      <span>Completed Campaigns</span>
    </p>
  </div>
  <div class="bg_white p20">
    <div class="w-100 text-left mB30">
      <div class="w-70 pull-left">
        <div class="manage_adv_search display-inline-block">
          <h2>
            Manage KOL - <span>{{ campaignDetails?.title }}</span>
            <i 
              *ngFor="let platform of campaignDetails?.invitedPlatforms" 
              [ngClass]="getPlatformClasses(platform)"
              class="text-20 mL10">                
            </i>
          </h2>
          <p class="color_666 text-14 wt300 mT10">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          </p>
        </div>
      </div>
      <div (click)="onClickRefresh()" class="w-30 pull-left text-right pT20">
        <div class="refresh_btn cursor-pointer">
          <i class="material-icons">refresh</i> Refresh Page
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="w-100 mT30">
        <div class="w-40 pull-left">
          <div class="kol_search w-50">
            <input 
              [(ngModel)]="searchInfluencerKeyword" 
              (keyup)="onChangeInfluencerInput($event)" 
              type="text" 
              placeholder="Search" >
            <i 
              *ngIf="!searchInfluencerKeyword.length" 
              class="material-icons color_999">search</i>
            <i *ngIf="searchInfluencerKeyword.length"
              (click)="onClickClearInfluencerSearch()"
              class="material-icons cursor-pointer text-20">
              close
            </i>
          </div>
          <div class="kol_gender">
            <div 
              (click)="onChangeFilter('gender', 'male')" 
              [ngClass]="hasInArray('male', filters.gender) && 'kol_gender_male'">
              <i class="fa fa-mars"></i>
            </div>
            <div 
              (click)="onChangeFilter('gender', 'female')"
              [ngClass]="hasInArray('female', filters.gender) && 'kol_gender_female'">
              <i class="fa fa-venus"></i>
            </div>
            <div 
              (click)="onChangeFilter('gender', 'other')"
              [ngClass]="hasInArray('other', filters.gender) && 'kol_gender_other'">
              <i class="fa fa-transgender"></i>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="w-60 pull-left text-right">
          <div class="kol_search w-40 position-relative" style="margin-right: 0px;">
            <input 
              [(ngModel)]="inputMicroKeyword" 
              (keyup)="onChangeMicroSearchInput($event)" 
              type="text" 
              placeholder="Search to add micro">
            <i 
              *ngIf="!inputMicroKeyword.length"
              class="material-icons color_999 text-22">
              search
            </i>
            <i
              *ngIf="inputMicroKeyword.length"
              (click)="onClickClearMicroSearch()"
              class="material-icons cursor-pointer text-20">
              close
            </i>
            <div 
              *ngIf="data.microInfluencersList.length || microInfluencerLoading"
              class="add_influencer_result" 
              (scroll)="onScrollMicroInfluencers()">
              <div 
                *ngIf="data.microInfluencersList.length" class="bRadius5" 
                style="max-height: 295px; min-height: 100px; overflow: auto; background-color: white;">
                <ul>
                  <li *ngFor="let influencer of data.microInfluencersList">
                    <div class="w-20 pull-left">
                      <img src="assets/images/user.jpg">
                    </div>
                    <div class="w-80 pL10 pull-left text-left">
                      <div class="w-100">
                        <div class="w-100">
                          <p 
                            class="color_blue text-14 mB10">
                            @{{ influencer.Elv_social }}</p>
                        </div>
                        <div class="display-flex w-100">
                          <div class="w-70">
                            <p class="text-14">
                              <i [ngClass]="getPlatformClasses(influencer.platform)" ></i> 
                              {{ influencer.followers_count }}
                            </p>
                          </div>
                          <div 
                          *ngIf="!influencer.campaign_details" 
                          (click)="onClickAddMicroInfluencer(influencer)"
                          class="w-30 text-right">
                          <i class="material-icons color_green">add</i>
                        </div>
                        <div 
                          *ngIf="influencer.campaign_details" 
                          class="w-30 text-right">
                          <p 
                            [ngClass]="getActionClass(influencer.campaign_details.action)" 
                            class="color_eleve text-14 pR10">
                            {{ 
                              influencer.campaign_details.action === "" 
                              ? "Invited"
                              : influencer.campaign_details.action
                            }}
                          </p>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                </ul>
              </div>
              <div style="position: relative;">
                <ul style="position: absolute; border: 1px solid #ddd;" *ngIf="microInfluencerLoading" class="o-vertical-spacing bg_white o-vertical-spacing--l">
                  <li *ngFor="let i of [1, 2, 3, 4, 5]" class="blog-post o-media list_box_sklt">
                    <div class="o-media__figure">
                      <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
                    </div>
                    <div class="o-media__body">
                      <div class="o-vertical-spacing text-left">
                        <div class="blog-post__meta">
                          <span class="skeleton-box" style="width:80%;"></span>
                        </div>
                        <div class="blog-post__meta">
                          <span class="skeleton-box" style="width:70%;"></span>
                        </div>
                        <div class="blog-post__meta">
                          <span class="skeleton-box" style="width:85%;"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div 
            *ngIf="campaignDetails?.invitedPlatforms.length === 1" 
            (click)="onClickPremium(campaignDetails?.invitedPlatforms[0])"
            class="premium_btn btn_primary display-inline-block mL20">
            <div>+Premium</div>
          </div>
          <div 
            *ngIf="campaignDetails?.invitedPlatforms.length > 1" 
            class="premium_social mL20">
            <div>
              +premium
            </div>
            <div 
              *ngFor="let platform of campaignDetails?.invitedPlatforms"
              class="{{platform}}_bg_platform"
              (click)="onClickPremium(platform)" >
              <i [ngClass]="getPlatformClasses(platform)"></i>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div *ngIf="!selectedInfluencersList.length" class="w-100 kol_uncheck_header display-flex">
      <div (click)="onClickSelectAllInfluencers()" style="width: 40px;">
        <div class="unckeck_icon pull-left">
          <i class="material-icons">check</i>
        </div>
      </div>
      <div class="w-97 display-flex">
        <div class="w-35 p10">
          <div class="pull-left" style="padding-top: 3px;">
            <span>
              {{selectedInfluencersList.length}}/{{data.influencersList.length}}
            </span>
            <button 
              mat-button [matMenuTriggerFor]="menu">
              Details - {{ 
                filters.type === ''  
                ? 'Category ' 
                : filters.type 
              }} 
              <i class="material-icons">arrow_drop_down</i>
            </button>
            <mat-menu #menu="matMenu">
              <button
                *ngFor="let type of influencerDefaultTypes"
                (click)="onChangeFilter('type', type !== 'All' ? type.toLowerCase() : '')" 
                mat-menu-item>
                  <span 
                    [ngClass]="
                      type === 'All' 
                      ? 'color_4e4e4e'
                      : type === 'Micro' 
                      ? 'color_blue' 
                      : 'color_yellow'
                    ">
                    {{ type }}
                  </span>
              </button>
            </mat-menu>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-15 p10">
          <span class="pT5 display-block">Location</span>
        </div>
        <div class="w-30 p10">
          <button 
            mat-button 
            [matMenuTriggerFor]="menu1">
              {{
                filters.social === '' 
                ? 'Social'
                : filters.social
              }} - Reach - Post 
            <i class="material-icons">arrow_drop_down
            </i>
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item (click)="onChangeFilter('social','')" >
              All
            </button>
            <button 
              *ngFor="let platform of allPlatforms" 
              (click)="onChangeFilter('social', platform.toLowerCase())"
              mat-menu-item>
              <i [ngClass]="getPlatformClasses(platform.toLowerCase())" 
                class="w20px">
              </i> {{ platform }}
            </button>
          </mat-menu>
        </div>
        <div class="w-15 p10">
          <button 
            mat-button 
            [matMenuTriggerFor]="menu2">Status 
            <i class="material-icons">arrow_drop_down
            </i>
          </button>
          <mat-menu #menu2="matMenu">
            <button 
              (click)="onChangeFilter('status', '')" 
              mat-menu-item>
              <span class="colorr_4e4e4e">All</span>
            </button>
            <button 
              *ngFor="let status of allStatuses" 
              (click)="onChangeFilter('status', status.toLowerCase())" 
              mat-menu-item>
              <span [ngClass]="getActionClass(status.toLowerCase())">
                <i class="material-icons w20px text-12">fiber_manual_record</i>
                {{ status }}
              </span>
            </button>
          </mat-menu>
        </div>
        <div class="w-5 p10">
          <span class="pT5 display-block">Action</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="selectedInfluencersList.length" class="w-100 kol_check_header mT10 mB10">
      <div class="kol_uncheck_header">
        <div (click)="onClickSelectAllInfluencers()" class="unckeck_icon pull-left p10">
          <i class="material-icons">check</i>
        </div>
        <div class="kol_rBorder p10">
          <div style="padding: 3px 15px 3px 15px;">
            <span>{{ selectedInfluencersList.length }}/{{ data.influencersList.length }}</span>
            <span class="mL10">Selected</span>
          </div>
        </div>
        <div (click)="onClickNotifyAll()" class="kol_rBorder p10 color_blue cursor-pointer">
          <div style="padding: 0px 20px;">
            <i class="material-icons text-20">notifications</i>
            Notify All
          </div>
        </div>
        <div 
          (click)="onClickRemoveInfluencer()" 
          class="kol_rBorder p10 color_red cursor-pointer">
          <div style="padding: 0px 20px;">
            <i class="material-icons text-20">clear</i>
            Remove
          </div>
        </div>
      </div>
    </div>
    <div 
      *ngIf="loading || data.influencersList.length" 
      [ngClass]="!loading && 'kol_list_wrapper'">
      <app-kol-list-item 
        [loading]="loading"
        [influencersList]="data.influencersList"
        [selectedInfluencersList]="selectedInfluencersList"
        (onClickRemoveInfluencer)="onClickRemoveInfluencer()"
        (onClickRemoveHandle)="onClickRemoveHandle($event)"
        (onClickToggleSelectInfluencer)="onClickToggleSelectInfluencer($event)"
        >
      </app-kol-list-item>
    </div>
    <div *ngIf="!loading && !data.influencersList.length && ifFiltersApplied()">
      <div class="influ_empty text-center">
        <img src="assets/images/influ_empty.jpg">
        <p class="text-16 text-center wt600 color_333 mT10 mB20">
          Your query has 0 matching results!
        </p>
        <p class="text-16 text-center color_666 mB40">
          Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms
        </p>
      </div>
    </div>
    <div 
      *ngIf="!loading && !data.influencersList.length && !ifFiltersApplied()"
      class="camp_list_empty">
      <img src="assets/images/camp_list_empty.png">
      <p 
        class="text-16 color_333 mB20 wt600">
        Lorem Ipsum is simply dummy
      </p>
      <p 
        class="text-14 color_666 mB20">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
      </p>
    </div>
    <div 
      *ngIf="!loading && pageDetails.pages > pageDetails.page" 
      class="load_more_btn">
      <button>Load More</button>
    </div>
  </div>
</div>
<!--right side-->

<div class="eleve_modal_bg" *ngIf="showConfirmModal">
  <div class="bg_close_layer" (click)="toggleSelectInfluencerModal()" ></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="toggleSelectInfluencerModal()" class="modal_close">
      <i class="material-icons">clear</i>
    </b>
    <div>
      <div class="modal_header">
        <p
          class="color_666 text-16 text-left wt500">
          <i class="material-icons color_eleve text-30">
            check_circle
          </i>
        Confirm Action
      </p>
      </div>
      <div class="modal_content">
        <p
          class="text-14 wt500 color_999 text-left mB10">
            <i
              class="material-icons color_999"
              style="font-size:8px;">
              fiber_manual_record
            </i>
            {{ modalAlertMessage }}
        </p>
        <div class="w-100 mT40">
          <div class="w-40 pull-left text-left">
            <div (click)="toggleSelectInfluencerModal()" class="btn_sec">
              <div class="btn_sec_inside">
                <i class="fa fa-trash-alt text-15 mR10"></i> 
              Cancel
            </div>
            </div>
          </div>
          <div class="w-60 pull-right text-right">
            <div (click)="modalConfirmAction()" class="btn_primary">
              <div><i class="material-icons text-20 mR10">ac_unit</i> Yes
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>