<div style="width: 100%; background-color: #fff;">
    <div style="width: 800px; margin: 0px auto;">
        <!--Skeleton of list Code-->
        <ul class="o-vertical-spacing o-vertical-spacing--l">
            <li class="blog-post o-media list_box_sklt">
                <div class="o-media__figure">
                    <span class="skeleton-box bRadius_sklt" style="width:70px;height:70px;"></span>
                </div>
                <div class="o-media__body">
                    <div class="o-vertical-spacing">
                        <div class="blog-post__meta">
                            <span class="skeleton-box" style="width:480px;"></span>
                        </div>
                        <div class="blog-post__meta">
                            <span class="skeleton-box" style="width:400px;"></span>
                        </div>
                        <div class="blog-post__meta">
                            <span class="skeleton-box" style="width:440px;"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--Skeleton of list Code-->
        <!--Skeleton of cards Code-->
        <ul class="o-vertical-spacing o-vertical-spacing--l" style="width: 330px;">
            <li class="blog-post list_box_sklt">
                <div class="o-media">
                    <div class="o-media__figure">
                        <span class="skeleton-box bRadius_sklt" style="width:70px;height:70px;"></span>
                    </div>
                    <div class="o-media__body">
                        <div class="o-vertical-spacing">
                            <div class="blog-post__meta">
                                <span class="skeleton-box" style="width:200px;"></span>
                            </div>
                            <div class="blog-post__meta">
                                <span class="skeleton-box" style="width:150px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="display-block mT20">
                    <div class="o-media__body">
                        <div class="o-vertical-spacing">
                            <div class="blog-post__meta">
                                <span class="skeleton-box" style="width:250px;"></span>
                            </div>
                            <div class="blog-post__meta">
                                <span class="skeleton-box" style="width:200px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--Skeleton of cards Code-->
        <!--Skeleton of forms Code-->
        <ul *ngFor="let skel of [1, 2, 3, 4, 5, 6]" class="o-vertical-spacing o-vertical-spacing--l">
            <li class="blog-post list_box_sklt">
                <div class="o-media mB20">
                    <div class="o-media w-50">
                        <div class="o-media__body">
                            <div class="o-vertical-spacing">
                                <div class="blog-post__meta">
                                    <span class="skeleton-box" style="width:150px;"></span>
                                </div>
                                <div class="blog-post__meta mT5">
                                    <span class="skeleton-box" style="width:220px; height: 25px; border-radius: 8px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="o-media w-50">
                        <div class="o-media__body">
                            <div class="o-vertical-spacing">
                                <div class="blog-post__meta">
                                    <span class="skeleton-box" style="width:150px;"></span>
                                </div>
                                <div class="blog-post__meta mT5">
                                    <span class="skeleton-box" style="width:220px; height: 25px; border-radius: 8px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-media">
                    <div class="o-media w-50">
                        <div class="o-media__body">
                            <div class="o-vertical-spacing">
                                <div class="blog-post__meta">
                                    <span class="skeleton-box" style="width:150px;"></span>
                                </div>
                                <div class="blog-post__meta mT5">
                                    <span class="skeleton-box" style="width:220px; height: 25px; border-radius: 8px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="o-media w-50">
                        <div class="o-media__body">
                            <div class="o-vertical-spacing">
                                <div class="blog-post__meta">
                                    <span class="skeleton-box" style="width:150px;"></span>
                                </div>
                                <div class="blog-post__meta mT5">
                                    <span class="skeleton-box" style="width:220px; height: 25px; border-radius: 8px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--Skeleton of forms Code-->
    </div>
  </div>
    
        