<div class="influ_list_filter" id="open_filter">
  <div class="display-flex">
    <div class="display-block filter_heading color_4e4e4e text-14 mB15">
      Filter Profiles
    </div>
    <span 
      onclick="infu_filter_close()" 
      class="w-50 text-right filter_close_icon" 
      id="close_filter">
      <i class="material-icons">close</i>
    </span>
  </div>
  <div class="cat_radio pull-left text-left display-inline-block mR10 mB10">
    <div class="display-flex">
      <div class="display-block w-50 color_4e4e4e text-14 mB15">
        Category
      </div>
    </div>
    <div>
      <span>
        <input 
          (click)="updateFilters('category', 'Celeb', 'multiselect')"
          type="checkbox" 
          id="celebrity" 
          class="filter"  
          name="radio">
        <label 
          for="celebrity" 
          class="container">
          Celebrity
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('category', 'A', 'multiselect')"
          type="checkbox" 
          id="a" 
          class="filter"  name="radio">
        <label 
          for="a" 
          class="container">
          A
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('category', 'B', 'multiselect')" 
          type="checkbox" 
          id="b" 
          class="filter" 
          name="radio">
        <label 
          for="b" 
          class="container" >
          B
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('category', 'C', 'multiselect')"
          type="checkbox" 
          class="filter" 
          id="c" 
          name="radio" >
        <label for="c" class="container">C</label>
      </span>
      <span>
        <input 
          (click)="updateFilters('category', 'D', 'multiselect')"
          type="checkbox" 
          id="d" 
          class="filter" 
          name="radio" >
        <label for="d" class="container">D</label>
      </span>
    </div>
  </div>
  <div class="cat_radio pull-left text-left display-inline-block mR10 mB15">
    <div class="display-block color_4e4e4e text-14 mB10">Social</div>
    <div class="fltr_icons">
      <span>
        <input 
          (click)="updateFilters('social', 'twitter', 'multiselect')"
          type="checkbox" 
          id="twitter" 
          class="filter" 
          name="radio" >
        <label 
          for="twitter" 
          class="container">
          <i class="fab fa-twitter"></i>
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('social', 'instagram', 'multiselect')"
          type="checkbox" 
          id="insta" 
          name="radio" 
          class="filter" >
        <label 
          for="insta" 
          class="container">
          <i class="fab fa-instagram"></i>
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('social', 'facebook', 'multiselect')" 
          type="checkbox" 
          id="facebook" 
          name="radio" 
          class="filter" >
        <label 
          for="facebook" 
          class="container">
          <i class="fab fa-facebook-f"></i>
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('social', 'linkedin', 'multiselect')" 
          type="checkbox" 
          id="linkedin" 
          name="radio" 
          class="filter" >
        <label 
          for="linkedin" 
          class="container">
          <i class="fab fa-linkedin-in"></i>
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('social', 'youtube', 'multiselect')" 
          type="checkbox" 
          id="youtube" 
          name="radio" 
          class="filter" >
        <label 
          for="youtube" 
          class="container">
          <i class="fab fa-youtube"></i>
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('social', 'blog', 'multiselect')" 
          type="checkbox" 
          id="blog" 
          name="radio" 
          class="filter" >
        <label 
          for="blog" 
          class="container">
          <i class="fab fa-blogger-b"></i>
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('social', 'snapchat', 'multiselect')" 
          type="checkbox" 
          id="snapchat" 
          name="radio" 
          class="filter" >
        <label 
          for="snapchat" 
          class="container">
          <i class="fab fa-snapchat-ghost"></i>
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('social', 'tiktok', 'multiselect')" 
          type="checkbox" 
          id="tiktok" 
          name="radio" 
          class="filter" >
        <label style="padding-top: 3px !important;"
          for="tiktok" 
          class="container">
          <i class="material-icons text-18">music_note</i>
        </label>
      </span>
    </div>
  </div>
  <div class="cat_radio pull-left text-left display-inline-block mB15">
    <div class="display-block color_4e4e4e text-14 mB10">Gender</div>
    <div class="">
      <span>
        <input 
          (click)="updateFilters('gender', 'male', 'multiselect')" 
          type="checkbox" 
          id="male" 
          name="radio" 
          class="filter" >
        <label 
          for="male" 
          class="container">
          Male
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('gender', 'female', 'multiselect')"
          type="checkbox" 
          id="female" 
          name="radio"  
          class="filter" >
        <label 
          for="female"
          class="container">
          Female
        </label>
      </span>
      <span>
        <input 
          (click)="updateFilters('gender', 'other', 'multiselect')"
          type="checkbox" 
          id="other" 
          name="radio" 
          class="filter" >
        <label 
          for="other" 
          class="container">
          Others
        </label>
      </span>
    </div>
  </div>
  <div class="pull-left infu_reach mR10 mB20">
    <div class="display-block color_4e4e4e text-14 mB10">Reach</div>
    <div>
      <div class="w-100 mT15 mB15">
        <ng5-slider 
          [(value)]="minSliderReach" 
          [(highValue)]="maxSliderReach" 
          (valueChange)="onChangeSlider()" 
          [options]="reachOptions">    
        </ng5-slider>
      </div>
      <div class="w-45 pull-left">
        <input 
          [(ngModel)]="minSliderReach"
          type="number" 
          placeholder="Min">
      </div>
      <div class="text-center w-10 pull-left pT5">-</div>
      <div class="w-45 pull-left">
        <input 
          [(ngModel)]="maxSliderReach" 
          type="number" 
          placeholder="Max">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div>
    <div class="display-block color_4e4e4e text-14 mB10">Genre</div>
    <div 
      matNativeControl 
      class="form-control" 
      class="w-100 pR15 isd_code position-relative">
      <ng-select 
        [items]="generes" 
        [(ngModel)]="selectedGenre"
        bindValue="name" 
        bindLabel="name" 
        placeholder="Search Genre" 
        (change)="updateFilters('genres', $event, 'dropdown')" >
      </ng-select>
      <i 
        *ngIf="selectedGenre" 
        (click)="onClickClearGenre()" 
        class="material-icons genre_clear">
        close
      </i>
    </div>
    <div class="clearfix"></div>
    <div  class="w-100 pT20">
      <div 
        (click)="
          (
            !loading 
            && !csvLoading 
            && influencersLength 
          ) && downloadFilteredProfiles()
        "
        [ngClass]="
          (
            loading 
            || csvLoading 
            || !influencersLength
          ) && 'disabled_excecl_btn'
        "
        class="excel_dwnld_btn">
        <i class="fa fa-file-excel"></i> 
          {{ csvLoading ? "Downloading..." : "Download" }}
      </div>
    </div>    
  </div>
  <div class="mT20" style="border-top: 2px solid #ddd;">
    <div class="color_4e4e4e text-14 pT10 mB10">
      Outdated Profiles
    </div>
    <div class="display-flex mB20">
      <div 
        (click)="updateFilters(
          'outdated_profiles', 
          filters.outdated_profiles 
          ? 0
          : 1, 
          'toggle'
        )" 
        class="outdated_btns {{filters.outdated_profiles && 'outdated_view_btn'}}">
          <i class="material-icons">visibility</i> 
          View
      </div>
      <div 
        (click)="downloadNotUpdatedProfiles()" 
        [ngClass]="
          (
            loading 
            || csvLoading 
            || !influencersLength
          ) && 'disabled_excecl_btn'
        "
        class="outdated_btns">
          <i class="material-icons">file_download</i> 
          Excel
      </div>
    </div>
  </div>
</div>