<!-- Create Organization modal-->
<div>
  <div class="eleve_modal_bg">
    <div class="bg_close_layer"></div>
    <div class="eleve_modal modal_animate_zoom">
      <b class="modal_close" (click)="cancel()"><i class="material-icons">clear</i></b>
      <!--select Organization-->
      <div>

        <div class="modal_header">
          <p class="color_666 text-20 text-left wt500"><i class="material-icons color_eleve text-30">mail_outline</i>
            This email is
            attached to another social profile</p>
        </div>
        <div class="modal_content">
          <p class="color_666 text-16 text-left">
            “This email {{email}} had been used as an invitation email for
            unregistered platform1 @handle/name> and platform2@handle2/name> on a Collaboration Board.
          </p>
          <p class="color_666 text-16 mT20 text-left">
            You can remove the email from there to continue using it as the primary email on this form. Click on
            ‘Cancel’ to close the pop-up and change the email
          </p>
          <div class="w-100 mT50 mB50">
            <div class="w-50 pull-left text-left">
              <div class="btn_sec" (click)="cancel()">
                <div class="btn_sec_inside">
                  <i class="material-icons text-20 mR10">delete_outline</i>
                  Cancel
                </div>
              </div>
            </div>
            <div class="w-50 pull-left text-right">
              <div class="btn_primary" (click)="delink()">
                <div class="btn_primary_inside">
                  <i class="material-icons text-20 mR10">ac_unit</i>
                  Delink the email & use now
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>