<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="right_side pL20per mob_admin_profile">
<div class="bread_crumb w-100 pB20">
  <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
    <span>My Profile</span>
  </p>
</div>
<div class="w-75 pull-left bg_white bRadius5 mR20">
  <div class="adv_view">
    <div class="adv_view_bg">
      <h2>My Profile</h2>
      <div class="w-100 pT25 influ_detail_box">
        <div class="w-70 pull-left">
          <div class="adv_name_img">
            <div class="w-15 pull-left">
              <div class="user_name_img position-relative">
                <img src="{{imageurl || 'assets/images/user.jpg'}}">
                <!-- <p>PK</p> -->
                <div class="image_icon">
                  <i class="fa fa-camera"></i>
                  <input type="file" title = "Select New Image" (change)="onImageChange($event)" id="file" accept="image/*">
                </div>
              </div>
            </div>
            <div class="w-85 pull-left">
              <h3 class="color_white text-20 wt600 text-left mB5 text-cap">{{adminData?.name | slice:0:20}}{{adminData?.name?.length > 20 ? '...' : ''}} {{adminData?.last_name | slice:0:20}}{{adminData?.last_name?.length > 20 ? '...' : ''}}</h3>
              <p class="text-14 color_white text-left noM text-cap">{{adminData?.role | slice:0:5}} {{adminData?.role | slice:5:11}}</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <form *ngIf="!skelLoging" [formGroup]="adminProfileForm" (ngSubmit)="onSubmitProfile(adminProfileForm.value)" #g="ngForm" autocomplete="off">
    <div class="p30" style="padding-top: 15px;">
      <div class="details_box">
        <div class="w-47 pull-left">
          <label class="mB15 text-left">First Name</label>
          <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('first_name').valid && (g.submitted || adminProfileForm.get('first_name').dirty) }" required>
          <div
            *ngIf=
            "
              adminProfileForm.get('first_name').hasError('pattern')
              && (
                adminProfileForm.get('first_name').dirty
                || g.submitted
              )
            "
            class="error-session-message" >
            Numbers, spacial characters & spaces are not allowed
          </div>
          <div
            *ngIf=
            "
              adminProfileForm.get('first_name').hasError('required')
              && (
                adminProfileForm.get('first_name').dirty
                || g.submitted
              )
            "
            class="error-session-message">
            First name is required
          </div>
        </div>
        <div class="w-47 pull-right">
          <label class="mB15 text-left">Last Name</label>
          <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('last_name').valid && (g.submitted || adminProfileForm.get('last_name').dirty) }">
          <div
            *ngIf="
            adminProfileForm.get('last_name').hasError('pattern')
            && (
            adminProfileForm.get('last_name').dirty
            || g.submitted
            )
            "
            class="error-session-message">
            Numbers, spacial characters & spaces are not allowed
         </div>
        </div>
        <div class="clearfix"></div>
        <div class="w-47 pull-left">
          <label class="mB15 text-left">Email</label>
          <input type="text" formControlName="email">
        </div>
        <div class="w-47 pull-right dob position-relative">
          <label class="mB15 text-left">DOB</label>
          <mat-form-field>
            <input formControlName="dob" matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <div class="w-47 pull-left">
          <label class="mB15 text-left">Mobile</label>
          <div class="w-100 isd_feild">
            <div class="w-25 pull-left isd_code">
              <mat-form-field>
                <input matInput [value]="mobile_code" class="form-control" *ngIf="!showSelect" (click)="showSelectOption()" placeholder="ISD" />
                <mat-select matNativeControl *ngIf="showSelect" formControlName="isd_code" [(value)]="selected" placeholder="ISD" style="border-right:1px solid #949494" (selectionChange)="onFirstThingSelect($event)" (keydown)="onNoChangeSelect($event)" (openedChange)="openedChange($event)">
                <mat-option *ngFor="let optionlist of isdlist" [value]="optionlist.dial_code">
                {{optionlist.dial_code}} - {{optionlist.name}}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="w-75 pull-right">
              <input type="text" placeholder="Mobile Number" formControlName="mobile" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('mobile').valid && (g.submitted || adminProfileForm.get('mobile').dirty) }" maxlength="15">
              <div class="error-session-message" *ngIf="!adminProfileForm.get('mobile').hasError('pattern') && adminProfileForm.get('mobile').hasError('minlength') && (adminProfileForm.get('mobile').dirty || g.submitted)">
                Enter a valid mobile number
              </div>
              <div class="error-session-message" *ngIf="!adminProfileForm.get('mobile').hasError('pattern') && adminProfileForm.get('mobile').hasError('maxlength') && (adminProfileForm.get('mobile').dirty || g.submitted)">
                Enter a valid mobile number
              </div>
              <div class="error-session-message" *ngIf="adminProfileForm.get('mobile').hasError('pattern') && (adminProfileForm.get('mobile').dirty || g.submitted)">
                Enter a valid mobile number
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="w-47 pull-right">
          <label class="mB15 text-left">Office Extension</label>
          <input type="text" placeholder="Office Extension" formControlName="phone_ext" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('phone_ext').valid && (g.submitted || adminProfileForm.get('phone_ext').dirty) }">
          <div class="error-session-message" *ngIf="adminProfileForm.get('phone_ext').hasError('pattern') && (adminProfileForm.get('phone_ext').dirty || g.submitted)">
            Only numbers are allowed
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="w-47 pull-left">
          <label class="mB15 text-left">Team</label>
          <input type="team" formControlName="team" class="form-control" *ngIf="adminData.role != 'superadmin'">
          <select formControlName="department" class="form-control" *ngIf="adminData.role == 'superadmin'">
            <option disabled label="Choose Team"></option>
            <option value="Client Servicing">Client Servicing</option>
            <option value="Content Writing">Content Writing</option>
            <option value="Finance">Finance</option>
            <option value="HR">HR</option>
            <option value="Management">Management</option>
            <option value="Marketing">Marketing</option>
            <option value="Operations">Operations</option>
            <option value="Performance">Performance</option>
            <option value="Sales & Business Development">Sales & Business Development</option>
            <option value="Strategy">Strategy</option>
            <option value="Technology">Technology</option>
          </select>
        </div>
        <div class="w-47 pull-right">
          <label class="mB15 text-left">Location</label>
          <select formControlName="location" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('location').valid && (g.submitted || adminProfileForm.get('location').dirty) }">
            <option disabled label="Choose Location"></option>
            <option value="Gurgaon, India">Gurgaon, India</option>
            <option value="Jakarta, Indonesia">Jakarta, Indonesia</option>
            <option value="Dubai, UAE">Dubai, UAE</option>
          </select>
          <div class="error-session-message" *ngIf="adminProfileForm.get('location').hasError('required') && (adminProfileForm.get('location').hasError('required')) && g.submitted">
            Select office location
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="w-100 mT30 mB50">
          <div class="w-60 pull-left text-left">
            <div class="btn_sec">
              <div (click)="openPasswordMdal()" class="btn_sec_inside">Change Password</div>
            </div>
          </div>
          <div class="w-40 pull-right text-right">
            <div class="btn_primary">
              <button>Save</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    </form>
    <!--Skeleton of forms Code-->
    <ul *ngIf="skelLoging" class="o-vertical-spacing o-vertical-spacing--l clearfix">
      <li *ngFor="let skel of [1, 2, 3]" class="blog-post list_box_sklt">
          <div class="o-media mB20">
              <div class="o-media w-50">
                  <div class="o-media__body">
                      <div class="o-vertical-spacing">
                          <div class="blog-post__meta">
                              <span class="skeleton-box" style="width:30%;"></span>
                          </div>
                          <div class="blog-post__meta mT5">
                              <span class="skeleton-box" style="width:80%; height: 25px; border-radius: 8px;"></span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="o-media w-50">
                  <div class="o-media__body">
                      <div class="o-vertical-spacing">
                          <div class="blog-post__meta">
                              <span class="skeleton-box" style="width:30%;"></span>
                          </div>
                          <div class="blog-post__meta mT5">
                              <span class="skeleton-box" style="width:80%; height: 25px; border-radius: 8px;"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="o-media">
              <div class="o-media w-50">
                  <div class="o-media__body">
                      <div class="o-vertical-spacing">
                          <div class="blog-post__meta">
                              <span class="skeleton-box" style="width:30%;"></span>
                          </div>
                          <div class="blog-post__meta mT5">
                              <span class="skeleton-box" style="width:80%; height: 25px; border-radius: 8px;"></span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="o-media w-50">
                  <div class="o-media__body">
                      <div class="o-vertical-spacing">
                          <div class="blog-post__meta">
                              <span class="skeleton-box" style="width:30%;"></span>
                          </div>
                          <div class="blog-post__meta mT5">
                              <span class="skeleton-box" style="width:80%; height: 25px; border-radius: 8px;"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </li>
    </ul>
  <!--Skeleton of forms Code-->
  </div>
  <div class="clearfix"></div>
</div>
<!-- Edit admin Modal-->
<div class="eleve_modal_bg" style="display: none">
  <div class="bg_close_layer"></div>
  <div class="eleve_modal modal_animate_zoom" style="margin-top: 50px; height: 550px; overflow: auto;">
    <b class="modal_close"><i class="material-icons color_white">clear</i></b>
    <div class="adv_view">
      <div class="adv_view_bg">
        <h2>Edit Admin Profile</h2>
        <div class="w-80 pT80">
          <div class="adv_name_img">
            <div class="w-35 pull-left">
              <div class="user_name_img">
                <img src="assets/images/user.jpg">
                <!-- <p>PK</p> -->
              </div>
            </div>
            <div class="w-50 pull-left pT10">
              <h3 class="color_white text-20 wt600 text-left mB5 text-cap">Prince Khanna</h3>
              <p class="text-14 color_white text-left noM text-cap">Admin</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="p30 mT20">
        <div class="details_box">
          <div class="w-47 pull-left">
            <label class="mB15 text-left">First Name</label>
            <input type="text" placeholder="First Name">
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">Last Name</label>
            <input type="text" placeholder="Last Name">
          </div>
          <div class="clearfix"></div>
          <div class="w-47 pull-left">
            <label class="mB15 text-left">Email</label>
            <input type="text" placeholder="Email">
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">DOB</label>
            <input type="text" placeholder="Select">
          </div>
          <div class="clearfix"></div>
          <div class="w-47 pull-left">
            <label class="mB15 text-left">Mobile</label>
            <div class="w-100 isd_feild">
              <div class="w-25 pull-left isd_code position-relative">
                <button mat-button [matMenuTriggerFor]="isd3">ISD <i
                  class="material-icons text-20">arrow_drop_down</i></button>
                <mat-menu #isd3="matMenu">
                  <button mat-menu-item>+91 - India</button>
                  <button mat-menu-item>+92 - USA</button>
                </mat-menu>
              </div>
              <div class="w-75 pull-right">
                <input type="text" placeholder="Mobile Number">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">Office Extension</label>
            <input type="text" placeholder="Office Extension">
          </div>
          <div class="clearfix"></div>
          <div class="w-47 pull-left">
            <label class="mB15 text-left">Team</label>
            <select>
              <option disabled label="Choose Team"></option>
              <option value="">Ram lal</option>
              <option value="">Kanti Devi</option>
              <option value="">Ramu Kaka</option>
            </select>
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">Location</label>
            <select>
              <option disabled label="Choose Location"></option>
              <option value="">Ram lal</option>
              <option value="">Kanti Devi</option>
              <option value="">Ramu Kaka</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-100 mT30">
          <div class="w-60 pull-left text-left">
            <div class="btn_sec">
              <div class="btn_sec_inside">Change Password</div>
            </div>
          </div>
          <div class="w-40 pull-right text-right">
            <div class="btn_primary">
              <button>Save</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit admin Modal-->
<!-- Change Password Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_password_model ? 'block' : 'none' }">
  <div class="bg_close_layer" (click)="closePasswordModal()"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="closePasswordModal()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <form [formGroup]="adminChangePasswordForm" (ngSubmit)="onSubmitPassword(adminChangePasswordForm.value)" #pf="ngForm" autocomplete="off">
      <div class="modal_header">
        <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Change Password</p>
      </div>
      <div class="modal_content create_admin">
        <div class="details_box">
          <div class="w-48 pull-left">
            <label class="text-left text-14 mB10">Current Password</label>
            <input placeholder="Current Password" type="password" formControlName="current_password" class="form-control" [ngClass]="{ 'has-error' : !adminChangePasswordForm.get('current_password').valid && (pf.submitted || adminChangePasswordForm.get('current_password').dirty) }"
              required maxlength="16">
            <div class="error-session-message" *ngIf="adminChangePasswordForm.get('current_password').hasError('required') && (adminChangePasswordForm.get('current_password').hasError('required')) && pf.submitted">
              Enter current password
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-48 pull-left">
            <label class="text-left text-14 mB10">New Password</label>
            <input type="password" placeholder="New Password" formControlName="new_password" class="form-control" [ngClass]="{ 'has-error' : !adminChangePasswordForm.get('new_password').valid && (pf.submitted || adminChangePasswordForm.get('new_password').dirty) }"
              required maxlength="16">
            <div class="error-session-message" *ngIf="adminChangePasswordForm.get('new_password').hasError('required') && (adminChangePasswordForm.get('new_password').hasError('required')) && pf.submitted">
              Enter new password
            </div>
            <div class="error-session-message" *ngIf="adminChangePasswordForm.value.new_password && adminChangePasswordForm.value.current_password == adminChangePasswordForm.value.new_password && !(adminChangePasswordForm.get('current_password').hasError('required'))  && (adminChangePasswordForm.get('new_password').dirty || pf.submitted)">
              Current & new password cannot match
            </div>
            <div class="error-session-message" *ngIf="adminChangePasswordForm.get('new_password').hasError('minlength') && (adminChangePasswordForm.get('new_password').dirty || pf.submitted)">
              Provide minimum 8 characters
            </div>
          </div>
          <div class="w-48 pull-right">
            <label class="text-left text-14 mB10">Re-type Password</label>
            <input type="password" placeholder="Re-type Password" formControlName="re_password" class="form-control" [ngClass]="{ 'has-error' : !adminChangePasswordForm.get('re_password').valid && (pf.submitted || adminChangePasswordForm.get('re_password').dirty) }"
              required maxlength="16">
            <div class="error-session-message" *ngIf="adminChangePasswordForm.get('re_password').hasError('required') && (adminChangePasswordForm.get('re_password').hasError('required')) && pf.submitted">
             Re-enter new password
            </div>
            <div class="error-session-message" *ngIf="adminChangePasswordForm.value.re_password && adminChangePasswordForm.value.new_password != adminChangePasswordForm.value.re_password && !(adminChangePasswordForm.get('new_password').hasError('required'))  && (adminChangePasswordForm.get('re_password').dirty || pf.submitted)">
              New passwords must match
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-100 mT10">
            <div class="w-50 pull-left text-left">
              <div class="btn_sec">
                <div (click)="closePasswordModal()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
              </div>
            </div>
            <div class="w-50 pull-right text-right">
              <div class="btn_primary">
                <button><i class="material-icons text-18 mR10">save</i>Save</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Change Password Modal-->