<div *ngIf="influencersList.length">
  <div *ngFor="let influencer of influencersList" class="advertiser_list_box influ_list_click">
    <a routerLink="/influencer/{{influencer._id}}/detail/" class="full_click_list"></a>
    <div class="w-40 pull-left">
      <div class="w-25 pull-left">
        <div class="user_name_img">
          <img 
            *ngIf="
              influencer && influencer.profile_pic != null 
              && influencer.profile_pic != '' 
              && influencer.profile_pic 
              != undefined
            " 
            [src]="influencer.profile_pic">
          <p 
            *ngIf="
              influencer.profile_pic == null 
              || influencer.profile_pic == '' 
              || influencer.profile_pic == undefined
            ">
            {{ influencer?.first_name[0]?.toUpperCase() }}{{ influencer?.last_name[0]?.toUpperCase() }}
          </p>
          <img 
            *ngIf="influencer.first_name == '' 
            && influencer.profile_pic == ''" 
            [src]="assets/images/user.jpg" >
        </div>
        <p 
          class="text-12 color_eleve wt600">
          {{ influencer.percentage }}% Complete
        </p>
      </div>
      <div class="w-75 pull-right pL15">
        <p 
          class="text-left text-16 color_4e4e4e mB5 wt400">
          {{ influencer?.first_name }} 
          {{ influencer?.last_name }}
        </p>
        <p 
          class="text-left text-14 color_7f7f7f mB5 display-flex" 
          style="text-transform: none;">
          <i class="material-icons color_4e4e4e text-18 mR5">mail</i>
          {{ influencer.email }}
        </p>
        <div *ngIf="hasValue(influencer.mobile)">
          <p
            class="text-left text-14 color_7f7f7f mB5 display-flex">
            <i class="material-icons color_4e4e4e text-18">phone</i> 
            {{ influencer.isd_code }} 
            <span *ngIf="hasValue(influencer.isd_code)">
              -
            </span>
            {{ influencer.mobile }}
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="w-15 pull-left pL10 infu_country">
      <p class="text-left text-14 color_4e4e4e mB10">
        {{ influencer.state }}<span>,</span>
      </p>
      <p class="text-left text-14 color_4e4e4e wt500">
        {{ influencer.country }}
      </p>
    </div>
    <div class="w-35 pull-left icons_wd">
      <p 
        *ngFor="let facebook of influencer.facebook" 
        class="text-14 color_4e4e4e mB10 display-flex">
        <span class="w20px mR5">
          <i class="fab fa-facebook-f facebook_color"></i>
        </span>
        <span class="wt500">
        <span>
          {{ facebook?.Elv_social || facebook?.name }}
        </span> 
        <span *ngIf="formatFollowersCount(facebook.followers_count) !== ''">
          -
          <span>
            {{formatFollowersCount(facebook.followers_count)}}
          </span>
        </span>
        <span *ngIf="hasValue(facebook.engagement_rate)">
          - {{ formatER(facebook.engagement_rate) }}%
        </span>
        </span>
        <span class="display-block clearfix"></span>
      </p>
      <p 
        *ngFor="let twitter of influencer.twitter" 
        class="text-14 color_4e4e4e mB10 display-flex">
        <span class="w20px mR5">
          <i class="fab fa-twitter twitter_color"></i>
        </span>
        <span class="wt500">
          <span>{{ twitter?.Elv_social || twitter?.name }}</span> 
          <span *ngIf="formatFollowersCount(twitter.followers_count) !== ''">
            -
            <span>
              {{formatFollowersCount(twitter.followers_count)}}
            </span>
          </span>
          <span *ngIf="hasValue(twitter.engagement_rate)">
            - {{ formatER(twitter.engagement_rate) }}%
          </span>
        </span>
        <span class="display-block clearfix"></span>
      </p>
      <p *ngFor="let instagram of influencer.instagram" class="text-14 color_4e4e4e mB10 display-flex">
        <span class="w20px mR5">
        <i class="fab fa-instagram instagram_color"></i>
        </span>
        <span class="wt500">
          <span>{{ instagram?.Elv_social || instagram?.name }}</span> 
          <span *ngIf="formatFollowersCount(instagram.followers_count) !== ''">
            -
            <span>
              {{formatFollowersCount(instagram.followers_count)}}
            </span>
          </span>
          <span *ngIf="hasValue(instagram.engagement_rate)">
            - {{ formatER(instagram.engagement_rate) }}%
          </span>
        </span>
        <span class="display-block clearfix"></span>
      </p>
      <p 
        *ngFor="let linkedin of influencer.linkedin" 
        class="text-14 color_4e4e4e mB10 display-flex">
        <span class="w20px mR5">
          <i class="fab fa-linkedin linkedin_color"></i>
        </span>
        <span class="wt500">
          <span>{{ linkedin?.Elv_social || linkedin?.name }}</span> 
          <span *ngIf="formatFollowersCount(linkedin.followers_count) !== ''">
            -
            <span>
              {{formatFollowersCount(linkedin.followers_count)}}
            </span>
          </span>
          <span *ngIf="hasValue(linkedin.engagement_rate)">
            - {{ formatER(linkedin.engagement_rate) }}%
          </span>
        </span>
        <span class="display-block clearfix"></span>
      </p>
      <p *ngFor="let youtube of influencer.youtube" class="text-14 color_4e4e4e mB10 display-flex">
        <span class="w20px mR5">
        <i class="fab fa-youtube youtube_color"></i>
        </span>
        <span class="wt500">
        <span>{{ youtube?.Elv_social || youtube?.name }}</span> 
        <span *ngIf="formatFollowersCount(youtube.followers_count) !== ''">
          -
          <span>
            {{formatFollowersCount(youtube.followers_count)}}
          </span>
        </span>
        <span *ngIf="hasValue(youtube.engagement_rate)">
          - {{ formatER(youtube.engagement_rate) }}%
        </span>
        </span>
        <span class="display-block clearfix"></span>
      </p>
      <p *ngFor="let blog of influencer.blog" class="text-14 color_4e4e4e mB10 display-flex">
        <span class="w20px mR5">
        <i class="fab fa-blogger-b blog_color"></i>
        </span>
        <span class="wt500">
          <span>{{ blog?.Elv_social || blog?.name }}</span>
          <span *ngIf="formatFollowersCount(blog.followers_count) !== ''">
            -
            <span>
              {{formatFollowersCount(blog.followers_count)}}
            </span>
          </span> 
          <span *ngIf="hasValue(blog.engagement_rate)">
            - {{ formatER(blog.engagement_rate) }}%
          </span>        
        </span>
        <span class="display-block clearfix"></span>
      </p>
      <p *ngFor="let tiktok of influencer.tiktok" class="text-14 color_4e4e4e mB10 display-flex">
        <span class="w20px mR5">
        <i class="material-icons text-18 tiktok_color">music_note</i>
        </span>
        <span class="wt500">
          <span>{{ tiktok?.Elv_social || tiktok?.name }}</span>
          <span *ngIf="formatFollowersCount(tiktok.followers_count) !== ''">
            -
            <span>
              {{formatFollowersCount(tiktok.followers_count)}}
            </span>
          </span>  
          <span *ngIf="hasValue(tiktok.engagement_rate)">
            - {{ formatER(tiktok.engagement_rate) }}%
          </span>        
        </span>
        <span class="display-block clearfix"></span>
      </p>
      <p *ngFor="let snapchat of influencer.snapchat" class="text-14 color_4e4e4e mB10 display-flex">
        <span class="w20px mR5">
        <i class="fab fa-snapchat-ghost snapchat_color"></i>
        </span>
        <span class="wt500">
          <span>{{ snapchat?.Elv_social || snapchat?.name }}</span>
          <span *ngIf="formatFollowersCount(snapchat.followers_count) !== ''">
            -
            <span>
              {{formatFollowersCount(snapchat.followers_count)}}
            </span>
          </span>  
          <span *ngIf="hasValue(snapchat.engagement_rate)">
            - {{ formatER(snapchat.engagement_rate) }}%
          </span>  
        </span>
        <span class="display-block clearfix"></span>
      </p>
      <p>&nbsp;</p>
    </div>
    <div 
      class="w-10 pull-left active_drop_btn {{ influencer.status != '1' && 'inactive_drop_btn'}}">
      <div>
        <select 
          (change)="onChangeInfluencerStatus($event, influencer)">
          <option
            *ngFor="let status of influencerStatusArray"
            [selected]="influencer.status == status.value"
            [disabled]="influencer.status == status.value"
            value="{{status.value}}">
            {{ status.label.toLowerCase() | capitalizeFirstLetter }}
          </option>
        </select>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<ul 
  *ngIf="loading" 
  class="o-vertical-spacing o-vertical-spacing--l">
  <li *ngFor="let ele of [1, 2, 3, 4]" class="blog-post o-media list_box_sklt">
    <div class="o-media__figure">
      <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
    </div>
    <div class="o-media__body">
      <div class="o-vertical-spacing">
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:56%;"></span>
        </div>
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:47%;"></span>
        </div>
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:52%;"></span>
        </div>
      </div>
    </div>
  </li>
</ul>


<div *ngIf="!loading && !influencersList.length">
  <div 
    class="influ_empty text-center">
    <img src="{{ifFiltersActive ? 'assets/images/influ_empty.jpg': 'assets/images/camp_list_empty.png'}}">
    <p class="text-16 text-center wt600 color_333 mT10 mB20">
      <span *ngIf="ifFiltersActive">
        Your query has 0 matching results!
      </span>
      <span *ngIf="!ifFiltersActive">
        There are no {{ currentPageKey.toLowerCase() }} influencers
      </span>
    </p>
    <p *ngIf="ifFiltersActive" class="text-16 text-center color_666 mB40">
      Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms
    </p>
    <div *ngIf="!ifFiltersActive">
      <!--Active-->
      <p 
        *ngIf="currentPageKey === 'active'"
        class="text-14 color_666 mB20">
        Click on the 'NEW' button on the top right corner to create a new influencer profile. Influencers who are created by admin appear here. Influencers who register on user.eleveglobal.com, when activated, appear here.
      </p>
      <!--Active-->

      <!--Inactive-->
      <p 
        *ngIf="currentPageKey === 'inActive'"
        class="text-14 color_666 mB20">
        Influencers who are deactivated by the admin or those who register on user.eleveglobal.com appear here. Inactive influencers are not invited for campaigns & other activities.
      </p>
      <!--Inactive-->

      <!--Barred-->
      <p 
        *ngIf="currentPageKey === 'barred'"
        class="text-14 color_666 mB20">
        Influencers who are barred/ blocked by the admin appear here. A barred influencer cannot access his account on influencer panel (user.eleveglobal.com)
      </p>
    </div>
  </div>  
</div>