<!--right side-->
<div class="right_side pL20per">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
      <span>Admin</span>
    </p>
  </div>
  <div class="bg_white p20 admin_list_box">
    <div class="w-100">
      <div class="w-50 pull-left text-left mB30">
        <div class="manage_adv_search display-inline-block">
          <h2>Manage Admin</h2>
        </div>
      </div>
      <div class="w-50 pull-right text-right">
        <div class="btn_sec">
          <div (click)="openCreateAdminModal()" class="btn_sec_inside" ><i class="material-icons">add_circle</i> Create Admin
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="position-relative text-right admin_search">
      <div class="display-inline-block position-relative list_search">
        <i
          (click)="refreshAllFilter(true)"
          class="material-icons display-inline-block text-26 color_4e4e4e cursor-pointer mR10">
          refresh
        </i>
        <div class="manage_adv_search_input text-left">
          <input
            [(ngModel)]="searchDataValue"
            (keyup)="onChangeSearchInput($event)"
            type="text"
            placeholder="Try name">
          <i
            *ngIf="!searchDataValue"
            class="material-icons cursor-pointer text-26"
            style="color: #d5d5d5;">
            search
          </i>
          <i
            *ngIf="searchDataValue"
            (click)="clearSearchInput()"
            class="material-icons">
            close
          </i>
        </div>
      </div>
    </div>
    <div class="admin_list">
      <div *ngIf="showFilters" class="list_header">
        <div class="w-20 pull-left">Detail</div>
        <div class="w-20 pull-left">Contact</div>
        <div class="w-20 pull-left">
          <button mat-button [matMenuTriggerFor]="location">
            <span
              class="desktop_show">
              {{
                filters.loc === ''
                ? 'Location'
                : filters.loc.split(' ')[1]
              }}
              <i class="material-icons">arrow_drop_down</i></span></button>
          <mat-menu #location="matMenu">
            <button
              (click)="onChangeFilter('', 'loc')"
              mat-menu-item>All
            </button>
            <button
              (click)="onChangeFilter('Gurgaon, India', 'loc')"
              mat-menu-item>
              India
            </button>
            <button
              (click)="onChangeFilter('Jakarta, Indonesia', 'loc')"
              mat-menu-item>
              Indonesia
            </button>
            <button
              (click)="onChangeFilter('Dubai, UAE', 'loc')"
              mat-menu-item>
              Dubai
            </button>
          </mat-menu>
        </div>
        <!-- <div class="w-10 pull-left">Modules</div> -->
        <div class="w-15 pull-left">
          <button
            mat-button
            [matMenuTriggerFor]="status">
            <span class="desktop_show">
              {{
                filters.filter === ''
                ? 'Status'
                : filters.filter == '1'
                ? 'Active'
                : 'Inactive'
              }}
              <i
                class="material-icons">
                arrow_drop_down
              </i>
            </span>
          </button>
          <mat-menu #status="matMenu">
            <button
              (click)="onChangeFilter('', 'filter')"
              mat-menu-item >
              All
            </button>
            <button
              (click)="onChangeFilter('1', 'filter')"
              mat-menu-item >
              Active
            </button>
            <button
              (click)="onChangeFilter('0', 'filter')"
              mat-menu-item >
              Inactive
            </button>
          </mat-menu>
        </div>
        <div class="w-10 pull-left">Actions</div>
        <div class="clearfix"></div>
      </div>
      <div class="search-results">

        <!-- No Filtered Data Screen -->
        <div
          *ngIf="!loading && !managelistData.length && ifFiltersActive()"
            class="influ_empty text-center">
          <img src="assets/images/influ_empty.jpg">
          <p
            class="text-16 text-center wt600 color_333 mT10 mB20">
            Your query has 0 matching results!
          </p>
          <p
            class="text-16 text-center color_666 mB40">
            Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms
          </p>
        </div>
        <!-- No Filtered Data Screen -->

        <!-- No Data Screen -->
        <div
          *ngIf="!loading && !managelistData.length && !ifFiltersActive()"
          class="camp_list_empty">
          <img src="assets/images/camp_list_empty.png">
          <p
            class="text-16 color_333 mB20 wt600">
            Lorem Ipsum is simply dummy
          </p>
          <p
            class="text-14 color_666 mB20">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          </p>
        </div>
        <!-- No Data Screen -->

      <div *ngFor="let adminlist of managelistData" class="advertiser_list_box">
        <div class="w-20 pull-left">
          <div class="w-30 pull-left">
            <div class="user_name_img">
              <img
                *ngIf="adminlist?.profile_image"
                src="{{adminlist?.profile_image}}">
              <p
                *ngIf="!adminlist?.profile_image && adminlist?.name && adminlist?.last_name" >
                {{ adminlist?.name[0].toUpperCase() }}{{ adminlist?.last_name[0].toUpperCase() }}
              </p>
              <p
                *ngIf="!adminlist?.profile_image && adminlist?.name && !adminlist?.last_name">
                {{adminlist?.name[0].toUpperCase() }}
              </p>
            </div>
          </div>
          <div class="w-70 pull-right pL15">
            <p
              *ngIf="adminlist?.name && !adminlist?.last_name"
              class="text-left text-14 color_4e4e4e mB5 wt600 text-cap" >
              {{adminlist?.name | slice:0:20}}{{adminlist?.name.length > 20 ? '...': ''}}
            </p>
            <p
              *ngIf="adminlist?.name && adminlist?.last_name"
              class="text-left text-14 color_4e4e4e mB5 wt600 text-cap">
              {{adminlist?.name | slice:0:20}}
              {{adminlist?.name.length > 20 ? '...': ''}}
              {{adminlist?.last_name | slice:0:20}}
              {{adminlist?.last_name.length > 20 ? '...': ''}}
            </p>
            <p
              *ngIf="adminlist?.role != 'superadmin'"
              class="text-left text-14 color_7f7f7f mB5 text-cap">
              {{adminlist?.role}}
            </p>
            <p
              *ngIf="adminlist?.role != 'admin'"
              class="text-left text-14 color_7f7f7f mB5">
              {{adminlist?.role | slice:0:5}} {{adminlist?.role | slice:5:11}}
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-20 pull-left">
          <p class="text-left text-14 color_eleve mB10 email_text">
            {{adminlist?.email}}
          </p>
          <p class="text-left text-14 color_4e4e4e">
            {{adminlist?.isd}}-{{adminlist?.mobile}}
          </p>
        </div>
        <div class="w-20 pull-left">
          <p class="text-left text-14 color_4e4e4e">
            {{adminlist?.location}} &nbsp;
          </p>
        </div>
        <!-- <div class="w-10 pull-left module_btn">
          <span class="mod_all">All</span>
        </div> -->
        <div *ngIf="adminlist?.role != 'superadmin'  || (authAdminData?.role_permission && authAdminData?.role_permission === 'it_admin')"
          [ngClass]=
            "
              (adminlist.status=='1')
              ? 'w-15 pull-left active_drop_btn'
              : 'w-15 pull-left active_drop_btn inactive_drop_btn'
            " >
        <div>
          <select
            (change)="adminStatus($event, adminlist.admin_id)"
            value={{adminlist.status}}>
            <option disabled>Status</option>
            <option [disabled]="adminlist.status != 0" value="1" >Active</option>
            <option [disabled]="adminlist.status != 1" value="0" >Inactive</option>
          </select>
        </div>
      </div>
      <div
        *ngIf="adminlist?.role != 'admin' && (!authAdminData?.role_permission && authAdminData?.role_permission !== 'it_admin')"
        class="w-15 pull-left active_drop_btn">
        <p
          *ngIf="adminlist?.status == '1'"
          class="text-left text-14 super_admin_btn">
          Active
        </p>
        <p
          *ngIf="adminlist?.status == '0'"
          class="text-left text-14 super_admin_btn">
          Inactive
        </p>
      </div>
      <div
        *ngIf="adminlist?.role != 'superadmin' || (authAdminData?.role_permission && authAdminData?.role_permission === 'it_admin')"
        (click)="openeditModal(adminlist)"
        class="w-8 pull-left admin_list_edit" >
      <a mat-stroked-button routerLink=".">Edit</a>
    </div>
    <div
        *ngIf="adminlist?.role != 'superadmin'  || (authAdminData?.role_permission && authAdminData?.role_permission === 'it_admin')"
        (click)="openResetPasswordModal(adminlist)"
        class="w-15 pull-left admin_list_edit" >
      <a mat-stroked-button routerLink=".">Reset Password</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <ul
    *ngIf="loading"
    class="o-vertical-spacing o-vertical-spacing--l">
    <li *ngFor="let ele of emptyLoadingArray" class="blog-post o-media list_box_sklt">
      <div class="o-media__figure">
        <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
      </div>
      <div class="o-media__body">
        <div class="o-vertical-spacing">
          <div class="blog-post__meta">
            <span class="skeleton-box" style="width:56%;"></span>
          </div>
          <div class="blog-post__meta">
            <span class="skeleton-box" style="width:47%;"></span>
          </div>
          <div class="blog-post__meta">
            <span class="skeleton-box" style="width:52%;"></span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
</div>
</div>
<!--right side-->

<!-- Edit admin Modal-->
<div
  [ngStyle]="{'display':show_edit_model ? 'block' : 'none' }"
  class="eleve_modal_bg" >
  <div (click)="closeeditModal()" class="bg_close_layer" ></div>
  <div class="eleve_modal modal_animate_zoom" style="margin-top: 50px;">
    <b
      (click)="closeeditModal()"
      class="modal_close" >
      <i class="material-icons color_white">clear</i>
    </b>
    <div class="adv_view">
      <div class="adv_view_bg">
        <h2>Edit Profile</h2>
        <div class="w-100 pT20">
          <div class="w-70 pull-left">
            <div class="adv_name_img">
              <div class="w-25 pull-left">
                <div class="user_name_img position-relative">
                  <img src="{{ imageurl }}">
                  <div class="image_icon">
                    <i class="fa fa-camera"></i>
                    <input
                      (change)="onImageChange($event,adminData?.admin_id)"
                      type="file"
                      id="file"
                      title="Select New Image"
                      accept="image/*" >
                  </div>
                </div>
              </div>
              <div
                class="w-70 pull-left pT10">
                <h3
                  *ngIf="adminData?.name && adminData?.last_name"
                  class="color_white text-20 wt600 text-left text-cap">
                    {{adminData?.name | slice:0:20}}
                    {{adminData?.name.length > 20 ?'...': ''}}
                    {{adminData?.last_name | slice:0:20}}
                    {{adminData?.last_name.length > 20 ?'...': ''}}
                </h3>
                <h3
                  *ngIf="adminData?.name && !adminData?.last_name"
                  class="color_white text-20 wt600 text-left text-cap">
                    {{adminData?.name | slice:0:20}}
                    {{adminData?.name.length > 20 ?'...': ''}}
                </h3>
                <p class="text-14 color_white text-left noM text-cap">
                  {{adminData?.role}}
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <form
        [formGroup]="adminProfileForm"
        (ngSubmit)="onSubmitProfile(adminProfileForm.value)"
        #g="ngForm"
        autocomplete="off" >
      <div class="p30" style="width: 100%; padding-top: 10px; height: 400px; overflow: auto;">
        <div class="details_box" style="margin-top:0px">
          <input type="hidden" formControlName="hidden_user_id">
          <div class="w-47 pull-left">
            <label class="mB15 text-left">First Name</label>
            <input
              type="text"
              formControlName="first_name" placeholder="First Name"
              class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('first_name').valid && (g.submitted || adminProfileForm.get('first_name').dirty) }" required>
            <div class="error-session-message" *ngIf="adminProfileForm.get('first_name').hasError('required') && (adminProfileForm.get('first_name').hasError('required')) && g.submitted">
              Please enter First name.
            </div>
            <div
            *ngIf=
            "
              adminProfileForm.get('first_name').hasError('pattern')
              && (
                adminProfileForm.get('first_name').dirty
                || g.submitted
              )
            "
            class="error-session-message">
            Numbers and spacial characters are not allowed.
          </div>
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">Last Name</label>
            <input type="text" formControlName="last_name" placeholder="Last Name" class="form-control">
            <div
            *ngIf=
            "
              adminProfileForm.get('last_name').hasError('pattern')
              && (
                adminProfileForm.get('last_name').dirty
                || g.submitted
              )
            "
            class="error-session-message">
            Numbers and spacial characters are not allowed.
          </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-47 pull-left">
            <label class="mB15 text-left">Email</label>
            <input type="text" formControlName="email">
          </div>
          <div class="w-47 pull-right dob position-relative">
            <label class="mB15 text-left">DOB</label>
            <!-- <input type="text" formControlName="dob"> -->
            <mat-form-field>
              <input
                formControlName="dob"
                matInput
                [max]="maxDate"
                [min]="minDate"
                [matDatepicker]="picker"
                placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="clearfix"></div>
          <div class="w-47 pull-left">
            <label class="mB15 text-left">Mobile</label>
            <div class="w-100 isd_feild">
              <div class="w-40 pull-left isd_code">
                <mat-form-field>
                  <input matInput [value]="mobile_code" class="form-control" *ngIf="!showSelect" (click)="showSelectOption()" placeholder="ISD" />
                  <mat-select matNativeControl *ngIf="showSelect" formControlName="isd_code" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('isd_code').valid && (g.submitted || adminProfileForm.get('isd_code').dirty) }" placeholder="ISD" (selectionChange)="onFirstThingSelect($event)"
                  (keydown)="onNoChangeSelect($event)" (openedChange)="openedChange($event)" required>
                  <mat-option *ngFor="let optionlist of isdlist" [value]="optionlist.dial_code">
                  {{optionlist.dial_code}} - {{optionlist.name}}
                  </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="w-60 pull-right">
                <input type="text" placeholder="Mobile Number" formControlName="mobile" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('mobile').valid && (g.submitted || adminProfileForm.get('mobile').dirty) }" maxlength="14">
                <div class="error-session-message" *ngIf="adminProfileForm.get('mobile').hasError('required') && (adminProfileForm.get('mobile').hasError('required')) && g.submitted">
                  Please enter mobile.
                </div>
                <div
                  *ngIf="
                    adminProfileForm.get('mobile').hasError('pattern')
                    && (
                      adminProfileForm.get('mobile').dirty
                      || g.submitted
                    )
                  "
                  class="error-session-message" >
                  Only numbers are allowed.
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">Office Extension</label>
            <input type="text" placeholder="Office Extension" formControlName="phone_ext" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('phone_ext').valid && (g.submitted || adminProfileForm.get('phone_ext').dirty) }" >
            <div class="error-session-message" *ngIf="adminProfileForm.get('phone_ext').hasError('pattern') && (adminProfileForm.get('phone_ext').dirty || g.submitted)">
            Only numbers are allowed.
          </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-47 pull-left">
            <label class="mB15 text-left">Team</label>

            <input type="team" formControlName="team" class="form-control">
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">Location</label>
            <select formControlName="location" class="form-control" [ngClass]="{ 'has-error' : !adminProfileForm.get('location').valid && (g.submitted || adminProfileForm.get('location').dirty) }">
              <option disabled label="Choose Location"></option>
              <option value="Gurgaon, India">Gurgaon, India</option>
              <option value="Jakarta, Indonesia">Jakarta, Indonesia</option>
              <option value="Dubai, UAE">Dubai, UAE</option>
            </select>
            <div class="error-session-message" *ngIf="adminProfileForm.get('location').hasError('required') && (adminProfileForm.get('location').hasError('required')) && g.submitted">
              Please select location.
            </div>
          </div>
          <div
            *ngIf="(authAdminData?.role_permission && authAdminData?.role_permission === 'it_admin')"
            class="w-47 pull-left">
            <label class="mB15 text-left">Role</label>
            <select formControlName="role" class="form-control">
              <option disabled label="Choose Role"></option>
              <option value="superadmin">Super Admin</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-100 mT30">
          <div class="w-50 pull-left text-left">
            <div [ngClass]="(statusShowEdit =='1')?'status_btn':'status_btn inactive_btn'">
              <select formControlName="status">
                <option value="1">Status: Active</option>
                <option value="0"> Status: Inactive</option>
              </select>
            </div>
          </div>
          <div class="w-50 pull-right text-right">
            <div class="btn_primary">
              <button>Save</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit admin Modal-->
<!-- Create Admin Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_create_admin ? 'block' : 'none' }">
  <div class="bg_close_layer" (click)="cancelCreate()"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b class="modal_close" (click)="cancelCreate()"><i class="material-icons">clear</i></b>
    <div>
      <form class="w-100" [formGroup]="createForm" (ngSubmit)="onSubmitCreateForm(createForm.value)" #f="ngForm">
      <div class="modal_header">
        <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create an Admin</p>
      </div>
      <div class="modal_content create_admin">
        <div class="details_box">
          <div class="w-48 pull-left">
            <label class="text-left text-14 mB10">First Name</label>
            <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'has-error' : !createForm.get('first_name').valid && (f.submitted || createForm.get('first_name').dirty) }" autocomplete="off" maxlength="21" placeholder="Enter first name">
            <div
              *ngIf=
              "
                createForm.get('first_name').hasError('pattern')
                && (
                  createForm.get('first_name').dirty
                  || f.submitted
                )
              "
              class="error-session-message" >
              Numbers and spacial characters are not allowed.
            </div>
            <div
              *ngIf=
              "
                createForm.get('first_name').hasError('required')
                && (
                  createForm.get('first_name').dirty
                  || f.submitted
                )
              "
              class="error-session-message">
              Please enter First name.
            </div>
          </div>
          <div class="w-48 pull-right">
            <label class="text-left text-14 mB10">Last Name</label>
            <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'has-error' : !createForm.get('last_name').valid && (f.submitted || createForm.get('last_name').dirty) }" autocomplete="off" maxlength="21" placeholder="Enter last name">
            <div
              *ngIf=
              "
                createForm.get('last_name').hasError('pattern')
                && (
                  createForm.get('last_name').dirty
                  || f.submitted
                )
              "
              class="error-session-message" >
              Numbers and spacial characters are not allowed.
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-48 pull-left">
            <label class="text-left text-14 mB10">Email</label>
            <input type="text" placeholder="Enter work email" formControlName="email" class="form-control" [ngClass]="{ 'has-error' : !createForm.get('email').valid && (f.submitted || createForm.get('email').dirty) }" autocomplete="off">
            <div class="error-session-message" *ngIf="createForm.get('email').hasError('required') && (createForm.get('email').dirty || f.submitted)">
              Please enter Email ID.
            </div>
            <div class="error-session-message" *ngIf="createForm.get('email').hasError('pattern') && (createForm.get('email').dirty || f.submitted)">
              Please enter a valid Email ID.
            </div>
          </div>
          <div class="w-48 pull-right">
            <label class="text-left text-14 mB10">Mobile</label>
            <div class="w-100 isd_feild">
              <div class="w-25 pull-left isd_code">
                <mat-form-field>
                  <input matInput [value]="create_mobile_code" class="form-control" *ngIf="!showCreateSelect" (click)="showCreateSelectOption()" placeholder="+91" />
                  <mat-select matNativeControl *ngIf="showCreateSelect" formControlName="isd" [(value)]="selected" placeholder="+91" (selectionChange)="onFirstCreateThingSelect($event)" (keydown)="onNoCreateChangeSelect($event)" (openedChange)="CreateopenedChange($event)">
                  <mat-option *ngFor="let optionlist of isdlist" [value]="optionlist.dial_code">
                  {{optionlist.dial_code}} - {{optionlist.name}}
                  </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="w-75 pull-right">
                <input type="text" formControlName="mobile_number" class="form-control" [ngClass]="{ 'has-error' : !createForm.get('mobile_number').valid && (f.submitted || createForm.get('mobile_number').dirty) }" maxlength="15" placeholder="Enter mobile number">
              <div class="error-session-message" *ngIf="!createForm.get('mobile_number').hasError('pattern') && createForm.get('mobile_number').hasError('minlength') && (createForm.get('mobile_number').dirty || f.submitted)">
                Mobile Number is min digit allowd 4
              </div>
              <div class="error-session-message" *ngIf="!createForm.get('mobile_number').hasError('pattern') && createForm.get('mobile_number').hasError('maxlength') && (createForm.get('mobile_number').dirty || f.submitted)">
                Mobile Number max digit allowd 14
              </div>
              <div class="error-session-message" *ngIf="createForm.get('mobile_number').hasError('pattern') && (createForm.get('mobile_number').dirty || f.submitted)">
                Only numbers are allowed.
              </div>
            </div><div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-48 pull-left">
            <label class="text-left text-14 mB10">Team</label>
            <select formControlName="department" [ngClass]="{ 'has-error' : !createForm.get('department').valid && (f.submitted || createForm.get('department').dirty) }" autocomplete="off">
              <option disabled label="Choose Team">Choose Team</option>
              <option value="Client Servicing">Client Servicing</option>
              <option value="Content Writing">Content Writing</option>
              <option value="Finance">Finance</option>
              <option value="HR">HR</option>
              <option value="Management">Management</option>
              <option value="Marketing">Marketing</option>
              <option value="Operations">Operations</option>
              <option value="Performance">Performance</option>
              <option value="Sales & Business Development">Sales & Business Development</option>
              <option value="Strategy">Strategy</option>
              <option value="Technology">Technology</option>
            </select>
            <div class="error-session-message" *ngIf="createForm.get('department').hasError('required') && (createForm.get('department').dirty || f.submitted)">
              Please enter department/team.
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-100 mT10">
            <div class="w-40 pull-left text-left" (click)="cancelCreate()">
              <div class="btn_sec">
                <div class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
              </div>
            </div>
            <div class="w-60 pull-right text-right">
              <div class="btn_primary">
                <button>
                <i class="material-icons text-20 mR10">ac_unit</i> Create & Invite
                </button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Create Admin Modal-->
<!-- Active Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display': show_active_model ? 'block' : 'none'}">
  <div class="bg_close_layer" (click)="adminStatusClose()"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="adminStatusClose()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <form>
        <div class="modal_header">
          <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
        </div>
        <div class="modal_content">
          <p *ngIf="statusActiveInactive == 1" class="text-16 wt500 color_666 text-left mB30">Activating the admin will:
          </p>
          <p *ngIf="statusActiveInactive != 1" class="text-16 wt500 color_666 text-left mB30">Changing the admin status to inactive will result in:</p>
          <p *ngIf="statusActiveInactive == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Activate the access to the admin panel</p>
          <p *ngIf="statusActiveInactive != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Deactivated admin panel access of the admin</p>
          <p *ngIf="statusActiveInactive == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> The admin will be able perform functions and get invited to activities by others
          </p>
          <p *ngIf="statusActiveInactive != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Any future activity will not be assigned to the deactivated admin</p>
          <div class="w-100 mT40">
            <div class="w-40 pull-left text-left">
              <div class="btn_sec">
                <div (click)="adminStatusClose()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
                </div>
              </div>
            </div>
            <div class="w-60 pull-right text-right">
              <div *ngIf="statusActiveInactive == 1" class="btn_primary">
                <div (click)="adminStatusChange()"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Activate
                </div>
              </div>
              <div *ngIf="statusActiveInactive != 1" class="btn_primary">
                <div (click)="adminStatusChange()"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Deactivate
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Active Modal-->

<!-- Admin Reset Password Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':reset_password_model ? 'block' : 'none' }">
  <div class="bg_close_layer" (click)="closeResetPasswordModal()"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="closeResetPasswordModal()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <form [formGroup]="adminResetPasswordForm" (ngSubmit)="onSubmitResetPassword(adminResetPasswordForm.value)" #pf="ngForm" autocomplete="off">
      <div class="modal_header">
        <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Reset Password</p>
      </div>
      <div class="modal_content create_admin">
        <div class="details_box">
          <input type="hidden" formControlName = "admin_id" >
          <div class="w-48 pull-left">
            <label class="text-left text-14 mB10">New Password</label>
            <input type="password" placeholder="New Password" formControlName="new_password" class="form-control" [ngClass]="{ 'has-error' : !adminResetPasswordForm.get('new_password').valid && (pf.submitted || adminResetPasswordForm.get('new_password').dirty) }" maxlength="16"
              required>
            <div class="error-session-message" *ngIf="adminResetPasswordForm.get('new_password').hasError('required') && (adminResetPasswordForm.get('new_password').hasError('required')) && pf.submitted">
              Please enter new password.
            </div>
            <div class="error-session-message" *ngIf="adminResetPasswordForm.get('new_password').hasError('minlength') && (adminResetPasswordForm.get('new_password').dirty || pf.submitted)">
              Password must be of 8 characters or more.
            </div>
          </div>
          <div class="w-48 pull-right">
            <label class="text-left text-14 mB10">Re-type Password</label>
            <input type="password" placeholder="Re-type Password" formControlName="re_password" class="form-control" [ngClass]="{ 'has-error' : !adminResetPasswordForm.get('re_password').valid && (pf.submitted || adminResetPasswordForm.get('re_password').dirty) }" maxlength="16"
              required >
            <div class="error-session-message" *ngIf="adminResetPasswordForm.get('re_password').hasError('required') && (adminResetPasswordForm.get('re_password').hasError('required')) && pf.submitted">
              Please enter confirm password.
            </div>
            <div class="error-session-message" *ngIf="adminResetPasswordForm.value.re_password && adminResetPasswordForm.value.new_password != adminResetPasswordForm.value.re_password && !(adminResetPasswordForm.get('new_password').hasError('required'))  && (adminResetPasswordForm.get('re_password').dirty || pf.submitted)">
              Passwords do not match.
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-100 mT10">
            <div class="w-50 pull-right text-right">
              <div class="btn_primary">
                <button><i class="material-icons text-18 mR10">save</i>Reset</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Change Password Modal-->