<!--right side-->
<div class="right_side pL20per">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span routerLink="/advertiser">Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
            <span>Advertiser Detail</span></p>
    </div>
    <div class="w-75 pull-left bg_white bRadius5 mR20">
        <div class="adv_view">
            <div class="adv_view_bg">
                <h2>Advertiser Detail</h2>
                <div class="w-100 pT25">
                    <div class="w-70 pull-left influ_img_box">
                        <div class="adv_name_img">
                            <div class="w-15 pull-left">
                                <div class="user_name_img">
                                    <img *ngIf="imageurl" src="{{imageurl}}">
                                    <p *ngIf="!imageurl">{{firstChar}}{{lastChar}}</p>
                                </div>
                            </div>
                            <div class="w-85 pull-left">
                                <h3 class="color_white text-20 wt600 text-left mB5">{{this.getAdvertiserData?.name}}</h3>
                                <p class="text-14 color_white text-left noM">Advertiser</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="w-30 pull-right text-right pT10">
                        <a [routerLink]="['/advertiser/advertiser-edit', advertiserId]" class="edit_pen"><i class="material-icons text-18">edit</i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="w-100 p30 mT15">
                <div class="adv_detail_box">
                    <h3>About</h3>
                    <div class="adv_detail_fields">
                        <div class="w-48 pull-left text-left">
                            <p><i class="material-icons">mail</i> {{this.getAdvertiserData?.email}}</p>
                        </div>
                        <div class="w-48 pull-right text-right" >
                            <p><i class="material-icons">phone</i> {{this.getAdvertiserData?.isd}}-{{this.getAdvertiserData?.phone}}</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="w-48 pull-left text-left" >
                            <p><i class="material-icons">mail</i>{{this.getAdvertiserData?.organisation_details[0]?.organisation_name}}</p>
                        </div>
                        <div class="w-48 pull-right text-right" >
                            <p><i class="material-icons">accessible</i> {{this.getAdvertiserData?.designation}}</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="w-100">
                            <div class="w-95 pull-left">
                                <p>
                                    <i class="material-icons pR5">place</i>
                                    <span> {{this.getAdvertiserData?.country}} - {{this.getAdvertiserData?.state}} - {{this.getAdvertiserData?.city}}</span><br>
                                    <span class="pL30 mT5">{{this.getAdvertiserData?.address}}</span>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <ul class="adv_details_cat">
                    <li>
                        <img src="assets/images/camp_icon.png">
                        <p>
                            0
                            <span>Campaign</span>
                        </p>
                    </li>
                    <li>
                        <img src="assets/images/board_icon.png">
                        <p>
                            0
                            <span>Boards</span>
                        </p>
                    </li>
                    <li>
                        <img src="assets/images/track_icon.png">
                        <p>
                            0
                            <span>Tracks</span>
                        </p>
                    </li>
                    <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
                <div class="adv_detail_box">
                    <h3>Associated Brands</h3>
                    <div class="adv_detail_brands">
                        <ul>
                            <li *ngFor="let brandData of AssciatedBrandData">
                                <div class="user_name_img">
                                    <img src="assets/images/user.jpg">
                                    <!-- <p>PK</p> -->
                                </div>
                                <p>{{brandData?.organisation_name}}
                                    <span *ngIf="brandData?.social_media" class="display-block">
                                        <i *ngIf= "brandData?.social_media[0]?.facebook" class="fab fa-facebook-f facebook_color"></i>
                                        <i *ngIf= "brandData?.social_media[0]?.twitter" class="fab fa-twitter twitter_color"></i>
                                        <i *ngIf= "brandData?.social_media?.instagram" class="fab fa-instagram instagram_color"></i>
                                        <i *ngIf= "brandData?.social_media?.linkedin"class="fab fa-linkedin-in linkedin_color"></i>
                                        <i *ngIf= "brandData?.social_media?.youtube"class="fab fa-youtube youtube_color"></i>
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="adv_detail_box" *ngIf="getAdvertiserData?.notes">
                    <h3>Notes</h3>
                    <div class="adv_detail_fields">
                        <p class="color_666 text-14" style="line-height: 22px;">{{ getAdvertiserData?.notes }}
                        </p>
                    </div>
                </div>
                <div class="w-100 mT50 mB50">
                    <div class="w-60 pull-left text-left">
                        <div class="btn_sec mR20">
                            <div [routerLink]="['/advertiser/advertiser-edit', advertiserId]" class="btn_sec_inside">Edit Details</div>
                        </div>
                        <div class="btn_sec" [routerLink]="['/campaign/create']" >
                            <div class="btn_sec_inside">Create Camapign</div>
                        </div>
                    </div>
                    <div class="w-40 pull-right text-right">
                        <div [ngClass]="(getAdvertiserData?.status=='1')?'status_btn':'status_btn inactive_btn'">
                            <!-- status_btn inactive_btn -->
                            <select (change)="advertiserStatus($event, getAdvertiserData?._id)" value={{getAdvertiserData?.status}}>
                                <option value="1" >Status: Active</option>
                                <option value="0"> Status: Inactive</option>
                                <!-- <option>Invited</option> -->
                            </select>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-23 pull-left bg_white bRadius5">
        <div class="p20">
            <h2 class="text-left text-16 color_4e4e4e wt600">Campaigns & Boards</h2>
            <div class="details_box" style="margin-top:20px;">
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="camp_sea_all_btn">
            <a routerlink="">See All</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--right side-->

<!-- Active Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_active_model ? 'block' : 'none' }">
    <div class="bg_close_layer" (click)="closeActiveInactiveModel()"></div>
    <div class="eleve_modal modal_animate_zoom">
        <b class="modal_close" (click)="closeActiveInactiveModel()"><i class="material-icons">clear</i></b>
        <div>
            <form>
                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
                </div>
                <div class="modal_content">
                    <p *ngIf="advertiserStatusKey == 1" class="text-16 wt500 color_666 text-left mB30">Activating the advertiser will:</p>
                    <p *ngIf="advertiserStatusKey == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Activate the access to the brand panel</p>
                    <p *ngIf="advertiserStatusKey == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Allow admin to assign advertiser to campaigns, boards & tracks</p>

                    <p *ngIf="advertiserStatusKey != 1" class="text-16 wt500 color_666 text-left mB30">Changing the advertise status to inactive will result in:</p>
                    <p *ngIf="advertiserStatusKey != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Deactivated brand panel access of the advertiser</p>
                    <p *ngIf="advertiserStatusKey != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Unable to assign future campaigns, boards & tracks to the advertiser</p>

                    <div class="w-100 mT40">
                        <div class="w-50 pull-left text-left">
                            <div class="btn_sec">
                                <div (click)="closeActiveInactiveModel()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
                            </div>
                        </div>
                        <div class="w-50 pull-right text-right">
                            <div *ngIf="advertiserStatusKey == 1" (click)="advertiserStatusChange()" class="btn_primary">
                                <div><i class="material-icons text-20 mR10">ac_unit</i> Yes, Activate</div>
                            </div>
                            <div *ngIf="advertiserStatusKey != 1" (click)="advertiserStatusChange()" class="btn_primary">
                                <div><i class="material-icons text-20 mR10">ac_unit</i> Yes, Deactive</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Active Modal-->