/*Create Collaboration*/
.invite_result .user_name_img{ width: 50px; height: 50px;}
.invite_result ul{ border:1px solid #eee; border-radius: 5px; padding:0 10px;}
.invite_result ul li{ border-bottom: 1px solid #eee; padding: 15px 0px; position: relative;}
.invite_result ul li:last-child{ border:0px;}
.remove_invite{ position: absolute; top: 25px; right: 20px; color: red; cursor: pointer;}
.board_create{padding:80px 10px 0 70px !important;}
.board_create .details_box{background-color: #fff !important;}
/*Create Collaboration*/

@media only screen and (max-width: 1200px){
.invite_result .user_name_img{ width: 35px; height: 35px;}
.invite_result .user_name_img p{ font-size: 14px; width: 35px; height: 16px;}
.remove_invite{right: 0;}
.board_create{ padding-left: 20px !important; padding-right: 20px !important; }
}
@media only screen and (max-width: 768px){
.board_create .w-68{width: 100%; float: none;}
.board_create .w-30.pull-right{width: 100%; float: none; margin-top: 20px;}
.invite_result .w-20.pull-left{ width: 10%;}
.invite_result .w-80.pull-right{ width: 90%;}
.image_upload_btn{ width: 100% !important;}
.details_box textarea{ height: 120px;}
.main_heading{ margin-bottom: 20px;}
}
@media only screen and (max-width: 480px){
.invite_result .w-20.pull-left{ width: 20%;}
.invite_result .w-80.pull-right{ width: 80%;}
}


.platform{
  background: #999;
  opacity: 0.5;
  transition: 0.5s all;
}

.platform-selected{
  opacity: 1;
  transition: 0.5s all;
}

.collaboration-label.selected{
  background-color: #a9d3ff;
  color: #fff;
  border-color: #a9d3ff;
}

.collaboration-label{
  position: relative;
  background-color: #fff;
  color: #7F7F7F;
  font-size: 12px;
  text-align: center;
  padding: 7px 15px;
  border: 1px solid #E7E6E6;
  border-radius: 20px;
  cursor: pointer;
}

.required-field{
  color: red;
}

.genre-list{
  height: 300px;
  width: 100%;
  overflow: auto;
  border: 1px solid rgba(0,0,0,0.08);
  margin-top: 8px;
  border-radius: 4px;
  position: absolute;
  background: #fff;
  z-index: 99;
}

.genre-item{
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  justify-content: space-between;
  align-items: center;
}

.genre-item:hover{
  background: #fcfcfc;
  cursor: pointer;
}

.files-wrapper{
  display: flex;
  flex-direction: row;
}

.uploaded-file-item{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  border: 1px solid rgba(0,0,0,0.08);
  margin-right: 15px;
  border-radius: 4px;
  text-align: center;
  width: 120px;
  padding: 10px 0;
  position: relative;
}

.uploaded-file-item img{
  width:48px;
  height:48px;
}

.uploaded-file-item small.uploaded-file-name{
  display: inline-block;
  width:100px;
  font-size: 10px;
  color: #888;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.uploaded-file-item i.remove-file{
  position: absolute;
  right: -11px;
  top: -11px;
  z-index: 1;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 50%;
  font-size: 14px;
  padding: 3px;
  cursor: pointer;
}

.file-loader, .data-loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255,255,255,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 16px;
}

.data-loader{
  position: fixed;
}

.genre-list-item{
  display: inline-block;
  margin-bottom: 8px;
}
