<div class="right_side board_create">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span>Collaboration</span> <i
            class="material-icons mL15 mR15">chevron_right</i>
            <span>Create Collaboration</span>
        </p>
    </div>
    <div [formGroup]="board" #cb="ngForm">
      <div class="w-100">
          <h1 class="main_heading">Create a Collaboration Board</h1>
          <div class="w-68 pull-left">
              <div class="details_box mB25">
                  <h2>Basic Details</h2>
                  <div class="w-100 mB25">
                      <label class="mB15 text-left">Title <span class="required-field">*</span></label>
                      <input
                        [ngClass]="{
                          'has-error': board.get('title').errors &&
                            (board.get('title').dirty || board.get('title').touched || cb.submitted)
                        }"
                        formControlName="title"
                        placeholder="A Good title provides sufficient information in the shortest length possible"
                        class="form-control"
                        minlength="5"
                        maxlength="200"
                        type="text" placeholder="Title"
                        class="form-control" required>
                        <span class="error-session-message" *ngIf="board.get('title').errors &&
                          (board.get('title').dirty || board.get('title').touched || cb.submitted)">
                          <span *ngIf="board.get('title').errors.required">
                            Title is mandatory
                          </span>
                          <span *ngIf="board.get('title').errors.minlength || board.get('title').errors.maxlength">
                            Title should be 5 to 200 characters long
                          </span>
                        </span>
                  </div>
                  <div class="w-47 pull-left mB25">
                      <label class="mB15 text-left">Brand <span class="required-field">*</span></label>
                      <input
                        class="form-control"
                        required
                        style="height:40px !important;"
                        matInput
                        [ngClass]="{
                          'has-error': board.get('brand_name').errors &&
                            (board.get('brand_name').dirty || board.get('brand_name').touched || cb.submitted)
                        }"
                        placeholder="Search Brands..."
                        aria-label="Brand"
                        formControlName="brand_name"
                        [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                          *ngFor="let brand of brands"
                          [value]="brand.organisation_name">
                          <span>{{brand.organisation_name}}</span>
                        </mat-option>
                      </mat-autocomplete>
                      <span class="error-session-message" *ngIf="board.get('brand_name').errors &&
                        (board.get('brand_name').dirty || board.get('brand_name').touched || cb.submitted)">
                        <span *ngIf="board.get('brand_name').errors.required">
                          Brand is mandatory
                        </span>
                      </span>
                    </div>
                  <div class="w-47 pull-right" formGroupName="budget">
                      <label class="mB15 text-left">Budget</label>
                      <div class="w-100 isd_feild">
                        <div class="w-20 pull-left isd_code">
                          <mat-form-field class="form-control">
                            <mat-select formControlName="code" [(value)]="selectedCurrency" (selectionChange)="handleCurrencyChange($event)">
                              <mat-option *ngFor="let code of isdCodes" [value]="code.Currencycode">
                                {{code.Currencycode}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="w-80 pull-right">
                          <input
                            formControlName="cost"
                            type="number"
                            pattern="^[1-9]\d*(\.\d+)?$"
                            placeholder="Amount"
                            class="form-control"
                            style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
                        </div>
                        <div class="clearfix"></div>
                        <span class="error-session-message">
                          <span *ngIf="board.get('cost')?.hasError('pattern')">
                            Brand is mandatory
                          </span>
                        </span>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="w-47 pull-left dob position-relative">
                      <label class="mB15 text-left">Estimate Campaign  Live Date</label>
                      <mat-form-field>
                        <input formControlName="campaign_live_date" matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div class="w-47 pull-right">
                      <label class="mB15 text-left">Services From Eleve</label>
                      <div class="toogle_btn">
                        <span
                          (click)="handleServices(service.value)"
                          [ngClass]="(selectedServices.includes(service.value) && 'selected')"
                          class="collaboration-label"
                          *ngFor="let service of allServices"
                        >
                          {{service.label}}
                        </span>
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="details_box mB25">
                  <h2>some more information</h2>
                  <div class="w-47 pull-left mB25">
                      <label class="mB15 text-left">Focus of the Campaign</label>
                      <textarea formControlName="focus" placeholder="Focus of the Campaign"></textarea>
                  </div>
                  <div class="w-47 pull-right">
                      <label class="mB15 text-left">Objective</label>
                      <textarea formControlName="objective" placeholder="Objective"></textarea>
                  </div>
                  <div class="clearfix"></div>
                  <div class="w-47 pull-left mB25">
                      <label class="mB15 text-left">Problem Statement</label>
                      <textarea formControlName="problem_statment" placeholder="Problem Statement"></textarea>
                  </div>
                  <div class="w-47 pull-right">
                      <label class="mB15 text-left">Key Selling Points</label>
                      <textarea formControlName="key_points" placeholder="Key Selling Points"></textarea>
                  </div>
                  <div class="clearfix"></div>
                  <div class="w-47 pull-left mB25">
                      <label class="mB15 text-left">Target Audience</label>
                      <textarea formControlName="target_audience" placeholder="Target Audience"></textarea>
                  </div>
                  <div class="w-47 pull-right">
                      <label class="mB15 text-left">Output Expected</label>
                      <textarea formControlName="output_expected" placeholder="Output Expected"></textarea>
                  </div>
                  <div class="clearfix"></div>
                  <div class="w-47 pull-left mB25">
                      <label class="mB15 text-left">Give us a brief overview</label>
                      <textarea formControlName="brief_overview" placeholder="Give us a brief overview"></textarea>
                  </div>
                  <div class="w-47 pull-right">
                      <label class="mB15 text-left">Influencer Category</label>
                      <div class="toogle_btn">
                        <span
                          (click)="handleCategoryChange(category.value)"
                          [ngClass]="(selectedInfluencersCategories.includes(category.value) && 'selected')"
                          class="collaboration-label"
                          *ngFor="let category of influencersCategories"
                        >
                          {{category.label}}
                        </span>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="w-47 pull-left mB25">
                      <label class="mB15 text-left">No. of Influencer Required</label>
                      <input formControlName="influencers_count" type="number" placeholder="No. of Influencer Required">
                  </div>
                  <div class="w-47 pull-right">
                      <label class="mB15 text-left">Content/Posts per Influencer</label>
                      <input formControlName="post_per_inf" type="number" placeholder="Content/Posts per Influencer">
                  </div>
                  <div class="clearfix"></div>
                  <div class="w-47 pull-left mB25">
                      <label class="mB15 text-left">Preferred Influencer</label>
                      <input
                        (keyup)="handleGenreSearch($event)"
                        (click)="handleGenreList($event)" type="text" placeholder="Preferred Influencer">
                      <div class="genre-list" *ngIf="genreSearchToggle">
                        <div class="genre-item" *ngFor="let genre of genreList" (click)="selectGenre(genre.subgenre, $event)">
                          <span>{{genre.subgenre}}</span>
                          <i class="material-icons">{{selectedGenres.includes(genre.subgenre) ? 'done' : 'add'}}</i>
                        </div>
                      </div>
                      <div class="mT15" *ngIf="selectedGenres.length > 0">
                        <span
                          class="collaboration-label mR10 genre-list-item"
                          *ngFor="let gen of selectedGenres">
                          {{gen}}
                        </span>
                      </div>
                  </div>
                  <div class="w-47 pull-right">
                      <label class="mB15 text-left">Preferred Hashtags</label>
                      <input minlength="1" maxlength="200" (keyup)="handlePreferredHashtags($event)" type="text" placeholder="Enter Hashtag and Hit Enter">
                      <div class="display-block">
                        <span
                          class="collaboration-label display-inline-block mT10 mR10"
                          *ngFor="let hashtag of selectedHashtags"
                        >
                          {{hashtag}}
                          <span (click)="removeHashtags(hashtag)">
                            <i style="position:relative" class="fas fa-times mL5"></i>
                          </span>
                        </span>
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="details_box mB25 position-relative">
                <div class="file-loader" *ngIf="loaders.isFileUploaded">
                  <p>Please wait. Uploading your file...</p>
                </div>
                <div class="w-50 pull-left">
                  <h2>Attach File</h2>
                </div>
                <div class="w-50 pull-right text-right">
                  <div class="btn_sec">
                    <div class="btn_sec_inside">
                      <input
                        accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.mp3"
                        multiple
                        (change)="uploadVideoFromInput($event)"
                        type="file">
                      <i class="material-icons">file_upload</i> Upload</div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <img src="">
                <div *ngIf="uploadedContent.length > 0" class="files-wrapper">
                  <div *ngFor="let upload of uploadedContent" class="uploaded-file-item">
                    <i class="material-icons remove-file" (click)="removeUploadFile(upload.image)">
                      clear
                    </i>
                    <img src={{handleFileIcons(upload.image)}} width="60" height="60" />
                    <small class="uploaded-file-name">{{getFilename(upload.image)}}</small>
                  </div>
                </div>
                <div class="image_upload_btn text-center" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
                  <img src="assets/images/upload_img.jpg">
                  <input
                    accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.mp3"
                    multiple
                    type="file"
                    ng-reflect-name="image"
                    class="ng-untouched ng-pristine ng-valid"
                  >
                  Drag and Drop files here to attach
                </div>
              </div>
          </div>
          <div class="w-30 pull-right">
            <div class="details_box mB25">
              <h2>SOCIAL</h2>
              <div>
                <label class="mB20 text-left">Type of Activity</label>
                <div class="toogle_btn">
                  <span
                    [ngClass]="(selectedActivities.includes(activity.value) && 'selected')"
                    (click)="handleActivityChange(activity.value)"
                    class="collaboration-label"
                    *ngFor="let activity of allActivities"
                  >
                    {{activity.label}}
                  </span>
                </div>
              </div>
              <div class="mB30">
                <label class="mB15 mT15 text-left">Choose Platform</label>
                <div class="social_choose_platform">
                  <span
                    *ngFor="let p of utils.platforms"
                    class={{p.theme}}
                    [ngClass]="(selectedPlatforms.includes(p.platform)) ? 'platform-selected' : 'platform' "
                    (click)="setPlatformOptions(p.platform)"
                  >
                    <i class={{p.icon}} aria-hidden="true" title={{p.platform}}></i>
                  </span>
                </div>
              </div>

              <div>
                <label class="mT20 text-left" *ngIf="selectedPlatforms.length > 0">Platform Specific Deliverables</label>
                <div *ngFor="let t of utils.platforms">
                  <div class="social_choose_platform mB10" *ngIf="selectedPlatforms.includes(t.platform)">
                    <span class="w-10 vertical-top display-inline-block {{t.theme}}">
                    <i class={{t.icon}} aria-hidden="true"></i>
                    </span>
                    <div class="toogle_btn display-inline-block w-80 vertical-top">
                      <span
                        *ngFor="let label of t.types"
                        [ngClass]="((selectedDeliverables[t.platform]?.includes(label.value)) && 'selected')"
                        class="collaboration-label"
                        (click)="addPlatformDeliverables(t.platform, label.value)">
                        {{label.label}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="details_box">
                  <h2>INVITE COLLEAGUES</h2>
                  <input type="text" placeholder="Search Employee Name..." (keyup)="searchCollegue($event)">
                  <div class="invite_result mT10">
                    <p style="margin-bottom:10px;" *ngIf="selectedCollegues.length > 0">
                      {{selectedCollegues.length ? selectedCollegues.length+' Selected' : ''}}
                    </p>
                    <ul style="height:400px;overflow:auto;">
                      <li *ngFor="let collegue of collegues" (click)="handleAddCollegue(collegue._id)">
                        <div class="w-20 pull-left">
                          <div class="user_name_img">
                            <img src="assets/images/user.jpg">
                          </div>
                        </div>
                        <div class="w-80 pull-right">
                          <p class="text-16 mB5 color_000">{{collegue.name}}</p>
                          <p class="text-14 color_000">{{collegue.email}}</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="remove_invite">
                          <i class="material-icons">{{selectedCollegues.includes(collegue._id) ? 'done' : 'add'}}</i>
                        </div>
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-68 mT30 mB50">
              <div class="w-50 pull-left text-left">
                  <div class="btn_sec">
                      <div class="btn_sec_inside"><i class="fa fa-trash-alt"></i> Discard</div>
                  </div>
              </div>
              <div class="w-50 pull-right text-right">
                <div *ngIf="!editBoardId" class="btn_primary" (click)="createBoard()">
                  <button>Create</button>
                </div>
                <div *ngIf="editBoardId" class="btn_primary" (click)="createBoard()">
                  <button>Update Board</button>
                </div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
    </div>
</div>
