.sidebar{
  transform: translateX(-78%) !important; 
  -webkit-transform: translateX(-78%) !important; 
  -moz-transform: translateX(-78%) !important; 
  transition: all ease-out .5s !important; 
  padding-right: 0px !important;
}