<!--right side-->
<div class="right_side camp_wrap">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
      <span>Create Campaigns</span>
    </p>
  </div>
  <div class="w-75 pull-left bg_white bRadius10 mR20 p30">
    <h2 class="main_heading text-18 text-left color_666 noM wt400 pB50">Launch a Campaign</h2>
    <div class="camp_steps">
      <ul class="camp_steps_progressbar">
        <li class="active">Basic Details</li>
        <li>Choose Platform</li>
        <li>Final Step</li>
      </ul>
    </div>
    <form [formGroup]="campaignFormStepOne" #f="ngForm">
    <div class="details_box">
      <div class="w-47 pull-left">
        <label class="mB15">Campaign Name</label>
        <input type="text" placeholder="Give your campaign a name" formControlName="campaign_title" class="form-control" required maxlength="61" autocomplete="off">
        <div class="error-session-message" *ngIf="campaignFormStepOne.get('campaign_title').hasError('required') &&  (campaignFormStepOne.get('campaign_title').dirty || f.submitted)">
          Campaign name is mandatory
        </div>
        <div class="error-session-message" *ngIf="campaignFormStepOne.get('campaign_title').hasError('minlength') &&  (campaignFormStepOne.get('campaign_title').dirty || f.submitted)">
          Campaign name should be minimum 5 letter
        </div>
        <div class="error-session-message" *ngIf="campaignFormStepOne.get('campaign_title').hasError('maxlength') &&  (campaignFormStepOne.get('campaign_title').dirty || f.submitted)">
          Campaign name should be maximum 60 letter
        </div>
      </div>
      <div class="w-47 pull-right">
        <label class="mB15">Campaign Objective</label>
        <select
        formControlName="objective_type"
        [attr.disabled] = "campaignDetailsData?.status === '3' || campaignDetailsData?.status === '2' ? 'disabled' : null"
        (change)="campaignObjectiveChange($event)"
        [ngClass]="{ 'has-error' : !campaignFormStepOne.get('objective_type').valid && (f.submitted || campaignFormStepOne.get('objective_type').dirty) }">
        <option disabled label="Choose an option"></option>
        <option value="post">Post (Content Curation) </option>
        <option value="trending">Twitter Trending </option>
        <option value="amplification">Amplification (RT / Engagement)</option>
        </select>
        <div class="error-session-message" *ngIf="campaignFormStepOne.get('objective_type').hasError('required') &&  (campaignFormStepOne.get('objective_type').dirty || f.submitted)">
          Campaign Objective is mandatory
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="details_box" [ngStyle]="{'display':show_div_objective_change ? 'block' : 'none' }">
      <div class="w-47 pull-left">
        <div class="w-60 pull-left">
          <label class="mB15">Primary Hashtag</label>
        </div>
        <div class="w-40 pull-right text-right">
          <mat-checkbox formControlName="primary_hashtag_share">Mandatory to share?</mat-checkbox>
        </div>
        <div class="clearfix"></div>
        <input
        type="text"
        placeholder="Eg:#EleveMedia"
        formControlName="primary_hashtag"
        (change)="checkPrimaryHashTag($event)"
        maxlength="201"
        [attr.disabled] = "campaignDetailsData?.status === '3' ? 'disabled' : null"
        [ngClass]="{ 'has-error' : !campaignFormStepOne.get('primary_hashtag').valid && (f.submitted || campaignFormStepOne.get('primary_hashtag').dirty) }">
        <div class="error-session-message" *ngIf="!campaignFormStepOne.get('primary_hashtag').hasError('pattern') && campaignFormStepOne.get('primary_hashtag').hasError('minlength') &&  (campaignFormStepOne.get('primary_hashtag').dirty || f.submitted)">
          The hashtag must be 1 to 200 characters long
        </div>
        <div class="error-session-message" *ngIf="!campaignFormStepOne.get('primary_hashtag').hasError('pattern') && campaignFormStepOne.get('primary_hashtag').hasError('maxlength') &&  (campaignFormStepOne.get('primary_hashtag').dirty || f.submitted)">
          The hashtag must be 1 to 200 characters long
        </div>
        <div
          *ngIf="campaignFormStepOne.get('primary_hashtag').errors && campaignFormStepOne.get('primary_hashtag').dirty && campaignFormStepOne.get('primary_hashtag').errors.hashTagPettern"
          class="error-session-message">
          Only valid hashtag allowed(Hashtag start with # and only alphabets, numbers and _ are allowed)
        </div>
      </div>
      <div class="w-47 pull-right">
        <div class="w-60 pull-left">
          <label class="mB15">URL to be Shared</label>
        </div>
        <div class="w-40 pull-right text-right">
          <mat-checkbox formControlName="url_share">Mandatory to share?</mat-checkbox>
        </div>
        <div class="clearfix"></div>
        <input type="text" placeholder="Must start with http" formControlName="url">
        <div class="error-session-message" *ngIf="campaignFormStepOne.get('url').hasError('pattern') &&  (campaignFormStepOne.get('url').dirty || f.submitted)">
          Please enter a valid URL
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="w-47 pull-left sec_hash_space">
        <div class="w-60 pull-left">
          <label class="mB15">Secondary Hashtag</label>
        </div>
        <div class="w-40 pull-right text-right">
          <mat-checkbox formControlName="secondary_hashtag_track">Track?</mat-checkbox>
        </div>
        <div class="clearfix"></div>
        <input type="text" placeholder=" Type & press enter" formControlName="secondary_hashtag" (change)="addSecondaryTagFormArray()" maxlength="201" style="margin-bottom:5px">
        <div class="tags">
          <div formArrayName="secondary_hashtag_list" *ngFor="let sTaglist of campaignFormStepOne.controls.secondary_hashtag_list?.value; let i = index">
            <span>#{{sTaglist}}</span> <i class="material-icons" (click)="removeSecondaryTagFormArray(i)">close</i>
          </div>
        </div>
        <div class="error-session-message" style="margin-top: 0px;" *ngIf="!campaignFormStepOne.get('secondary_hashtag').hasError('pattern') &&       campaignFormStepOne.get('secondary_hashtag').hasError('minlength') &&  (campaignFormStepOne.get('secondary_hashtag').dirty || f.submitted)">
          The hashtag must be 1 to 200 characters long
        </div>
        <div class="errosr-session-message" style="margin-top: 0px;" *ngIf="campaignFormStepOne.get('secondary_hashtag').hasError('maxlength') &&  (campaignFormStepOne.get('secondary_hashtag').dirty || f.submitted)">
          The hashtag must be 1 to 200 characters long
        </div>
        <div class="error-session-message" style="margin-top: 0px;" *ngIf="campaignFormStepOne.get('secondary_hashtag').hasError('pattern') &&  (campaignFormStepOne.get('secondary_hashtag').dirty || f.submitted)">
          Only valid hashtag allowed(Hashtag start with # and only alphabets, numbers and _ are allowed)
        </div>
      </div>
      <div class="w-47 pull-right">
        <div class="w-30 pull-left">
          <label class="mB15">Keyword / Phrases</label>
        </div>
        <div class="w-70 pull-right text-right">
          <mat-checkbox formControlName="keywords_share" class="display-inline-block mR20">Mandatory to share?</mat-checkbox>
          <mat-checkbox formControlName="keywords_track" class="display-inline-block">Track?</mat-checkbox>
        </div>
        <div class="clearfix"></div>
        <input type="text" placeholder="Type & press enter to save" formControlName="keywords" (change)="addKeywordsFormArray($event)" maxlength="200" style="margin-bottom:5px">
        <div class="tags">
          <div formArrayName="keywords_list" *ngFor="let klist of campaignFormStepOne.controls.keywords_list?.value; let i = index">
            <span>{{klist}}</span> <i class="material-icons" (click)="removeKeywordsFormArray(i)">close</i>
          </div>
        </div>
        <div class="error-session-message" style="margin-top: 0px;" *ngIf="!campaignFormStepOne.get('keywords').hasError('pattern') && campaignFormStepOne.get('keywords').hasError('minlength') &&  (campaignFormStepOne.get('keywords').dirty || f.submitted)">
          Keyword must be 2 character or longer
        </div>
        <div class="error-session-message" style="margin-top: 0px;" *ngIf="campaignFormStepOne.get('keywords').hasError('pattern') &&  (campaignFormStepOne.get('keywords').dirty || f.submitted)">
          Use hashtag field for providing a hashtags
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="details_box" [ngStyle]="{'display':show_div_rt_url ? 'block' : 'none' }">
      <label class="mB10">RT URL</label>
      <div class="w-50">
        <input type="text" placeholder="Type & press enter" formControlName="retweet_url" (change)="addRtUrlFormArray($event)">
        <div class="error-session-message" *ngIf="!campaignFormStepOne.get('retweet_url').hasError('pattern') && campaignFormStepOne.get('retweet_url').hasError('required') &&  (campaignFormStepOne.get('retweet_url').dirty || f.submitted)">
          Please enter a valid Twitter URL
        </div>
        <div class="error-session-message" *ngIf="campaignFormStepOne.get('retweet_url').hasError('pattern') &&  (campaignFormStepOne.get('retweet_url').dirty || f.submitted)">
          Please enter a valid Twitter URL
        </div>
      </div>
      <div class="tags">
        <div formArrayName="keywords_list" *ngFor="let rtUrllist of campaignFormStepOne.controls.rtUrl_list?.value; let i = index">
          <span>{{rtUrllist}}</span> <i class="material-icons" (click)="removeRtUrlFormArray(i)">close</i>
        </div>
      </div>
    </div>
    <div class="details_box" [ngStyle]="{'display':show_div_objective_change ? 'block' : 'none' }">
      <div class="w-50 pull-left">
        <h3 class="color_4e4e4e text-16 noM mB30 wt600">Attach Images or Video</h3>
      </div>
      <div *ngIf="campaignId == '' || campaignId==undefined" class="w-50 pull-right text-right cursor-pointer" (click)="clearAllMedia()">
      <i class="material-icons text-16">close</i> Clear
    </div>
    <div class="clearfix"></div>
    <div class="w-100 camp_upload_img">
      <div class="w-25 pull-left pR20">
        <div class="image_upload_btn" id="drag-drop-image">
          <img src="assets/images/upload_img.jpg">
          <input type="file" title="Select Image" accept="image/*" formControlName="image" (change)="uploadImageFromInput($event)"> Upload Images (Max 20)
        </div>
        <div class="w-100 text-center color_666 mT10 mB10">
          Or
        </div>
        <div class="image_upload_btn">
          <img src="assets/images/upload_video.jpg">
          <input type="file" title="Select Video" accept="video/*" formControlName="video" (change)=uploadVideoFromInput($event)> Upload Video (Max 1)
        </div>
      </div>
      <div class="w-75 pull-right">
        <div class="attached_imgs position-relative" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
        <!--images-->
        <ul class="clearfix">
          <li formArrayName="image_list_value" *ngFor="let imageList of campaignFormStepOne.controls.image_list?.value; let i = index">
            <img [src]="imageList.name">
            <i class="material-icons" (click)="removeImageFormArray(i, imageList.imageId)">close</i>
          </li>
        </ul>
        <div class="clearfix"></div>
        <!--images-->
        <!--Videos-->
        <ul class="video_atch clearfix">
          <li *ngIf="videoData"><img [src]="videoData">
            <i class="material-icons" (click)="removeVideo()">close</i>
          </li>
        </ul>
        <div class="clearfix"></div>
        <!--Videos-->
        <p *ngIf="campaignFormStepOne.controls.image_list?.value == '' && !videoData" class="drag_drop">Drag & Drop</p>
      </div>
      <div class="mT10">
        <mat-checkbox formControlName="media_share">Make it mandatory to share</mat-checkbox>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="details_box position-relative camp_adv_search">
  <div class="detail_box_overlay" *ngIf="campaignDetailsData?.status === '3' "></div>
  <h3 class="color_4e4e4e text-16 noM mB30 wt600">Advertiser Type & Details</h3>
  <mat-radio-group aria-label="Select an option" formControlName="advertiser_type" (ngModelChange)="checkAdvertiser($event)">
    <div class="w-100 mB15">
      <div class="w-10 pull-left">
        <mat-radio-button value="agency">Agency</mat-radio-button>
      </div>
      <div class="w-30 pull-left pL10 pR10">
        <ng-select [items]="agencylist" bindValue="id" bindLabel="name" formControlName="agency_id" placeholder="Search Agency" (ngModelChange)="agencySelectChange($event)">
        </ng-select>
      </div>
      <div class="w-30 pull-left pL10 pR10">
        <ng-select [items]="advertiserlist" bindValue="id" bindLabel="name" formControlName="advertiser_id" placeholder="Search Advertiser" (ngModelChange)="advertiserSelectChange($event)">
        </ng-select>
        <span class="error-session-message" *ngIf="campaignFormStepOne.get('advertiser_type').value == 'agency' && !campaignFormStepOne.get('agency_id').value && campaignFormStepOne.get('advertiser_id').touched">
        Select agency name first
        </span>
      </div>
      <div class="w-30 pull-right pL10 pR10">
        <ng-select [items]="brandlist" bindValue="id" bindLabel="name" formControlName="brand_id" placeholder="Search Brand">
        </ng-select>
        <span class="error-session-message" *ngIf="campaignFormStepOne.get('advertiser_type').value == 'agency' && !campaignFormStepOne.get('advertiser_id').value && campaignFormStepOne.get('brand_id').touched">
        Select advertiser name first
        </span>
      </div>
      <div class=" clearfix"></div>
    </div>
    <div class="w-100 mB15">
      <div class="w-10 pull-left">
        <mat-radio-button value="brand">Brand</mat-radio-button>
      </div>
      <div class="w-30 pull-left pL10 pR10">
        <ng-select [items]="dBrandlist" bindValue="id" bindLabel="name" formControlName="brand_id_brand" placeholder="Search Brand" (ngModelChange)="dBrandSelectChange($event)">
        </ng-select>
      </div>
      <div class="w-30 pull-left pL10 pR10">
        <ng-select [items]="advertiserlist" bindValue="id" bindLabel="name" formControlName="advertiser_id_brand" placeholder="Search Advertiser">
        </ng-select>
        <span class="error-session-message" *ngIf="campaignFormStepOne.get('advertiser_type').value == 'brand' && !campaignFormStepOne.get('brand_id_brand').value && campaignFormStepOne.get('advertiser_id_brand').touched">
        Select Brand name first
        </span>
      </div>
      <div class=" clearfix"></div>
    </div>
    <div class="w-100">
      <div class="w-10 pull-left">
        <mat-radio-button value="test">Test</mat-radio-button>
      </div>
      <div class=" clearfix"></div>
    </div>
  </mat-radio-group>
  <div class="error-session-message" style="margin-top: 0px;" *ngIf="campaignFormStepOne.get('advertiser_type').hasError('required') &&  (campaignFormStepOne.get('advertiser_type').dirty || f.submitted)">
    Selecting an advertiser is mandatory.
  </div>
</div>
<div class="details_box">
  <div class="w-47 pull-left">
    <label class="mB15">Enter RO/PO Number</label>
    <input type="text" placeholder="RO/PO Number" formControlName="ro_number" maxlength="21">
    <div class="error-session-message" *ngIf="!campaignFormStepOne.get('ro_number').hasError('pattern') && campaignFormStepOne.get('ro_number').hasError('maxlength') &&  (campaignFormStepOne.get('ro_number').dirty || f.submitted)">
      RO/PO Number must be 20 character or longer
    </div>
    <div class="error-session-message" *ngIf="campaignFormStepOne.get('ro_number').hasError('pattern') &&  (campaignFormStepOne.get('ro_number').dirty || f.submitted)">
      Spaces are not allowed
    </div>
  </div>
  <div class="w-47 pull-right">
    <label class="mB15">Enter EO Number</label>
    <input type="text" placeholder="EO Number" formControlName="eo_number" maxlength="21">
    <div class="error-session-message" *ngIf="!campaignFormStepOne.get('eo_number').hasError('pattern') && campaignFormStepOne.get('eo_number').hasError('maxlength') &&  (campaignFormStepOne.get('eo_number').dirty || f.submitted)">
      EO Number must be 20 character or longer
    </div>
    <div class="error-session-message" *ngIf="campaignFormStepOne.get('eo_number').hasError('pattern') &&  (campaignFormStepOne.get('eo_number').dirty || f.submitted)">
      Spaces are not allowed.
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="w-47 pull-left position-relative campaign_search_list sec_hash_space">
    <label class="mB15">Campaign Manager</label>
    <ng-select
    [items]="managerlist"
    bindValue="name"
    bindLabel="name"
    formControlName="manager_id"
    [(ngModel)]="selectedManagerName"
    placeholder="Search & Select"
    [ngClass]="{
      'has-error' : !campaignFormStepOne.get('manager_id').valid
        &&
      (f.submitted || campaignFormStepOne.get('manager_id').dirty)
    }"
    >
    <ul>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <li style="list-style: none;">
          <div class="pull-left">
            <div class="user_name_img">
              <img *ngIf="item.image" [src]="item.image">
              <p>{{ getNameInitials(item) }}</p>
            </div>
          </div>
          <div class="manager_list_text pull-left pT5">
            <p class="color_666 text-14 wt400">{{ item.name }}</p>
            <p class="color_666 text-14 wt300">{{ item.email }}</p>
          </div>
          <div class="clearfix"></div>
        </li>
      </ng-template>
    </ul>
    </ng-select>
    <div class="error-session-message" style="margin-top: 0px;" *ngIf="campaignFormStepOne.get('manager_id').hasError('required') &&  (campaignFormStepOne.get('manager_id').dirty || campaignFormStepOne.get('manager_id').touched || f.submitted)">
      Campaign Manager is mandatory
    </div>
  </div>

  <div class="w-47 pull-right campaign_search_list">
    <label class="mB15">Colleagues on the campaign</label>
    <ng-select
      [items]="managerlist"
      bindValue="id"
      bindLabel="name"
      formControlName="colleagues"
      placeholder="Search & Select">
      <ul>
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <li style="list-style: none;" (click)="addcolleaguesFormArray(item.id)">
            <div class="pull-left">
              <div class="user_name_img">
                <img *ngIf="item.image" [src]="item.image">
                <p>{{ getNameInitials(item) }}</p>
              </div>
            </div>
            <div class="manager_list_text pull-left pT5">
              <p class="color_666 text-14 wt400">{{ item.name }}</p>
              <p class="color_666 text-14 wt300">{{ item.email }}</p>
            </div>
            <div class="clearfix"></div>
          </li>
        </ng-template>
      </ul>
    </ng-select>
    <!-- <ng-select [items]="managerlist" bindValue="id" bindLabel="name" formControlName="colleagues" placeholder="Search & Select" (ngModelChange)="addcolleaguesFormArray($event)">
      </ng-select> -->
    <div class="select_users" style="margin-top: 10px;">
      <div class="user_name_img" formArrayName="colleagues_list" *ngFor="let colleaguesList of campaignFormStepOne.controls.colleagues_list_name?.value; let i = index">
        <!-- <img src="assets/images/user.jpg"> -->
        <p>{{colleaguesList[0].toUpperCase()}}</p>
        <i class="material-icons" (click)="removeColleaguesFormArray(i)">close</i>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="w-100 mT30 mB50 camp_step_one_btns">
  <div class="w-55 pull-left text-left">
    <div class="btn_sec">
      <div class="btn_sec_inside" (click)="discardSubmit()"><i class="fa fa-trash-alt text-15 mR10"></i> Discard {{campaignDetailsData?.status === '3' ? 'Changes':''}}</div>
    </div>
  </div>
  <div class="w-45 pull-right text-right">
    <div class="btn_sec mR20" (click)="campaignOneFormSubmit(campaignFormStepOne.value , '1')" *ngIf="campaignDetailsData?.status !== '3' ">
      <button class="btn_sec_inside"><span ><i class="material-icons text-20 mR10">save</i> Save Draft</span></button>
    </div>
    <div class="btn_primary" (click)="campaignOneFormSubmit(campaignFormStepOne.value, '3')" *ngIf="campaignDetailsData?.status === '3'">
      <button><span >Continue <i class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span></button>
    </div>
    <div class="btn_primary" (click)="campaignOneFormSubmit(campaignFormStepOne.value, '8')" *ngIf="campaignDetailsData?.status === '2' || campaignDetailsData?.status === '8' ">
      <button><span >Continue <i class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span></button>
    </div>
    <div class="btn_primary" (click)="campaignOneFormSubmit(campaignFormStepOne.value, '5')" *ngIf="!campaignDetailsData?.status || campaignDetailsData?.status === '0' || campaignDetailsData?.status === '5'">
      <button><span>Continue <i class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span></button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
</form>
</div>
<div class="w-23 pull-left bg_white bRadius10" style="height: 600px"></div>
<div class="clearfix"></div>
</div>
<!--right side-->
