<div class="right_side bg_white">
  <div class="p20" style="min-height: 600px;">
    <h2 class="mB20">Youtube Content</h2>
    <div class="w-47 mT20 pull-left p20 border_ddd">
      <label>Bulk Upload Youtube Video</label><br>
      <input class="mT20 mB20" type="file" [(ngModel)] = "videoFileUpload" (change)=uploadYoutubeVideoCSV($event)><br>
      <div class="btn_primary">
        <button (click)="uploadYoutubeVideoSubmit()">Upload</button>
      </div>
    </div>
    <div class="w-47 mT20 pull-right p20 border_ddd">
      <label>Bulk Upload Youtube Channel</label><br>
      <input class="mT20 mB20" type="file" [(ngModel)] = "contentFileUpload" (change)=uploadYoutubeContentCSV($event)><br>
      <div class="btn_primary">
        <button (click)="uploadYoutubeContentSubmit()">Upload</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="w-47 mT50 border_ddd p20">
      <label class="display-block">Download Youtube Channel Content</label><br>
      <div class="btn_primary">
        <button (click)="downloadYoutubeChannel()">Download</button>
      </div>
    </div>
  </div>
</div>