<!-- <div *ngIf="list.length" class="search-results">
  <div *ngFor="let campaign of list" class="advertiser_list_box">
    <div class="w-10 pull-left">
      <div class="user_name_img">
        <img 
          *ngIf="campaign?.advertiser_brand_name === ''" 
          src="assets/images/brand1.png">
        <p 
          *ngIf="campaign.advertiser_brand_name !== ''">
          {{ campaign.advertiser_brand_name[0].toUpperCase() }}
        </p>
      </div>
    </div>
    <div class="w-30 pull-left">
      <p class="text-left text-16 color_666 mB5 wt500">
        {{ campaign.title }}
      </p>
      <p 
        *ngIf="campaign.hashtag"
        class="text-left text-14 color_eleve mB5">#
        {{ campaign.hashtag }}
      </p>
      <p class="text-left text-14 color_666 mB5">
        {{ campaign.advertiser_name }}
      </p>
    </div>
    <div class="w-20 pull-left">
      <p class="text-left text-14 color_666 mB5">
        {{ campaign.start_date }}
      </p>
      <p class="text-left text-14 color_666 mB5">
        {{ campaign?.end_date }}
      </p>
      <p 
        *ngIf="campaign.status === '2'" 
        class="text-left text-14 color_666 mB5 wt600">
        <span class="color_yellow">
          <i class="material-icons text-12 mR5">brightness_1</i> 
          Scheduled
        </span>
      </p>
      <p 
        *ngIf="campaign?.status === '3'" 
        class="text-left text-14 color_666 mB5 wt600">
        <span class="color_green">
          <i class="material-icons text-12 mR5">brightness_1</i> 
          Live
        </span>
      </p>
      <p 
        *ngIf="campaign?.status === '4'" 
        class="text-left text-14 color_666 mB5 wt600">
        <span class="color_red">
          <i class="material-icons text-12 mR5">brightness_1</i>
           Ended
         </span>
      </p>
      <p 
        *ngIf="campaign?.status == '8'" 
        class="text-left text-14 color_666 mB5 wt600">
        <span class="color_organe">
          <i class="material-icons text-12 mR5">brightness_1</i> 
          Paused
        </span>
      </p>
    </div>
    <div class="w-15 pull-left">
      <p 
        *ngIf="campaign.platforms?.length == 0;else platform_content"
        class="text-left text-14 color_eleve mB10" > </p>
      <ng-template #platform_content>
        <p 
          *ngFor="let platform of campaign.platforms" 
          class="text-left text-14 color_eleve mB10">
          <span 
            *ngIf="platform.name == 'facebook'" 
            class="camp_campaign_plat facebook_bg_color ">
            <i class="fab fa-facebook-f"></i>
          </span>
          <span 
            *ngIf="platform.name == 'twitter'" 
            class="camp_campaign_plat twitter_bg_color">
            <i class="fab fa-twitter"></i>
          </span>
          <span 
            *ngIf="platform.name == 'instagram'" 
            class="camp_campaign_plat instagram_bg_color">
            <i class="fab fa-instagram"></i>
          </span>
          <span 
            *ngIf="platform.name == 'youtube'" 
            class="camp_campaign_plat youtube_bg_color">
            <i class="fab fa-youtube"></i>
          </span> 
          {{platform.number_influencer}}
        </p>
      </ng-template>
    </div>
    <div class="w-25 pull-left">
      <div class="display-block camp_list_btn">
        <div 
          *ngIf="campaign.status === '2'"
          class="display-inline-block" >
          <button  
            mat-button 
            [matMenuTriggerFor]="edit2">
            <span 
              class="desktop_show">
              <i class="material-icons text-18">edit</i> 
              Edit 
              <i class="material-icons">arrow_drop_down</i>
            </span>
          </button>
          <mat-menu #edit2="matMenu" >
            <button 
              mat-menu-item 
              [routerLink]="['/campaign/create', campaign._id]">
              Edit Details
            </button>
            <button 
              mat-menu-item 
              (click)="campaignDiscard(campaign._id)">
              Discard Campaign
            </button>
          </mat-menu>
        </div>
        <div 
          *ngIf="campaign.status === '3'"
          class="display-inline-block" >
          <button  
            mat-button 
            [matMenuTriggerFor]="edit3">
            <span class="desktop_show">
              <i class="material-icons text-18">edit</i> 
              Edit 
              <i class="material-icons">arrow_drop_down</i>
            </span>
          </button>
          <mat-menu #edit3="matMenu">
            <button 
              mat-menu-item 
              [routerLink]="['/campaign/create', campaign._id]">
              Edit Step 1
            </button>
            <button 
              mat-menu-item>
              Edit Social & Influencers
            </button>
            <button 
              mat-menu-item 
              (click)="editCampaignEndDate(campaign._id)">
              Edit End Date
            </button>
            <button 
              mat-menu-item 
              (click)="openStopCampaignModal(campaign._id)">
              Stop the campaign
            </button>
          </mat-menu>
        </div>
        <button 
          *ngIf="campaign.status === '3'"
          mat-raised-button  
          [routerLink]="['/campaign/kol',campaign._id]">
          <i class="material-icons text-18"  >people</i>
          KOL
        </button>
        <button 
          *ngIf="campaign.status !== '3'"
          mat-raised-button >
          <i class="material-icons text-18"  >people</i>
            KOL
        </button>
      </div>
      <div 
        class="display-block camp_list_btn">
        <button 
          mat-raised-button>
          <i class="material-icons text-20 mR5">trending_up</i>
          Report
        </button>
        <button 
          mat-button 
          [matMenuTriggerFor]="excel">
          <span class="desktop_show">
            <i class="material-icons text-18">get_app</i> 
            Excel 
            <i class="material-icons">arrow_drop_down</i>
          </span>
        </button>
        <mat-menu #excel="matMenu">
          <button mat-menu-item>Influencer List</button>
          <button mat-menu-item>Duplicate Tweets</button>
          <button mat-menu-item>Organic Vs Paid</button>
        </mat-menu>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div 
  *ngIf="!list.length && !loading"
  class="camp_list_empty">
  <img src="assets/images/camp_list_empty.png">
  <p 
    class="text-16 color_333 mB20 wt600">
    Lorem Ipsum is simply dummy
  </p>
  <p 
    class="text-14 color_666 mB20">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
  </p>
  <div class="btn_primary">
    <div routerLink="/campaign">Create New Campaign</div>
  </div>
</div> -->