
<!--right side-->
<div class="right_side">
	<div class="bread_crumb w-100 pB20">
		<p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
			<span>Create Campaigns</span></p>
	</div>
	<div class="w-75 pull-left bg_white bRadius10 mR20 p30">
		<h2 class="main_heading text-18 text-left color_666 noM wt400 pB50">Launch a Campaign</h2>
		<div class="camp_steps">
			<ul class="camp_steps_progressbar">
				<li class="active">Basic Details</li>
				<li class="active">Choose Platform</li>
				<li>Final Step</li>
			</ul>
		</div>
		<div class="platform_btn">
			<div class="w-300 pull-left facebook_bg_color mB30">
				<div class="plat_name"><i class="fab fa-facebook-f"></i></div>
				<div class="plat_micro">Micro</div>
				<div class="plat_premium">Premium</div>
				<div class="clearfix"></div>
			</div>
			<div class="w-300 pull-right twitter_bg_color mB30">
				<div class="plat_name"><i class="fab fa-twitter"></i></div>
				<div class="plat_micro">Micro</div>
				<div class="plat_premium">Premium</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="w-300 pull-left youtube_bg_color">
				<div class="plat_name"><i class="fab fa-youtube"></i></div>
				<div class="plat_micro">Micro</div>
				<div class="plat_premium">Premium</div>
				<div class="clearfix"></div>
			</div>
			<div class="w-300 pull-right instagram_bg_color">
				<div class="plat_name"><i class="fab fa-instagram"></i></div>
				<div class="plat_micro">Micro</div>
				<div class="plat_premium">Premium</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="w-100 mT100 mB50 text-left">
			<div class="btn_sec mR20">
				<div class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Discard</div>
			</div>
			<div class="btn_sec" routerLink="/campaign/step-one">
				<div class="btn_sec_inside"><i class="material-icons text-20 mR10">keyboard_backspace</i>Step 1</div>
			</div>
		</div>
	</div>
	<div class="w-23 pull-left bg_white bRadius10" style="height: 600px"></div>
	<div class="clearfix"></div>
</div>
<!--right side-->