<!--Header-->
<header>
  <div class="logo float-left text-left">
    <a href="#" class="desktop_logo"><img src="assets/images/eleve_logo.png" alt="Eleve"></a>
    <span class="mobile_menu_icon">
    <i class="material-icons text-30" onclick="menu_icon()">dehaze</i>
    </span>
  </div>
  <div class="w-82 float-left header_shadow">
    <div class="user_drop_down float-right">
      <button mat-button [matMenuTriggerFor]="menu"><span class="desktop_show">{{userName | slice:0:20}}{{userName.length>20 ? '...':''}}</span>
      <span class="user_drop_img">
      <img src="{{userPic}}">
      </span>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/admin-profile" mat-menu-item>My Profile</button>
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
    <div class="search_bar float-right">
      <div class="search_input">
        <i class="material-icons">search</i>
        <input class="display-inline vertical-middle" placeholder="Search" type="text" name="">
      </div>
      <div class="notification_section float-right text-right" style="margin-right: 15px;">
        <span class="mT10 position-relative">
        <i class="material-icons">notifications</i>
        <span class="noti_count"></span>
        </span>
      </div>
      <div class="notification_section float-right text-right">
        <button class="add_btn" mat-button [matMenuTriggerFor]="add_btn"><i class="material-icons text-26">control_point</i></button>
        <mat-menu #add_btn="matMenu">
          <button mat-menu-item routerLink="/influencer/create">Create Influencer</button>
          <button mat-menu-item routerLink="/advertiser/create">Create Advertiser</button>
          <button mat-menu-item routerLink="/campaign/create">Create Campaign</button>
          <!-- <button mat-menu-item>Create Board</button> -->
          <!-- <button mat-menu-item *ngIf="adminPermission == 'superadmin'">Create Admin</button> -->
        </mat-menu>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</header>
<!--Header-->