    <!--Skeleton of forms Code-->
    <ul *ngIf="!skeletonLoader" class="o-vertical-spacing o-vertical-spacing--l">
      <li *ngFor= "let skelupper of [1, 2]" class="blog-post list_box_sklt">
        <div *ngFor= "let skelmain of [1, 2]" class="o-media mB20">
          <div *ngFor= "let skel of [1, 2]" class="o-media w-50">
            <div class="o-media__body">
              <div class="o-vertical-spacing">
                <div class="blog-post__meta mT5">
                  <span class="skeleton-box" style="width:80%; height: 35px; border-radius:25px;"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--Skeleton of forms Code-->
