<div class="eleve_modal_bg" style="display: block" *ngIf="influencer">
  <div class="bg_close_layer" (click)="closeModal(false)"></div>
  <div class="eleve_modal modal_animate_zoom" style=" margin-top:50px;">
    <b class="modal_close" (click)="closeModal(false)"><i class="material-icons color_white">clear</i></b>
    <div class="adv_view" (ngSubmit)="onSubmit()" [formGroup]='influencerForm'>
    <div class="adv_view_bg">
      <h2>Edit Influencer</h2>
      <div class="w-100 pT20">
        <div class="w-70 pull-left">
          <div class="adv_name_img">
            <div class="w-30 pull-left">
              <div class="user_name_img position-relative">
                <img [src]='imgURL ? imgURL : "assets/images/user.jpg"'>
                <!-- <p>PK</p> -->
                <div class="image_icon">
                  <i class="fa fa-camera"></i>
                  <input type="file" title="Select New Image" (change)="preview($event)" id="file" accept="image/*">
                </div>
              </div>
            </div>
            <div class="w-70 pull-left pT10">
              <h3 class="color_white full-name text-20 wt600 text-left mB5">{{f.first_name.value}}
                {{f.last_name.value}}
              </h3>
              <p class="text-14 color_white text-left noM">
                {{ 
                  influencer && influencer.status == 0 
                  ? 'Inactive'
                  : (influencer && influencer.status == 1) 
                  ? 'Active' 
                  : 'Barred' 
                }}
                Influencer
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="w-100 p30" style="padding-top: 10px; height: 400px; overflow: auto;">
      <div class="details_box" style="margin-top:0px;">
        <div class="w-47 pull-left">
          <label class="mB15 text-left">First Name</label>
          <input type="text"
            [class.invalid-field]='f.first_name.invalid && (f.first_name.dirty  || f.first_name.touched)'
            placeholder="First Name" formControlName='first_name'>
          <div class="error-msg-box" *ngIf='f.first_name.invalid && (f.first_name.dirty  || f.first_name.touched)'>
            <app-error-msg
            [errorMessages]='this.errorMessages.first_name' [error]='f.first_name.errors'>
            </app-error-msg>
          </div>
        </div>
        <div class="w-47 pull-right">
          <label class="mB15 text-left">Last Name</label>
          <input type="text" placeholder="Last Name"
            [class.invalid-field]='f.last_name.invalid && (f.last_name.dirty  || f.last_name.touched)'
            formControlName='last_name'>
          <div class="error-msg-box" *ngIf='f.last_name.invalid && (f.last_name.dirty  ||f.last_name.touched)'>
            <app-error-msg
            [errorMessages]='this.errorMessages.last_name' [error]='f.last_name.errors'>
            </app-error-msg>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="w-47 pull-left org_plus">
          <label class="mB15 text-left">Gender</label>
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button [class.invalid-field]='f.gender.invalid && f.gender.touched' 
              value="male">Male</mat-radio-button>
            <mat-radio-button [class.invalid-field]='f.gender.invalid && f.gender.touched' 
              value="female">Female</mat-radio-button>
            <mat-radio-button [class.invalid-field]='f.gender.invalid && f.gender.touched' value="other">
              Other
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="w-47 pull-right dob position-relative">
          <label class="mB15 text-left">DOB</label>
          <mat-form-field [class.invalid-field]='f.dob.invalid && f.dob.touched'>
            <input [min]="minDate" [max]="maxDate" matInput
            formControlName='dob' [matDatepicker]="picker" placeholder="Choose a date"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
          <div class="error-msg-box" *ngIf='f.dob.invalid && (f.dob.dirty  || f.dob.touched)' style="margin: 0;">
            <app-error-msg
            [errorMessages]='this.errorMessages.dob' [error]='f.dob.errors'>
            </app-error-msg>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="mT30">
          <div class="w-47 pull-left">
            <label class="mB15 text-left">Primary Email</label>
            <input type="text"
            [class.invalid-field]='f.email_id.errors && (f.email_id.dirty  || f.email_id.touched)'
            (blur)='checkEmail()' placeholder="Primary Email" formControlName='email_id'>
            <div class="error-msg-box" *ngIf='f.email_id.errors && (f.email_id.dirty  || f.email_id.touched)'>
              <app-error-msg
              [errorMessages]='this.errorMessages.email_id' [error]='f.email_id.errors'>
              </app-error-msg>
            </div>
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">Alternate Email</label>
            <input type="text"
              [class.invalid-field]='f.alt_email.invalid &&  (f.alt_email.dirty  || f.alt_email.touched)'
              placeholder="Alternate Email" formControlName='alt_email'>
            <div class="error-msg-box text-left" *ngIf='f.alt_email.invalid && (f.alt_email.dirty  || f.alt_email.touched)'>
              <app-error-msg
              [errorMessages]='this.errorMessages.alt_email_id' [error]='f.alt_email.errors'>
              </app-error-msg>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="w-47 pull-left org_plus">
            <label class="mB15 text-left">Primary Mobile</label>
            <div class="w-100 isd_feild">
              <div class="w-40 pull-left isd_code">
                <mat-select matNativeControl
                  [class.invalid-field]='f.isd_code.invalid && (f.isd_code.dirty  || f.isd_code.touched)'
                  class="form-control" formControlName='isd_code' placeholder="ISD">
                  <mat-option *ngFor='let code of $isdCodes  | async' value='{{code.dial_code}}'>
                    {{code.dial_code}} - {{code.name}} 
                  </mat-option>
                </mat-select>
              </div>
              <div class="w-60 pull-right">
                <input type="tel"
                  [class.invalid-field]='f.mobile.invalid && (f.mobile.dirty  || f.mobile.touched)'
                  placeholder="Mobile Number" formControlName='mobile' class="form-control">
                <div class="error-msg-box" *ngIf='f.mobile.invalid && (f.mobile.dirty  || f.mobile.touched)'>
                  <app-error-msg
                  [errorMessages]='this.errorMessages.mobile' [error]='f.mobile.errors'>
                  </app-error-msg>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="w-47 pull-right">
            <label class="mB15 text-left">Alternate Mobile</label>
            <div class="w-100 isd_feild">
              <div class="w-40 pull-left isd_code">
                <mat-select
                  [class.invalid-field]='f.alt_isd_code.invalid && (f.alt_isd_code.dirty   || f.alt_isd_code.touched)'
                  matNativeControl class="form-control" formControlName='alt_isd_code'
                  placeholder="ISD">
                  <mat-option *ngFor='let code of $isdCodes  | async' value="{{code.dial_code}}">
                    {{code.dial_code}} - {{code.name}} 
                  </mat-option>
                </mat-select>
              </div>
              <div class="w-60 pull-right">
                <input type="text"
                  [class.invalid-field]='f.alt_mobile.invalid && (f.alt_mobile.dirty )'
                  placeholder="Mobile Number" formControlName='alt_mobile' class="form-control">
                <div class="error-msg-box" *ngIf='f.alt_mobile.invalid && (f.alt_mobile.dirty  || f.alt_mobile.touched)'>
                  <app-error-msg
                  [errorMessages]='this.errorMessages.alt_mobile' [error]='f.alt_mobile.errors'>
                  </app-error-msg>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="details_box edit_infu">
        <div class="w-33 pull-left">
          <label class="mB15 text-left">Country</label>
          <ng-select [items]="$isdCodes  | async"
          [class.invalid-field]='f.country.invalid && (f.country.dirty || f.country.touched)'
          bindLabel="name"
          bindValue="name"
          placeholder="Select country first"
          formControlName='country'
          >
          </ng-select>
          <div class="error-msg-box" *ngIf='f.country.invalid && (f.country.dirty  || f.country.touched)'>
            <app-error-msg
            [errorMessages]='this.errorMessages.country' [error]='f.country.errors'>
            </app-error-msg>
          </div>
        </div>
        <div class="w-33 pull-left pL15 pR10">
          <label class="mB15 text-left">State</label>
          <ng-select [items]="$stateList  | async"
          [class.invalid-field]='f.state.invalid && (f.state.dirty  || f.state.touched)'
          bindLabel="name"
          bindValue="name"
          formControlName='state'
          placeholder="Select state next"
          >
          </ng-select>
          <div class="error-msg-box" *ngIf='f.state.invalid && (f.state.dirty  || f.state.touched)'>
            <app-error-msg
            [errorMessages]='this.errorMessages.state' [error]='f.state.errors'>
            </app-error-msg>
          </div>
        </div>
        <div class="w-33 pull-right">
          <label class="mB15 text-left">City</label>
          <ng-select [items]='$citiesList  | async'
          [class.invalid-field]='f.city.invalid && (f.city.dirty  || f.city.touched)'
          bindLabel="name"
          bindValue="name"
          formControlName='city'
          placeholder='Select city next'
          >
          </ng-select>
          <div class="error-msg-box" *ngIf='f.city.invalid && (f.city.dirty  || f.city.touched)'>
            <app-error-msg
            [errorMessages]='this.errorMessages.city' [error]='f.city.errors'></app-error-msg>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="w-100 mT20">
          <label class="mB15 text-left">Billing Address</label>
          <textarea rows="6"
            [class.invalid-field]='f.address.invalid && (f.address.touched || f.address.dirty)'
            placeholder="Billing Address" formControlName="address"></textarea>
        </div>
      </div>
      <div class="details_box">
        <h3 class="color_4e4e4e text-16 noM mB20 wt500 text-left">Note</h3>
        <textarea rows="6" formControlName="note"></textarea>
      </div>
      <div class="w-100 mT50">
        <div class="w-50 pull-left text-left">
          <div class="btn_sec">
            <div class="btn_sec_inside" (click)="closeModal(false)">Cancel</div>
          </div>
        </div>
        <div class="w-50 pull-right text-right">
          <div class="btn_primary">
            <div (click)="onSubmit()"><i class="material-icons text-20 mR10" >ac_unit</i> Save</div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Edit Detail Modal-->