<!--right side-->
<div class="right_side pL20per">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span routerLink="/advertiser">Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
            <span>Organization Details</span></p>
    </div>
    <div class="w-75 pull-left bg_white bRadius5 mR20">
        <div class="adv_view">
            <div class="adv_view_bg org_div_full">
                <h2>Organization Details</h2>
                <div class="w-100 pT25">
                    <div class="w-90 pull-left">
                        <div class="adv_name_img">
                            <div class="w-15 pull-left">
                                <div class="user_name_img">
                                    <img *ngIf="getOrganitionData?.organisationInfo?.image" src="{{organisation?.image}}">
                                    <p *ngIf="!getOrganitionData?.organisationInfo?.image && getOrganitionData?.organisationInfo?.organisation_name">{{getOrganitionData?.organisationInfo?.organisation_name[0].toUpperCase()}}</p>
                                </div>
                            </div>
                            <div class="w-85 pull-left mob_pad">
                                <h3 class="color_white text-20 wt600 text-left mB5 text-cap">{{getOrganitionData?.organisationInfo?.organisation_name}}</h3>
                                <p class="text-14 color_white text-left noM text-cap">{{getOrganitionData?.organisationInfo?.type}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="w-10 pull-right text-right pT10">
                        <a (click)="getOpenModalOrganisationEdit(getOrganitionData?.organisationInfo?._id, getOrganitionData?.organisationInfo?.organisation_name, getOrganitionData?.organisationInfo?.type)" class="edit_pen cursor-pointer"><i class="material-icons text-18">edit</i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="position-relative org_social_icons">
                  <div  class="w-100 camp_list">
                      <span *ngIf="getOrganitionData?.organisationInfo?.social_media[0]?.facebook && getOrganitionData?.organisationInfo?.social_media[0]?.facebook.length > 0" class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                      <span *ngIf="getOrganitionData?.organisationInfo?.social_media[0]?.twitter && getOrganitionData?.organisationInfo?.social_media[0]?.twitter.length > 0" class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                      <span *ngIf="getOrganitionData?.organisationInfo?.social_media[0]?.instagram && getOrganitionData?.organisationInfo?.social_media[0]?.instagram.length > 0" class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                      <span *ngIf="getOrganitionData?.organisationInfo?.social_media[0]?.linkedin && getOrganitionData?.organisationInfo?.social_media[0]?.linkedin.length > 0" class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                      <span *ngIf="getOrganitionData?.organisationInfo?.social_media[0]?.youtube && getOrganitionData?.organisationInfo?.social_media[0]?.youtube.length > 0" class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                      <span *ngIf="getOrganitionData?.organisationInfo?.social_media[0]?.blog && getOrganitionData?.organisationInfo?.social_media[0]?.blog.length > 0" class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                      <span *ngIf="getOrganitionData?.organisationInfo?.social_media[0]?.pinterest && getOrganitionData?.organisationInfo?.social_media[0]?.pinterest.length > 0" class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                      <span *ngIf="getOrganitionData?.organisationInfo?.social_media[0]?.snapchat && getOrganitionData?.organisationInfo?.social_media[0]?.snapchat.length > 0" class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                  </div>
                </div>

            </div>
            <div class="w-100 p30 mT20">
                <div class="adv_detail_box">
                    <h3>About</h3>
                    <div class="adv_detail_fields">
                        <div class="w-48 pull-left text-left">
                            <p><i class="material-icons">mail</i>{{getOrganitionData?.advertiserInfo.length}} Members</p>
                        </div>
                        <div class="w-48 pull-right text-right">
                            <p><i class="material-icons">mail</i>{{ filteredAssociated }} Brands Associated</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="w-100" *ngFor="let orgAddress of getOrganitionData?.organisationInfo?.addresses">
                            <div class="w-95 pull-left">
                                <p>
                                    <i class="material-icons pR5">phone</i>
                                    <span>{{orgAddress?.country}} - {{orgAddress?.state}} - {{orgAddress?.city}}</span><br>
                                    <span class="pL30 mT5">{{orgAddress?.address}}</span>
                                </p>
                            </div>
                            <!-- <div class="w-5 pull-right text-right">
                                <i routerLink="/" class="material-icons cursor-pointer text-20 color_eleve">edit</i>
                            </div> -->
                            <div class="clearfix"></div>
                            <hr class="address_border_color">
                        </div>
                    </div>
                </div>

                <!-- agency -->
                <div *ngIf="getOrganitionData?.organisationInfo?.type == 'agency'">
                  <ul class="adv_details_cat">
                      <li>
                          <img src="assets/images/camp_icon.png">
                          <p>
                              0
                              <span>Campaign</span>
                          </p>
                      </li>
                      <li>
                          <img src="assets/images/board_icon.png">
                          <p>
                              0
                              <span>Boards</span>
                          </p>
                      </li>
                      <li>
                          <img src="assets/images/track_icon.png">
                          <p>
                              0
                              <span>Tracks</span>
                          </p>
                      </li>
                      <div class="clearfix"></div>
                  </ul>
                  <div class="clearfix"></div>
                  <div class="adv_detail_box">
                      <h3>Advertisers</h3>
                      <div class="advertiser_detail">
                          <p class="text-center text-12 mT10" style="color: #afafaf">Brands Associated</p>

                          <div *ngFor="let advertiser of getOrganitionData?.advertiserInfo" class="w-100 advertiser_detail_row">
                              <div class="w-50 pull-left">
                                  <div class="w-30 pull-left">
                                      <div class="user_name_img">
                                          <img *ngIf="advertiser?.profile_image" src="{{advertiser?.profile_image}}">
                                          <p *ngIf="!advertiser?.profile_image && advertiser?.name">{{advertiser?.name[0].toUpperCase()}}</p>
                                      </div>
                                  </div>
                                  <div class="w-70 pull-right pL15">
                                      <p class="text-left text-16 color_4e4e4e mB5">{{advertiser?.name}}</p>
                                      <p class="text-left text-14 color_666 mB5"><i class="material-icons color_ccc text-16 mR5">location_on</i> {{advertiser?.city}}</p>
                                      <p class="text-left text-14 color_666 mB5"><i class="material-icons color_ccc text-16 mR5">mail</i> {{advertiser?.email}}</p>
                                      <p class="text-left text-14 color_666"><i class="material-icons color_ccc text-16 mR5">phone</i> {{advertiser?.isd}}-{{advertiser?.phone}}</p>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                              <!-- <div class="w-50 pull-right pT20">
                                  <ul class="adv_asso_brands pL20 display-inline-block vertical-middle">
                                      <li>
                                          <div class="user_name_img">
                                              <img src="assets/images/brand1.png">
                                              <p>PK</p>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="user_name_img">
                                              <img src="assets/images/brand1.png">

                                          </div>
                                      </li>
                                      <li>
                                          <div class="user_name_img">
                                              <img src="assets/images/brand1.png">
                                          </div>
                                      </li>
                                      <li>
                                          <div class="user_name_img">
                                               <p>LG</p>
                                          </div>
                                      </li>
                                  </ul>
                                  <p class="text-16 display-inline-block vertical-middle" style="color: #333"><span>+4</span></p>
                              </div> -->
                              <div class="clearfix"></div>
                              <hr class="address_border_color">
                          </div>

                      </div>
                  </div>
              </div>
            <!--  -->


            <!--for direct brand-->
            <div *ngIf="getOrganitionData?.organisationInfo?.type == 'brand'">
              <h2 class="color_4e4e4e text-16 noM mB15 wt500">Direct Association</h2>
              <ul class="adv_details_cat">
                  <li>
                      <img src="assets/images/camp_icon.png">
                      <p>
                          0
                          <span>Campaign</span>
                      </p>
                  </li>
                  <li>
                      <img src="assets/images/board_icon.png">
                      <p>
                          0
                          <span>Boards</span>
                      </p>
                  </li>
                  <li>
                      <img src="assets/images/track_icon.png">
                      <p>
                          0
                          <span>Tracks</span>
                      </p>
                  </li>
                  <div class="clearfix"></div>
              </ul>
              <h2 class="color_4e4e4e text-16 noM mB15 wt500">Via Other Agency</h2>
              <ul class="adv_details_cat">
                  <li>
                      <img src="assets/images/camp_icon.png">
                      <p>
                          0
                          <span>Campaign</span>
                      </p>
                  </li>
                  <li>
                      <img src="assets/images/board_icon.png">
                      <p>
                          0
                          <span>Boards</span>
                      </p>
                  </li>
                  <li>
                      <img src="assets/images/track_icon.png">
                      <p>
                          0
                          <span>Tracks</span>
                      </p>
                  </li>
                  <div class="clearfix"></div>
              </ul>
              <div class="clearfix"></div>
              <div class="adv_detail_box">
                  <h3>Advertisers</h3>
                  <div class="advertiser_detail">
                      <div class="w-100 advertiser_detail_row">
                          <div class="w-50 pull-left" *ngFor="let advertiser of getOrganitionData?.advertiserInfo">
                              <div class="w-30 pull-left">
                                  <div class="user_name_img">
                                      <img *ngIf="advertiser?.profile_image" src="{{advertiser?.profile_image}}">
                                      <p *ngIf="!advertiser?.profile_image && advertiser?.name">{{advertiser?.name[0].toUpperCase()}}</p>
                                      <!-- <p>PK</p> -->
                                  </div>
                              </div>
                              <div class="w-70 pull-right pL15">
                                  <p class="text-left text-16 color_4e4e4e mB5">{{advertiser?.name}}</p>
                                  <p class="text-left text-14 color_666 mB5"><i class="material-icons color_ccc text-16 mR5">location_on</i> {{advertiser?.city}}</p>
                                  <p class="text-left text-14 color_666 mB5"><i class="material-icons color_ccc text-16 mR5">mail</i> {{advertiser?.email}}</p>
                                  <p class="text-left text-14 color_666"><i class="material-icons color_ccc text-16 mR5">phone</i> {{advertiser?.isd}}-{{advertiser?.phone}}</p>
                              </div>
                              <div class="clearfix"></div>
                          </div>

                          <div class="clearfix"></div>
                          <hr class="address_border_color">
                      </div>
                  </div>
              </div>
            </div>
            <!--for direct brand-->





            <!--  -->
                <div class="w-100 mT50 mB50">
                    <div class="w-70 pull-left text-left">
                        <div class="btn_sec mR20">
                            <div (click)="getOpenModalOrganisationEdit(getOrganitionData?.organisationInfo?._id, getOrganitionData?.organisationInfo?.organisation_name, getOrganitionData?.organisationInfo?.type)" class="btn_sec_inside">Edit Details</div>
                        </div>
                        <div class="btn_sec">
                            <div class="btn_sec_inside">Create Camapign</div>
                        </div>
                    </div>
                    <!-- <div class="w-30 pull-right text-right">
                        <div class="status_btn inactive_btn">
                            <button mat-button [matMenuTriggerFor]="status_org"><i class="material-icons mR15 text-18">ac_unit</i>Status :  <span>Inactive</span> <i class="material-icons mL15 text-20">arrow_drop_down</i></button>
                            <mat-menu #status_org="matMenu">
                                <button mat-menu-item>Active</button>
                                <button mat-menu-item>Inactive</button>
                            </mat-menu>
                        </div>
                    </div> -->
                    <div class="clearfix"></div>
                </div>
            </div>


        </div>
    </div>
    <div class="w-23 pull-left bg_white bRadius5">
        <div class="p20">
            <h2 class="text-left text-16 color_4e4e4e wt600">Campaigns & Boards</h2>
            <div class="details_box" style="margin-top:20px;">
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="w-100 camp_list">
                    <h4>Campaign Name</h4>
                    <p>#Primary Hashtag</p>
                    <p>End Date : <span>July 2019</span></p>
                    <p>
                        <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
                        <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
                        <span class="instagram_bg_color"><i class="fab fa-instagram "></i></span>
                        <span class="linkedin_bg_color"><i class="fab fa-linkedin-in "></i></span>
                        <span class="youtube_bg_color"><i class="fab fa-youtube "></i></span>
                        <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
                        <span class="pinterest_bg_color"><i class="fab fa-pinterest-p"></i></span>
                        <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="camp_sea_all_btn">
            <a routerlink="">See All</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--right side-->




<!-- Create Organization modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_modal ? 'block' : 'none' }">
  <div class="bg_close_layer" (click)="hideModel()"></div>
  <form [formGroup]="organsiationForm" (ngSubmit)="onOrganisationFormSubmit(organsiationForm.value)" #s="ngForm"
      autocomplete="off">
      <div class="eleve_modal modal_animate_zoom">
        <b class="modal_close" (click)="hideModel()"><i class="material-icons">clear</i></b>
        <!--select Organization-->
        <div [ngStyle]="{'display':show_step1 ? 'block' : 'none' }">

          <div class="modal_header">
            <p class="color_666 text-16 text-left wt500"><i
                class="material-icons color_eleve text-30">add_circle_outline</i> Create an Organization</p>
          </div>
          <div class="modal_content">
            <p class="color_666 text-14 text-left">An organization must be located to add a new advertiser from a new
              client</p>
            <p class="color_4e4e4e text-16 wt500 mT40 text-left">Select a client type :</p>
            <div class="select_brand_circle">
              <input type="radio" class="button" id="agency" value="agency" formControlName="orgtype"
                (click)="handleChange($event)">
              <label class="pT30" for="agency">Agency</label>
              <input type="radio" class="button" id="brnd" formControlName="orgtype" value="brand"
                (click)="handleChange($event)">
              <label class="pT25" for="brnd">Direct <br>Brand</label>
              <div class="clearfix"></div>
            </div>
            <div *ngIf="organsiationForm.get('orgtype').invalid">
              organisation Type required.
            </div>
          </div>

        </div>
        <!--select Organization-->
        <!--select Brand-->
        <div [ngStyle]="{'display':show_brand ? 'block' : 'none' }">

          <div class="modal_header">
            <p class="color_666 text-16 text-left wt500"><i
                class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
          </div>
          <div class="modal_content">
            <p class="color_666 text-14 text-left">Have we previously worked with this brand via an <b>agency?</b></p>
            <div class="select_brand_circle">
              <input type="radio" class="button" id="yes" value="yes" formControlName="brandexists"
                (click)="handleChangeBrand($event)">
              <label class="pT30" for="yes">Yes</label>
              <input type="radio" class="button" id="no" value="no" formControlName="brandexists"
                (click)="handleChangeBrand($event)">
              <label class="pT30" for="no">No</label>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
        <!--select Brand-->
        <!--Brand Yes Condition-->
        <div [ngStyle]="{'display':show_brand_yes ? 'block' : 'none' }">

          <div class="modal_header">
            <p class="color_666 text-16 text-left wt500"><i
                class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
          </div>
          <div class="modal_content org_input">
            <p class="color_666 text-14 text-left mB10 wt400">Select Name</p>
            <!-- <input type="text" placeholder="Search & Select" formControlName="organisation_name"> -->
            <!-- <ng-select [items]="organisationlist" formControlName="organisation_name" (change)="onSelectChange()"> -->
            <!-- </ng-select> -->
            <div class="error-message"
              *ngIf="organsiationForm.get('organisation_name').hasError('required') && (organsiationForm.get('organisation_name').dirty || s.submitted)">
              Please enter organisation name.
            </div>
            <p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
            <div formArrayName="facebook">
              <div class="w-100 mB10" *ngFor="let item of facebookRows.controls; let fbIndex=index"
                [formGroupName]="fbIndex">
                <div class="w-5 pull-left pT5">
                  <div class="facebook_bg_color">
                    <i class="fab fa-facebook-f"></i>
                    <input type="hidden" formControlName="platform">
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" formControlName="handle" placeholder="Page Name">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="url" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'facebook', facebookRows, fbIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addfacebookRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_fb">
                {{error_fb}}
              </div>
            </div>
            <div formArrayName="instagram">
              <div class="w-100 mB10" *ngFor="let item of instagramRows.controls; let instaIndex=index"
                [formGroupName]="instaIndex">
                <div class="w-5 pull-left pT5">
                  <div class="instagram_bg_color">
                    <i class="fab fa-instagram"></i>
                    <input type="hidden" formControlName="platform" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="@handle" formControlName="handle"
                    (blur)="checkValidHandle($event.target.value, instaIndex, 'instagram')">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'instagram', instagramRows, instaIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addinstagramRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_instagram">
                {{error_instagram}}
              </div>
            </div>
            <div formArrayName="twitter">
              <div class="w-100 mB10" *ngFor="let item of twitterRows.controls; let twtIndex=index"
                [formGroupName]="twtIndex">
                <div class="w-5 pull-left pT5">
                  <div class="twitter_bg_color">
                    <i class="fab fa-twitter"></i>
                    <input type="hidden" formControlName="platform" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="@handle" formControlName="handle"
                    (blur)="checkValidHandle($event.target.value, twtIndex, 'twitter')">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'twitter', twitterRows, twtIndex )">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addtwitterRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_twitter">
                {{error_twitter}}
              </div>
            </div>
            <div formArrayName="youtube">
              <div class="w-100 mB10" *ngFor="let item of youtubeRows.controls; let youtubeIndex=index"
                [formGroupName]="youtubeIndex">
                <div class="w-5 pull-left pT5">
                  <div class="youtube_bg_color">
                    <i class="fab fa-youtube"></i>
                    <input type="hidden" formControlName="platform" value="youtube" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Channel Name" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'youtube',youtubeRows,youtubeIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addyoutubeRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_pinterest">
                {{error_youtube}}
              </div>
            </div>
            <div formArrayName="blog">
              <div class="w-100 mB10" *ngFor="let item of blogRows.controls; let blogIndex=index"
                [formGroupName]="blogIndex">
                <div class="w-5 pull-left pT5">
                  <div class="blog_bg_color">
                    <i class="fab fa-blogger-b"></i>
                    <input type="hidden" formControlName="platform" value="blog" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Blog Name" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'blog', blogRows, blogIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addblogRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_blog">
                {{error_blog}}
              </div>
            </div>
            <div formArrayName="linkedin">
              <div class="w-100 mB10" *ngFor="let item of linkedinRows.controls; let linkIndex=index"
                [formGroupName]="linkIndex">
                <div class="w-5 pull-left pT5">
                  <div class="linkedin_bg_color">
                    <i class="fab fa-linkedin-in"></i>
                    <input type="hidden" formControlName="platform" value="linkedin" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Page Name" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'linkedin',linkedinRows,linkIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addlinkedinRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_linkedin">
                {{error_linkedin}}
              </div>
            </div>
            <!--Tiktok-->
            <div>
                <div class="w-100 mB10">
                    <div class="w-5 pull-left pT5">
                        <div class="tiktok_bg_color">
                            <i class="material-icons text-18">music_note</i>
                            <input type="hidden" />
                        </div>
                    </div>
                    <div class="w-45 pull-left pL15 pR5">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="w-45 pull-left pL10 pR10">
                        <input type="text" placeholder="Paste Url">
                    </div>
                    <div class="w-5 pull-left pT5">
                        <i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Tiktok-->
            <div formArrayName="snapchat">
              <div class="w-100 mB10" *ngFor="let item of snapchatRows.controls; let snapIndex=index"
                [formGroupName]="snapIndex">
                <div class="w-5 pull-left pT5">
                  <div class="snapchat_bg_color">
                    <i class="fab fa-snapchat-ghost"></i>
                    <input type="hidden" formControlName="platform" value="snapchat" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Username" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'snapchat',snapchatRows,snapIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addsnapchatRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_snapchat">
                {{error_snapchat}}
              </div>
            </div>
            <div formArrayName="pinterest">
              <div class="w-100 mB10" *ngFor="let item of pinterestRows.controls; let pinIndex=index"
                [formGroupName]="pinIndex">
                <div class="w-5 pull-left pT5">
                  <div class="pinterest_bg_color">
                    <i class="fab fa-pinterest-p"></i>
                    <input type="hidden" formControlName="platform" value="pinterest" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Username" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'pinterest',pinterestRows,pinIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addpinterestRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_pinterest">
                {{error_pinterest}}
              </div>
            </div>
            <div class="error-message" *ngIf="error_social">
              Must provide atleast one social reference
            </div>
            <div class="w-100 mT40">
              <div class="w-50 pull-left text-left">
                <div class="btn_sec">
                  <div class="btn_sec_inside" (click)="cancelForm()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
                  </div>
                </div>
              </div>
              <div class="w-50 pull-right text-right">
                <div class="btn_primary">
                  <button><i class="material-icons text-20 mR10">add_circle_outline</i> Create</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
        <!---Brand Yes Condition-->
        <!--Brand No Condition-->
        <div [ngStyle]="{'display':show_brand_agency ? 'block' : 'none' }">

          <div class="modal_header">
            <p class="color_666 text-16 text-left wt500"><i
                class="material-icons color_eleve text-30">add_circle_outline</i> Edit {{getOrganitionData?.organisationInfo?.organisation_name}} details</p>
          </div>
          <div class="modal_content org_input">
            <p class="color_666 text-14 text-left mB10 wt400">Name</p>
            <input type="text" placeholder="Name" formControlName="organisation_name" class="mB25">
            <div class="error-message"
              *ngIf="organsiationForm.get('organisation_name').hasError('required') && (organsiationForm.get('organisation_name').dirty || s.submitted)">
              Please enter organisation name.
            </div>
            <p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
            <div formArrayName="facebook">
              <div class="w-100 mB10" *ngFor="let item of facebookRows.controls; let fbIndex=index"
                [formGroupName]="fbIndex">
                <div class="w-5 pull-left pT5">
                  <div class="facebook_bg_color">
                    <i class="fab fa-facebook-f"></i>
                    <input type="hidden" formControlName="platform">
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" formControlName="handle" placeholder="Page Name">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="url" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'facebook', facebookRows, fbIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addfacebookRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_fb">
                {{error_fb}}
              </div>
            </div>
            <div formArrayName="instagram">
              <div class="w-100 mB10" *ngFor="let item of instagramRows.controls; let instaIndex=index"
                [formGroupName]="instaIndex">
                <div class="w-5 pull-left pT5">
                  <div class="instagram_bg_color">
                    <i class="fab fa-instagram"></i>
                    <input type="hidden" formControlName="platform" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="@handle" formControlName="handle"
                    (blur)="checkValidHandle($event.target.value, instaIndex, 'instagram')">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'instagram', instagramRows, instaIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addinstagramRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_instagram">
                {{error_instagram}}
              </div>
            </div>
            <div formArrayName="twitter">
              <div class="w-100 mB10" *ngFor="let item of twitterRows.controls; let twtIndex=index"
                [formGroupName]="twtIndex">
                <div class="w-5 pull-left pT5">
                  <div class="twitter_bg_color">
                    <i class="fab fa-twitter"></i>
                    <input type="hidden" formControlName="platform" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="@handle" formControlName="handle"
                    (blur)="checkValidHandle($event.target.value, twtIndex, 'twitter')">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'twitter', twitterRows, twtIndex )">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addtwitterRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_twitter">
                {{error_twitter}}
              </div>
            </div>
            <div formArrayName="youtube">
              <div class="w-100 mB10" *ngFor="let item of youtubeRows.controls; let youtubeIndex=index"
                [formGroupName]="youtubeIndex">
                <div class="w-5 pull-left pT5">
                  <div class="youtube_bg_color">
                    <i class="fab fa-youtube"></i>
                    <input type="hidden" formControlName="platform" value="youtube" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Channel Name" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'youtube',youtubeRows,youtubeIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addyoutubeRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_pinterest">
                {{error_youtube}}
              </div>
            </div>
            <div formArrayName="blog">
              <div class="w-100 mB10" *ngFor="let item of blogRows.controls; let blogIndex=index"
                [formGroupName]="blogIndex">
                <div class="w-5 pull-left pT5">
                  <div class="blog_bg_color">
                    <i class="fab fa-blogger-b"></i>
                    <input type="hidden" formControlName="platform" value="blog" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Blog Name" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'blog', blogRows, blogIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addblogRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_blog">
                {{error_blog}}
              </div>
            </div>
            <div formArrayName="linkedin">
              <div class="w-100 mB10" *ngFor="let item of linkedinRows.controls; let linkIndex=index"
                [formGroupName]="linkIndex">
                <div class="w-5 pull-left pT5">
                  <div class="linkedin_bg_color">
                    <i class="fab fa-linkedin-in"></i>
                    <input type="hidden" formControlName="platform" value="linkedin" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Page Name" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'linkedin',linkedinRows,linkIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addlinkedinRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_linkedin">
                {{error_linkedin}}
              </div>
            </div>
            <!--Tiktok-->
            <div>
                <div class="w-100 mB10">
                    <div class="w-5 pull-left pT5">
                        <div class="tiktok_bg_color">
                            <i class="material-icons text-18">music_note</i>
                            <input type="hidden" />
                        </div>
                    </div>
                    <div class="w-45 pull-left pL15 pR5">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="w-45 pull-left pL10 pR10">
                        <input type="text" placeholder="Paste Url">
                    </div>
                    <div class="w-5 pull-left pT5">
                        <i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Tiktok-->
            <div formArrayName="snapchat">
              <div class="w-100 mB10" *ngFor="let item of snapchatRows.controls; let snapIndex=index"
                [formGroupName]="snapIndex">
                <div class="w-5 pull-left pT5">
                  <div class="snapchat_bg_color">
                    <i class="fab fa-snapchat-ghost"></i>
                    <input type="hidden" formControlName="platform" value="snapchat" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Username" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'snapchat',snapchatRows,snapIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addsnapchatRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_snapchat">
                {{error_snapchat}}
              </div>
            </div>
            <div formArrayName="pinterest">
              <div class="w-100 mB10" *ngFor="let item of pinterestRows.controls; let pinIndex=index"
                [formGroupName]="pinIndex">
                <div class="w-5 pull-left pT5">
                  <div class="pinterest_bg_color">
                    <i class="fab fa-pinterest-p"></i>
                    <input type="hidden" formControlName="platform" value="pinterest" />
                  </div>
                </div>
                <div class="w-45 pull-left pL15 pR5">
                  <input type="text" placeholder="Username" formControlName="handle">
                </div>
                <div class="w-45 pull-left pL10 pR10">
                  <input type="text" placeholder="Paste Url" formControlName="url"
                    (blur)="checkUrl($event.target.value, 'pinterest',pinterestRows,pinIndex)">
                </div>
                <div class="w-5 pull-left pT5">
                  <i class="material-icons color_eleve text-30 cursor-pointer"
                    (click)="addpinterestRows()">add_circle_outline</i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="error-message" *ngIf="error_pinterest">
                {{error_pinterest}}
              </div>
            </div>
            <div class="error-message" *ngIf="error_social">
              Must provide atleast one social reference
            </div>
            <div class="w-100 mT40">
              <div class="w-50 pull-left text-left">
                <div class="btn_sec">
                  <div class="btn_sec_inside" (click)="cancelForm()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
                  </div>
                </div>
              </div>
              <div class="w-50 pull-right text-right">
                <div class="btn_primary">
                  <button> Save</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Create Organization modal-->