
<div
  *ngIf="fullScreenLoader"
  class="full-screen-loader">
  <img src="assets/images/eleve_logo.png">
</div>

<div
  *ngIf="loading"
  style="color: #00b0f0"
  class="la-ball-clip-rotate la-2x app-loader">
    <div></div>
</div>


<router-outlet></router-outlet>
