.invalid-field{
    border-color: red;
}

::ng-deep.mat-radio-button.invalid-field .mat-radio-outer-circle {
    border-color:red!important; /*outer ring color change*/
}

ng-select.invalid-field::ng-deep.ng-select-container{
    border: 1px solid red;
}
::ng-deep.ng-placeholder {
    margin: 6px 0 0 10px;
}

::ng-deep.ng-dropdown-panel{
    padding: 0 !important;
}


.error-msg-box{
    height: 25px;
    margin-top:0;
}
.full-name{
    height: 20px;
}
/* .emails-row > .w-47 {
    margin-bottom: 40px;
} */
/* .location-box > .w-33 {
    margin-bottom: 20px;
} */

::ng-deep.mat-select.location-select{
    border: 1px solid #ddd;
    height: 100%;
    display: block;
    padding: 9px;
    text-align: center;
    border-radius: 4px;
}
