<!--right side-->
<div class="right_side pL20per create_infu">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
            <span>My Influencer</span></p>
    </div>
    <div class="w-75 pull-left bg_white bRadius5 mR20">
        <form (ngSubmit)="onSubmit()" class="adv_view" [formGroup]='influencerForm'>
            <div class="adv_view_bg">
                <h2>Create Influencer</h2>
                <div class="w-100 pT25">
                    <div class="w-70 pull-left influ_img_box">
                        <div class="adv_name_img">
                            <div class="w-15 pull-left">
                                <div class="user_name_img position-relative">
                                    <img [src]='imgURL ? imgURL : "assets/images/user.jpg"'>
                                    <!-- <p>PK</p> -->
                                    <div class="image_icon">
                                        <i class="fa fa-camera"></i>
                                        <input type="file" (change)="preview($event)" id="file" accept="image/*">
                                    </div>
                                </div>
                            </div>
                            <div class="w-85 pull-left">
                                <h3 class="color_white text-20 full-name wt600 text-left mB5">{{f.first_name.value}}
                                    {{f.last_name.value}} </h3>
                                <p class="text-14 color_white text-left noM">Influencer</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="w-100 p30" style="padding-top: 15px;">
                <div class="details_box">
                    <h3 class="color_4e4e4e border border-danger text-16 noM mB20 wt500">Basic</h3>
                    <div class="w-47 mB15 pull-left">
                        <label class="mB15 text-left">First Name</label>
                        <input type="text"
                            [class.invalid-field]='f.first_name.invalid && (f.first_name.dirty  || f.first_name.touched)'
                            placeholder="First Name" formControlName='first_name'>
                        <div class="error-msg-box" *ngIf='f.first_name.invalid && (f.first_name.dirty  || f.first_name.touched)' style="margin-top: -25px;">
                            <app-error-msg
                                [errorMessages]='this.errorMessages.first_name' [error]='f.first_name.errors'>
                            </app-error-msg>
                        </div>
                    </div>
                    <div class="w-47 pull-right">
                        <label class="mB15 text-left">Last Name</label>
                        <input type="text" placeholder="Last Name"
                            [class.invalid-field]='f.last_name.invalid && (f.last_name.dirty  || f.last_name.touched)'
                            formControlName='last_name'>
                        <div class="error-msg-box" *ngIf='f.last_name.invalid && (f.last_name.dirty  ||f.last_name.touched)'>
                            <app-error-msg
                                [errorMessages]='this.errorMessages.last_name' [error]='f.last_name.errors'>
                            </app-error-msg>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="w-47 pull-left org_plus">
                        <label class="mB15 text-left">Gender</label>
                        <mat-radio-group aria-label="Select an option" formControlName='gender'>
                            <mat-radio-button [class.invalid-field]='f.gender.invalid && f.gender.touched' class="mR20"
                                value="male">Male</mat-radio-button>
                            <mat-radio-button [class.invalid-field]='f.gender.invalid && f.gender.touched' class="mR20"
                                value="female">Female</mat-radio-button>
                            <mat-radio-button [class.invalid-field]='f.gender.invalid && f.gender.touched' value="other">
                                Other</mat-radio-button>
                        </mat-radio-group>
                        <div class="error-msg-box" *ngIf='f.gender.invalid && f.gender.touched'>
                            <app-error-msg
                                [errorMessages]='this.errorMessages.gender' [error]='f.gender.errors'></app-error-msg>
                        </div>
                    </div>
                    <div class="w-47 pull-right dob position-relative">
                        <label class="mB15 text-left">DOB</label>
                        <mat-form-field [class.invalid-field]='f.dob.invalid && f.dob.touched'> <input [max]="maxDate" [min]="minDate" matInput
                                formControlName='dob' [matDatepicker]="picker" placeholder="Choose a date"
                                >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                        </mat-form-field>
                        <div class="error-msg-box" *ngIf='f.dob.invalid && (f.dob.dirty  || f.dob.touched)'>
                            <app-error-msg
                                [errorMessages]='this.errorMessages.dob' [error]='f.dob.errors'>
                            </app-error-msg>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="details_box">
                    <h3 class="color_4e4e4e text-16 noM mB20 wt500">Location</h3>
                    <div class="location-box">
                        <div class="w-33 pull-left">
                            <label class="mB15 text-left">Country</label>
                                <ng-select [items]="$isdCodes  | async"
                                    [class.invalid-field]='f.country.invalid && (f.country.dirty || f.country.touched)'
                                    bindLabel="name"
                                    bindValue="name"
                                    placeholder="Select country first"
                                    formControlName='country'
                                    >
                                 </ng-select>
                            <div class="error-msg-box">
                                <app-error-msg
                                    *ngIf='f.country.invalid && (f.country.dirty  || f.country.touched)'
                                    [errorMessages]='this.errorMessages.country' [error]='f.country.errors'>
                                </app-error-msg>
                            </div>
                        </div>
                        <div class="w-33 pull-left pL15 pR10">
                            <label class="mB15 text-left">State</label>
                            <ng-select [items]="$stateList  | async"
                                    [class.invalid-field]='f.state.invalid && (f.state.dirty  || f.state.touched)'
                                    bindLabel="name"
                                    bindValue="name"
                                    formControlName='state'
                                    placeholder="Select state next"
                                    >
                                </ng-select>
                            <div class="error-msg-box">
                                <app-error-msg
                                    *ngIf='f.state.invalid && (f.state.dirty  || f.state.touched)'
                                    [errorMessages]='this.errorMessages.state' [error]='f.state.errors'>
                                </app-error-msg>
                            </div>
                        </div>
                        <div class="w-33 pull-right">
                            <label class="mB15 text-left">City</label>
                            <ng-select [items]='$citiesList  | async'
                            [class.invalid-field]='f.city.invalid && (f.city.dirty  || f.city.touched)'
                            bindLabel="name"
                            bindValue="name"
                            formControlName='city'
                            placeholder='Select city next'
                            >
                        </ng-select>
                            <div class="error-msg-box">
                                <app-error-msg
                                    *ngIf='f.city.invalid && (f.city.dirty  || f.city.touched)'
                                    [errorMessages]='this.errorMessages.city' [error]='f.city.errors'></app-error-msg>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="w-100">
                        <label class="mB15 text-left">Billing Address</label>
                        <textarea rows="6"
                            [class.invalid-field]='f.address.invalid && (f.address.touched || f.address.dirty)'
                            placeholder="Billing Address" formControlName='address'></textarea>
                    </div>
                </div>
                <div class="details_box">
                    <h3 class="color_4e4e4e text-16 noM mB20 wt500">Contact Details</h3>
                    <div class="emails-row">
                        <div class="w-47 pull-left">
                            <label class="mB15 text-left">Primary Email</label>
                            <input type="text"
                                [class.invalid-field]='f.email_id.errors && (f.email_id.dirty  || f.email_id.touched)'
                                (blur)='checkEmail()' placeholder="Primary Email" formControlName='email_id'>
                            <div class="error-msg-box" style="margin-top: -25px;">
                                <app-error-msg
                                    *ngIf='f.email_id.errors && (f.email_id.dirty  || f.email_id.touched)'
                                    [errorMessages]='this.errorMessages.email_id' [error]='f.email_id.errors'>
                                </app-error-msg>
                            </div>
                        </div>
                        <div class="w-47 pull-right">
                            <label class="mB15 text-left">Alternate Email</label>
                            <input type="text"
                                [class.invalid-field]='f.alt_email.invalid &&  (f.alt_email.dirty  || f.alt_email.touched)'
                                placeholder="Alternate Email" formControlName='alt_email'>
                            <div class="error-msg-box" *ngIf='f.alt_email.invalid && (f.alt_email.dirty  || f.alt_email.touched)'>
                                <app-error-msg
                                    [errorMessages]='this.errorMessages.alt_email_id' [error]='f.alt_email.errors'>
                                </app-error-msg>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="w-47 pull-left org_plus">
                        <label class="mB15 text-left">Primary Mobile</label>
                        <div class="w-100 isd_feild">
                            <div class="w-25 pull-left isd_code">
                                <mat-select matNativeControl
                                    [class.invalid-field]='f.isd_code.invalid && (f.isd_code.dirty  || f.isd_code.touched)'
                                    class="form-control" formControlName='isd_code' placeholder="ISD">
                                    <mat-option *ngFor='let code of $isdCodes  | async' value='{{code.dial_code}}'>
                                        {{code.dial_code}} - {{code.name}} </mat-option>
                                </mat-select>
                                <!-- <div class="error-msg-box">
                                </div> -->
                            </div>
                            <div class="w-75 pull-right">
                                <input type="tel"
                                    [class.invalid-field]='f.mobile.invalid && (f.mobile.dirty  || f.mobile.touched)'
                                    placeholder="Mobile Number" formControlName='mobile' class="form-control">
                                <div class="error-msg-box" *ngIf='f.mobile.invalid && (f.mobile.dirty  || f.mobile.touched)'>
                                    <app-error-msg
                                        [errorMessages]='this.errorMessages.mobile' [error]='f.mobile.errors'>
                                    </app-error-msg>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="w-47 pull-right">
                        <label class="mB15 text-left">Alternate Mobile</label>
                        <div class="w-100 isd_feild">
                            <div class="w-25 pull-left isd_code">
                                <mat-select
                                    [class.invalid-field]='f.alt_isd_code.invalid && (f.alt_isd_code.dirty   || f.alt_isd_code.touched)'
                                    matNativeControl class="form-control" formControlName='alt_isd_code'
                                    placeholder="ISD">
                                    <mat-option *ngFor='let code of $isdCodes  | async' value='{{code.dial_code}}'>
                                        {{code.dial_code}} - {{code.name}} </mat-option>
                                </mat-select>
                                <!-- <div class="error-msg-box">
                                </div> -->
                            </div>
                            <div class="w-75 pull-right">
                                <input type="text"
                                    [class.invalid-field]='f.alt_mobile.invalid && (f.alt_mobile.dirty )'
                                    placeholder="Mobile Number" formControlName='alt_mobile' class="form-control">
                                <div class="error-msg-box" *ngIf='f.alt_mobile.invalid && (f.alt_mobile.dirty  || f.alt_mobile.touched)'>
                                    <app-error-msg
                                        [errorMessages]='this.errorMessages.alt_mobile' [error]='f.alt_mobile.errors'>
                                    </app-error-msg>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="details_box">
                    <h3 class="color_4e4e4e text-16 noM mB20 wt500">Note</h3>
                    <textarea rows="6" formControlName='note'></textarea>
                </div>
                <div class="w-100 mT20 mB20">
                    <h3 class="color_4e4e4e text-16 noM wt500 camp_list" style="padding-bottom:0px;">
                        <span class="mR20">Add Social:</span>
                        <span title="Facebook" class="facebook_bg_color" (click)="addSocial('Facebook', '')"><i
                                class="fab fa-facebook-f"></i></span>
                        <span title="Twitter" class="twitter_bg_color" (click)="addSocial('Twitter', '')"><i
                                class="fab fa-twitter"></i></span>
                        <span title="Instagram" class="instagram_bg_color" (click)="addSocial('Instagram', '')"><i
                                class="fab fa-instagram "></i></span>
                        <span title="LinkedIn" class="linkedin_bg_color" (click)="addSocial('LinkedIn', '')"><i
                                class="fab fa-linkedin-in "></i></span>
                        <span title="YouTube" class="youtube_bg_color" (click)="addSocial('YouTube', '')"><i
                                class="fab fa-youtube "></i></span>
                        <span title="Blog" class="blog_bg_color" (click)="addSocial('Blog', '')"><i
                                class="fab fa-blogger-b"></i></span>
                        <span title="TikTok" class="tiktok_bg_color" style="padding-top: 2px"
                            (click)="addSocial('TikTok', '')"><i class="material-icons text-16">music_note</i></span>
                        <span title="SnapChat" class="snapchat_bg_color" (click)="addSocial('SnapChat', '')"><i
                                class="fab fa-snapchat-ghost"></i></span>
                    </h3>
                </div>
                <div *ngFor="let social of addedSocials; let i = index" class="influencer_box">
                    <div class="influ_detail">
                        <div class="channel_name">
                            <div class="w-40 pull-left">
                                <span class="{{social.social.toLowerCase()}}_bg_color">
                                    <i *ngIf="social.social === 'Facebook'"
                                        class="fab fa-{{social.social.toLowerCase()}}-f"></i>
                                    <i *ngIf="social.social === 'LinkedIn'"
                                        class="fab fa-{{social.social.toLowerCase()}}-in"></i>
                                    <i *ngIf="social.social === 'Instagram'"
                                        class="fab fa-{{social.social.toLowerCase()}}"></i>
                                    <i *ngIf="social.social === 'YouTube'"
                                        class="fab fa-{{social.social.toLowerCase()}}"></i>
                                    <i *ngIf="social.social === 'Twitter'"
                                        class="fab fa-{{social.social.toLowerCase()}}"></i>
                                    <i *ngIf="social.social === 'Blogger'"
                                        class="fab fa-{{social.social.toLowerCase()}}-b"></i>
                                    <i *ngIf="social.social === 'Blogger'"
                                        class="fab fa-{{social.social.toLowerCase()}}-b"></i>
                                    <i *ngIf="social.social === 'TikTok'" class="material-icons"
                                        style="font-size: 40px">music_note</i>
                                    <i *ngIf="social.social === 'SnapChat'" class="fab fa-snapchat-ghost"></i>
                                </span>

                            </div>
                            <div class="w-60 pull-left">
                                <p class="wt500 text-16">{{ social.name }}</p>
                                <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatSubscribers(social.followers_count) }} {{social.followers_type}}</p>
                                <p class="wt300 text-14">CAT-{{social.category}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="cost_per">
                            <p class="wt500 text-16">Cost per post</p>
                            <p class="wt300 text-14">{{social.currency}} {{social.cost}}</p>
                        </div>
                        <div class="platform_genre">
                            <p>Genre</p>
                            <span *ngFor="let genre of social.genres">{{genre}}</span>
                        </div>
                        <div class="platform_edit">
                            <div (click)="addSocial(social.social, i)" style="border-bottom:1px solid #ddd;">
                                <i class="material-icons text-20">edit</i>
                            </div>
                            <div (click)="deleteSocial(i)">
                                <i class="fa fa-trash-alt text-16"></i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div  *ngIf = "social.bio" class="influ_bio">
                        <span class="wt600 mR5">Bio:</span>
                        {{social.bio}}
                    </div>
                </div>
                <div class="w-100 mT30">
                    <p>Notes:-</p>
                    <p class="text-14 color_666 mT10 mB10"><i class="material-icons color_4e4e4e"
                            style="font-size: 8px">fiber_manual_record</i> Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry.</p>
                    <p class="text-14 color_666"><i class="material-icons color_4e4e4e"
                            style="font-size: 8px">fiber_manual_record</i> Lorem Ipsum has been the industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                        the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
                <div class="w-100 mT50 mB50">
                    <div class="w-50 pull-left text-left">
                        <div class="btn_sec" (click)="cancelCreateInfluencer()">
                            <div class="btn_sec_inside">Cancel</div>
                        </div>
                    </div>
                    <div class="w-50 pull-right text-right">
                        <div class="btn_primary">
                            <button type="submit"><i class="material-icons text-20 mR10">ac_unit</i> Create</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </form>
    </div>
</div>
<!-- Add SnapChat Modal-->

<app-check-email (delinked)="onCheckEmailDelink($event)" [email]='f.email_id.value'
    (cancelled)="onCheckEmailCancel($event)" (closed)="onCheckEmailClose($event)" *ngIf="showCheckEmailModal">
</app-check-email>
<app-add-social (edited)="onEditSocialSave($event)" (saved)="onAddSocialSave($event)" (closed)="onAddSocialClose($event)"
    [values]="getDefaultValues(selectedSocial)" [defaultGenres]="getDefaultGenres(selectedSocial)"
    [social]="selectedSocial" *ngIf="showAddSocialModal"></app-add-social>
