<!--right side-->
<div class="right_side">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
      <span>Create Campaigns</span>
    </p>
  </div>
  <form [formGroup]="campaignFormCreateThree" #f="ngForm">
    <div class="w-75 pull-left bg_white bRadius10 mR20 p30">
      <h2 class="main_heading text-18 text-left color_666 noM wt400 mB50">Invite influencers</h2>
      <div class="camp_steps">
        <ul class="camp_steps_progressbar">
          <li class="active">Basic Details</li>
          <li class="active">Choose Platform</li>
          <li class="active">Final Step</li>
        </ul>
      </div>
      <div class="uniq_user_count">
        <p class="color_333 mB10 text-left text-14 wt600">Overview</p>
        <ul>
          <li class="uniq_grad">
            {{ campaignData?.total_influencers_count_unique}}
            <span><i class="material-icons">perm_identity</i> Unique Users</span>
          </li>
          <li class="all_pro_grad">
            {{ campaignData?.total_influencers_count}}
            <span><i class="material-icons">account_circle</i> All Profiles</span>
          </li>
          <li class="country_grad" style="display: none">
            India, Australia <b>(2+)</b>
            <span><i class="material-icons">public</i> Countries</span>
          </li>
        </ul>
      </div>
      <div class="details_box mB50">
        <div class="w-50 camp_time">
          <label class="mB10">Campaign Duration</label>
          <input type="text" (datesUpdated)="validateCampaignDates($event)" formControlName="scheduleTime"
            ngxDaterangepickerMd [timePicker]="true" [timePickerSeconds]="false" [timePickerIncrement]="1"
            [timePicker24Hour]="false" startKey="start" endKey="end" placeholder="Start Date and Time
          &nbsp;&nbsp; To &nbsp;&nbsp; End Date and Time" [locale]="{
            format: 'MM/DD/YYYY - HH:mm',
            'separator': '&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;'
          }" />
          <div class="error-session-message" style="margin-top:5px"
            *ngIf="campaignFormCreateThree.get('scheduleTime').hasError('required') &&  (campaignFormCreateThree.get('scheduleTime').dirty || f.submitted)">
            Start & End dates are mandatory to create campaign.
          </div>
        </div>
        <p class="color_333 text-left text-14"><span class="wt600">Note:</span> That Campaign will be scheduled to go
          live on start date & time.</p>
      </div>
      <div class="w-100 send_invite">
        <p class=" display-inline-block mR20">Send Invitation?</p>
        <mat-radio-group aria-label="Select an option" formControlName="InvitationStatus"
          (change)="InvitationStatusChange($event)">
          <mat-radio-button value="1" class="mR20"><span class="color_green">Yes</span>
          </mat-radio-button>
          <mat-radio-button value="0"><span class="color_red">No</span>
          </mat-radio-button>
        </mat-radio-group>
        <div class="error-session-message" style="margin-top:5px"
          *ngIf="campaignFormCreateThree.get('InvitationStatus').hasError('required') &&  (campaignFormCreateThree.get('InvitationStatus').dirty || f.submitted)">
          Send Invitation? is mandatory.
        </div>
      </div>
      <div class="details_box mB50" [ngStyle]="{'display':show_div_invitation_change ? 'block' : 'none' }">
        <label class="mB10">Select Recipients:</label>
        <mat-checkbox class="display-inline-block mR20" checked="checked" *ngIf="campaignData?.micro_influencers"
          (change)="onChangeType($event)" formNameArray="type" value="micro"><span class="text-14 color_666">Micro
            ({{ campaignData?.micro_influencers }})</span></mat-checkbox>
        <mat-checkbox class="display-inline-block" *ngIf="campaignData?.premium_influencers" checked="checked"
          (change)="onChangeType($event)" formNameArray="type" value="premium"><span class="text-14 color_666">Premium
            ({{ campaignData?.premium_influencers }})</span></mat-checkbox>
      </div>
      <mat-accordion class="camp_three_email" [ngStyle]="{'display':show_div_invitation_change ? 'block' : 'none' }">
        <mat-expansion-panel
          expanded="{{campaignDetailData.send_email === '1' || (campaignDetailData.send_email === '1' && campaignDetailData.send_sms === '1') ? 'true' : 'false'}}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-checkbox formControlName="emailStatus" (change)="sendEmailOrSms($event)" value="email">Email
              </mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="details_box" style="margin-top: 0px;">
            <div class="w-47 pull-left">
              <div class="w-20 pull-left">
                <label class="text-14 color_4e4e4e pT10">Sender</label>
              </div>
              <div class="w-80 pull-right text-right pL5">
                <input type="text" placeholder="noreply@eleve.co" readonly formControlName="senderName">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="w-47 pull-right">
              <div class="w-20 pull-left">
                <label class="text-14 color_4e4e4e pT10">Reply To</label>
              </div>
              <div class="w-80 pull-right text-right">
                <input type="text" placeholder="mail@eleve.co.in" formControlName="replyToName"
                  (change)="addReplyToFormArray($event)">
                <div class="error-session-message" style="margin-top:0px"
                  *ngIf="campaignFormCreateThree.get('replyToName').hasError('required') &&  (campaignFormCreateThree.get('replyToName').dirty || f.submitted)">
                  Reply To is mandatory.
                </div>
                <div class="error-session-message" style="margin-top:0px"
                  *ngIf="campaignFormCreateThree.get('replyToName').hasError('pattern') &&  (campaignFormCreateThree.get('replyToName').dirty || f.submitted)">
                  Please enter valid email.
                </div>
                <div class="tags">
                  <div formArrayName="replyTo_list"
                    *ngFor="let rlist of campaignFormCreateThree.controls.replyTo_list?.value; let i = index">
                    <span>{{rlist}}</span> <i class="material-icons" *ngIf="i!==0"
                      (click)="removereplyToFormArray(i)">close</i>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="w-100">
              <div class="w-10 pull-left">
                <label class="text-14 color_4e4e4e pT10">Subject</label>
              </div>
              <div class="w-90 pull-left">
                <input type="text" placeholder="Subject" formControlName="mailSubject">
                <div class="error-session-message" style="margin-top:5px"
                  *ngIf="campaignFormCreateThree.get('mailSubject').hasError('required') &&  (campaignFormCreateThree.get('mailSubject').dirty || f.submitted)">
                  Subject is mandatory.
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <label class="text-14 mB10">Body</label>
            <angular-editor [config]="editorConfig" formControlName="mailtext" [placeholder]="'Enter text here...'">
            </angular-editor>
            <div class="error-session-message" style="margin-top:5px"
              *ngIf="campaignFormCreateThree.get('mailtext').hasError('required') &&  (campaignFormCreateThree.get('mailtext').dirty || f.submitted)">
              Mail text is mandatory.
            </div>
            <p class="color_333 text-left text-14 mT30"><span class="wt600">Note:</span> The email body must have <a
                class="color_eleve">link</a> tag mentioned, to facilitate adding campaign link. The <a
                class="color_eleve">influencer_name</a> tag will help personalise the email. </p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          expanded="{{campaignDetailData.send_email !== '1' && campaignDetailData.send_sms === '1' ? 'true' : 'false'}}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-checkbox formControlName="smsStatus" (change)="sendEmailOrSms($event)" value="sms">SMS</mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="details_box" style="margin-top: 0px;">
            <div class="w-50 pull-left">
              <label class="text-14 mB10">Body</label>
            </div>
            <div class="w-50 pull-left">
              <p class="text-14 text-right" style="color:#9f9f9f;"><span>0</span>/160 Characters</p>
            </div>
            <div class="clearfix"></div>
            <textarea rows="8" formControlName="smsText"></textarea>
            <div class="error-session-message" style="margin-top:5px"
              *ngIf="campaignFormCreateThree.get('smsText').hasError('required') &&  (campaignFormCreateThree.get('smsText').dirty || f.submitted)">
              Sms text is mandatory.
            </div>
            <p class="color_333 text-left text-14 mT30"><span class="wt600">Note:</span> The sms body must have <a
                class="color_eleve">link</a> tag mentioned, to facilitate adding campaign link.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="w-100 mT50 mB50 camp_three_btn">
        <div class="w-50 pull-left text-left">
          <div class="btn_sec mR20" [routerLink]="['/campaign/step-two', campaignId]">
            <div class="btn_sec_inside"><i class="material-icons text-20 mR10">keyboard_backspace</i>Add Social
            </div>
          </div>
          <div class="btn_sec" *ngIf="campaignDetailData.status !== '3'"
            (click)="campaignThreeFormSubmit(campaignFormCreateThree.value, '1')">
            <button type="button" class="btn_sec_inside"><i class="material-icons text-20">save</i> Save Draft</button>
          </div>
        </div>
        <div class="w-50 pull-right text-right">
          <div *ngIf="campaignDetailData.status !== '3'"
            (click)="campaignThreeFormSubmit(campaignFormCreateThree.value, '2')" class="btn_primary">
            <button type="button"> <span><i class="material-icons text-20 mR10">near_me</i>Create
                Campaign</span></button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </form>
  <div class="w-23 pull-left bg_white bRadius10" style="height: 600px"></div>
  <div class="clearfix"></div>
</div>
<!--right side-->