<!--Sidebar-->
<div class="menu_overlay" id="mobile_overlay" onclick="overlay_close()"></div>
<div
  [ngClass]="(currentRoute === 'campaign' || currentRoute === 'bloggers') && 'sidebar_camp'"
  class="sidebar"
  id="mobile_menu">
  <ul>
    <li (click)="onClickRoute('/dashboard')">
      <a [ngClass]="currentRoute === 'admin-profile' && 'active_border'" >
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <rect id="Rectangle_362_1_" x="-0.06" y="0" class="st0" width="512" height="512"/>
          <g id="Group_34">
            <g id="Path_13_1_">
              <path id="Path_49" class="st1" d="M202.61,283.73H83.14c-22.39,0-40.53-18.15-40.53-40.53c0,0,0,0,0,0v-160
                c2.21-21.4,19.13-38.32,40.53-40.53h119.47c22.39,0,40.53,18.15,40.53,40.53v162.13c-0.67,10.52-5.23,20.4-12.8,27.73
                C222.57,279.66,212.8,283.43,202.61,283.73z M85.28,241.07h115.2V85.33H85.28V241.07z"/>
            </g>
            <g id="Path_14_1_">
              <path id="Path_50" class="st1" d="M202.61,469.33H83.14c-21.4-2.21-38.32-19.13-40.53-40.53v-81.07
                c0-22.39,18.15-40.53,40.53-40.53h123.73c21.67,2.62,38.07,20.84,38.4,42.67v76.8C243.74,449.56,225.5,467.79,202.61,469.33z
                M85.28,426.67h115.2v-76.8H85.28V426.67z"/>
            </g>
            <g id="Path_15_1_">
              <path id="Path_51" class="st1" d="M309.28,469.33L309.28,469.33c-22.39,0-40.53-18.15-40.53-40.53V266.67
                c1.93-22.02,20.57-38.79,42.67-38.4h117.33c22.39,0,40.53,18.15,40.53,40.53v0v157.87c-0.72,22.08-18.45,39.81-40.53,40.53
                L309.28,469.33z M311.41,426.67h115.2V270.93h-115.2V426.67z"/>
            </g>
            <g id="Path_16_1_">
              <path id="Path_52" class="st1" d="M309.28,204.8h-2.13c-10.4-1.11-20.15-5.6-27.73-12.8c-6.64-8.57-10.38-19.03-10.67-29.87v-76.8
                c0-22.39,18.15-40.53,40.53-40.53h119.47c22.08,0.72,39.81,18.45,40.53,40.53v81.07c0,22.39-18.15,40.53-40.53,40.53
                C428.74,206.93,309.28,204.8,309.28,204.8z M311.41,85.33v76.8h115.2v-76.8L311.41,85.33z"/>
            </g>
          </g>
        </svg>
        <span>Dashboard</span>
      </a>
    </li>
    <li (click)="onClickRoute('/discover')">
      <a [ngClass]="currentRoute === 'discover' && 'active_border'" >
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g id="Group_48" transform="translate(7177 -2623)">
            <rect id="Rectangle_367" x="-7177.06" y="2623" class="st0" width="512" height="512"/>
            <g id="Group_17" transform="translate(-7175 2625)">
              <g id="Group_10">
                <path id="Path_31" class="st1" d="M253.94,467.33c-117.82,0-213.33-95.51-213.33-213.33S136.12,40.67,253.94,40.67
                  S467.28,136.18,467.28,254C466.94,371.68,371.62,466.99,253.94,467.33z M253.94,83.33c-94.26,0-170.67,76.41-170.67,170.67
                  s76.41,170.67,170.67,170.67S424.61,348.26,424.61,254C424.33,159.86,348.08,83.61,253.94,83.33z"/>
              </g>
              <path id="Path_32" class="st1" d="M148,359.94l144.09-67.8l67.8-144.09l-144.09,67.8L148,359.94z"/>
            </g>
          </g>
        </svg>
        <span>Discover </span>
      </a>
    </li>
    <li (click)="onClickRoute('/board')">
      <a [ngClass]="currentRoute === 'board' && 'active_border'" >
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g id="Group_94" transform="translate(-1172 -4592)">
            <g id="Group_92" transform="translate(1174 4596)">
              <path id="Path_78" class="st1" d="M343.69,257.5c27.18,15.65,44.36,44.22,45.44,75.56v58.56h78.1v-58.56
                C467.28,290.51,397.66,265.4,343.69,257.5z"/>
              <path id="Path_79" class="st1" d="M311.78,237.51c43.13,0.71,78.67-33.67,79.38-76.8c0.71-43.13-33.67-78.67-76.8-79.38
                c-0.86-0.01-1.72-0.01-2.58,0c-8.85,0.15-17.62,1.73-25.96,4.69c34.62,42.82,34.62,104,0,146.82
                C294.16,235.8,302.93,237.38,311.78,237.51z"/>
              <path id="Path_80" class="st1" d="M195.98,237.51c43.13,0,78.1-34.97,78.1-78.1s-34.97-78.1-78.1-78.1s-78.1,34.97-78.1,78.1
                c0,0.01,0,0.01,0,0.02c0,43.12,34.96,78.08,78.08,78.08C195.96,237.51,195.97,237.51,195.98,237.51z M195.98,120.37
                c21.56,0,39.04,17.48,39.04,39.04s-17.48,39.04-39.04,39.04s-39.04-17.48-39.04-39.04l0,0
                C157.01,137.88,174.45,120.44,195.98,120.37z"/>
              <path id="Path_81" class="st1" d="M196.79,254.97c-52.12,0-156.18,26.15-156.18,78.1v58.56h312.38v-58.56
                C352.99,281.12,248.93,254.97,196.79,254.97z M313.93,352.59H79.65v-19.33c3.9-14.06,64.43-39.23,117.14-39.23
                s113.24,25.19,117.14,39.04V352.59z"/>
            </g>
            <rect id="Rectangle_385" x="1171.94" y="4592" class="st0" width="512" height="512"/>
          </g>
        </svg>
        <span>Collaboration Board </span>
      </a>
    </li>
    <li class="camp_menu_list position-relative">
      <a [ngClass]="(currentRoute === 'campaign' || currentRoute === 'bloggers') && 'active_border'">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g id="Group_95" transform="translate(-32 -157)">
            <rect id="Rectangle_364" x="31.94" y="157" class="st0" width="512" height="512"/>
            <g id="Group_67" transform="translate(34 159.004)">
              <g id="Group_65">
                <path id="Path_65" class="st1" d="M467.28,264.75c0.63-59.87-31.21-115.38-83.2-145.07v288
                  C436.34,379.33,468.43,324.2,467.28,264.75z"/>
              </g>
              <g id="Group_66">
                <path id="Path_66" class="st1" d="M285.94,467.41c-13.07,0.55-25.66-4.96-34.13-14.93l-85.33-89.6h-76.8
                  c-27.66-0.56-49.63-23.43-49.07-51.09c0-0.04,0-0.07,0-0.11v-115.2c-0.62-27.66,21.3-50.58,48.96-51.2c0.04,0,0.07,0,0.11,0
                  h74.67l85.33-89.6c13.52-14.86,35.14-19.19,53.33-10.67c19.21,7.69,31.85,26.24,32,46.93v326.4c-0.15,20.69-12.79,39.24-32,46.93
                  C298.74,465.28,292.34,467.41,285.94,467.41z M89.68,187.95c-4.27,0-6.4,4.27-6.4,8.53v117.33c0,4.27,2.13,8.53,6.4,8.53h93.87
                  l98.13,102.4c1.79,1.48,4.08,2.24,6.4,2.13c2.13,0,4.27-2.13,4.27-6.4V91.95c-0.22-2.73-1.83-5.15-4.27-6.4
                  c-4.27-2.13-6.4,0-6.4,2.13l-98.13,100.27H89.68z"/>
              </g>
            </g>
          </g>
        </svg>
        <span>Campaigns <i class="material-icons text-16">keyboard_arrow_down</i></span>
      </a>
      <div class="camp_click">
        <input type='checkbox' name='thing' value='valuable' id="thing"/><label for="thing"></label>
        <ul id="campDIV" class="sub-nav">
          <li
            (click)="onClickRoute('/campaign/create')" >
            <a>
            <span>Create </span>
            </a>
          </li>
          <li (click)="onClickRoute('/campaign/list/active')">
            <a>
            <span>Active </span>
            </a>
          </li>
          <li (click)="onClickRoute('/campaign/list/drafts')">
            <a>
            <span>Drafts </span>
            </a>
          </li>
          <li (click)="onClickRoute('/campaign/list/completed')">
            <a>
            <span>Completed </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="manage_menu_list position-relative">
      <a>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g id="Group_45" transform="translate(7173 -2619)">
            <rect id="Rectangle_365" x="-7173.06" y="2619" class="st0" width="512" height="512"/>
            <g id="Group_44" transform="translate(-7171 2621)">
              <g id="Group_42">
                <path id="Path_55" class="st1" d="M253.94,266.8c-63.42,0.66-115.65-49.67-117.33-113.07C138.29,90.33,190.52,40,253.94,40.67
                  C317.36,40,369.59,90.33,371.28,153.73C369.59,217.13,317.36,267.46,253.94,266.8z M253.94,79.07
                  c-41.76-0.42-76.04,32.91-76.8,74.67c0,42.42,34.38,76.8,76.8,76.8s76.8-34.38,76.8-76.8C329.98,111.98,295.7,78.65,253.94,79.07
                  z"/>
              </g>
              <g id="Group_43">
                <path id="Path_56" class="st1" d="M467.28,467.33H40.61V388.4c0-76.8,155.73-100.27,213.33-100.27S467.28,311.6,467.28,388.4
                  V467.33z M79.01,428.93h349.87v-42.67c0-32-100.27-61.87-174.93-61.87S79.01,354.27,79.01,386.27
                  C79.01,386.27,79.01,428.93,79.01,428.93z"/>
              </g>
            </g>
          </g>
        </svg>
        <span>Manage Users <i class="material-icons text-16">keyboard_arrow_down</i></span>
      </a>
      <div class="camp_click">
        <input type='checkbox' name='thing2' value='valuable' id="thing2"/><label for="thing2"></label>
        <ul id="campDIV" class="sub-nav">
          <li (click)="onClickRoute('/influencer/list')">
            <a [ngClass]="currentRoute === 'influencer' && 'active_border'">
            <span>Influencers </span>
            </a>
          </li>
          <li (click)="onClickRoute('/advertiser/list')">
            <a [ngClass]="currentRoute === 'advertiser' && 'active_border'" >
            <span>Advertiser </span>
            </a>
          </li>
          <li
          *ngIf="adminPermission == 'superadmin'"
          (click)="onClickRoute('/admin/list')">
          <a [ngClass]="currentRoute === 'admin' && 'active_border'" >
          <span>Admin</span>
          </a>
          </li>
        </ul>
      </div>
    </li>
    <li (click)="onClickRoute('/#')">
      <a [ngClass]="currentRoute === 'track' && 'active_border'">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <path id="Path_45" class="st0" d="M-0.06,0h512v512h-512V0z"/>
          <path id="Path_46" class="st1" d="M255.94,42.67c-81.97-0.51-148.83,65.53-149.33,147.49c0,0.61,0,1.23,0,1.84
            c0,113.07,149.33,277.33,149.33,277.33S405.28,302.93,405.28,192c0.51-81.97-65.53-148.83-147.49-149.33
            C257.17,42.66,256.56,42.66,255.94,42.67z M149.28,192c0-58.91,47.76-106.67,106.67-106.67S362.61,133.09,362.61,192
            c0,61.87-61.87,153.6-106.67,211.2C211.14,345.6,149.28,253.87,149.28,192z"/>
          <circle id="Ellipse_3" class="st1" cx="255.94" cy="192" r="53.33"/>
        </svg>
        <span>Track </span>
      </a>
    </li>
    <li (click)="onClickRoute('/#')">
      <a>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g id="Group_54" transform="translate(7179 -4028)">
            <rect id="Rectangle_370" x="-7179" y="4028" class="st0" width="511.94" height="511.94"/>
            <path id="Path_35" class="st1" d="M-6752.38,4188.49h-14.93l-32-71.86c-6.87-15.02-21.88-24.65-38.4-24.64
              c-5.77-0.31-11.55,0.42-17.06,2.13l-232.51,94.37h-6.4c-23.09-0.37-42.15,17.97-42.66,41.06v205.33
              c0.51,23.09,19.57,41.43,42.66,41.06h341.29c23.09,0.37,42.15-17.97,42.66-41.06v-205.33
              C-6710.23,4206.47-6729.29,4188.12-6752.38,4188.49z M-6837.71,4133.03l25.6,55.46h-164.25L-6837.71,4133.03z M-6859.04,4383.54
              h106.65v51.32h-341.29v-205.31h341.29v71.86h-106.65c-22.68-1.03-41.9,16.51-42.93,39.19c-1.03,22.68,16.51,41.9,39.19,42.93
              C-6861.53,4383.6-6860.28,4383.6-6859.04,4383.54z"/>
          </g>
        </svg>
        <span>Payments </span>
      </a>
    </li>
  </ul>
</div>
<!--Sidebar-->