.sidebar{transform: translateX(0%) !important; -webkit-transform: translateX(0%) !important; -moz-transform: translateX(0%) !important; transition: all ease-out .5s !important; padding-right: 20px !important;}