<div *ngIf="!loading">
  <div *ngIf="influencersList.length">  
    <div *ngFor="let influencer of influencersList" class="kol_list display-flex">
      <div style="width: 40px;">
        <div 
          (click)="onCLickSelectInfluencer(influencer)"
          [ngClass]="ifInfluencerSelected(influencer) && 'kol_icon_checked'"
          class="kol_list_check">
          <i class="material-icons">check</i>
        </div>
      </div>
      <div class="w-97 display-flex">
        <div class="w-35">
          <div class="kol_user_info p10">
            <div class="kol_user_img">
              <div class="kol_user_bg">
                <img 
                  *ngIf="ifUserImageIxist(influencer)" 
                  [src]="getInfluencerDetails(influencer, 'profile_pic', false)" >
                <p 
                  *ngIf="!ifUserImageIxist(influencer)">
                    {{ getUserNameInitials(influencer) }}
                </p>
                <img 
                  *ngIf="
                    !ifUserImageIxist(influencer) 
                    && !hasKey(influencer, 'first_name')
                    && !hasKey(influencer, 'last_name')
                  "
                  src="assets/images/user.jpg" >
                <ng-template
                  *ngIf="
                    getInfluencerDetails(influencer, 'gender') === 'male' 
                    || getInfluencerDetails(influencer, 'gender') === 'Male';
                    then male_icon; 
                    else female_icon
                  " >
                </ng-template>
              </div>
            </div>
            <div class="kol_user_name pL15">
              <p class="text-16 mB5 color_333 wt600">
                {{ getInfluencerDetails(influencer, "first_name") }} {{ getInfluencerDetails(influencer, "last_name") }} 
              </p>
              <p class="text-14 mB5 color_blue">{{ getInfluencerDetails(influencer, "email") }}</p>
              <p class="text-14 mB5 color_333">
                {{ getInfluencerDetails(influencer, "isd_code") }} {{ getInfluencerDetails(influencer, "mobile") }}
              </p>
              <p class="text-16 color_green">{{ getInfluencerDetails(influencer, "type", true) }}</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="w-15 p10">
          <span class="display-block mB5 text-14 color_666">
            {{ getInfluencerDetails(influencer, "city") }}
          </span>
          <span class="display-block wt600 text-14 color_666">
            {{ getInfluencerDetails(influencer, "state") }}
          </span>
          <span class="display-block mB5 text-14 color_666">
            {{ getInfluencerDetails(influencer, "country") }}
          </span>
        </div>
        <div class="w-30 p10">
          <p 
            *ngFor="let profile of getInfluencersProfiles(influencer)"
            [ngClass]="showTrashOnProfile(profile) && 'hover_delete'"
            class="color_blue mB10 text-left text-14">
            <i [ngClass]="getPlatformClasses(profile.platform)" class="w20px">
            </i> 
            <span>@ {{ getPlatformDetails("Elv_social", profile) }}</span> 
            - 
            <span> {{ getPlatformFollowers(profile, influencer) }} </span> 
            - <span [ngClass]="profile.post_done ? 'color_green' : 'color_red'">
              {{profile.post_done || 0}}
              /
              {{profile.post_needed || 0}} 
              <span  
                *ngIf="!profile.action || profile.action === 'declined'"
                [ngClass]="getActionClass(profile)" >
                -
                {{ 
                  !profile.action 
                  ? "Invited" 
                  : profile.action === "declined" 
                  ? "Declined" 
                  : "" 
                }}
              </span>
            </span> 
            <span 
              *ngIf="showTrashOnProfile(profile)"
              (click)="onClickDeleteProfile(profile)"  >
              <i class="fa fa-trash-alt color_red mL15 cursor-pointer"></i>
            </span>
          </p>
        </div>
        <div class="w-15 p10">
          <p 
            [ngClass]="getActionClass({ action: influencer.profileStatus.action })" 
            class="text-14 mB10">
            <i class="material-icons w20px text-12">fiber_manual_record</i> 
              {{ 
                influencer.profileStatus.action === '' 
                ? "Invited" 
                : influencer.profileStatus.action 
              }}
            </p>
          <p 
            *ngIf="influencer.profileStatus.action === 'accepted'" 
            class="color_000 text-14">
            <span>
              {{ 
              influencer.profileStatus.updatedAt | date:'yyyy-MM-dd HH: mm' 
              }}
            </span>
          </p>
        </div>
        <div class="w-5 position-relative">
          <div class="text-center display-flex side_actions">
            <!-- <div>
              <i class="material-icons text-20 color_green">visibility</i>
            </div>
            <div>
              <i class="material-icons text-20 color_blue">notifications</i>
            </div>
            <div>
              <i class="material-icons text-20 color_green">visibility</i>
            </div> -->
            <div 
              *ngIf="
                ifSuperAdmin 
                && (
                  influencer.profileStatus.action === '' 
                  || influencer.profileStatus.action === 'accepted'
                )
              "
              (click)="onRemoveInfluencer(influencer)">
              <i class="material-icons text-20 color_red">clear</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

<ul *ngIf="loading" class="o-vertical-spacing o-vertical-spacing--l">
  <li *ngFor="let ele of emptyLoadingArray" class="blog-post o-media list_box_sklt">
    <div class="o-media__figure">
      <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
    </div>
    <div class="o-media__body">
      <div class="o-vertical-spacing">
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:56%;"></span>
        </div>
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:47%;"></span>
        </div>
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:52%;"></span>
        </div>
      </div>
    </div>
  </li>
</ul>

<ng-template #male_icon>
  <div class="img_gender img_gender_male">
    <i class="fa fa-mars"></i>
  </div>
</ng-template>

<ng-template #female_icon>
  <div class="img_gender img_gender_female">
    <i class="fa fa-venus"></i>
  </div>
</ng-template>

<ng-template #other_icon>
  <div class="img_gender img_gender_other">
    <i class="fa fa-venus"></i>
  </div>
</ng-template>