<div class="search-results">
  <div *ngFor="let campaign of list" class="advertiser_list_box">
    <div class="w-10 pull-left">
      <div class="user_name_img">
        <p
          *ngIf="campaign?.advertiser_brand_name !== ''">
          {{ getBrandInitials(campaign) }}
        </p>
        <img
          *ngIf="campaign?.advertiser_brand_name === ''"
          src="assets/images/brand1.png">
      </div>
    </div>
    <div class="w-30 pull-left">
      <p class="text-left text-16 color_666 mB5 wt500">
        {{ campaign.title }}
      </p>
      <p
        *ngIf="campaign.hashtag"
        class="text-left text-14 color_eleve mB5">
        #{{ campaign.hashtag }}
      </p>
      <p class="text-left text-14 color_666 mB5">
        {{ campaign.advertiser_name }} 
      </p>
    </div>
    <div class="w-20 pull-left">
      <p class="text-left text-14 color_666 mB5">
        {{ campaign.start_date | date: 'd-MMM-yy HH:mm' }}
      </p>
      <p class="text-left text-14 color_666 mB5">
        {{ campaign?.end_date | date: 'd-MMM-yy HH:mm' }}
      </p>
      <p
        *ngIf="campaign.status !== '0' && campaign.status !== '5'"
        class="text-left text-14 color_666 mB5 wt600">
        <span [ngClass]="getCampaignStatusColour(campaign.status)">
          <i class="material-icons text-12 mR5">brightness_1</i>
          {{ getCampaignStatusLabel(campaign.status) }}
        </span>
      </p>
    </div>
    <div class="w-15 pull-left">
      <p
        *ngIf="campaign.platforms?.length == 0;else platform_content"
        class="text-left text-14 color_eleve mB10" > </p>
      <ng-template #platform_content>
        <p
          *ngFor="let platform of getSortedPlatforms(campaign); trackBy: trackWithId"
          class="text-left text-14 color_eleve mB10">
          <span
            *ngIf="platform.name == 'twitter'"
            class="camp_campaign_plat">
            <i class="fab fa-twitter twitter_color"></i>
          </span>
          <span
            *ngIf="platform.name == 'facebook'"
            class="camp_campaign_plat ">
            <i class="fab fa-facebook-f facebook_color"></i>
          </span>
          <span
            *ngIf="platform.name == 'instagram'"
            class="camp_campaign_plat">
            <i class="fab fa-instagram instagram_color"></i>
          </span>
          <span
            *ngIf="platform.name == 'youtube'"
            class="camp_campaign_plat">
            <i class="fab fa-youtube youtube_color"></i>
          </span>
          <span class="color_666">{{platform.number_influencer}}</span>
        </p>
      </ng-template>
    </div>
    <div class="w-25 pull-left">
      <div class="display-block camp_list_btn">
        <div
          *ngIf="campaign.status === '2' || campaign.status === '8'"
          class="display-inline-block" >
          <button
            mat-button
            [matMenuTriggerFor]="edit2">
            <span>
              <i class="material-icons text-18">edit</i>
              Edit
              <i class="material-icons">arrow_drop_down</i>
            </span>
          </button>
          <mat-menu #edit2="matMenu" >
            <button
              mat-menu-item
              [routerLink]="['/campaign/create', campaign._id]">
              Edit Details
            </button>
            <button
              mat-menu-item
              (click)="onClickDiscardCampaign(campaign)">
              Discard Campaign
            </button>
          </mat-menu>
        </div>
        <div
          *ngIf="campaign.status === '3'"
          class="display-inline-block" >
          <button
            mat-button
            [matMenuTriggerFor]="edit3">
            <span>
              <i class="material-icons text-18">edit</i>
              Edit
              <i class="material-icons">arrow_drop_down</i>
            </span>
          </button>
          <mat-menu #edit3="matMenu">
            <button
              mat-menu-item
              [routerLink]="['/campaign/create', campaign._id]">
              Edit Step 1
            </button>
            <button
              mat-menu-item
              [routerLink]="['/campaign/step-two', campaign._id]">
              Edit Social & Influencers
            </button>
            <button
              mat-menu-item
              (click)="onClickEditEndDate(campaign)">
              Edit End Date
            </button>
            <button
              mat-menu-item
              (click)="onClickStopCampaign(campaign)">
              Stop the campaign
            </button>
          </mat-menu>
        </div>
        <button
          *ngIf="
            campaign.status === '3'
            || campaign.status === '4'
            || campaign.status === '6'
          "
          mat-raised-button
          [routerLink]="['/campaign/kol',campaign._id]">
          <i class="material-icons text-18" >people</i>
          KOL
        </button>
        <div
          *ngIf="
            campaign.status === '0'
            || campaign.status === '5'
          "
          class="w-25 pull-left">
          <div
            class="display-block camp_list_btn"
            [routerLink]="['/campaign/create', campaign?._id]">
            <button
              mat-raised-button >
              <i class="material-icons text-18 ">edit</i>
              Edit
            </button>
          </div>
          <div class="display-block camp_list_btn ">
            <button
              mat-raised-button
              (click)="onClickDiscardCampaign(campaign)">
              <i class="fa fa-trash-alt text-14 mR5 "></i>
              Discard
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="campaign.status !== '0' && campaign.status !== '5'"
        class="display-block camp_list_btn">
        <button
          mat-raised-button>
          <i class="material-icons text-20 mR5">trending_up</i>
          Report
        </button>
        <button
          mat-button
          [matMenuTriggerFor]="excel">
          <span>
            <i class="material-icons text-18">get_app</i>
            Excel
            <i class="material-icons">arrow_drop_down</i>
          </span>
        </button>
        <mat-menu #excel="matMenu">
          <button mat-menu-item>Influencer List</button>
          <button mat-menu-item>Duplicate Tweets</button>
          <button mat-menu-item>Organic Vs Paid</button>
        </mat-menu>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <ul *ngIf="loading" class="o-vertical-spacing o-vertical-spacing--l">
  <li 
    *ngFor="let ele of [1, 2, 3, 4, 5]" 
    class="blog-post o-media list_box_sklt">
    <div class="o-media__figure">
      <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
    </div>
    <div class="o-media__body">
      <div class="o-vertical-spacing">
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:56%;"></span>
        </div>
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:47%;"></span>
        </div>
        <div class="blog-post__meta">
          <span class="skeleton-box" style="width:52%;"></span>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>


<!-- No Filtered Data Screen -->
<div
  *ngIf="!list.length && !loading && ifFiltersActive"
  class="influ_empty text-center">
  <img src="assets/images/influ_empty.jpg">
  <p class="text-16 text-center wt600 color_333 mT10 mB20">
    Your query has 0 matching results!
  </p>
  <p class="text-16 text-center color_666 mB40">
    Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms
  </p>
</div>
<!-- No Filtered Data Screen -->

<!-- No Data Screen -->
<div
  *ngIf="!list.length && !loading && !ifFiltersActive"
  class="camp_list_empty">
  <img src="assets/images/camp_list_empty.png">
  <p
    class="text-16 color_333 mB20 wt600">
    Lorem Ipsum is simply dummy
  </p>
  <p
    class="text-14 color_666 mB20">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
  </p>
</div>
<!-- No Data Screen -->