<!--right side-->
<div class="right_side">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
      <span>Create Campaigns</span></p>
  </div>
    <div class="w-75 pull-left bg_white bRadius10 mR20 p30">
      <h2 class="main_heading text-18 text-left color_666 noM wt400">Launch a Campaign:- <span>{{ campaignDetaillData?.title }}</span>
      </h2>
      <p class="text-16 color_666 noM mT30 mB20">Choose {{ platformName }} Influencers: Premium</p>
      <form [formGroup]="campaignFormPremiumStepTwo" #f="ngForm">
      <div class="details_box premium_steps">
        <div class="w-20 pull-left">
          <p class="text-12 color_666 mB5 pL20">STEP 1</p>
          <div class="csv_btn" (click)="downloadSample()">
            <i class="material-icons">system_update_alt</i> CSV Format
          </div>
        </div>
        <div class="w-15 pull-left pT30">
          <img src="assets/images/arrow2.svg">
        </div>
        <div class="w-20 pull-left">
          <p class="text-12 color_666 mB5 pL20">STEP 2</p>
          <div class="csv_btn">
            <i class="material-icons">publish</i> Upload CSV
            <input type="file" #myInputFile accept=".csv" formControlName="file" (change)=uploadCSV($event)>
          </div>
        </div>
        <div class="w-15 pull-left pT30">
          <img src="assets/images/arrow1.svg">
        </div>
        <div class="w-30 pull-left">
          <p class="text-12 color_666 mB5 pL20">STEP 3</p>
          <div *ngIf="animateSubmit" class="btn_primary">
            <div (click)="premiumFileUploadSubmit()"><i class="material-icons">save</i> Create Rows</div>
          </div>
          <!--Special Effect Button-->
          <div *ngIf="!animateSubmit" class="spl_effetc_btn">
            <div class="item button-pulse">
              <div class="button__wrapper" style="width: 157px;">
                <div class="pulsing"></div>
                <button><i class="material-icons">save</i> Create Rows</button>
              </div>
            </div>
          </div>
          <!--Special Effect Button-->
        </div>
        <div class="clearfix"></div>
        <div *ngIf="csvNamePremium" class="tags display-inline-block text-center" style="margin-left: -50px;">
          <div><span>{{ csvNamePremium }}</span><i (click)="clearCSV()" class="material-icons">close</i></div>
        </div>
        <div *ngIf="premiumInfluencerData && premiumInfluencerData.no_handle_found > 0 " class="w-100 exam_text">
          <p><i class="fa fa-exclamation-triangle"></i> {{premiumInfluencerData?.no_handle_found}} handles mentioned
            were not found in the database. Showing {{premiumInfluencerData?.handle_found}} results.</p>
        </div>
      </div>

        <div formArrayName="campaignFormArrayPremium">
          <div class="details_box position-relative premium_form" *ngFor="let item of influencerRows.controls; let influIndex=index" [formGroupName]="influIndex" >
              <div *ngIf = "influIndex && campaignDetaillData?.status !== '3'" class="brief_close_btn" (click)= "removeOneRow(influIndex)"><i class="material-icons text-18">close</i></div>
              <div *ngIf = "campaignDetaillData?.status === '3' && (selectedInfluencer.length <= influIndex)" class="brief_close_btn" (click)= "removeOneRow(influIndex)"><i class="material-icons text-18">close</i></div>
              <div class="w-40 pull-left pR30">
              <label class="mB10">Influencer Profile</label>
              <ng-select [items]="influencerListData" bindValue="name" bindLabel="name" formControlName="influencerId" (ngModelChange)="influencerSelectChange($event, influIndex)">
              </ng-select>
              <div class="error-session-message" style="margin-top: 5px;" *ngIf="item.controls['influencerId'].hasError('required') && (item.controls['influencerId'].dirty || f.submitted)">
                Please choose influencer.
            </div>
              </div>
              <div class="w-20 pull-left">
              <label class="mB10">Post Count</label>
              <input type="text" formControlName="postPerCount" (ngModelChange) = "postPerCountChange(influIndex)" maxlength="5">
              <div class="error-session-message" *ngIf="item.controls['postPerCount'].hasError('required') && (item.controls['postPerCount'].dirty || f.submitted)">
                  Please enter post per count.
              </div>
              <div class="error-session-message" *ngIf="item.controls['postPerCount'].hasError('pattern') && (item.controls['postPerCount'].dirty || f.submitted)">
                Post count should be greater than 0.
            </div>
              </div>
              <div class="w-40 pull-left pL30">
              <label class="mB10">Cost</label>
              <div class="w-100 isd_feild">
                  <div class="w-25 pull-left isd_code">
                 <mat-select matNativeControl
                      class="form-control" formControlName='currency_code' placeholder="Code">
                      <mat-option *ngFor='let code of $currencyCode  | async' value='{{code.Currencycode}}'>
                          {{code.Currencycode}} </mat-option>
                  </mat-select>
                  </div>
                  <div class="w-75 pull-right">
                  <input type="text" placeholder="Type numerical cost" formControlName= "cost" style="margin-bottom: 5px;" maxlength="10">
                  </div>
                  <div class="clearfix"></div>
                  <div class="error-session-message" style="margin-top: 0px; margin-bottom: 5px;" *ngIf="item.controls['currency_code'].hasError('required') && (item.controls['currency_code'].dirty || f.submitted)">
                    Please choose currency code.
                  </div>
                  <div class="error-session-message" style="margin-top: 0px;" *ngIf="!item.controls['currency_code'].hasError('required')  && item.controls['cost'].hasError('required') && (item.controls['cost'].dirty || f.submitted)">
                    Mandatory to fill currency cost, cost & type
                  </div>
                  <div class="error-session-message" style="margin-top: 0px;" *ngIf="!item.controls['currency_code'].hasError('required')  && item.controls['cost'].hasError('pattern') && (item.controls['cost'].dirty || f.submitted)">
                    Cost should be greater than 0.
                </div>
              </div>
              <div class="w-100 text-right">
                  <mat-radio-group aria-label="Select an option" formControlName="perCost">
                  <mat-radio-button class="mR20" value="1">Per Post</mat-radio-button>
                  <mat-radio-button value="2">Package</mat-radio-button>
                  </mat-radio-group>
                  <div class="error-session-message" style="margin-top: 0px; text-align: right;" *ngIf="item.controls['perCost'].hasError('required') && (item.controls['perCost'].dirty || f.submitted)">
                      Please select post type.
                  </div>
              </div>
              </div>
              <div class="clearfix"></div>
              <div class="w-100"  [ngStyle] ="{'display':(influIndex != '0' && breif_selector != '0') ? 'none' : 'block' }" >
                <div class="w-100 mT50">
                  <div class="w-50 pull-left">
                      <label class="mB10">Brief</label>
                  </div>
                  <div *ngIf="!influIndex" class="w-50 pull-left text-right">
                      <mat-checkbox [checked]="breifCheck" (change)="change_breif_to_all($event)">Use this brief to all</mat-checkbox>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="camp_descrip_text">
                  <!-- <textarea rows="8" formControlName="brief"></textarea> -->
                  <angular-editor id="editor{{influIndex}}" [config]="editorConfig" formControlName="brief" [placeholder]="'Enter text here...'"></angular-editor>
                  <div class="error-session-message" style="margin-top: 5px;" *ngIf="item.controls['brief'].hasError('required') && (item.controls['brief'].dirty || f.submitted)">
                    Description is Mandatory.
                  </div>
                  <!-- <div class="error-session-message" style="margin-top: 5px;" *ngIf="item.controls['brief'].hasError('minlength') && (item.controls['brief'].dirty || f.submitted)">
                    Description must be at least 50 characters long.
                  </div> -->
                </div>
                <div class="w-100 mT30">
                  <div class="w-50 pull-left">
                      <label class="mB10">Sample</label>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="camp_descrip_text">
                  <angular-editor id="sampleeditor{{influIndex}}" [config]="editorConfig" formControlName="sample" [placeholder]="'Enter text here...'"></angular-editor>
                </div>
              </div>
          </div>
        </div>

        <div class="w-100 mT30">
          <div class="w-50 pull-left text-left">
            <div class="remove_btn display-inline-block" (click)="removeAllRows()">
              Remove All
            </div>
          </div>
          <div class="w-50 pull-right text-right" (click)="addInfluencerRows()">
            <div class="row_btn display-inline-block">
              <i class="material-icons text-16" >add</i> Rows
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="w-100 mT50 mB50 premium_step_btn">
          <div class="w-40 pull-left text-left">
            <div class="btn_sec" [routerLink]="previousRouteUrl ? ['/campaign/kol', campaignId] : ['/campaign/step-two', campaignId]">
              <div class="btn_sec_inside"><i class="material-icons text-20 mR10">keyboard_backspace</i>Cancel & Back
              </div>
            </div>
          </div>
          <div class="w-60 pull-right text-right">
            <div class="btn_sec mR20" *ngIf="campaignDetaillData?.status !== '3'" (click) = "submitPremiumInfluencerFilter(campaignFormPremiumStepTwo.value , '1')">
              <div class="btn_sec_inside"><i class="material-icons text-20 mR10">save</i> Save Draft</div>
            </div>
            <div class="btn_primary" *ngIf="campaignDetaillData?.status === '5'" (click) = "submitPremiumInfluencerFilter(campaignFormPremiumStepTwo.value , '5')">
              <button> <span>Continue<i class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span></button>
            </div>
            <div class="btn_primary" *ngIf="campaignDetaillData?.status === '8'" (click) = "submitPremiumInfluencerFilter(campaignFormPremiumStepTwo.value , '8')">
              <button> <span>Continue<i class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span></button>
            </div>
            <div class="btn_primary" *ngIf="campaignDetaillData?.status === '3'" (click) = "submitPremiumInfluencerFilter(campaignFormPremiumStepTwo.value , '3')">
              <button> <span >Save & Invite <i class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span></button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
    </form>
</div>
<div class="clearfix"></div>
</div>
<!--right side-->
