<!-- Add header -->
<app-header></app-header>

<!-- add sidebar -->
<!-- <app-sidebar #SYD  [flagVAr]="[2,3,4]"    (return_tolauout)="layougFunc($event)"></app-sidebar> -->
<app-sidebar></app-sidebar>

<!--Add Router  -->
<router-outlet></router-outlet>