<!--right side-->
<div class="right_side">
  <div class="bread_crumb w-100 pB20">
    <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
      <span>Create Campaigns</span></p>
  </div>
  <form [formGroup]="campaignFormMicroStepTwo" #f="ngForm">
    <div class="w-75 pull-left bg_white bRadius10 mR20 p30">
      <h2 class="main_heading text-18 text-left color_666 noM wt400"><span>Choose {{platformName | titlecase }} Micro
          Influencers</span>
      </h2>
      <div class="w-100 influencer_conversation mT20 mB30">
        <div class="w-25 pull-left">
          <p class="text-14 color_7f7f7f mB10">Max Influencer</p>
          <input type="text" formControlName="max_influencer" placeholder="Mention Count"
            (keyup)="calculateConversation('1')">
          <i class="material-icons text-18 mL10 mR10">clear</i>
          <div class="error-session-message" style="margin-top: 5px;"
            *ngIf="campaignFormMicroStepTwo.get('max_influencer').hasError('required') &&  (campaignFormMicroStepTwo.get('max_influencer').dirty || f.submitted)">
            Max Influencer is mandatory.
          </div>
          <div class="error-session-message" style="margin-top: 5px;"
            *ngIf="campaignFormMicroStepTwo.get('max_influencer').hasError('pattern') &&  (campaignFormMicroStepTwo.get('max_influencer').dirty || f.submitted)">
            Max Influencer should be only number.
          </div>
        </div>

        <div class="w-25 pull-left">
          <p class="text-14 color_7f7f7f mB10">Post per KOL</p>
          <input type="text" formControlName="post_per_kol" placeholder="Mention Count"
            (blur)="calculateConversation('2')">
          <i class="material-icons text-18 mL10 mR10">drag_handle</i>
          <div class="error-session-message" style="margin-top: 5px;"
            *ngIf="campaignFormMicroStepTwo.get('post_per_kol').hasError('required') &&  (campaignFormMicroStepTwo.get('post_per_kol').dirty || f.submitted)">
            Post per KOL is mandatory.
          </div>
          <div class="error-session-message" style="margin-top: 5px;"
            *ngIf="campaignFormMicroStepTwo.get('post_per_kol').hasError('pattern') &&  (campaignFormMicroStepTwo.get('post_per_kol').dirty || f.submitted)">
            Post per KOL should be only number.
          </div>
        </div>
        <div class="w-50 pull-right">
          <p class="text-14 color_7f7f7f mB10">Conversations</p>
          <input type="text" formControlName="conversations" placeholder="Influencers X Post">
        </div>
        <div class="clearfix"></div>
      </div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Step 1 - Choose Influencers
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="details_box" style="margin-top: 0px;">
            <div class="w-50 pull-left">
              <h3 class="color_4e4e4e text-14 noM mB30 wt500">Uploaded Perferred Influencers</h3>
            </div>
            <div *ngIf="csvNameMicro" (click)="clearAllFilterData()" class="w-50 pull-right text-right cursor-pointer">
              <i class="material-icons text-16">close</i> Clear
            </div>
            <div class="clearfix"></div>
            <div class="w-100 micro_csv_btns">
              <div class="w-20 pull-left">
                <p class="text-12 color_666 mB5 pL20">STEP 1</p>
                <div class="csv_btn" (click)="downloadSample()">
                  <i class="material-icons">system_update_alt</i> CSV Format
                </div>
              </div>
              <div class="w-15 pull-left pT30">
                <img src="assets/images/arrow2.svg">
              </div>
              <div class="w-20 pull-left">
                <p class="text-12 color_666 mB5 pL20">STEP 2</p>
                <div class="csv_btn">
                  <i class="material-icons">publish</i> Upload CSV
                  <input type="file" #myInputFile (change)=uploadCSV($event)>
                </div>
              </div>
              <div class="w-15 pull-left pT30">
                <img src="assets/images/arrow1.svg">
              </div>
              <div class="w-30 pull-left">
                <p class="text-12 color_666 mB5 pL20">STEP 3</p>
                <div class="btn_primary" *ngIf="animateSubmit">
                  <div (click)="microFileUploadSubmit()">Save & View Upload <span>>></span></div>
                </div>
                <!--Special Effect Button-->
                <div class="spl_effetc_btn" *ngIf="!animateSubmit">
                    <div class="item button-pulse">
                        <div class="button__wrapper">
                            <div class="pulsing"></div>
                            <button>Save & View Upload >></button>
                        </div>
                    </div>
                </div>
                <!--Special Effect Button-->
              </div>
              <div class="clearfix"></div>
              <div *ngIf="csvNameMicro != ''" class="tags display-inline-block text-center" style="margin-left: -50px;">
                <div><span>{{ csvNameMicro }}</span><i (click)="clearAllFilterData()" class="material-icons">close</i></div>
              </div>
            </div>
            <div *ngIf="microInfluencerData != ''" class="w-100 exam_text">
              <p><i class="fa fa-exclamation-triangle"></i> {{microInfluencerData?.no_handle_found}} handles mentioned
                were not found in the database. Showing {{microInfluencerData?.handle_found}} results.</p>
            </div>
          </div>
          <div class="w-100 mT20 mB20 text-center text-16 color_4e4e4e wt600">
            Or
          </div>
          <div class="details_box">
            <div class="w-50 pull-left">
              <h3 class="color_4e4e4e text-14 noM mB30 wt500">Filter Influencers</h3>
            </div>
            <div class="w-50 pull-right text-right cursor-pointer" (click)="clearFilterData()">
              <i class="material-icons text-16">close</i> Clear
            </div>
            <div class="clearfix"></div>
            <div class="w-100">
              <label class="mB10 uppercase">Location <span class="wt300 color_ccc">(Mandatory if excel not
                  uploaded)</span></label>
              <div class="w-100 micro_locations">
                <div class="w-30 pull-left pR10">
                  <ng-select [items]="countrylist" placeholder="Country" formControlName="country"
                    (ngModelChange)="countrySelectChange($event)">
                  </ng-select>
                  <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('country').hasError('required') &&  (campaignFormMicroStepTwo.get('country').dirty || f.submitted)">
                    Location is mandatory.
                  </div>
                </div>
                <div class="w-30 pull-left pL10 pR10">
                  <ng-select [items]="statelist" placeholder="State" formControlName="state" (ngModelChange)="stateSelectChange($event)">
                  </ng-select>
                </div>
                <div class="w-30 pull-left pL10 pR10">
                  <ng-select [items]="citylist" placeholder="City" formControlName="city" (ngModelChange)="citySelectChange($event)">
                  </ng-select>
                </div>
                <div class="w-10 pull-left pL10">
                  <div class="btn_sec" style="min-width: auto">
                    <div class="btn_sec_inside" (click)="locationSelect()">Add</div>
                  </div>
                </div>
                <div class=" clearfix"></div>
              </div>
              <div class="tags" *ngIf="countryName !=''">
                <div *ngIf="countryName !=''"><span>{{countryName}}</span> <i (click)="clearLocationItems('country')"
                    class="material-icons">close</i></div>
                <div *ngIf="stateName !=''"><span>{{stateName}}</span> <i (click)="clearLocationItems('state')"
                    class="material-icons">close</i></div>
                <div *ngIf="cityName !=''"><span>{{cityName}}</span> <i (click)="clearLocationItems('city')"
                    class="material-icons">close</i></div>
              </div>
            </div>
            <div class="w-100 mT20 mB30">
              <label class="mB10 uppercase">From Previous Campaign</label>
              <div class="w-100 micro_prev_camp">
                <div class="w-60 pull-left pR10">
                  <ng-select [items]="campaignlist" bindValue="id" bindLabel="name" formControlName="campaign"
                    placeholder="Search">
                  </ng-select>
                </div>
                <div class="w-30 text-center pull-left pT10 pL10 pR10">
                  <mat-radio-group aria-label="Select an option" formControlName="campaignStatus">
                    <mat-radio-button value="1" class="mR20"><span class="color_green">Include</span>
                    </mat-radio-button>
                    <mat-radio-button value="2"><span class="color_red">Exclude</span>
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="w-10 pull-left pL10">
                  <div class="btn_sec" style="min-width: auto">
                    <div class="btn_sec_inside" (click)="campaignSelectChange()">Add</div>
                  </div>
                </div>
                <div class=" clearfix"></div>
              </div>
              <div class="tags">
                <div class="include_camapign" *ngFor="let includeCamp of includeCampaignName;let i=index;">
                  <span>{{ includeCamp }}</span>
                  <i class="material-icons" (click)="deleteSelectCampaign(i,'1')">close</i>
                </div>

                <div class="exclude_camapign" *ngFor="let excludeCamp of excludeCampaignName;let i=index;">
                  <span>{{excludeCamp}}</span>
                  <i class="material-icons" (click)="deleteSelectCampaign(i,'2')">close</i>
                </div>
              </div>
            </div>
            <div class="w-50 pull-left pR20 mob_micro_filter">
              <label class="mB10 uppercase">Reach</label>
              <div class="w-20 pull-left">
                <input class="w-100" type="text" [(ngModel)]="minValue" placeholder="Min"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="w-60 pull-left pT20 pL20 pR20">
                <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                  [ngModelOptions]="{standalone: true}"></ng5-slider>
              </div>
              <div class="w-20 pull-left">
                <input class="w-100" type="text" [(ngModel)]="maxValue" placeholder="Max"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="w-50 pull-left pL20 mob_micro_filter">
              <label class="mB10 uppercase">Gender</label>
              <mat-checkbox (change)="onChangeGender($event)" class="display-inline-block mR15" formNameArray="gender"
                value="male">Male</mat-checkbox>
              <mat-checkbox (change)="onChangeGender($event)" class="display-inline-block mR15" formNameArray="gender"
                value="female">Female</mat-checkbox>
              <mat-checkbox (change)="onChangeGender($event)" class="display-inline-block" formNameArray="gender"
                value="other">Others</mat-checkbox>
            </div>
            <div class="clearfix"></div>
            <div class="w-50 pull-left pR20 mT20 mob_micro_filter">
              <label class="mB10 uppercase">Category</label>
              <mat-checkbox (change)="onChangeCategory($event)" formNameArray="category" value="C"
                class="display-inline-block mR15">C</mat-checkbox>
              <mat-checkbox (change)="onChangeCategory($event)" formNameArray="category" value="D"
                class="display-inline-block mR15">D</mat-checkbox>
            </div>
            <div class="w-50 pull-left pL20 mT20 mob_micro_filter">
              <label class="mB10 uppercase">Age</label>
              <mat-checkbox (change)="onChangeAge($event)" formNameArray="age" value="A"
                class="display-inline-block mR15">0-17</mat-checkbox>
              <mat-checkbox (change)="onChangeAge($event)" formNameArray="age" value="B"
                class="display-inline-block mR15">18-24</mat-checkbox>
              <mat-checkbox (change)="onChangeAge($event)" formNameArray="age" value="C"
                class="display-inline-block mR15">25-34</mat-checkbox><br>
              <mat-checkbox (change)="onChangeAge($event)" formNameArray="age" value="D"
                class="display-inline-block mR15">35-49</mat-checkbox>
              <mat-checkbox (change)="onChangeAge($event)" formNameArray="age" value="E" class="display-inline-block">
                50+</mat-checkbox>
            </div>
            <div class="clearfix"></div>
            <div class="w-100 text-right mT20 pB20">
              <div *ngIf="filteranimateSubmit" class="btn_primary">
                <div (click)="microfilterSubmit()">Save & View Result >></div>
              </div>
              <!--Special Effect Button-->
              <div *ngIf="!filteranimateSubmit" class="spl_effetc_btn">
                  <div class="item button-pulse">
                      <div class="button__wrapper">
                          <div class="pulsing"></div>
                          <button>Save & View Upload >></button>
                      </div>
                  </div>
              </div>
              <!--Special Effect Button-->
            </div>
            <!-- <div class="w-100 pT20">
              <mat-checkbox fornControlName="copyFilter" value='1'>Copy above filters to micro forms of other platforms</mat-checkbox>
            </div> -->
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="{{breif_section_tab}}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Step 2 - Add Brief
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="details_box" style="margin-top:0">
            <div *ngIf="mention_visible()">
              <label class="mB10">Handles to mention</label>
              <div class="w-50 micro_mention">
                <input style="margin: 0px;" type="text" placeholder="Eg- elevemedia. Press enter to add" formControlName="mention_hashtag"
                  (change)="addMentionTagFormArray($event)" maxlength="201">
                <div class="error-session-message"
                  *ngIf="campaignFormMicroStepTwo.get('mention_hashtag').errors && campaignFormMicroStepTwo.get('mention_hashtag').dirty && campaignFormMicroStepTwo.get('mention_hashtag').errors.mentionHashtagMinLength">
                  Handle should be minimum 2 letter.
                </div>
                <div class="error-session-message"
                *ngIf="campaignFormMicroStepTwo.get('mention_hashtag').errors && campaignFormMicroStepTwo.get('mention_hashtag').dirty && campaignFormMicroStepTwo.get('mention_hashtag').errors.mentionHashtagMaxLength">
                 Handle should be maximum 200 letter.
              </div>
                <div class="error-session-message"
                  *ngIf="campaignFormMicroStepTwo.get('mention_hashtag').errors && campaignFormMicroStepTwo.get('mention_hashtag').dirty && campaignFormMicroStepTwo.get('mention_hashtag').errors.mentionHashtagPattern">
                  Handle cannot have spaces or special characters except @ and _
                </div>
              </div>
              <div class="w-100">
                <div class="tags" formArrayName="mention_hashtag_list">
                  <div *ngFor="let mTaglist of campaignFormMicroStepTwo.controls.mention_hashtag_list?.value; let i = index"><span>@{{mTaglist}}</span> <i class="material-icons"
                      (click)="removeSecondaryTagFormArray(i)">close</i></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div *ngIf="breif_section" class="w-100" style="border-bottom: 1px solid #eee; margin-bottom: 10px;">
              <div class="w-50 pull-right text-right">
                <mat-checkbox formControlName="genderSpecific" value="1" (change)="genderSpecificChange($event)">Gender
                  Specific Brief?</mat-checkbox>
              </div>
              <div class="clearfix"></div>
            </div>
            <div [ngStyle]="{'display':show_div_description_change ? 'none' : 'block' }">
              <div class="w-100 micro_error_text">
                <p><svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px"><g id="Group_95" transform="translate(-32 -157)"><rect class="st0" height="512" id="Rectangle_364" width="512" x="31.94" y="157"></rect><g id="Group_67" transform="translate(34 159.004)"><g id="Group_65"><path class="st1" d="M467.28,264.75c0.63-59.87-31.21-115.38-83.2-145.07v288
                  C436.34,379.33,468.43,324.2,467.28,264.75z" id="Path_65"></path></g><g id="Group_66"><path class="st1" d="M285.94,467.41c-13.07,0.55-25.66-4.96-34.13-14.93l-85.33-89.6h-76.8
                  c-27.66-0.56-49.63-23.43-49.07-51.09c0-0.04,0-0.07,0-0.11v-115.2c-0.62-27.66,21.3-50.58,48.96-51.2c0.04,0,0.07,0,0.11,0
                  h74.67l85.33-89.6c13.52-14.86,35.14-19.19,53.33-10.67c19.21,7.69,31.85,26.24,32,46.93v326.4c-0.15,20.69-12.79,39.24-32,46.93
                  C298.74,465.28,292.34,467.41,285.94,467.41z M89.68,187.95c-4.27,0-6.4,4.27-6.4,8.53v117.33c0,4.27,2.13,8.53,6.4,8.53h93.87
                  l98.13,102.4c1.79,1.48,4.08,2.24,6.4,2.13c2.13,0,4.27-2.13,4.27-6.4V91.95c-0.22-2.73-1.83-5.15-4.27-6.4
                  c-4.27-2.13-6.4,0-6.4,2.13l-98.13,100.27H89.68z" id="Path_66"></path></g></g></g></svg> Common brief taken from Twitter Micro form. Go to Twitter Micro form to edit.</p>
              </div>
              <div class="w-100">
                <label>Campaign Description</label>
                <div class="camp_descrip_text">
                  <!-- <textarea formControlName="common_description" rows="12"></textarea> -->
                  <angular-editor id="editor1" [config]="editorConfig" formControlName="common_description" [placeholder]="'Enter text here...'"></angular-editor>
                  <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('common_description').hasError('required') &&  (campaignFormMicroStepTwo.get('common_description').dirty || f.submitted)">
                    Campaign Description is mandatory.
                  </div>
                  <!-- <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('common_description').hasError('minlength') &&  (campaignFormMicroStepTwo.get('common_description').dirty || f.submitted)">
                    Campaign Description must be at least 50 characters long.
                  </div> -->
                </div>
              </div>
              <div class="w-100">
                <label>Sample Conversation</label>
                <div class="camp_descrip_text">
                  <!-- <textarea formControlName="common_sample" rows="8"></textarea> -->
                  <angular-editor id="editor2" [config]="editorConfig" formControlName="common_sample" [placeholder]="'Enter text here...'"></angular-editor>
                </div>
              </div>
            </div>
            <div [ngStyle]="{'display':show_div_description_change ? 'block' : 'none' }">
              <div class="mT30 mB30">
                <label class="color_eleve">Campaign Description:- Male</label>
                <div class="camp_descrip_text borderBlue mT10">
                  <!-- <textarea formControlName="common_male" rows="8"></textarea> -->
                  <angular-editor id="editor3" [config]="editorConfig" formControlName="common_male" [placeholder]="'Enter text here...'"></angular-editor>
                  <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('common_male').hasError('required') &&  (campaignFormMicroStepTwo.get('common_male').dirty || f.submitted)">
                    Campaign Description male is mandatory.
                  </div>
                  <!-- <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('common_male').hasError('minlength') && (campaignFormMicroStepTwo.get('common_male').dirty || f.submitted)">
                    Campaign Description male must be at least 50 characters long.
                  </div> -->
                </div>
              </div>
              <div class="mT30 mB30">
                <label class="color_eleve">Sample Conversation:- Male</label>
                <div class="camp_descrip_text borderBlue mT10">
                  <!-- <textarea formControlName="sample_male" rows="8"></textarea> -->
                  <angular-editor id="editor8" [config]="editorConfig" formControlName="sample_male" [placeholder]="'Enter text here...'"></angular-editor>
                </div>
              </div>
              <div class="mB30">
                <label class="color_female">Campaign Description:- Female</label>
                <div class="camp_descrip_text borderFemale mT10">
                  <!-- <textarea formControlName="common_female" rows="8"></textarea> -->
                  <angular-editor id="editor4" [config]="editorConfig" formControlName="common_female" [placeholder]="'Enter text here...'"></angular-editor>
                  <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('common_female').hasError('required') &&  (campaignFormMicroStepTwo.get('common_female').dirty || f.submitted)">
                    Campaign Description female is mandatory.
                  </div>
                  <!-- <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('common_female').hasError('minlength') &&  (campaignFormMicroStepTwo.get('common_female').dirty || f.submitted)">
                    Campaign Description female must be at least 50 characters long.
                  </div> -->
                </div>
              </div>
              <div class="mB30">
                <label class="color_female">Sample Conversation:- Female</label>
                <div class="camp_descrip_text borderFemale mT10">
                  <!-- <textarea formControlName="sample_female" rows="8"></textarea> -->
                  <angular-editor id="editor5" [config]="editorConfig" formControlName="sample_female" [placeholder]="'Enter text here...'"></angular-editor>
                </div>
              </div>
              <div class="mB30">
                <label class="color_other">Campaign Description:- Other</label>
                <div class="camp_descrip_text borderOther mT10">
                  <!-- <textarea formControlName="common_other" rows="8"></textarea> -->
                  <angular-editor id="editor6" [config]="editorConfig" formControlName="common_other" [placeholder]="'Enter text here...'"></angular-editor>
                  <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('common_other').hasError('required') &&  (campaignFormMicroStepTwo.get('common_other').dirty || f.submitted)">
                    Campaign Description other is mandatory.
                  </div>
                  <!-- <div class="error-session-message"
                    *ngIf="campaignFormMicroStepTwo.get('common_other').hasError('minlength') &&  (campaignFormMicroStepTwo.get('common_other').dirty || f.submitted)">
                    Campaign Description other must be at least 50 characters long.
                  </div> -->
                </div>
              </div>
              <div class="mB30">
                <label class="color_other">Sample Conversation:- Other</label>
                <div class="camp_descrip_text borderOther mT10">
                  <!-- <textarea formControlName="sample_other" rows="8"></textarea> -->
                  <angular-editor id="editor7" [config]="editorConfig" formControlName="sample_other" [placeholder]="'Enter text here...'"></angular-editor>
                </div>
              </div>
            </div>
            <div *ngIf="breif_section && campaignDetaillData?.type == 'post'" class="w-100">
              <mat-checkbox [(ngModel)]="copyPlatform" formControlName="copyBriefAllPlatform" value="1"
                (change)="clickCopyBriefAllPlatform($event)" [ngModelOptions]="{standalone: true}">Single brief for all
                platforms?</mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="clearfix"></div>
    </div>
    <div class="w-23 pull-left bg_white bRadius10">
      <div class="p20">
        <h2 class="text-left text-16 color_4e4e4e wt600">{{upload_title}}</h2>
        <div *ngIf="!filterInfluencerList.length" class="w-100 text-center mT50">
                    <img src="assets/images/excel.jpg" class="mB30">
                    <p class="text-16 color_333 text-center wt600">Micro influencers who are chosen to be invited appear here</p>
                    <p class="text-14 color_666 text-center wt400 mT20">You must upload users via an excel OR apply filters (location is mandatory) to shortlist invitees for the campaign.</p>
                    <p class="text-14 color_666 text-center wt400 mT20">Click on the 'Save & View Invitees' button to successfully load influencers on this view. Only then this platform will be successfully saved.</p>
                </div>
        <div *ngIf="filterInfluencerList.length"  class="w-100 mT20">
          <div class="include_camapign color_green text-14 bRadius5 mB10" style="padding: 5px 10px;">
            <i class="material-icons text-18">person</i> Selected <span
              class="wt600">({{ influencerSelectedCountData }})</span>
          </div>
          <div class="exclude_camapign color_red text-14 bRadius5" style="padding: 5px 10px;">
            <i class="material-icons text-18">clear</i> Removed <span
              class="wt600">({{ influencerUnselectedCountData }})</span>
          </div>
          <div class="right_fil_search position-relative">
            <input type="text" placeholder="Search" [(ngModel)]="searchText" autocomplete="off"
              [ngModelOptions]="{standalone: true}">
              <i *ngIf="searchText" (click)="clearSearchText()" class="material-icons text-18" style="position: absolute; top: 10px; right: 10px; cursor: pointer;">clear</i>
          </div>
          <ul class="excel_filter_grid">
            <li *ngFor="let microInfluencer of filterInfluencerList | filter:searchText; let i = index;">
              <div class="filter_user">
                <img *ngIf="microInfluencer?.profile_image_url" src="{{microInfluencer?.profile_image_url}}">
                <img *ngIf="!microInfluencer?.profile_image_url" src="assets/images/user.jpg">
                <mat-checkbox (change)="onChangecheckedInfluencer($event, i)" formNameArray="checkedInfluencer"
                  value="{{ microInfluencer?.influencer_id }}" [checked]=true></mat-checkbox>
              </div>
              <p class="text-12 text-center color_666 wt300 mT5" *ngIf="microInfluencer.Elv_social">
                @{{microInfluencer?.Elv_social}}</p>
              <p class="text-12 text-center color_666 wt300 ">
                {{microInfluencer?.followers_count}}-{{microInfluencer?.category}}</p>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="w-75 mT50 mB50 micro_step_btns">
      <div class="w-40 pull-left text-left">
        <div class="btn_sec" [routerLink]="['/campaign/step-two', campaignId]">
          <div class="btn_sec_inside"><i class="material-icons text-20 mR10">keyboard_backspace</i>Back</div>
        </div>
      </div>
      <div class="w-60 pull-right text-right">
        <div class="btn_sec mR20" *ngIf="campaignDetaillData?.status !== '3' ">
          <div class="btn_sec_inside" (click)="campaignTwoMicroFormSubmit(campaignFormMicroStepTwo.value, '1')"><i
              class="material-icons text-20 mR10">save</i> Save Draft</div>
        </div>
        <div class="btn_primary" *ngIf="campaignDetaillData?.status === '5' && continueAnimate">
          <div (click)="campaignTwoMicroFormSubmit(campaignFormMicroStepTwo.value, '5')">
            <span>Continue <i
                class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span>
          </div>
        </div>
        <div class="btn_primary" *ngIf="campaignDetaillData?.status === '8' && continueAnimate">
          <div (click)="campaignTwoMicroFormSubmit(campaignFormMicroStepTwo.value, '8')">
            <span>Continue <i
                class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span>
          </div>
        </div>
        <div class="btn_primary" *ngIf="campaignDetaillData?.status === '3' && continueAnimate">
          <div (click)="campaignTwoMicroFormSubmit(campaignFormMicroStepTwo.value, '3')">
            <span>Continue <i
                class="material-icons rotate180 text-20 mL10">keyboard_backspace</i></span>
          </div>
        </div>
         <!--Special Effect Button-->
         <div *ngIf="!continueAnimate" class="spl_effetc_btn display-inline-block vertical-middle">
          <div class="item button-pulse">
              <div class="button__wrapper" style="width: 150px;">
                  <div class="pulsing"></div>
                  <button>Continue</button>
              </div>
          </div>
      </div>
      <!--Special Effect Button-->
      </div>
      <div class="clearfix"></div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<!--right side-->

<!-- Single Brief Confirmation (Check) Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_div_confirmation_check_change ? 'block' : 'none' }">
  <div class="bg_close_layer"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b class="modal_close"><i class="material-icons" (click)="modalClose()">clear</i></b>
    <div>
      <div class="modal_header">
        <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">help_outline</i>
          Single Brief Confirmation (Check)</p>
      </div>
      <div class="modal_content">
        <p class="text-16 wt500 color_666 text-left mB30">Enabling a single brief for all social platforms for Micro
          influencers will have the following implications: </p>
        <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999"
            style="font-size:8px;">fiber_manual_record</i> All Influencers, irrespective of being invited to multiple
          platforms will see a single brief. Hence the brief written must be applicable to all</p>

        <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999"
            style="font-size:8px;">fiber_manual_record</i> Briefs entered in other Micro form for this campaign will no
          longer be valid</p>

        <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999"
            style="font-size:8px;">fiber_manual_record</i> Newer Micro forms will not have a brief section</p>

        <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999"
            style="font-size:8px;">fiber_manual_record</i> You may undo this action later but it will not bring back
          previously provided briefs</p>

        <div class="w-100 mT40">
          <div class="w-40 pull-left text-left">
            <div class="btn_sec">
              <div class="btn_sec_inside" (click)="modalClose()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
              </div>
            </div>
          </div>
          <div class="w-60 pull-right text-right">
            <div class="btn_primary">
              <div (click)="modalConfirm()"><i class="material-icons text-20 mR10">near_me</i> Yes, Send Common Brief
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Single Brief Confirmation (Check) Modal-->

<!-- SIngle Brief Confirmation (Uncheck) Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_div_confirmation_uncheck_change ? 'block' : 'none' }">
  <div class="bg_close_layer"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b class="modal_close"><i class="material-icons" (click)="modalClose()">clear</i></b>
    <div>
      <div class="modal_header">
        <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">help_outline</i>
          SIngle Brief Confirmation (Uncheck)</p>
      </div>
      <div class="modal_content">
        <p class="text-16 wt500 color_666 text-left mB30">Disabling the single brief feature for Micro influencers will
          have the following implications: </p>

        <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999"
            style="font-size:8px;">fiber_manual_record</i> All Influencers will now be sent individual briefs as per
          platforms they are invited for.</p>

        <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999"
            style="font-size:8px;">fiber_manual_record</i> Individuals briefs will now have to be entered</p>

        <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999"
            style="font-size:8px;">fiber_manual_record</i> Briefs for all previously saved platforms do not exist.
          Please edit and save them again.</p>
        <div class="w-100 mT40">
          <div class="w-40 pull-left text-left">
            <div class="btn_sec">
              <div class="btn_sec_inside" (click)="modalClose()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
              </div>
            </div>
          </div>
          <div class="w-60 pull-right text-right">
            <div class="btn_primary">
              <div (click)="modalConfirm()"><i class="material-icons text-20 mR10">near_me</i> Disable Single Brief
                Feature</div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SIngle Brief Confirmation (Uncheck) Modal-->