<!--right side-->
<div class="right_side">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
            <span>Draft Campaigns</span></p>
    </div>
    <div class="bg_white p20 campaign-drafts-view">
        <div class="w-100">
            <div class="w-100 text-left mB30">
                <div class="manage_adv_search display-inline-block">
                    <h2>Draft Campaigns</h2>
                    <p class="color_666 text-14 wt300 mT10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <!-- <div class="camp_list_empty" *ngIf="campaignlistData.length == 0;else campaign_data">
            <img src="assets/images/camp_list_empty.png">
            <p class="text-16 color_333 mB20 wt600">Lorem Ipsum is simply dummy</p>
            <p class="text-14 color_666 mB20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
            <div class="btn_primary">
                <div routerLink="/campaign">Create New Campaign</div>
            </div>
        </div> -->
        <!-- <ng-template #campaign_data> -->
        <div>
            <div class="position-relative mT30 mB20 text-right">
                <div class="display-inline-block position-relative list_search">
                    <i *ngIf="!searchSymbolValue"  class="material-icons display-inline-block text-26 color_4e4e4e cursor-pointer mR10" (click)="refreshAllFilter()">refresh</i>
                    <div class="manage_adv_search_input text-left">
                        <input placeholder="Search Draft Campaigns..." type="text" [(ngModel)]="searchDataValue" (keydown)="searchDataCampaign($event)">
                        <i *ngIf="searchSymbolValue" class="material-icons cursor-pointer text-26" style="color: #d5d5d5;">search</i>
                        <i *ngIf="!searchSymbolValue" (click)="clearCrosValue()" class="material-icons cursor-pointer">close</i>
                    </div>
                </div>
            </div>
            <div class="camp_list_empty" *ngIf="campaignlistData.length == 0;else campaign_data">
                <img src="assets/images/camp_list_empty.png">
                <p class="text-16 color_333 mB20 wt600">Lorem Ipsum is simply dummy</p>
                <p class="text-14 color_666 mB20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                <div class="btn_primary">
                    <div routerLink="/campaign">Create New Campaign</div>
                </div>
            </div>
            <ng-template #campaign_data>
                <div class="list_header">
                    <div class="w-10 pull-left">Brand</div>
                    <div class="w-30 pull-left">Campaign Name</div>
                    <div class="w-20 pull-left">Duration</div>
                    <div class="w-15 pull-left">Social</div>
                    <div class="w-25 pull-left">Action</div>
                    <div class="clearfix"></div>
                </div>
                <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
                    <div class="advertiser_list_box" *ngFor="let campaignlist of campaignlistData">
                        <div class="w-10 pull-left">
                            <div class="user_name_img">
                                <img *ngIf="campaignlist?.advertiser_brand_name == ''" src="assets/images/brand1.png">
                                <p *ngIf="campaignlist?.advertiser_brand_name != ''">{{campaignlist?.advertiser_brand_name[0].toUpperCase()}}</p>
                            </div>
                        </div>
                        <div class="w-30 pull-left">
                            <p class="text-left text-16 color_666 mB5 wt500">{{campaignlist?.title}}</p>
                            <p class="text-left text-14 color_eleve mB5" *ngIf="campaignlist.hashtag != ''">#{{campaignlist?.hashtag}}</p>
                            <p class="text-left text-14 color_666 mB5">{{campaignlist?.advertiser_name}}</p>
                        </div>
                        <div class="w-20 pull-left">
                            <p class="text-left text-14 color_666 mB5" *ngIf="campaignlist.start_date != ''">{{campaignlist?.start_date}}</p>
                            <p class="text-left text-14 color_666 mB5" *ngIf="campaignlist.end_date != ''">{{campaignlist?.end_date}}</p>
                        </div>
                        <div class="w-15 pull-left">
                            <p class="text-left text-14 color_eleve mB10" *ngIf="campaignlist.platforms.length == 0;else platform_content"> </p>
                            <ng-template #platform_content>
                                <p *ngFor="let platform of campaignlist.platforms" class="text-left text-14 color_eleve mB10">

                                    <span *ngIf="platform.name == 'facebook'" class="camp_list_plat facebook_bg_color ">
                                <i class="fab fa-facebook-f"></i></span>
                                    <span *ngIf="platform.name == 'twitter'" class="camp_list_plat twitter_bg_color ">
                                <i class="fab fa-twitter"></i></span>
                                    <span *ngIf="platform.name == 'instagram'" class="camp_list_plat instagram_bg_color ">
                                <i class="fab fa-instagram"></i></span>
                                    <span *ngIf="platform.name == 'youtube'" class="camp_list_plat youtube_bg_color ">
                                <i class="fab fa-youtube"></i></span> {{platform?.number_influencer}}
                                </p>
                            </ng-template>

                        </div>
                        <div class="w-25 pull-left ">
                            <div class="display-block camp_list_btn" [routerLink]="['/campaign/create', campaignlist?._id]">
                                <button mat-raised-button ><i class="material-icons text-18 ">edit</i> Edit</button>
                            </div>
                            <div class="display-block camp_list_btn ">
                                <button mat-raised-button (click)="campaignDiscard(campaignlist._id)"><i class="fa fa-trash-alt text-14 mR5 "></i> Discard</button>
                            </div>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                </div>
            </ng-template>
        </div>
        <!-- </ng-template> -->
    </div>
</div>
<!--right side-->

<!-- Active Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_active_model ? 'block' : 'none' }">
    <div class="bg_close_layer" (click)="campaignDiscardClose()"></div>
    <div class="eleve_modal modal_animate_zoom">
        <b (click)="campaignDiscardClose()" class="modal_close"><i class="material-icons">clear</i></b>
        <div>
            <form>
                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
                </div>
                <div class="modal_content">
                    <p class="text-16 wt500 color_666 text-left mB30">Discarding the campaign will:
                    </p>
                    <p class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Trash the drafted campaign.</p>
                    <div class="w-100 mT40">
                        <div class="w-40 pull-left text-left">
                            <div class="btn_sec">
                                <div (click)="campaignDiscardClose()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
                            </div>
                        </div>
                        <div class="w-60 pull-right text-right">
                            <div class="btn_primary">
                                <div (click)="discardSubmit()"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Discard
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Active Modal-->
