<div class="right_side pL20per infu_detail">
<div class="bread_crumb w-100 pB20">
  <p class="text-14 color_666 noM">
    <span>Home</span>
    <i class="material-icons mL15 mR15">chevron_right</i>
    <span>Create Influencer</span>
  </p>
</div>
<div class="w-75 pull-left bg_white bRadius5 mR20">
  <div class="adv_view">
    <div class="adv_view_bg">
      <div class="w-50 pull-left">
        <h2>Influencer Detail</h2>
      </div>
      <div class="clearfix"></div>
      <div class="w-100 pT25 influ_detail_box">
        <div class="w-70 pull-left">
          <div class="adv_name_img">
            <div class="w-15 pull-left">
              <div class="user_name_img position-relative">
                <img [src]="getUserImage()">
              </div>
            </div>
            <div class="w-85 pull-left">
              <h3 class="color_white text-20 wt600 text-left mB5">
                {{
                  userDetails && userDetails.first_name
                }}
                {{
                  userDetails && userDetails.last_name
                }}
              </h3>
              <p class="text-14 color_white text-left noM">
                {{
                  (userDetails && (userDetails.status == 0 || userDetails.status == ''))
                  ? 'Inactive'
                  : (userDetails && userDetails.status == 1)
                  ? 'Active'
                  : 'Barred'
                }} Influencer
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="w-100 p30 mT20">
      <div class="adv_detail_box">
        <h3>
          <span class="w-50 pull-left text-left">About</span>
          <span class="w-50 pull-right text-right" (click)="toggleModal(false)">
          <i class="material-icons color_eleve text-20 cursor-pointer">edit</i>
          </span>
          <span class="clearfix" style="display: block"></span>
        </h3>
        <div class="adv_detail_fields">
          <div class="w-48 pull-left text-left">
            <p><i class="material-icons">person</i>
              <span *ngIf="userDetails && !userDetails.gender">Gender</span>
              {{ userDetails && userDetails.gender | capitalizeFirstLetter }}
              <span *ngIf="userDetails && !userDetails.gender" class="color_red">
               (Not Provided)
              </span>
            </p>
          </div>
          <div class="w-48 pull-right text-right">
            <p><i class="material-icons">date_range</i>
              <span *ngIf="userDetails && !userDetails.dob">DOB</span>
              {{ userDetails && userDetails.dob | date }}
              <span *ngIf="userDetails && !userDetails.dob" class="color_red">
               (Not Provided)
              </span>
            </p>
          </div>
          <div class="clearfix"></div>
          <!-- User Primary Mail -->
          <div class="w-48 pull-left text-left">
            <p *ngIf="userDetails && userDetails.email">
              <i class="material-icons">mail</i> {{ userDetails.email }}
              <i class="material-icons text-20 {{getDefault('email', 'email_verification').class}}">
              {{ getDefault('email', 'email_verification').icon }}
              </i>
            </p>
            <p *ngIf="userDetails && !userDetails.email">
              <i class="material-icons">mail</i> Mail
              <span class="color_red">
              (Not Provided)
              </span>
            </p>
          </div>
          <!-- User Primary Mail -->
          <!-- User Primary Phone -->
          <div class="w-48 pull-right text-right">
            <p *ngIf="userDetails && userDetails.mobile">
              <i class="material-icons">phone</i>
              {{ userDetails?.isd_code }}
              <span *ngIf="userDetails?.isd_code">-</span>
              {{ userDetails.mobile }}
              <i class="material-icons text-20 {{ getDefault('mobile', 'is_verified').class }}">
              {{ getDefault('mobile', 'is_verified').icon }}
              </i>
            </p>
            <p *ngIf="userDetails && !userDetails.mobile">
              <i class="material-icons">phone</i> Phone
              <span class="color_red">
              (Not Provided)
              </span>
            </p>
          </div>
          <!-- User Primary Phone -->
          <!-- User Alternate Mail -->
          <div class="clearfix"></div>
          <div class="w-48 pull-left text-left">
            <p *ngIf="userDetails && userDetails.alt_email">
              <i class="material-icons">mail</i>{{ userDetails.alt_email }}
            </p>
            <p *ngIf="userDetails && !userDetails.alt_email">
              <i class="material-icons">mail</i> Alternate Mail
              <span class="color_red">
              (Not Provided)
              </span>
            </p>
          </div>
          <!-- User Alternate Mail -->
          <!-- User Alternate Phone -->
          <div class="w-48 pull-right text-right">
            <p *ngIf="userDetails && userDetails.alt_mobile">
              <i class="material-icons">phone</i>
              {{ userDetails.alt_isd_code }}
              <span *ngIf="userDetails.alt_isd_code">-</span>
              {{ userDetails.alt_mobile }}
            </p>
            <p *ngIf="userDetails && !userDetails.alt_mobile">
              <i class="material-icons">phone</i> Alternate Phone
              <span class="color_red">
              (Not Provided)
              </span>
            </p>
          </div>
          <!-- User Alternate Phone -->
          <div class="clearfix"></div>
          <div class="w-100">
            <p>
              <i class="material-icons pR5">place</i>
              <span>
              {{ userDetails && userDetails.country }} -
              {{ userDetails && userDetails.state }} -
              {{ userDetails && userDetails.city }}
              </span><br>
              <span class="pL30 mT5">{{ userDetails && userDetails.address }}</span>
            </p>
          </div>
          <hr class="address_border_color">
          <div class="w-100">
            <p *ngIf="userDetails && userDetails.note">
              <i class="material-icons pull-left" style="width: 20px">event_note</i>
              <span class="pull-left w-90">{{ userDetails.note }}</span>
              <span class="clearfix" style="display: block"></span>
            </p>
            <p *ngIf="userDetails && !userDetails.note">
              <i class="material-icons pull-left" style="width: 20px">event_note</i> Note
              <span class="color_red">
              (Not Provided)
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="adv_detail_box">
        <h3>Payment Details</h3>
        <div class="adv_detail_fields">
          <div *ngIf="userDetails && userDetails.country === 'India'" class="w-100">
            <div class="w-48 pull-left text-left">
              <p>
                <i class="material-icons">mail</i> PAN
                <span [ngClass]="
                  {
                    'color_green': ifPaymentDetailsProvided('pan_number'),
                    'color_red': !ifPaymentDetailsProvided('pan_number')
                  }"  >
                    {{
                      ifPaymentDetailsProvided('pan_number')
                      ? '(Provided)'
                      : '(Not Provided)'
                    }}
                </span>
              </p>
            </div>
            <div class="w-48 pull-right text-right">
              <p>
                <i class="material-icons">date_range</i> GST
                <span [ngClass]="
                  {
                    'color_green': ifPaymentDetailsProvided('gst_number'),
                    'color_red': !ifPaymentDetailsProvided('gst_number')
                  }
                ">
                {{
                  ifPaymentDetailsProvided('gst_number')
                  ? '(Provided)'
                  : '(Not Provided)'
                }}
                </span>
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div
            *ngIf="
              userDetails && userDetails.country !== 'Indonesia'
              && userDetails.country !== 'India'
            "
            class="w-100">
            <div class="w-48 pull-left text-left">
              <p>
                <i class="material-icons">mail</i>
                TAX ID
                <span [ngClass]="
                  {
                    'color_green': ifPaymentDetailsProvided('tax_id'),
                    'color_red': !ifPaymentDetailsProvided('tax_id')
                  }
                " >
                  {{
                    ifPaymentDetailsProvided('tax_id')
                    ? '(Provided)'
                    : '(Not Provided)'
                  }}
                </span>
              </p>
            </div>
            <div class="w-48 pull-right text-right">
              <p>
                <i class="material-icons">phone</i>
                  Business relation with India
                  <span [ngClass]="
                    {
                      'color_green': ifPaymentDetailsProvided('business_relation'),
                      'color_red': !ifPaymentDetailsProvided('business_relation')
                    }
                  ">
                  {{
                    ifPaymentDetailsProvided('business_relation')
                    ? '(Provided)'
                    : '(Not Provided)'
                  }}
                  </span>
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div *ngIf="userDetails && userDetails.country === 'Indonesia'" class="w-100">
            <div class="w-48 pull-left text-left">
              <p><i class="material-icons">mail</i> e-KTP
                <span
                  [ngClass]="
                    {
                      'color_green': ifPaymentDetailsProvided('ektp'),
                      'color_red': !ifPaymentDetailsProvided('ektp')
                    }
                  ">
                  {{
                    ifPaymentDetailsProvided('ektp')
                    ? '(Provided)'
                    : '(Not Provided)'
                  }}
                </span>
              </p>
            </div>
            <div class="w-48 pull-right text-right">
              <p><i class="material-icons">phone</i> NPWP
                <span [ngClass]="
                  {
                    'color_green': ifPaymentDetailsProvided('npwp'),
                    'color_red': !ifPaymentDetailsProvided('npwp')
                  }
                ">
                  {{
                    ifPaymentDetailsProvided('npwp')
                    ? '(Provided)'
                    : '(Not Provided)'
                  }}
                </span>
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div
            *ngFor="let bank of userDetails && userDetails.bank_details; let i = index"
            [ngClass]="
              {
                'pull-left text-left': i % 2 === 0,
                'pull-right text-right': i % 2 === 1
              }
            "
            class="w-48" style="border:0px;" >
          <p class="display-flex"><i class="material-icons">mail</i><span> {{ bank.bank_name }}
            <span [ngClass]="{'color_green': bank.status === 1, 'color_red': bank.status === 0}">
            {{ bank.status === 1 ? '(Active)' : '(Inactive)' }}
            </span></span>
          </p>
        </div>
        <div class="w-48 pull-left text-left" *ngIf="userDetails && !userDetails.bank_details.length">
          <p>
            <i class="material-icons">mail</i> Bank
            <span class="color_red">(Not Provided)</span>
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="w-100 mB20">
      <h3 class="color_4e4e4e text-16 noM wt500 camp_list" style="padding-bottom:0px;">
        <div class="add_new_platforms">
          <span class="mR20">Add New</span>
          <span title="Facebook" class="facebook_bg_color" (click)="addSocial('Facebook')">
          <i class="fab fa-facebook-f"></i>
          </span>
          <span title="Twitter" class="twitter_bg_color" (click)="addSocial('Twitter')">
          <i class="fab fa-twitter"></i>
          </span>
          <span title="Instagram" class="instagram_bg_color" (click)="addSocial('Instagram')">
          <i class="fab fa-instagram "></i>
          </span>
          <span title="LinkedIn" class="linkedin_bg_color" (click)="addSocial('LinkedIn')">
          <i class="fab fa-linkedin-in "></i>
          </span>
          <span title="YouTube" class="youtube_bg_color" (click)="addSocial('YouTube')">
          <i class="fab fa-youtube "></i>
          </span>
          <span title="Blogger" class="blog_bg_color" (click)="addSocial('Blog')">
          <i class="fab fa-blogger-b"></i>
          </span>
          <span title="TikTok" class="tiktok_bg_color" style="padding-top: 2px" (click)="addSocial('TikTok')">
          <i class="material-icons text-16">music_note</i>
          </span>
          <span title="SnapChat" class="snapchat_bg_color" (click)="addSocial('SnapChat')">
          <i class="fab fa-snapchat-ghost"></i>
          </span>
        </div>
        <span class="mR20">{{ getSolialsCount() }} Social Accounts :</span>
        <div class="clearfix"></div>
      </h3>
    </div>
    <div *ngFor="let social of userDetails && userDetails.facebook; let i = index" class="influencer_box">
      <div class="influ_detail">
        <div class="channel_name">
          <div class="w-40 pull-left">
            <span class="facebook_bg_color"><i class="fab fa-facebook-f"></i></span>
          </div>
          <div class="w-60 pull-left">
            <p class="wt500 text-16">{{ social.name }}</p>
            <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatCost(social.followers_count) }}
            </p>
            <p class="wt300 text-14">CAT-{{ social.category }}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cost_per">
          <p class="wt500 text-16">Cost per post</p>
          <p class="wt300 text-14">{{social.currency}} {{ formatCost(social.cost) }}</p>
        </div>
        <div class="platform_genre">
          <p>Genre</p>
          <span *ngFor="let genre of social.genres">{{ genre }}</span>
        </div>
        <div class="platform_edit">
          <div style="border-bottom:1px solid #ddd;">
            <i (click)="editSocial('facebook', i)" class="material-icons text-20">edit</i>
          </div>
          <div (click)="onClickdeleteSocial('facebook', i)">
            <i class="fa fa-trash-alt text-16"></i>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div *ngIf="social.bio !== ''" class="influ_bio">
        <span class="wt600 mR5">Bio:</span>{{ social.bio }}
      </div>
    </div>
    <div *ngFor="let social of userDetails && userDetails.twitter; let i = index" class="influencer_box">
      <div class="influ_detail">
        <div class="channel_name">
          <div class="w-40 pull-left">
            <span class="twitter_bg_color"><i class="fab fa-twitter"></i></span>
          </div>
          <div class="w-60 pull-left">
            <p class="wt500 text-16">{{ social.name }}</p>
            <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatCost(social.followers_count) }}
            </p>
            <p class="wt300 text-14">CAT-{{ social.category }}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cost_per">
          <p class="wt500 text-16">Cost per post</p>
          <p class="wt300 text-14">{{social.currency}} {{ formatCost(social.cost) }}</p>
        </div>
        <div class="platform_genre">
          <p>Genre</p>
          <span *ngFor="let genre of social.genres">{{ genre }}</span>
        </div>
        <div class="platform_edit">
          <div style="border-bottom:1px solid #ddd;">
            <i (click)="editSocial('twitter', i)" class="material-icons text-20">edit</i>
          </div>
          <div (click)="onClickdeleteSocial('twitter', i)">
            <i class="fa fa-trash-alt text-16"></i>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div *ngIf="social.bio !== ''" class="influ_bio">
        <span class="wt600 mR5">Bio:</span>{{ social.bio }}
      </div>
    </div>
    <div *ngFor="let social of userDetails && userDetails.instagram; let i = index" class="influencer_box">
      <div class="influ_detail">
        <div class="channel_name">
          <div class="w-40 pull-left">
            <span class="instagram_bg_color"><i class="fab fa-instagram"></i></span>
          </div>
          <div class="w-60 pull-left">
            <p class="wt500 text-16">{{ social.name }}</p>
            <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatCost(social.followers_count) }}
            </p>
            <p class="wt300 text-14">CAT-{{social.category}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cost_per">
          <p class="wt500 text-16">Cost per post</p>
          <p class="wt300 text-14">{{social.currency}} {{ formatCost(social.cost) }}</p>
        </div>
        <div class="platform_genre">
          <p>Genre</p>
          <span *ngFor="let genre of social.genres">{{ genre }}</span>
        </div>
        <div class="platform_edit">
          <div style="border-bottom:1px solid #ddd;">
            <i (click)="editSocial('instagram', i)" class="material-icons text-20">edit</i>
          </div>
          <div (click)="onClickdeleteSocial('instagram', i)">
            <i class="fa fa-trash-alt text-16"></i>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div *ngIf="social.bio !== ''" class="influ_bio">
        <span class="wt600 mR5">Bio:</span> {{ social.bio }}
      </div>
    </div>
    <div *ngFor="let social of userDetails && userDetails.linkedin; let i = index" class="influencer_box">
      <div class="influ_detail">
        <div class="channel_name">
          <div class="w-40 pull-left">
            <span class="linkedin_bg_color"><i class="fab fa-linkedin-in"></i></span>
          </div>
          <div class="w-60 pull-left">
            <p class="wt500 text-16">{{ social.name }}</p>
            <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatCost(social.followers_count) }}
            </p>
            <p class="wt300 text-14">CAT-{{social.category}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cost_per">
          <p class="wt500 text-16">Cost per post</p>
          <p class="wt300 text-14">{{social.currency}} {{ formatCost(social.cost) }}</p>
        </div>
        <div class="platform_genre">
          <p>Genre</p>
          <span *ngFor="let genre of social.genres">{{ genre }}</span>
        </div>
        <div class="platform_edit">
          <div style="border-bottom:1px solid #ddd;">
            <i (click)="editSocial('linkedin', i)" class="material-icons text-20">edit</i>
          </div>
          <div (click)="onClickdeleteSocial('linkedin', i)">
            <i class="fa fa-trash-alt text-16"></i>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div *ngIf="social.bio !== ''" class="influ_bio">
        <span class="wt600 mR5">Bio:</span>{{ social.bio }}
      </div>
    </div>
    <div *ngFor="let social of userDetails && userDetails.youtube; let i = index" class="influencer_box">
      <div class="influ_detail">
        <div class="channel_name">
          <div class="w-40 pull-left">
            <span class="youtube_bg_color"><i class="fab fa-youtube"></i></span>
          </div>
          <div class="w-60 pull-left">
            <p class="wt500 text-16">{{ social.name }}</p>
            <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatCost(social.followers_count) }}
            </p>
            <p class="wt300 text-14">CAT-{{social.category}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cost_per">
          <p class="wt500 text-16">Cost per post</p>
          <p class="wt300 text-14">{{social.currency}} {{ formatCost(social.cost) }}</p>
        </div>
        <div class="platform_genre">
          <p>Genre</p>
          <span *ngFor="let genre of social.genres">{{ genre }}</span>
        </div>
        <div class="platform_edit">
          <div style="border-bottom:1px solid #ddd;">
            <i (click)="editSocial('youtube', i)" class="material-icons text-20">edit</i>
          </div>
          <div (click)="onClickdeleteSocial('youtube', i)">
            <i  class="fa fa-trash-alt text-16"></i>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div *ngIf="social.bio !== ''" class="influ_bio">
        <span class="wt600 mR5">Bio:</span>{{ social.bio }}
      </div>
    </div>
    <div *ngFor="let social of userDetails && userDetails.blog; let i = index" class="influencer_box">
      <div class="influ_detail">
        <div class="channel_name">
          <div class="w-40 pull-left">
            <span class="blog_bg_color"><i class="fab fa-blogger-b"></i></span>
          </div>
          <div class="w-60 pull-left">
            <p class="wt500 text-16">{{ social.name }}</p>
            <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatCost(social.followers_count) }}
            </p>
            <p class="wt300 text-14">CAT-{{social.category}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cost_per">
          <p class="wt500 text-16">Cost per post</p>
          <p class="wt300 text-14">{{social.currency}} {{ formatCost(social.cost) }}</p>
        </div>
        <div class="platform_genre">
          <p>Genre</p>
          <span *ngFor="let genre of social.genres">{{ genre }}</span>
        </div>
        <div class="platform_edit">
          <div style="border-bottom:1px solid #ddd;">
            <i (click)="editSocial('blog', i)" class="material-icons text-20">edit</i>
          </div>
          <div (click)="onClickdeleteSocial('blog', i)" >
            <i class="fa fa-trash-alt text-16"></i>
          </div>
          <div class="clearfix"></div>
        </div>
        <div *ngIf="social.bio !== ''" class="influ_bio">
          <span class="wt600 mR5">Bio:</span>{{ social.bio }}
        </div>
      </div>
    </div>
    <div *ngFor="let social of userDetails && userDetails.tiktok; let i = index" class="influencer_box">
      <div class="influ_detail">
        <div class="channel_name">
          <div class="w-40 pull-left">
            <span class="tiktok_bg_color" style="padding-top: 8px"><i class="material-icons"
              style="font-size: 40px">music_note</i></span>
          </div>
          <div class="w-60 pull-left">
            <p class="wt500 text-16">{{ social.name }}</p>
            <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatCost(social.followers_count) }}</p>
            <p class="wt300 text-14">CAT-{{social.category}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cost_per">
          <p class="wt500 text-16">Cost per post</p>
          <p class="wt300 text-14">{{social.currency}} {{ formatCost(social.cost) }}</p>
        </div>
        <div class="platform_genre">
          <p>Genre</p>
          <span *ngFor="let genre of social.genres">{{ genre }}</span>
        </div>
        <div class="platform_edit">
          <div style="border-bottom:1px solid #ddd;">
            <i (click)="editSocial('tiktok', i)" class="material-icons text-20">edit</i>
          </div>
          <div (click)="onClickdeleteSocial('tiktok', i)">
            <i class="fa fa-trash-alt text-16"></i>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div *ngIf="social.bio !== ''" class="influ_bio">
        <span class="wt600 mR5">Bio:</span>{{ social.bio }}
      </div>
    </div>
    <div *ngFor="let social of userDetails && userDetails.snapchat; let i = index" class="influencer_box">
      <div class="influ_detail">
        <div class="channel_name">
          <div class="w-40 pull-left">
            <span class="snapchat_bg_color"><i class="fab fa-snapchat-ghost"></i></span>
          </div>
          <div class="w-60 pull-left">
            <p class="wt500 text-16">{{ social.name }}</p>
            <p class="wt300 text-14"><i class="fa fa-users"></i> {{ formatCost(social.followers_count) }} </p>
            <p class="wt300 text-14">CAT-{{social.category}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cost_per">
          <p class="wt500 text-16">Cost per post</p>
          <p class="wt300 text-14">{{social.currency}} {{ formatCost(social.cost) }}</p>
        </div>
        <div class="platform_genre">
          <p>Genre</p>
          <span *ngFor="let genre of social.genres">{{ genre }}</span>
        </div>
        <div class="platform_edit">
          <div style="border-bottom:1px solid #ddd;">
            <i (click)="editSocial('snapchat', i)" class="material-icons text-20">edit</i>
          </div>
          <div (click)="onClickdeleteSocial('snapchat', i)" >
            <i class="fa fa-trash-alt text-16"></i>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div *ngIf="social.bio !== ''" class="influ_bio">
        <span class="wt600 mR5">Bio:</span>{{ social.bio }}
      </div>
    </div>
    <div class="w-100 text-right mT40 mB50">
      <div class="status_btn">
        <select [formControl]="statusSelect" (change)="openStatusModal($event.target.value)">
        <option [disabled]="userDetails && userDetails.status === '1'"
        [selected]="userDetails && userDetails.status === '1'" value="1">Status: Active
        </option>
        <option [disabled]="userDetails && (userDetails.status == '0' || userDetails.status == '')"
        [selected]="userDetails && (userDetails.status == '0' || userDetails.status == '')" value="0"> Status: Inactive
        </option>
        <option [disabled]="userDetails && userDetails.status === '2'"
        [selected]="userDetails && userDetails.status === '2'" value="2"> Status: Barred
        </option>
        </select>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!--right side-->
<app-edit-influencer-modal (closeIt)="toggleModal($event)" *ngIf="editActive && $userDetails | async as user" [influencer]="user"></app-edit-influencer-modal>
<app-add-social [detail]="true" (saved)="onAddSocialSave($event)" (closed)="onAddSocialClose($event)" [values]="addSocialValues" [defaultGenres]="addSocialGenres" [social]="selectedSocial" *ngIf="showAddSocialModal">
</app-add-social>
<!-- Active, Deactive, Barred Modal-->
<div class="eleve_modal_bg" *ngIf="showStatusModal">
  <div class="bg_close_layer" (click)="closeStatusModal()" ></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="closeStatusModal()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <div class="modal_header">
        <p class="color_666 text-16 text-left wt500">
          <i class="material-icons color_eleve text-30">check_circle</i> Confirm Action
        </p>
      </div>
      <div class="modal_content">
        <p *ngIf="statusToChange === '1'" class="text-14 wt500 color_999 text-left mB10">
          Are you sure you want to Activate Influencer?
        </p>
        <p *ngIf="statusToChange === '0'" class="text-14 wt500 color_999 text-left mB10">
          Are you sure you want to Deactivate Influencer?
        </p>
        <p *ngIf="statusToChange === '2'" class="text-14 wt500 color_999 text-left mB10">
          Are you sure you want to Barre Influencer?
        </p>
        <div class="w-100 mT40">
          <div class="w-40 pull-left text-left">
            <div (click)="closeStatusModal()" class="btn_sec">
              <div class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
            </div>
          </div>
          <div class="w-60 pull-right text-right">
            <div (click)="changeStatus()" class="btn_primary">
              <div><i class="material-icons text-20 mR10">ac_unit</i> Yes
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Active, Deactive, Barred Modal-->
<!--Yes/No modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display': modalOpen ? 'block' : 'none' }">
  <div class="bg_close_layer" (click)="onClickDontDelete()"></div>
  <div class="eleve_modal modal_animate_zoom">
    <b (click)="onClickDontDelete()" class="modal_close"><i class="material-icons">clear</i></b>
    <div>
      <div class="modal_header">
        <p class="text-14 text-left wt300">Are you sure, you want to delete?</p>
      </div>
      <div class="modal_content" style="max-height: 450px; overflow:auto">
        <div class="w-100 mT40">
          <div class="w-50 float-left text-left">
            <div class="btn_sec mR10">
              <div class="btn_sec_inside" (click)="onClickDontDelete()">NO</div>
            </div>
          </div>
          <div class="w-50 float-right text-right">
            <div class="btn_primary"><button (click)="deleteSocial()">YES</button></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Yes/No modal modal-->