<div class="w-100 bg_white vh100">
        <!--logo-->
        <div class="w-100">
          <a href="#"><img src="assets/images/eleve_logo.png" style="width:150px; padding: 20px 30px;" alt="Eleve"></a>
        </div>
        <!--logo-->

        <!--Not Found-->
        <div class="expire_box not_found">
          <div style="width:750px;" class="mAuto text-center">
            <img src="assets/images/403.jpg">
          </div>
          <div class="w-600 mAuto text-center">
            <h2 class="wt500 mB10 color_4e4e4e text-center text-20">This account is no longer active</h2>
            <p class="wt400 color_666 text-center text-14">Looks like your account access has been deactivated due to some reason. We suggest you may go back home, or write to us at <a href="#"> support@eleve.co.in</a> Thank you for your patience.</p>
            <div class="btn_primary mT40 mB40" routerLink="/">
              <div>Go Back Home</div>
            </div>
          </div>
        </div>
        <!--Not Found-->
      </div>