<!--right side-->
<div class="right_side">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
            <span>Completed Campaigns</span></p>
    </div>
    <div class="bg_white p20">
        <div class="w-100">
            <div class="w-100 text-left mB30">
                <div class="manage_adv_search display-inline-block">
                    <h2>Completed Campaigns</h2>
                    <p class="color_666 text-14 wt300 mT10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <!-- <div class="camp_list_empty">
            <img src="assets/images/camp_list_empty.png">
            <p class="text-16 color_333 mB20 wt600">Lorem Ipsum is simply dummy</p>
            <p class="text-14 color_666 mB20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
            <div class="btn_primary">
                <div routerLink="/campaign">Create New Campaign</div>
            </div>
        </div> -->
        <div>
            <div class="position-relative mT30 mB20 text-right">
                <div class="display-inline-block position-relative list_search">
                    <i class="material-icons display-inline-block text-26 color_4e4e4e cursor-pointer mR10" (click)="refreshAllFilter()">refresh</i>
                    <div class="manage_adv_search_input text-left">

                        <input type="text" [(ngModel)]="searchDataValue" (keydown)="searchDataCampaign($event)">
                        <i *ngIf="searchSymbolValue" class="material-icons cursor-pointer text-26" style="color: #d5d5d5;">search</i>
                        <i *ngIf="!searchSymbolValue" (click)="clearCrosValue()" class="material-icons cursor-pointer">close</i>
                    </div>
                </div>
            </div>
            <div class="camp_list_empty" *ngIf="campaignlistData.length == 0;else campaign_data">
                <img src="assets/images/camp_list_empty.png">
                <p class="text-16 color_333 mB20 wt600">Lorem Ipsum is simply dummy</p>
                <p class="text-14 color_666 mB20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                <div class="btn_primary">
                    <div routerLink="/campaign">Create New Campaign</div>
                </div>
            </div>
            <ng-template #campaign_data>
                <div class="list_header">
                    <div class="w-10 pull-left">Brand</div>
                    <div class="w-30 pull-left">Campaign Name</div>
                    <!-- <div class="w-20 pull-left">
                        <button mat-button [matMenuTriggerFor]="duration"><span class="desktop_show">Duration <i class="material-icons">arrow_drop_down</i></span></button>
                        <mat-menu #duration="matMenu">
                            <button mat-menu-item>All</button>
                            <button mat-menu-item><span class="color_yellow"><i class="material-icons text-12 mR5">brightness_1</i> Scheduled</span></button>
                            <button mat-menu-item><span class="color_green"><i class="material-icons text-12 mR5">brightness_1</i> Live</span></button>
                            <button mat-menu-item><span class="color_red"><i class="material-icons text-12 mR5">brightness_1</i> Ended</span></button>
                        </mat-menu>
                    </div> -->
                    <div class="w-20 pull-left">Duration</div>
                    <div class="w-15 pull-left">
                        <button mat-button [matMenuTriggerFor]="social"><span class="desktop_show">Social <i class="material-icons">arrow_drop_down</i></span></button>
                        <mat-menu #social="matMenu">
                            <button mat-menu-item>All</button>
                            <button mat-menu-item><i class="fab fa-facebook-f facebook_color text-16 mR5"></i> Facebook</button>
                            <button mat-menu-item><i class="fab fa-twitter twitter_color text-16 mR5"></i> Twitter</button>
                            <button mat-menu-item><i class="fab fa-instagram instagram_color text-16 mR5"></i> Instagram</button>
                            <button mat-menu-item><i class="fab fa-youtube youtube_color text-16 mR5"></i> Youtube</button>
                        </mat-menu>
                    </div>
                    <div class="w-25 pull-left">Action</div>
                    <div class="clearfix"></div>
                </div>
                <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
                    <div class="advertiser_list_box" *ngFor="let campaignlist of campaignlistData">
                        <div class="w-10 pull-left">
                            <div class="user_name_img">
                                <img *ngIf="campaignlist?.advertiser_brand_name == ''" src="assets/images/brand1.png">
                                <p *ngIf="campaignlist?.advertiser_brand_name != ''">{{campaignlist?.advertiser_brand_name[0].toUpperCase()}}</p>
                            </div>
                        </div>
                        <div class="w-30 pull-left">
                            <p class="text-left text-16 color_666 mB5 wt500">{{campaignlist?.title}}</p>
                            <p class="text-left text-14 color_eleve mB5" *ngIf="campaignlist.hashtag != ''">#{{campaignlist?.hashtag}}</p>
                            <p class="text-left text-14 color_666 mB5">{{campaignlist?.advertiser_name}}</p>
                        </div>
                        <div class="w-20 pull-left">
                            <p class="text-left text-14 color_666 mB5" *ngIf="campaignlist.start_date != ''">{{campaignlist?.start_date}}</p>
                            <p class="text-left text-14 color_666 mB5" *ngIf="campaignlist.end_date != ''">{{campaignlist?.end_date}}</p>
                            <p *ngIf="campaignlist?.status == '6' " class="text-left text-14 color_666 mB5 wt600">
                                <span class="color_red">
                            <i class="material-icons text-12 mR5">brightness_1</i> Completed</span></p>
                        </div>
                        <div class="w-15 pull-left">
                            <p class="text-left text-14 color_eleve mB10" *ngIf="campaignlist.platforms.length == 0;else platform_content"> </p>
                            <ng-template #platform_content>
                                <p *ngFor="let platform of campaignlist.platforms" class="text-left text-14 color_eleve mB10">
                                    <span *ngIf="platform.name == 'facebook'" class="camp_list_plat facebook_bg_color ">
                                    <i class="fab fa-facebook-f"></i></span>
                                    <span *ngIf="platform.name == 'twitter'" class="camp_list_plat twitter_bg_color ">
                                    <i class="fab fa-twitter"></i></span>
                                    <span *ngIf="platform.name == 'instagram'" class="camp_list_plat instagram_bg_color ">
                                    <i class="fab fa-instagram"></i></span>
                                    <span *ngIf="platform.name == 'youtube'" class="camp_list_plat youtube_bg_color ">
                                    <i class="fab fa-youtube"></i></span> {{platform?.number_influencer}}
                                </p>
                            </ng-template>
                        </div>
                        <div class="w-25 pull-left">
                            <div class="display-block camp_list_btn">
                                <button mat-raised-button><i class="material-icons text-18">people</i> KOL</button>
                                <button mat-raised-button><i class="material-icons text-20 mR5">trending_up</i>Report</button>
                            </div>
                            <div class="display-block camp_list_btn">
                                <button mat-button [matMenuTriggerFor]="excel"><span class="desktop_show"><i class="material-icons text-18">get_app</i> Excel <i class="material-icons">arrow_drop_down</i></span></button>
                                <mat-menu #excel="matMenu">
                                    <button mat-menu-item>Influencer List</button>
                                    <button mat-menu-item>Duplicate Tweets</button>
                                    <button mat-menu-item>Organic Vs Paid</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>
<!--right side-->