<div class="update_content">
    <img src="assets/images/eleve_logo.png">
    <h2>You've successfully logged in!</h2>
    <p>Just have to complete one more step for us to take you to the admin panel</p>
    <div class="update_form">
        <form class="w-100" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmitupdatePasswordForm(updatePasswordForm.value)" #f="ngForm">

            <img src="assets/images/update_img.jpg" style="width: 180px;">
            <h3>Update Your Password</h3>
            <label class="text-14 color_666 noM mB10 text-left display-block">New Password</label>
            <!-- <input type="text" placeholder="New Password"> -->
            <input type="password" formControlName="newpassword" minlength="8" class="mT10 form-control" [ngClass]="{ 'has-error' : !updatePasswordForm.get('newpassword').valid && (f.submitted || updatePasswordForm.get('newpassword').dirty) }" placeholder="Enter New Password"
                required>
            <div class="error-session-message" *ngIf="updatePasswordForm.get('newpassword').hasError('required') && (updatePasswordForm.get('newpassword').dirty || f.submitted)">
                Please enter Password.
            </div>
            <div class="error-session-message" *ngIf="updatePasswordForm.get('newpassword').hasError('minlength') && (updatePasswordForm.get('newpassword').dirty || f.submitted)">
                Password must be of 8 characters or more.
            </div>
            <label class="text-14 color_666 noM mB10 text-left display-block">Re-type Password</label>
            <!-- <input type="text" placeholder="Re-type Password"> -->
            <input type="password" formControlName="confirmnewpassword" minlength="8" class="mT10 form-control" [ngClass]="{ 'has-error' : !updatePasswordForm.get('confirmnewpassword').valid && (f.submitted || updatePasswordForm.get('confirmnewpassword').dirty) }"
                placeholder="Re-type Password" required>
            <div class="error-session-message" *ngIf="updatePasswordForm.get('confirmnewpassword').hasError('required') && (updatePasswordForm.get('confirmnewpassword').dirty || f.submitted)">
                Confirm password is required.
            </div>
            <div class="error-session-message" *ngIf="updatePasswordForm.value.confirmnewpassword && updatePasswordForm.value.newpassword != updatePasswordForm.value.confirmnewpassword && !(updatePasswordForm.get('newpassword').hasError('required')) && (updatePasswordForm.get('confirmnewpassword').dirty || f.submitted)">
                Passwords do not match.
            </div>
            <div class="btn_primary mT10">
                <button type="submit"><i class="material-icons text-18 mR5">save</i> Done</button>
            </div>
        </form>
    </div>
</div>