<!--right side-->
<div class="right_side">
    <div class="blogger_sec">
        <div class="w-100 pB20 mB30" style="border-bottom:1px solid #ccc;">
            <div class="w-40 pull-left">
                <h2>Bloggers</h2>
            </div>
            <div class="w-60 pull-right text-right">
                <div class="mR20 display-inline-block">
                    <button class="ex_btn" mat-raised-button color="primary"><i class="material-icons">file_download</i> Excel</button>
                </div>
                <div class="display-inline-block">
                    <a mat-raised-button routerLink="."><i class="material-icons">refresh</i> Refresh</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="blogger_list">
        <table cellspacing="0" cellpadding="0" role="grid">
            <thead>
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width: 27px;">
                        <div>
                            S.No.
                            <span class="DataTables_sort_icon"></span>
                        </div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 104px;">
                        <div>
                            Name
                            <span class="DataTables_sort_icon"></span>
                        </div>
                    </th>
                    <th colspan="3" rowspan="1">
                        Twitter
                    </th>
                    <th colspan="3" rowspan="1">
                        Instagram
                    </th>
                    <th colspan="3" rowspan="1">
                        Facebook
                    </th>
                    <th colspan="4" rowspan="1">
                        Blog
                    </th>
                    <th colspan="3" rowspan="1">
                        Youtube
                    </th>
                    <th colspan="3" rowspan="1">
                        Tiktok
                    </th>
                </tr>
                <tr role="row">
                    <th colspan="2" rowspan="1"></th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 105px;">
                        <div>Link <span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 49px;">
                        <div>Followers<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 24px;">
                        <div>Cost<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 143px;">
                        <div>Link<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 49px;">
                        <div>Followers<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 38px;">
                        <div>Cost<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 32px;">
                        <div>Link<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 50px;">
                        <div>Followers<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 24px;">
                        <div>Cost<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 23px;">
                        <div>Link<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 59px;">
                        <div>Page Views<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 25px;">
                        <div>Cost<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 54px;">
                        <div>Alexa rank<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 26px;">
                        <div>Link<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 61px;">
                        <div>Subscribers<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 26px;">
                        <div>Cost<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 26px;">
                        <div>Link<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 61px;">
                        <div>Follower<span class="DataTables_sort_icon"></span></div>
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 26px;">
                        <div>Cost<span class="DataTables_sort_icon"></span></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr role="row">
                    <td>1</td>
                    <td class="relative tooltip sorting_1">
                        <a href="#">Aakriti Rana Gill</a>
                    </td>
                    <td>
                        <a href="https://twitter.com/aakritiranagill?lang=en" target="_blank">@aakritiranagill?lang=en</a>
                    </td>
                    <td>135313</td>
                    <td>2500</td>
                    <td>
                        <a href="https://www.instagram.com/aakritiranagill/?hl=en" target="_blank">@aakritiranagill</a>
                    </td>
                    <td>5489</td>
                    <td>25000</td>
                    <td>
                        <a href="https://www.facebook.com/aakritiranagill/" target="_blank">Facebook</a>
                    </td>
                    <td>78978</td>
                    <td>5000</td>
                    <td><a href="http://www.aakritiranagill.com/" target="_blank">Blog</a></td>
                    <td>10,110</td>
                    <td>40000</td>
                    <td>3,116,331</td>
                    <td>
                        <a href="https://www.youtube.com/channel/UCnwm1TTH0yTkqu20LyaAsQg" target="_blank">
                        Youtube
                        </a>
                    </td>
                    <td>555558</td>
                    <td>90000</td>
                    <td>
                        <a href="https://www.tiktok.com/en/" target="_blank">
                        Tiktok
                        </a>
                    </td>
                    <td>555558</td>
                    <td>90000</td>
                </tr>
                <!-- <tr role="row">
                    <td>1</td>
                    <td class="relative tooltip sorting_1">
                        <a href="#">Aakriti Rana Gill</a>
                    </td>
                    <td>
                        <a href="https://twitter.com/aakritiranagill?lang=en" target="_blank">@aakritiranagill?lang=en</a>
                    </td>
                    <td>135313</td>
                    <td>2500</td>
                    <td>
                        <a href="https://www.instagram.com/aakritiranagill/?hl=en" target="_blank">@aakritiranagill</a>
                    </td>
                    <td>5489</td>
                    <td>25000</td>
                    <td>
                        <a href="https://www.facebook.com/aakritiranagill/" target="_blank">Facebook</a>
                    </td>
                    <td>78978</td>
                    <td>5000</td>
                    <td><a href="http://www.aakritiranagill.com/" target="_blank">Blog</a></td>
                    <td>10,110</td>
                    <td>40000</td>
                    <td>3,116,331</td>
                    <td>
                        <a href="https://www.youtube.com/channel/UCnwm1TTH0yTkqu20LyaAsQg" target="_blank">
                        Youtube
                        </a>
                    </td>
                    <td>555558</td>
                    <td>90000</td>
                </tr>
                <tr role="row">
                    <td>1</td>
                    <td class="relative tooltip sorting_1">
                        <a href="#">Aakriti Rana Gill</a>
                    </td>
                    <td>
                        <a href="https://twitter.com/aakritiranagill?lang=en" target="_blank">@aakritiranagill?lang=en</a>
                    </td>
                    <td>135313</td>
                    <td>2500</td>
                    <td>
                        <a href="https://www.instagram.com/aakritiranagill/?hl=en" target="_blank">@aakritiranagill</a>
                    </td>
                    <td>5489</td>
                    <td>25000</td>
                    <td>
                        <a href="https://www.facebook.com/aakritiranagill/" target="_blank">Facebook</a>
                    </td>
                    <td>78978</td>
                    <td>5000</td>
                    <td><a href="http://www.aakritiranagill.com/" target="_blank">Blog</a></td>
                    <td>10,110</td>
                    <td>40000</td>
                    <td>3,116,331</td>
                    <td>
                        <a href="https://www.youtube.com/channel/UCnwm1TTH0yTkqu20LyaAsQg" target="_blank">
                        Youtube
                        </a>
                    </td>
                    <td>555558</td>
                    <td>90000</td>
                </tr>
                <tr role="row">
                    <td>1</td>
                    <td class="relative tooltip sorting_1">
                        <a href="#">Aakriti Rana Gill</a>
                    </td>
                    <td>
                        <a href="https://twitter.com/aakritiranagill?lang=en" target="_blank">@aakritiranagill?lang=en</a>
                    </td>
                    <td>135313</td>
                    <td>2500</td>
                    <td>
                        <a href="https://www.instagram.com/aakritiranagill/?hl=en" target="_blank">@aakritiranagill</a>
                    </td>
                    <td>5489</td>
                    <td>25000</td>
                    <td>
                        <a href="https://www.facebook.com/aakritiranagill/" target="_blank">Facebook</a>
                    </td>
                    <td>78978</td>
                    <td>5000</td>
                    <td><a href="http://www.aakritiranagill.com/" target="_blank">Blog</a></td>
                    <td>10,110</td>
                    <td>40000</td>
                    <td>3,116,331</td>
                    <td>
                        <a href="https://www.youtube.com/channel/UCnwm1TTH0yTkqu20LyaAsQg" target="_blank">
                        Youtube
                        </a>
                    </td>
                    <td>555558</td>
                    <td>90000</td>
                </tr>
                <tr role="row">
                    <td>1</td>
                    <td class="relative tooltip sorting_1">
                        <a href="#">Aakriti Rana Gill</a>
                    </td>
                    <td>
                        <a href="https://twitter.com/aakritiranagill?lang=en" target="_blank">@aakritiranagill?lang=en</a>
                    </td>
                    <td>135313</td>
                    <td>2500</td>
                    <td>
                        <a href="https://www.instagram.com/aakritiranagill/?hl=en" target="_blank">@aakritiranagill</a>
                    </td>
                    <td>5489</td>
                    <td>25000</td>
                    <td>
                        <a href="https://www.facebook.com/aakritiranagill/" target="_blank">Facebook</a>
                    </td>
                    <td>78978</td>
                    <td>5000</td>
                    <td><a href="http://www.aakritiranagill.com/" target="_blank">Blog</a></td>
                    <td>10,110</td>
                    <td>40000</td>
                    <td>3,116,331</td>
                    <td>
                        <a href="https://www.youtube.com/channel/UCnwm1TTH0yTkqu20LyaAsQg" target="_blank">
                        Youtube
                        </a>
                    </td>
                    <td>555558</td>
                    <td>90000</td>
                </tr>
                <tr role="row">
                    <td>1</td>
                    <td class="relative tooltip sorting_1">
                        <a href="#">Aakriti Rana Gill</a>
                    </td>
                    <td>
                        <a href="https://twitter.com/aakritiranagill?lang=en" target="_blank">@aakritiranagill?lang=en</a>
                    </td>
                    <td>135313</td>
                    <td>2500</td>
                    <td>
                        <a href="https://www.instagram.com/aakritiranagill/?hl=en" target="_blank">@aakritiranagill</a>
                    </td>
                    <td>5489</td>
                    <td>25000</td>
                    <td>
                        <a href="https://www.facebook.com/aakritiranagill/" target="_blank">Facebook</a>
                    </td>
                    <td>78978</td>
                    <td>5000</td>
                    <td><a href="http://www.aakritiranagill.com/" target="_blank">Blog</a></td>
                    <td>10,110</td>
                    <td>40000</td>
                    <td>3,116,331</td>
                    <td>
                        <a href="https://www.youtube.com/channel/UCnwm1TTH0yTkqu20LyaAsQg" target="_blank">
                        Youtube
                        </a>
                    </td>
                    <td>555558</td>
                    <td>90000</td>
                </tr> -->
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" rowspan="1"></th>
                    <th rowspan="1" colspan="1">30000</th>
                    <th colspan="2" rowspan="1"></th>
                    <th rowspan="1" colspan="1">145000</th>
                    <th colspan="2" rowspan="1"></th>
                    <th rowspan="1" colspan="1">44500</th>
                    <th colspan="2" rowspan="1"></th>
                    <th rowspan="1" colspan="1">275000</th>
                    <th colspan="3" rowspan="1"></th>
                    <th rowspan="1" colspan="1">180000</th>
                    <th colspan="2" rowspan="1"></th>
                    <th rowspan="1" colspan="1">180000</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--right side-->