<!--right side-->
<div class="right_side pL20per adver_list">
    <div class="bread_crumb w-100 pB20">
        <p class="text-14 color_666 noM"><span>Home</span> <i class="material-icons mL15 mR15">chevron_right</i>
            <span>Advertiser</span></p>
    </div>
    <div class="bg_white p20 advertise_list_st">
        <div class="w-100">
            <div class="w-50 pull-left text-left mB30 adv_name_head">
                <div class="manage_adv_search display-inline-block">
                    <h2>Manage Advertiser</h2>
                </div>
            </div>
            <div class="w-50 pull-right text-right adv_name_head">
                <div class="btn_sec mR20">
                    <div class="btn_sec_inside" routerLink="/advertiser/create"><i class="material-icons">add_circle</i> Advertiser
                    </div>
                </div>
                <div class="btn_sec">
                    <div class="btn_sec_inside" (click)="showModel()"><i class="material-icons">add_circle</i> Organization</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="position-relative">
            <div class="list_search position-absolute" style="right: 0px;">
                <i (click)="refreshAllFilter()" class="material-icons display-inline-block text-26 color_4e4e4e cursor-pointer mR10">refresh</i>
                <div class="manage_adv_search_input">
                    <input type="text" [(ngModel)]="searchDataValue" (keydown)="searchDataAdvertiser($event)">
                    <i *ngIf="searchSymbolValue" class="material-icons cursor-pointer text-26" style="color: #d5d5d5;">search</i>
                    <i *ngIf="!searchSymbolValue" (click)="clearCrosValue()" class="material-icons cursor-pointer">close</i>
                </div>
            </div>
        </div>
        <mat-tab-group (selectedTabChange)="ActiveTagValue($event)">
            <mat-tab label="Advertiser({{advertiserPageRecord?.total}})">
                <div class="influ_empty text-center" *ngIf="!showActiveLoader && organisationlistData.length == 0;else advertiserListData ">
                    <img src="assets/images/influ_empty.jpg">
                    <p class="text-16 text-center wt600 color_333 mT10 mB20">Your query has 0 matching results!</p>
                    <p class="text-16 text-center color_666 mB40">Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms</p>
                </div>
                <ng-template #advertiserListData>
                    <div class="list_header">
                        <div class="w-35 pull-left">Detail <i (click)="changeSortingData()" class="material-icons text-20">arrow_drop_down</i></div>
                        <div class="w-25 pull-left">Contact</div>
                        <div class="w-15 pull-left">Active/Total</div>
                        <div class="w-15 pull-left">
                            <button mat-button [matMenuTriggerFor]="status"><span class="desktop_show">Status <i
                    class="material-icons">arrow_drop_down</i></span></button>
                            <mat-menu #status="matMenu">
                                <button mat-menu-item (click)="changeStatusList('1')">Active</button>
                                <button mat-menu-item (click)="changeStatusList('0')">Inactive</button>
                                <button mat-menu-item>Invited</button>
                            </mat-menu>
                        </div>
                        <div class="w-10 pull-left">Action</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
                        <!--skeleton loader-->
                        <div [ngStyle]="{'display':showActiveLoader ? 'block' : 'none' }">
                            <ul class="o-vertical-spacing o-vertical-spacing--l">
                                <li class="blog-post o-media list_box_sklt">
                                    <div class="o-media__figure">
                                        <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
                                    </div>
                                    <div class="o-media__body">
                                        <div class="o-vertical-spacing">
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:56%;"></span>
                                            </div>
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:47%;"></span>
                                            </div>
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:52%;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="o-vertical-spacing o-vertical-spacing--l">
                                <li class="blog-post o-media list_box_sklt">
                                    <div class="o-media__figure">
                                        <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
                                    </div>
                                    <div class="o-media__body">
                                        <div class="o-vertical-spacing">
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:56%;"></span>
                                            </div>
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:47%;"></span>
                                            </div>
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:52%;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="o-vertical-spacing o-vertical-spacing--l">
                                <li class="blog-post o-media list_box_sklt">
                                    <div class="o-media__figure">
                                        <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
                                    </div>
                                    <div class="o-media__body">
                                        <div class="o-vertical-spacing">
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:56%;"></span>
                                            </div>
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:47%;"></span>
                                            </div>
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:52%;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="o-vertical-spacing o-vertical-spacing--l">
                                <li class="blog-post o-media list_box_sklt">
                                    <div class="o-media__figure">
                                        <span class="skeleton-box bRadius_sklt" style="width:60px;height:60px;"></span>
                                    </div>
                                    <div class="o-media__body">
                                        <div class="o-vertical-spacing">
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:56%;"></span>
                                            </div>
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:47%;"></span>
                                            </div>
                                            <div class="blog-post__meta">
                                                <span class="skeleton-box" style="width:52%;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                       </div>
                        <!--skeleton loader-->
                        <div *ngFor="let advertiser of organisationlistData" class="advertiser_list_box">
                            <a [routerLink]="['/advertiser/advertiser-details', advertiser?._id]" class="full_click_list"></a>
                            <div class="w-35 pull-left">
                                <div class="w-25 pull-left">
                                    <div class="user_name_img" [routerLink]="['/advertiser/advertiser-details', advertiser?._id]">
                                        <img *ngIf="advertiser?.profile_image" src="{{advertiser?.profile_image}}">
                                        <p *ngIf="!advertiser?.profile_image && advertiser?.name">{{advertiser?.name[0].toUpperCase()}}</p>
                                    </div>
                                </div>
                                <div class="w-75 pull-right pL15">
                                    <p class="text-left text-16 color_4e4e4e mB5 wt400 text-cap">{{advertiser?.name}}</p>
                                    <p class="text-left text-14 color_7f7f7f mB5">{{advertiser?.organisation_details[0]?.organisation_name}}
                                    </p>
                                    <p class="text-left text-14 color_7f7f7f mB5"><i *ngIf="advertiser.city" class="material-icons color_4e4e4e text-18">place</i> {{advertiser?.city}}
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="w-25 pull-left">
                                <p class="text-left text-14 color_eleve mB10 email_text">{{advertiser?.email}}</p>
                                <p class="text-left text-14 color_4e4e4e">{{advertiser?.isd}}-{{advertiser?.phone}}</p>
                            </div>
                            <div class="w-15 pull-left">
                                <div class="active_total">
                                    <div class="active_total_icon">
                                        <i class="material-icons">ac_unit</i>
                                    </div>
                                    <div class="active_total_number">
                                        <span>0</span>/<span>0</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="active_total">
                                    <div class="active_total_icon">
                                        <i class="material-icons">ac_unit</i>
                                    </div>
                                    <div class="active_total_number">
                                        <span>0</span>/<span>0</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- class="w-15 pull-left active_drop_btn" -->
                            <div [ngClass]="(advertiser.status=='1')?'w-15 pull-left active_drop_btn':'w-15 pull-left active_drop_btn inactive_drop_btn'">
                                <select (change)="advertiserStatus($event, advertiser._id)" value={{advertiser.status}}>
                                    <option value="1" [disabled]="advertiser.status != 0">Active</option>
                                    <option value="0" [disabled]="advertiser.status != 1">Inactive</option>
                                    <!-- <option>Invited</option> -->
                                </select>
                            </div>
                            <div class="w-10 pull-left">
                                <a mat-stroked-button [routerLink]="['/advertiser/advertiser-edit', advertiser?._id]">Edit</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Organization({{organisationPageRecord?.total}})">
                <div class="influ_empty text-center" *ngIf="organisationlist.length == 0;else organizationListData ">
                    <img src="assets/images/influ_empty.jpg">
                    <p class="text-16 text-center wt600 color_333 mT10 mB20">Your query has 0 matching results!</p>
                    <p class="text-16 text-center color_666 mB40">Try searching for any location, genre, name, email, mobile number, social names or handles. Try filters for gender, category or social platforms</p>
                </div>
                <ng-template #organizationListData>
                    <div class="list_header">
                        <div class="w-35 pull-left">Name <i (click)="changeOrgSortingData()" class="material-icons text-20">arrow_drop_down</i></div>
                        <div class="w-15 pull-left">
                            <button mat-button [matMenuTriggerFor]="type"><span class="desktop_show">Type <i
                    class="material-icons">arrow_drop_down</i></span></button>
                            <mat-menu #type="matMenu">
                                <button mat-menu-item (click)="changeOrgStatusList('1')">Agency</button>
                                <button mat-menu-item (click)="changeOrgStatusList('0')">Direct Brand</button>
                            </mat-menu>
                        </div>
                        <div class="w-15 pull-left">Active/Total</div>
                        <div class="w-25 pull-left">&nbsp;</div>
                        <!-- <div class="w-25 pull-left">Brands</div> -->
                        <div class="w-10 pull-left">Action</div>
                        <div class="clearfix"></div>
                    </div>
                    <div *ngFor="let organisation of organisationlist" class="advertiser_list_box">
                        <a [routerLink]="['/advertiser/organisation-details', organisation?._id]" class="full_click_list"></a>
                        <div class="w-35 pull-left">
                            <div class="w-25 pull-left">
                                <div class="user_name_img" [routerLink]="['/advertiser/organisation-details', organisation?._id]">
                                    <img *ngIf="organisation?.image" src="{{organisation?.image}}">
                                    <p *ngIf="!organisation?.image && organisation?.organisation_name">
                                        {{organisation?.organisation_name[0].toUpperCase()}}</p>
                                </div>
                            </div>
                            <div class="w-75 pull-right pL15 pT5">
                                <p class="text-left text-16 color_4e4e4e mB5 wt400 text-cap">{{organisation?.organisation_name}}</p>
                                <p class="text-left text-14 color_7f7f7f mB5"><i class="material-icons color_4e4e4e text-18">group</i> {{organisation?.advertiserCount}} Advertisers</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="w-15 pull-left">
                            <p class="text-left text-14 color_4e4e4e">{{organisation?.type}}</p>
                        </div>
                        <div class="w-15 pull-left">
                            <div class="active_total">
                                <div class="active_total_icon">
                                    <i class="material-icons">ac_unit</i>
                                </div>
                                <div class="active_total_number">
                                    <span>0</span>/
                                    <span>0</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="active_total">
                                <div class="active_total_icon">
                                    <i class="material-icons">ac_unit</i>
                                </div>
                                <div class="active_total_number">
                                    <span>0</span>/
                                    <span>0</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="w-25 pull-left">
                            <ul class="w-70 org_list_brand display-inline-block">
                                <li>
                                    <div class="">
                                        <!-- <img src="assets/images/brand1.png"> -->
                                        <p> &nbsp;</p>
                                    </div>
                                </li>
                            </ul>
                            <!-- <p class="display-inline-block color_4e4e4e text-16 pL20">+4</p> -->
                        </div>

                        <!-- <div class="w-25 pull-left">
                            <ul class="w-70 org_list_brand display-inline-block">
                                <li *ngFor="let brands of organisation.associated_brands_info">
                                    <div class="user_name_img">
                                         <img src="assets/images/brand1.png">
                                        <p> {{brands?.organisation_name[0].toUpperCase()}}</p>
                                    </div>
                                </li>
                            </ul>
                           <p class="display-inline-block color_4e4e4e text-16 pL20">+4</p>
                        </div> -->
                        <div class="w-10 pull-left">
                            <a mat-stroked-button (click)="getOpenModalOrganisationEdit(organisation?._id , organisation?.organisation_name ,organisation?.type)">Edit</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<!--right side-->


<!-- Create Organization modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_modal ? 'block' : 'none' }">
    <div class="bg_close_layer" (click)="hideModel()"></div>
    <form [formGroup]="organsiationForm" (ngSubmit)="onOrganisationFormSubmit(organsiationForm.value)" #s="ngForm" autocomplete="off">
        <div class="eleve_modal modal_animate_zoom">
            <b class="modal_close" (click)="hideModel()"><i class="material-icons">clear</i></b>
            <!--select Organization-->
            <div [ngStyle]="{'display':show_step1 ? 'block' : 'none' }">

                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create an Organization</p>
                </div>
                <div class="modal_content">
                    <p class="color_666 text-14 text-left">An organization must be located to add a new advertiser from a new client
                    </p>
                    <p class="color_4e4e4e text-16 wt500 mT40 text-left">Select a client type :</p>
                    <div class="select_brand_circle">
                        <label class="pT30" for="agency">Agency</label>
                        <input type="radio" class="button" id="agency" value="agency" formControlName="orgtype" (click)="handleChange($event)">
                        <input type="radio" class="button" id="brnd" formControlName="orgtype" value="brand" (click)="handleChange($event)">
                        <label class="pT25" for="brnd">Direct <br>Brand</label>
                        <div class="clearfix"></div>
                    </div>
                    <div *ngIf="organsiationForm.get('orgtype').invalid">
                        organisation Type required.
                    </div>
                </div>

            </div>
            <!--select Organization-->
            <!--select Brand-->
            <div [ngStyle]="{'display':show_brand ? 'block' : 'none' }">

                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
                </div>
                <div class="modal_content">
                    <p class="color_666 text-14 text-left">Have we previously worked with this brand via an <b>agency?</b></p>
                    <div class="select_brand_circle">
                        <input type="radio" class="button" id="yes" value="yes" formControlName="brandexists" (click)="handleChangeBrand($event)">
                        <label class="pT30" for="yes">Yes</label>
                        <input type="radio" class="button" id="no" value="no" formControlName="brandexists" (click)="handleChangeBrand($event)">
                        <label class="pT30" for="no">No</label>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!--select Brand-->
            <!--Brand Yes Condition-->
            <div [ngStyle]="{'display':show_brand_yes ? 'block' : 'none' }">

                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
                </div>
                <div class="modal_content org_input">
                    <p class="color_666 text-14 text-left mB10 wt400">Select Name</p>
                    <!-- <input type="text" placeholder="Search & Select" formControlName="organisation_name"> -->
                    <ng-select [items]="organisationlist" class="mB25" formControlName="organisation_name" (change)="onSelectChange()">
                    </ng-select>
                    <div class="error-message" *ngIf="organsiationForm.get('organisation_name').hasError('required') && (organsiationForm.get('organisation_name').dirty || s.submitted)">
                        Please enter organisation name.
                    </div>
                    <p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
                    <div formArrayName="facebook">
                        <div class="w-100 mB10" *ngFor="let item of facebookRows.controls; let fbIndex=index" [formGroupName]="fbIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="facebook_bg_color">
                                    <i class="fab fa-facebook-f"></i>
                                    <input type="hidden" formControlName="platform">
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" formControlName="handle" placeholder="Page Name">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="url" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'facebook', facebookRows, fbIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addfacebookRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_fb">
                            {{error_fb}}
                        </div>
                    </div>
                    <div formArrayName="instagram">
                        <div class="w-100 mB10" *ngFor="let item of instagramRows.controls; let instaIndex=index" [formGroupName]="instaIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="instagram_bg_color">
                                    <i class="fab fa-instagram"></i>
                                    <input type="hidden" formControlName="platform" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, instaIndex, 'instagram')">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'instagram', instagramRows, instaIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addinstagramRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_instagram">
                            {{error_instagram}}
                        </div>
                    </div>
                    <div formArrayName="twitter">
                        <div class="w-100 mB10" *ngFor="let item of twitterRows.controls; let twtIndex=index" [formGroupName]="twtIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="twitter_bg_color">
                                    <i class="fab fa-twitter"></i>
                                    <input type="hidden" formControlName="platform" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, twtIndex, 'twitter')">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'twitter', twitterRows, twtIndex )">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addtwitterRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_twitter">
                            {{error_twitter}}
                        </div>
                    </div>
                    <div formArrayName="youtube">
                        <div class="w-100 mB10" *ngFor="let item of youtubeRows.controls; let youtubeIndex=index" [formGroupName]="youtubeIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="youtube_bg_color">
                                    <i class="fab fa-youtube"></i>
                                    <input type="hidden" formControlName="platform" value="youtube" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Channel Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'youtube',youtubeRows,youtubeIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addyoutubeRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_pinterest">
                            {{error_youtube}}
                        </div>
                    </div>
                    <div formArrayName="blog">
                        <div class="w-100 mB10" *ngFor="let item of blogRows.controls; let blogIndex=index" [formGroupName]="blogIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="blog_bg_color">
                                    <i class="fab fa-blogger-b"></i>
                                    <input type="hidden" formControlName="platform" value="blog" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Blog Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'blog', blogRows, blogIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addblogRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_blog">
                            {{error_blog}}
                        </div>
                    </div>
                    <div formArrayName="linkedin">
                        <div class="w-100 mB10" *ngFor="let item of linkedinRows.controls; let linkIndex=index" [formGroupName]="linkIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="linkedin_bg_color">
                                    <i class="fab fa-linkedin-in"></i>
                                    <input type="hidden" formControlName="platform" value="linkedin" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Page Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'linkedin',linkedinRows,linkIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addlinkedinRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_linkedin">
                            {{error_linkedin}}
                        </div>
                    </div>
                    <!--Tiktok-->
                    <!-- <div>
                        <div class="w-100 mB10">
                            <div class="w-5 pull-left pT5">
                                <div class="tiktok_bg_color">
                                    <i class="material-icons text-18">music_note</i>
                                    <input type="hidden" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> -->
                    <!--Tiktok-->
                    <div formArrayName="snapchat">
                        <div class="w-100 mB10" *ngFor="let item of snapchatRows.controls; let snapIndex=index" [formGroupName]="snapIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="snapchat_bg_color">
                                    <i class="fab fa-snapchat-ghost"></i>
                                    <input type="hidden" formControlName="platform" value="snapchat" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'snapchat',snapchatRows,snapIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addsnapchatRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_snapchat">
                            {{error_snapchat}}
                        </div>
                    </div>
                    <div formArrayName="pinterest">
                        <div class="w-100 mB10" *ngFor="let item of pinterestRows.controls; let pinIndex=index" [formGroupName]="pinIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="pinterest_bg_color">
                                    <i class="fab fa-pinterest-p"></i>
                                    <input type="hidden" formControlName="platform" value="pinterest" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'pinterest',pinterestRows,pinIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addpinterestRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_pinterest">
                            {{error_pinterest}}
                        </div>
                    </div>
                    <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_social">
                        Must provide atleast one social reference
                    </div>
                    <div class="w-100 mT40">
                        <div class="w-50 pull-left text-left">
                            <div class="btn_sec">
                                <div class="btn_sec_inside" (click)="cancelForm()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
                                </div>
                            </div>
                        </div>
                        <div class="w-50 pull-right text-right">
                            <div class="btn_primary">
                                <button><i class="material-icons text-20 mR10">add_circle_outline</i> Create</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!---Brand Yes Condition-->
            <!--Brand No Condition-->
            <div [ngStyle]="{'display':show_brand_agency ? 'block' : 'none' }">

                <div class="modal_header">
                    <p *ngIf="organisationTypeValue == 'agency' && oraganisationIdEdit == ''" class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a new agency</p>
                    <p *ngIf="organisationTypeValue != 'agency' && oraganisationIdEdit == ''" class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a Brand</p>
                    <p *ngIf="oraganisationIdEdit != ''" class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Edit {{oraganisationNameEdit}} details
                    </p>
                </div>
                <div class="modal_content org_input">
                    <p *ngIf="organisationTypeValue == 'agency'" class="color_666 text-14 text-left mB10 wt400">Name</p>
                    <p *ngIf="organisationTypeValue != 'agency'" class="color_666 text-14 text-left mB10 wt400">Enter a Name</p>
                    <input type="text" placeholder="Name" class="mB25" formControlName="organisation_name">
                    <div class="error-message" *ngIf="organsiationForm.get('organisation_name').hasError('required') && (organsiationForm.get('organisation_name').dirty || s.submitted)">
                        Please enter organisation name.
                    </div>
                    <p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
                    <div formArrayName="facebook">
                        <div class="w-100 mB10" *ngFor="let item of facebookRows.controls; let fbIndex=index" [formGroupName]="fbIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="facebook_bg_color">
                                    <i class="fab fa-facebook-f"></i>
                                    <input type="hidden" formControlName="platform">
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" formControlName="handle" placeholder="Page Name">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="url" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'facebook', facebookRows, fbIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addfacebookRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_fb">
                            {{error_fb}}
                        </div>
                    </div>
                    <div formArrayName="instagram">
                        <div class="w-100 mB10" *ngFor="let item of instagramRows.controls; let instaIndex=index" [formGroupName]="instaIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="instagram_bg_color">
                                    <i class="fab fa-instagram"></i>
                                    <input type="hidden" formControlName="platform" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, instaIndex, 'instagram')">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'instagram', instagramRows, instaIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addinstagramRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_instagram">
                            {{error_instagram}}
                        </div>
                    </div>
                    <div formArrayName="twitter">
                        <div class="w-100 mB10" *ngFor="let item of twitterRows.controls; let twtIndex=index" [formGroupName]="twtIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="twitter_bg_color">
                                    <i class="fab fa-twitter"></i>
                                    <input type="hidden" formControlName="platform" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="@handle" formControlName="handle" (blur)="checkValidHandle($event.target.value, twtIndex, 'twitter')">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'twitter', twitterRows, twtIndex )">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addtwitterRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_twitter">
                            {{error_twitter}}
                        </div>
                    </div>
                    <div formArrayName="youtube">
                        <div class="w-100 mB10" *ngFor="let item of youtubeRows.controls; let youtubeIndex=index" [formGroupName]="youtubeIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="youtube_bg_color">
                                    <i class="fab fa-youtube"></i>
                                    <input type="hidden" formControlName="platform" value="youtube" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Channel Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'youtube',youtubeRows,youtubeIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addyoutubeRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_pinterest">
                            {{error_youtube}}
                        </div>
                    </div>
                    <div formArrayName="blog">
                        <div class="w-100 mB10" *ngFor="let item of blogRows.controls; let blogIndex=index" [formGroupName]="blogIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="blog_bg_color">
                                    <i class="fab fa-blogger-b"></i>
                                    <input type="hidden" formControlName="platform" value="blog" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Blog Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'blog', blogRows, blogIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addblogRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_blog">
                            {{error_blog}}
                        </div>
                    </div>
                    <div formArrayName="linkedin">
                        <div class="w-100 mB10" *ngFor="let item of linkedinRows.controls; let linkIndex=index" [formGroupName]="linkIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="linkedin_bg_color">
                                    <i class="fab fa-linkedin-in"></i>
                                    <input type="hidden" formControlName="platform" value="linkedin" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Page Name" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'linkedin',linkedinRows,linkIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addlinkedinRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_linkedin">
                            {{error_linkedin}}
                        </div>
                    </div>
                    <!--Tiktok-->
                    <!-- <div>
                        <div class="w-100 mB10">
                            <div class="w-5 pull-left pT5">
                                <div class="tiktok_bg_color">
                                    <i class="material-icons text-18">music_note</i>
                                    <input type="hidden" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> -->
                    <!--Tiktok-->
                    <div formArrayName="snapchat">
                        <div class="w-100 mB10" *ngFor="let item of snapchatRows.controls; let snapIndex=index" [formGroupName]="snapIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="snapchat_bg_color">
                                    <i class="fab fa-snapchat-ghost"></i>
                                    <input type="hidden" formControlName="platform" value="snapchat" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'snapchat',snapchatRows,snapIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addsnapchatRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_snapchat">
                            {{error_snapchat}}
                        </div>
                    </div>
                    <div formArrayName="pinterest">
                        <div class="w-100 mB10" *ngFor="let item of pinterestRows.controls; let pinIndex=index" [formGroupName]="pinIndex">
                            <div class="w-5 pull-left pT5">
                                <div class="pinterest_bg_color">
                                    <i class="fab fa-pinterest-p"></i>
                                    <input type="hidden" formControlName="platform" value="pinterest" />
                                </div>
                            </div>
                            <div class="w-45 pull-left pL15 pR5">
                                <input type="text" placeholder="Username" formControlName="handle">
                            </div>
                            <div class="w-45 pull-left pL10 pR10">
                                <input type="text" placeholder="Paste Url" formControlName="url" (blur)="checkUrl($event.target.value, 'pinterest',pinterestRows,pinIndex)">
                            </div>
                            <div class="w-5 pull-left pT5">
                                <i class="material-icons color_eleve text-30 cursor-pointer" (click)="addpinterestRows()">add_circle_outline</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_pinterest">
                            {{error_pinterest}}
                        </div>
                    </div>
                    <div class="error-message" style="margin:5px 0 15px 40px" *ngIf="error_social">
                        Must provide atleast one social reference
                    </div>
                    <div class="w-100 mT40">
                        <div class="w-50 pull-left text-left">
                            <div class="btn_sec">
                                <div class="btn_sec_inside" (click)="cancelForm()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel
                                </div>
                            </div>
                        </div>
                        <div class="w-50 pull-right text-right">
                            <div class="btn_primary">
                                <button *ngIf="oraganisationIdEdit == '' "><i class="material-icons text-20 mR10">add_circle_outline</i>
                  Create</button>
                                <button *ngIf="oraganisationIdEdit"> Save</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!---Brand NO Condition-->
            <!--Agency-->
            <!-- <div>
			<form>
				<div class="modal_header">
					<p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> Create a New Agency</p>
				</div>
				<div class="modal_content org_input">
					<p class="color_666 text-14 text-left mB10 wt400">Enter a Name</p>
					<input type="text" placeholder="Name">
					<p class="color_666 text-14 text-left mT20 wt400 mB10">Social References</p>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="facebook_bg_color">
								<i class="fab fa-facebook-f"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="instagram_bg_color">
								<i class="fab fa-instagram"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="twitter_bg_color">
								<i class="fab fa-twitter"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="blog_bg_color">
								<i class="fab fa-blogger-b"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="pinterest_bg_color">
								<i class="fab fa-pinterest-p"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="youtube_bg_color">
								<i class="fab fa-youtube"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="linkedin_bg_color">
								<i class="fab fa-linkedin-in"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mB10">
						<div class="w-5 pull-left pT5">
							<div class="snapchat_bg_color">
								<i class="fab fa-snapchat-ghost"></i>
							</div>
						</div>
						<div class="w-45 pull-left pL15 pR5">
							<input type="text" placeholder="@handle">
						</div>
						<div class="w-45 pull-left pL10 pR10">
							<input type="text" placeholder="Paste Url">
						</div>
						<div class="w-5 pull-left pT5">
							<i class="material-icons color_eleve text-30 cursor-pointer">add_circle_outline</i>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w-100 mT40">
						<div class="w-50 pull-left text-left">
							<div class="btn_sec">
								<div class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
							</div>
						</div>
						<div class="w-50 pull-right text-right">
							<div class="btn_primary">
								<div><i class="material-icons text-20 mR10">add_circle_outline</i> Create</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</form>
		</div> -->
            <!---Agency-->
        </div>
    </form>
</div>
<!-- Create Organization modal-->


<!-- Active Modal-->
<div class="eleve_modal_bg" [ngStyle]="{'display':show_active_model ? 'block' : 'none' }">
    <div class="bg_close_layer" (click)="advertiserStatusClose()"></div>
    <div class="eleve_modal modal_animate_zoom">
        <b (click)="advertiserStatusClose()" class="modal_close"><i class="material-icons">clear</i></b>
        <div>
            <form>
                <div class="modal_header">
                    <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
                </div>
                <div class="modal_content">
                    <p *ngIf="statusActiveInactive == 1" class="text-16 wt500 color_666 text-left mB30">Activating the advertiser will:
                    </p>
                    <p *ngIf="statusActiveInactive != 1" class="text-16 wt500 color_666 text-left mB30">Changing the advertise status to inactive will result in:</p>


                    <p *ngIf="statusActiveInactive == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Activate the access to the brand panel</p>
                    <p *ngIf="statusActiveInactive != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Deactivated brand panel access of the advertiser</p>

                    <p *ngIf="statusActiveInactive == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Allow admin to assign advertiser to campaigns, boards & tracks</p>
                    <p *ngIf="statusActiveInactive != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Unable to assign future campaigns, boards & tracks to the advertiser</p>

                    <div class="w-100 mT40">
                        <div class="w-40 pull-left text-left">
                            <div class="btn_sec">
                                <div (click)="advertiserStatusClose()" class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
                            </div>
                        </div>
                        <div class="w-60 pull-right text-right">
                            <div *ngIf="statusActiveInactive == 1" class="btn_primary">
                                <div (click)="advertiserStatusChange()"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Activate
                                </div>
                            </div>
                            <div *ngIf="statusActiveInactive != 1" class="btn_primary">
                                <div (click)="advertiserStatusChange()"><i class="material-icons text-20 mR10">ac_unit</i> Yes, Deactivate
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Active Modal-->