.cat_radio input[type="radio"] {
  height: 100%;
}

.invalid-field{
  border-color: red;
}
.error-msg-box {
  text-align: left;
}

.w-47, .w-100 {
  margin-top: 15px;
}

.radio-span {
  height: 40px;
}
.mat-input-element {
  height: 40px !important;
}

.tags input {
  margin: 0;
}

.tags div {
  margin: 10px 10px 8px 0;
}

.error-msg-box span {
  color: red !important;
  font-size: 11.5px;
}

.error-msg-box {
  height: 20px;
}