<div class="eleve_modal_bg add_social_modal">
    <div class="bg_close_layer" (click)="close()"></div>
    <div class="eleve_modal modal_animate_zoom" style="width: 700px;">
        <b class="modal_close" (click)="close()"><i class="material-icons">clear</i></b>
        <div>
            <div class="modal_header">
                <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">add_circle_outline</i> {{ values ? 'Edit' : 'Add'}} {{ social }}</p>
            </div>

            <div [formGroup]="addSocialForm" class="modal_content add_blog_modal">
                <div class="details_box" style="display: flex; flex-wrap: wrap; justify-content: space-between">
                    <div class="w-47">
                        <label>{{ socialLabels[social.toLowerCase()].name.label }}</label>
                        <input (blur)="checkValues('name')" [class.invalid-field]='f.name.invalid && (f.name.dirty || formSubmitted ||  f.name.touched || (f.name.touched && !values_valid))' formControlName="name" type="text" placeholder="{{ socialLabels[social.toLowerCase()].name.label }}">
                        <div class="error-msg-box" *ngIf='f.name.invalid && (f.name.dirty || formSubmitted ||  f.name.touched || (f.name.touched && !values_valid))'>
                            <app-error-msg [errorMessages]='this.errorMessages.name' [error]='f.name.errors'>
                            </app-error-msg>
                        </div>
                    </div>
                    <div class="w-47" *ngIf="social === 'Facebook'">
                        <label>{{ socialLabels[social.toLowerCase()].type.label }}</label>
                        <div class="cat_radio text-left">
                            <span class="radio-span">
                                <input formControlName="profile_type" type="radio" id="profile" value="User"
                                name="profile_type">
                                <label
                                    [class.invalid-field]='f.profile_type.invalid && (f.profile_type.dirty || formSubmitted || f.profile_type.touched)'
                                    for="profile" class="container">User</label>
                            </span>
                            <span class="radio-span">
                                <input formControlName="profile_type" type="radio" id="page" value="Page" name="profile_type">
                                <label
                                    [class.invalid-field]='f.profile_type.invalid && (f.profile_type.dirty || formSubmitted || f.profile_type.touched)'
                                    for="page" class="container">Page</label>
                            </span>
                        </div>
                        <div class="error-msg-box" *ngIf='f.profile_type.invalid && (f.profile_type.dirty || formSubmitted || f.profile_type.touched)' style="margin-top: 0px;">
                            <app-error-msg  [errorMessages]='this.errorMessages.profile_type' [error]='f.profile_type.errors'>
                            </app-error-msg>
                        </div>
                    </div>
                    <div class="w-47">
                        <label>{{ socialLabels[social.toLowerCase()].link.label }}</label>
                        <input oninput="this.value = this.value.toLowerCase()" (blur)="checkValues('link')" [class.invalid-field]='f.link.invalid && (f.link.dirty || formSubmitted || f.link.touched || f.link.touched && values_valid)' formControlName="link" type="text" placeholder="{{ socialLabels[social.toLowerCase()].link.label }}">
                        <div class="error-msg-box" *ngIf='f.link.invalid && (f.link.dirty || formSubmitted || f.link.touched)'>
                            <app-error-msg [errorMessages]='this.errorMessages.link' [error]='f.link.errors'>
                            </app-error-msg>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="w-47">
                        <label>{{ socialLabels[social.toLowerCase()].followers.label }}</label>
                        <input [class.invalid-field]='f.followers_count.invalid && (f.followers_count.dirty || formSubmitted || f.followers_count.touched)' formControlName="followers_count" type="text">
                        <div class="error-msg-box" *ngIf='f.followers_count.invalid && (f.followers_count.dirty || formSubmitted || f.followers_count.touched)'>
                            <app-error-msg [errorMessages]='this.errorMessages.followers_count' [error]='f.followers_count.errors'>
                            </app-error-msg>
                        </div>
                    </div>
                    <div class="w-47">
                        <label class="mB15 text-left">{{ socialLabels[social.toLowerCase()].cost.label }}</label>
                        <div class="w-100 isd_feild">
                            <div matNativeControl class="form-control" class="w-25 isd_code" style="display: inline-block">
                                <mat-select formControlName='currency' placeholder="Code">
                                    <!-- <mat-option *ngFor='let code of $isdCodes  | async' value='{{code.code}}'>
                                        {{code.code}} - {{code.name}} </mat-option> -->
                                    <mat-option *ngFor='let code of $isdCodes  | async' value='{{code.Currencycode}}'>
                                        {{code.Currencycode}} - {{code.Country}} </mat-option>
                                </mat-select>
                                <!-- <mat-select matNativeControl class="form-control" placeholder="INR">
                                    <mat-option> INR -India </mat-option>
                                    <mat-option> INR -India </mat-option>
                                    <mat-option> INR -India </mat-option>
                                    <mat-option> INR -India </mat-option>
                                </mat-select> -->
                            </div>
                            <div class="w-75" style="display: inline-block; margin-top: -1px;">
                                <input formControlName="cost" type="text" class="form-control">
                            </div>
                            <div class="error-msg-box" *ngIf='f.cost.invalid && (f.cost.dirty || formSubmitted || f.cost.touched)'>
                                <app-error-msg [errorMessages]='this.errorMessages.cost' [error]='f.cost.errors'>
                                </app-error-msg>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="w-47">
                        <label>{{ socialLabels[social.toLowerCase()].category.label }}</label>
                        <div class="cat_radio text-left">
                            <span class="radio-span">
                                <input formControlName="category" value="Celeb" formControlName="category"
                                    type="radio" id="celebrity">
                                <label
                                    [class.invalid-field]='f.category.invalid && (f.category.dirty || formSubmitted || f.category.touched)'
                                    for="celebrity" class="container">Celebrity</label>
                            </span>
                            <span class="radio-span">
                                <input formControlName="category" value="A" formControlName="category" type="radio"
                                    id="a">
                                <label
                                    [class.invalid-field]='f.category.invalid && (f.category.dirty || formSubmitted || f.category.touched)'
                                    for="a" class="container">A</label>
                            </span>
                            <span class="radio-span">
                                <input formControlName="category" value="B" formControlName="category" type="radio"
                                    id="b">
                                <label
                                    [class.invalid-field]='f.category.invalid && (f.category.dirty || formSubmitted || f.category.touched)'
                                    for="b" class="container">B</label>
                            </span>
                            <span class="radio-span">
                                <input formControlName="category" value="C" formControlName="category" type="radio"
                                    id="c">
                                <label
                                    [class.invalid-field]='f.category.invalid && (f.category.dirty || formSubmitted || f.category.touched)'
                                    for="c" class="container">C</label>
                            </span>
                            <span class="radio-span">
                                <input formControlName="category" value="D" formControlName="category" type="radio"
                                    id="d">
                                <label
                                    [class.invalid-field]='f.category.invalid && (f.category.dirty || formSubmitted || f.category.touched)'
                                    for="d" class="container">D</label>
                            </span>
                        </div>
                        <div class="error-msg-box" *ngIf='f.category.invalid && (f.category.dirty || formSubmitted || f.category.touched)' style="margin-top: 0px;">
                            <app-error-msg [errorMessages]='this.errorMessages.category' [error]='f.category.errors'>
                            </app-error-msg>
                        </div>
                    </div>
                    <div class="w-47">
                        <label>{{ socialLabels[social.toLowerCase()].genre.label }}</label>
                        <div class="tags text-left">
                            <input [(ngModel)]="genreInput" [disabled]="genres.length === 5" [class.invalid-field]='genres.length === 0 && (formSubmitted || f.genre.touched)' id='genre' ng-change="onAutocomplite($event)" type="text" placeholder="Search" aria-label="Assignee" matInput formControlName="genre" [matAutocomplete]="auto">

                            <mat-autocomplete (optionSelected)="onGenreSelect($event)" #auto="matAutocomplete">
                                <mat-option *ngFor='let genre of filteredGenres' [value]='genre.subgenre'>
                                    {{ genre.subgenre }}
                                </mat-option>
                            </mat-autocomplete>

                            <div *ngFor="let genre of genres; let i = index"><span>{{ genre }}</span> <i class="material-icons" (click)="deleteGenre(i)">close</i></div>
                            <div style="display: none">{{$genreOptions | async}}</div>
                        </div>
                        <div style="background-color: #fff; padding: 0; margin:  0" class="error-msg-box" *ngIf='genres.length === 0 && (formSubmitted || f.genre.touched)'>
                            <span>Please select a genre</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="w-100">
                        <label>{{ socialLabels[social.toLowerCase()].bio.label }}</label>
                        <textarea formControlName='bio' rows="5"></textarea>
                    </div>
                    <div class="w-100 mT10">
                        <div class="w-50 text-left pull-left">
                            <div class="btn_sec">
                                <div class="btn_sec_inside" (click)="close()"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
                            </div>
                        </div>
                        <div class="w-50 pull-right text-right">
                            <div class="btn_primary" (click)="save()">
                                <button><i class="material-icons text-18 mR10">save</i>Save</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Active Modal-->
<!-- <div class="eleve_modal_bg" style="display: block">
        <div class="bg_close_layer"></div>
        <div class="eleve_modal modal_animate_zoom">
            <b class="modal_close"><i class="material-icons">clear</i></b>
            <div>

                    <div class="modal_header">
                        <p class="color_666 text-16 text-left wt500"><i class="material-icons color_eleve text-30">check_circle</i> Confirm Action</p>
                    </div>
                    <div class="modal_content">
                        <p *ngIf="statusActiveInactive == 1" class="text-16 wt500 color_666 text-left mB30">Activating the admin will:
                        </p>
                        <p *ngIf="statusActiveInactive != 1" class="text-16 wt500 color_666 text-left mB30">Changing the admin status to inactive will result in:</p>


                        <p *ngIf="statusActiveInactive == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Activate the access to the admin panel</p>
                        <p *ngIf="statusActiveInactive != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Deactivated admin panel access of the admin</p>

                        <p *ngIf="statusActiveInactive == 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> The admin will be able perform functions and get invited to activities by others
                        </p>
                        <p *ngIf="statusActiveInactive != 1" class="text-14 wt500 color_999 text-left mB10"><i class="material-icons color_999" style="font-size:8px;">fiber_manual_record</i> Any future activity will not be assigned to the deactivated admin</p>

                        <div class="w-100 mT40">
                            <div class="w-50 pull-left text-left">
                                <div class="btn_sec">
                                    <div class="btn_sec_inside"><i class="fa fa-trash-alt text-15 mR10"></i> Cancel</div>
                                </div>
                            </div>
                            <div class="w-50 pull-right text-right">
                                <div *ngIf="statusActiveInactive == 1" class="btn_primary">
                                    <div><i class="material-icons text-20 mR10">ac_unit</i> Yes, Activate
                                    </div>
                                </div>
                                <div" *ngIf="statusActiveInactive != 1" class="btn_primary">
                                    <div><i class="material-icons text-20 mR10">ac_unit</i> Yes, Deactivate
                                    </div>
                                </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

            </div>
        </div>
    </div> -->
<!-- Active Modal-->